<h2>2014 EDITION (RSA Awareness Contest)</h2>
	<p>
		The CryptoLabTN (Laboratory of Cryptography at University of Trento), in 
		collaboration with Clusit (The Italian Association for Computer Security) 
		organizes an "RSA awareness contest". The event is organized within the 
		framework of the European Cyber Security Month (ECSM) and targets students 
		with coding activities. 
		<br>
		Our contest aims to raise awareness of the fact that cryptographic 
		algorithms get old and they should be countinously tested, maintained, 
		improved (which is what cryptographers - among other things - do). 
	</p>
	<div id="programmaGenerale">
		<h3>General program</h3>
		<ul>
			<li> On <strong>Monday, 13th of October at 13:00</strong> (hours of Trento) 
				we have published	a set of <a href="http://en.wikipedia.org/wiki/RSA_
				(cryptosystem)">RSA</a> public keys (moduli and public exponent).</li>
			<li> You have time until <strong>Friday, 17th of October at 17:00</strong> 
				to break the keys and submit your results. </li>
			<li> You are ranked according to the number of keys broken and	time of last 
				submission. </li>
			<li> Prizes are awarded to the submissions ranked in the first three places.</li>
		</ul>
	</div>
	<div id="news">
		<h3>News</h3>
		<ul>
			<li>
			[24/11/2014]
			We have organized a Prize event during a Workshop on Cryptography
			that takes place in Trento on 22nd of December (more details
			<a href="http://www.science.unitn.it/~sala/events2014/BunnyTN5.html">here</a>).
		  </li>
		  <li>
			[24/10/2014]
			We have a new section feedback where we describe how we designed the contest and we
			publish some nice feedback we received from the participants. Check it out!
		  </li>
		  <li>
			[20/10/2014]
			Final Ranking is published! Check Prizes and Ranking.
		  </li>
		  <li>
			[17/10/14, circa 18:00]
			Contest is now closed! Thanks for participation! Final stats are published.
		  </li>
		  <li>
			[17/10/14]
			Stats updated.
		  </li>
		  <li>
			[16/10/14]
			Stats updated.
		  </li>
		  <li>
		  [15/10/14]
		  We published some stats on the ongoing competition. Check page Prizes & Ranking!
		  </li>
		  <li>
		  [13/10/14]
			The contest has started! Check Instructions to download contest material.
			</li> 
			<li>
			[3/10/14]
			We have a new summary of the contest, instructions have been published and 
			prizes defined! Check the appropriate tabs.
			</li> 
			<li>
			[3/10/14]
			A contact mail for the contest has been created! You can reach us with
			<span class="glyphicon glyphicon-envelope"></span> <samp>contest.cryptolabtn at gmail.com</samp>
			</li> 
		</ul>
	</div>
	<!-- <div id="contest">
		<h3>Contest</h3>
		<p>
			Abbiamo pubblicato un set di chiavi pubbliche ECC. Un partecipante doveva trovare la 
			chiave privata corrispondente di ciascuna chiave pubblica risolvendo un ECDLP 
			(Elliptic Curve Discrete Logarithm Problem).
		</p>
	</div> -->
	<div id="materiale">
		<h3>Contest material</h3>
		<p>
			The set of RSA public key is <a href="../../../../../assets/attivita/cryptowars/
			2014RSAcontest.publicKeys.txt">public</a> (although contest is now closed). 
		<p>
			The format for Contest Material is a text file. Each line represents a single 
			public key and it contains three numbers written in decimal base and separated 
			by a space: a counter identifying the public key <img src="https://latex.
			codecogs.com/gif.latex?\large&amp;space;(1,2,3,...)"/>, a modulus and a public 
			exponent.
		</p>
	  	<p>
			<em>Warning for Windows users:</em> If you open the file (i.e. in block notes) 
			you might see all public keys on a single line. It should not be too difficult 
			to process them manually or automatically to have each public key on a single 
			line. 
		</p>
	</div>
	<div id="risposte">
		<h3> Submission of Contest Solutions </h3>
		<p> A participant is identified by a unique email address. A participant may 
			submit one or more solutions to the contest at any time between the publication 
			of Contest Material and the end of the context, which is set on Friday, 
			17th October at 17:00. 
		</p>
		<p> You submit a Contest Solution sending a mail to 
			<a href="mailto:contest.cryptolabtn@gmail.com">contest.cryptolabtn@gmail.com</a>.</p>
		<p>
			A submission may consists of one or more solution for a subset of the proposed 
			RSA public keys. Multiple submissions are allowed but only the first three 
			submission for each public key are considered valid. Further submissions 
			are discarded. Format for submission is a text file. Each line will 
			represent a contest solution for a single public key and it will contain four 
			numbers written in decimal base and separated by a space: a counter identifying 
			the public key <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;
			(1, 2, 3, ...)"/>, the two prime factors and the private exponent.
		</p>
	</div>
	<div id="coding">
		<h3>Coding</h3>
		<p>Do I have to code my own program to factorize an integer or find the private 
			exponent? Short answer is: No, but Yes.</p>
		<p>
			Long answer is: we have no way of checking if you have written your code to 
			solve our contest (we are not asking to show the code and you can work in 
			whichever programming language you prefer). And it will be probably be easier 
			to look around for some already existing program which does all the work. But 
			the whole point of this contest is to challenge yourself to understand a 
			cryptographic problem, look out for possible solutions, write code that 
			implements the solutions and try to make it more and more efficient. 
		</p>
		<br>
		<p> Do I have to cook my own algorithms to factorize an integer or find the 
			private exponent? Absolutely not!</p>
		<p>There are tons of good algorithms which might break short or weak keys. Look 
			around (did I already mention this?) and find an algorithm that you are able 
			to understand. Then try to implement it. This already looks like a good strategy 
			to have fun in the contest. 
		</p>
	</div>
	<div id="istruzioni">
		<h3>Instructions</h3>
		<p>
			An RSA public key <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;(N,e)"/> is given by two integers <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;N"/> (the modulus) and <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;e"/> (the public exponent). 
			The modulus is the product of two prime integers <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;p,q"/>:
		</p>
		<p style="text-align: center;">
			<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;N=pq."/>
		</p>
		<p>
			A message is represented as an integer <img src="https://latex.codecogs.
			com/gif.latex?\large&amp;space;m"/> (plaintext) such that <img src="https://
			latex.codecogs.com/gif.latex?\large&amp;space;0&lt;m&lt;N"/>. 
			Encryption produces an integer <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;c"/> (ciphertext) through exponentiation by the public exponent 
			modulo <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;N"/>:
		</p>
		<p style="text-align: center;">
			<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;c \equiv me \mod{N}."/>
		</p>
		<p>
			The associated RSA private key<img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;(N,d)"/> is given by the modulus and an integer 
			<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;d"/> (private 
			exponent). The private exponent is linked to public exponent by the following relation: 
		</p>
		<p style="text-align: center;">
			<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;de \equiv 1 \mod{(p-1)(q-1)}."/>
		</p>
		<p>
			Decryption given a ciphertext <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;c"/> recovers the message <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;m"/> through exponentiation by the private exponent modulo 
			<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;N"/>:
		</p>
		<p style="text-align: center;">
			<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;m \equiv c^d \mod{N}"/>
		</p>
		<p>
			The correctness of the algorithm can be proved by Euler's Theorem. Breaking an 
			RSA public key means finding either  <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;d"/> or factorize <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;N"/> into <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;p"/> and <img src="https://latex.codecogs.com/gif.latex?\
			large&amp;space;q"/>. 	Finding the factorization of the modulus or the 
			private exponent is equivalent up to an efficient computation (see, for 
			example <a href="http://www.ams.org/notices/199902/boneh.pdf">here</a>).
		</p>
		<!-- <p>
			Il materiale del concorso è un insieme di chiavi pubbliche RSA. Non ti 
			forniremo messaggi crittografati da decifrare. Una soluzione contest 
			per una singola chiave pubblica è costituita sia dai fattori primi 
			del modulo che dall'esponente privato.
		</p> -->
	</div>
	<div id="classificaFinale">
		<!-- Ranking -->
		<h3>Final ranking</h3>
		<table class="table">
			<thead>
				 <tr class="header">
					  <th style="text-align: center"> Rk </th>
					  <th style="text-align: center"> Partecipant </th>
					  <th style="text-align: center"> Time of Last Submission</th>
					  <th style="text-align: center"> Valid Keys </th>
				 </tr>
			</thead>
			<tbody>
				<tr style="background-color: LIGHTYELLOW">
					<td>1</td>
					<td> Lorenzo Felice Cameroni </td>
					<td> 00:55, 17/10/2014 </td>
					<td> 45 </td>
				</tr>
				<tr style="background-color: WHITESMOKE">
					<td>2</td>
					<td> CryptoBriscola* </td>
					<td> 15:10, 17/10/2014 </td>
					<td> 45 </td>
				</tr>
				<tr style="background-color: ANTIQUEWHITE">
					<td>3</td>
					<td> CryptoBO** </td>
					<td> 11:17, 17/10/2014 </td>
					<td> 44 </td>
				</tr>
				<tr class="even">
					<td align="right">4</td>
					<td align="right">Mauro Piva</td>
					<td align="right">11:50, 17/10/2014</td>
					<td align="right">44</td>
					</tr>
					<tr class="odd">
					<td align="right">5</td>
					<td align="right">Francesco Mantovani</td>
					<td align="right">12:20, 17/10/2014</td>
					<td align="right">44</td>
					</tr>
					<tr class="even">
					<td align="right">6</td>
					<td align="right">Nanni Bassetti</td>
					<td align="right">10:33, 17/10/2014</td>
					<td align="right">43</td>
					</tr>
					<tr class="odd">
					<td align="right">7</td>
					<td align="right">Luca Chiodini</td>
					<td align="right">16:52, 17/10/2014</td>
					<td align="right">43</td>
					</tr>
					<tr class="even">
					<td align="right">8</td>
					<td align="right">Alessandro Sebastian Podda</td>
					<td align="right">12:35, 14/10/2014</td>
					<td align="right">36</td>
					</tr>
					<tr class="odd">
					<td align="right">9</td>
					<td align="right">Cristiano Sgaravato</td>
					<td align="right">10:57, 17/10/2014</td>
					<td align="right">36</td>
					</tr>
					<tr class="even">
					<td align="right">10</td>
					<td align="right">Luciano Giuseppe</td>
					<td align="right">15:05, 17/10/2014</td>
					<td align="right">36</td>
					</tr>
					<tr class="odd">
					<td align="right">11</td>
					<td align="right">Alessio Serraino</td>
					<td align="right">16:57, 17/10/2014</td>
					<td align="right">36</td>
					</tr>
					<tr class="even">
					<td align="right">12</td>
					<td align="right">Matteo Rizzo</td>
					<td align="right">13:20, 17/10/2014</td>
					<td align="right">34</td>
					</tr>
					<tr class="odd">
					<td align="right">13</td>
					<td align="right">Flavio Santoro</td>
					<td align="right">16:59, 15/10/2014</td>
					<td align="right">33</td>
					</tr>
					<tr class="even">
					<td align="right">14</td>
					<td align="right">John Johnson</td>
					<td align="right">20:29, 15/10/2014</td>
					<td align="right">33</td>
					</tr>
					<tr class="odd">
					<td align="right">15</td>
					<td align="right">Cristiano Regni</td>
					<td align="right">18:16, 15/10/2014</td>
					<td align="right">30</td>
					</tr>
					<tr class="even">
					<td align="right">16</td>
					<td align="right">Amedeo Sgueglia</td>
					<td align="right">23:55, 15/10/2014</td>
					<td align="right">30</td>
					</tr>
					<tr class="odd">
					<td align="right">17</td>
					<td align="right">Luca Di Stefano</td>
					<td align="right">20:33, 15/10/2014</td>
					<td align="right">28</td>
					</tr>
				</tbody>
			</table>
			<p> Notes: <br>
				*: group composed by Carlo Brunetta, Andrea Vinci, Jacopo di Bonito and 
				Alessandro Melloni. <br>
				**: group composed by Andrea Dari and Claudio Costa. <br>
				Ranking published only for participants with more than 20 valid keys. 
			</p>
	</div>
	<div id="statistiche">
		<h3>Stats</h3>
		<ul>
			<li>Participants: 21</li>
			<li>Submissions: 52</li>
			<li>Submitted Keys: 677</li>
			<li>Valid Keys: 657</li>
			<li>Broken Keys: 46</li>
			<li>Unbroken  Keys: 2</li>
			</ul>
		<p> Identifier of unbroken keys: 37, 43. </p>
	</div>
	<div id="premi">
		<!-- Premi -->
		<h3>Prizes</h3>
		<p>
			The real prize you get from participating in this contest is having fun learning 
			and doing things by yourself. To give an additional incentive we have provided 
			symbolic prizes for those who rank in the first three positions . 
		</p>
		<ul>
			<li>The first of the ranking receives a free annual subscription to Clusit, 
				and the equivalent of 30€ in Bitcoin. </li>
			<li> The second of the ranking receives the equivalent of 20€ in Bitcoin. </li>
			<li> The third of the ranking receives the equivalent of 10€ in Bitcoin. </li>
		</ul>
		<p>
			Prizes are awarded on 22nd of December during an event organized at University of Trento. 
		</p>
	</div>
	<div id="classifica">
		<!-- Ranking -->
		<h3>Ranking</h3>
		<p>
			Ranking among participants is done considering the following two simple rules 
			applying to all valid submissions. 
		</p>
		<ol>
			<li>A participant ranks higher than another participant if it has broken more 
				public keys. </li>
			<li>A participant ranks higher than another participant with the same number 
				of broken public keys if his/her last valid submission for a broken 
				public key was done earlier in time. </li>
		</ol>
		<h3> How did we think the contest? </h3> <hr>
		<p>
			We knew we wanted a contest where just using general purpose factorization 
			algoritms would not be enough to excel in the competition. So we needed to 
			generate weak keys. What are weak keys? These can be defined in an informal way 
			as classes of keys where a special purpose algorithm exists, which perform better 
			than best algorithm for modulus factorization. 
		</p>
		<p>
			First, we selected the class of weak keys we would want to generate. We chose: 
		</p>
		<ul>
			<li>
				<em>wiener weak</em> keys: keys with small private exponent 
				(<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;d>\frac{1}{3}N^{1/4}"/>)
				which can be broken with an implementation of
				<a href="http://en.wikipedia.org/wiki/Wiener's_attack">Wiener's attack</a>, 
				based on continued fractions;
			</li>
			<li>
				<em>fermat weak</em> keys: keys where the modulus is the product of primes very near to each other
				(i.e. <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;| p - q | \leq N^{1/4}"/>),
				which can be
				broken easily with <a href="http://en.wikipedia.org/wiki/Fermat's_factorization_method">Fermat's factorization</a>;
			</li>
			<li>
				<em>pollard <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;p-1"/> weak</em> keys: 
				keys where the modulus has one prime factor <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;p"/> for which 
				<img src="https://latex.codecogs.com/gif.latex?\large&amp;space;p-1"/> is
				<a href="http://en.wikipedia.org/wiki/Smooth_number"> <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;B"/>-smooth</a> for some
				low value of <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;B">. These keys can be broken with
				<a href="http://en.wikipedia.org/wiki/Pollard's_p_%E2%88%92_1_algorithm">Pollard's <img src="https://latex.codecogs.com/gif.latex?\large&amp;space;p-1"/> attack</a>.
			</li>
		</ul>
		<p>
			To these three classes we added a couple of <em>keys with a common prime 
			factor</em>, which can be broken very easily by computing Greates Common 
			Divisors (these can be thought as <a href="http://en.wikipedia.org/wiki/RSA_
			(cryptosystem)#Importance_of_strong_random_number_generation">randomness</a> 
			weak keys).
		</p>
		<p>
			Next, we selected some key lengths (60,80,100,150,200,300,512,1024) and for each 
			keylength, we generated 5 weak keys according to the above methods* and a sixth 
			strong key, a key generated randomly without forcing any kind of previously known 
			weakness. This process generated 48 keys which were ordered by keylength and 
			generation method (strong key, common prime keys couple, wiener key, fermat key, 
			pollard key). 
		</p>
		<p>
			*all our coding was done in the Magma language. Unfortunately, a bug in our 
			implementation of the generation of pollard weak keys resulted in keys that, 
			only for the longest keylengths, had a very small prime factor. We became aware 
			of this only when the contest was already started. 
		</p>
	</div>
	<div id="feedback">
		<h3> Feedback </h3> 
		<hr>
		<p> We asked the participants the following questions:  </p>
		<ul>
			<em>
				<li> Are you a student? high school or university?</li>
				<li>Which city are you from?</li>
				<li>Did you code some algorithm to participate? in which language? Which 
					algorithms did you code?</li>
				<li>Did you use some existing tools? Which ones?</li>
				<li>Did you have access to a cluster or you just used personal 
					desktops/laptops?</li>
				<li>Did you learn something new on RSA?</li>
			</em>
		</ul>
		<p>We report here (with little editing) some of the answers from the participants. 
			Sometimes these were in italian, and we left them that way.
			Note the curious twist in the challenge given by the use of a factorization 
			database...</p>
		<hr>
		<h5> Nanni Bassetti (ranked 6th)</h5>
      	<ul>
				<li>
					<em>Are you a student? high school or university?</em>
					<p>no, I'm a digital forensics expert and I'm 44 years old, I'm graduate 
						in Computer Science at University of Bari.</p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>Bari - Italy</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? which 
						algorithms did you code?</em>
					<p>Yes, I coded a bash script and a python script they can factorize the 
						module N and find the private exponent "d", but they are too slow.</p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p>Yes, I used a combination of tools rsatool.py and the website: 
						<a href="http://www.factordb.com/">http://www.factordb.com/</a>.</p>
				</li>
				<li>
					<em>Did you have access to a cluster or you just used personal 
						desktops/laptops?</em>
					<p>I used my laptop and a website (<a href="http://www.factordb.com/">
						http://www.factordb.com/</a>)</p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>Yes, it was very formative.</p>
				</li>
			</ul>
         <hr>
         <h5> Luca Chiodini (ranked 7th)</h5>
			<ul>
				<li> 
					<em>Are you a student? high school or university?</em>
					<p>I'm a student, 5th year of high school.</p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>I live in a small village near Bergamo.</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? 
						which algorithms did you code?</em>
					<p>
						C++ (with boost::multiprecision to handle big numbers) and python have
						been used.Among other little things, I wrote a checker (given a
						ready-to-be-submitted output, it ascertained that RSA keys were
						valid).</p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p>
						A lot! For instance:
					</p>
					<ul>
						<li><a href="https://github.com/ius/rsatool">https://github.com/
							ius/rsatool</a>,</li>
						<li><a href="https://github.com/pablocelayes/rsa-wiener-attack">
							https://github.com/pablocelayes/rsa-wiener-attack</a>,</li>
						<li><a href="http://gilchrist.ca/jeff/factoring/nfs_beginners_
							guide.html">http://gilchrist.ca/jeff/factoring/nfs_beginners_
							guide.html</a></li>
					</ul>
				</li>
				<li>
					<em>Did you have access to a cluster or you just used personal 
						desktops/laptops?</em>
					<p>I used my desktop (not a cluster, although quite powerful).</p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>I learned the algorithm right for this competition.</p>
				</li>
			</ul>
								
			<hr>
			<h5> Luca Di Stefano (ranked 17th)</h5>
			<ul>
				<li> 
					<em>Are you a student? high school or university? Which city are you from?</em>
					<p> I'm a student from University of L'Aquila, currently attending the 
						Laurea Magistrale course in Ingegneria Informatica e Automatica.
					</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? 
						which algorithms did you code?</em>
					<p> I started by using a Python implementation of Wiener's attack I wrote 
						some months ago. The code is available at	<a href="https://github.com/
						lou1306/PythonRSA">https://github.com/lou1306/PythonRSA</a></p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p> Then I brute-forced the first 24 keys by applying the MATLAB 
						function factor() on their moduli. The function was useless for 
						longer moduli because it was based on a simple sieve algorithm. I 
						was going to implement a quadratic sieve but time ran out...
					</p>
				</li>
				<li>
					<em>Did you have access to a cluster or you just used personal 
						desktops/laptops?</em>
					<p>I used my notebook for all computation.</p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>I already had a pretty good knowledge of RSA, but I definitely 
						learned something on integer factorization and the quadratic sieve!</p>
				</li>
			</ul>
         <hr>
         <h5> Luciano Giuseppe (ranked 10th)</h5>
			<ul>
				<li> 
					<em>Are you a student? high school or university?</em>
					<p>I'm a university of Salerno master's student</p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>I'm from Avellino province, Italy.</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? 
						which algorithms did you code?</em>
					<p>No, I didn't</p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p> I used yafu (<a href="http://sourceforge.net/projects/yafu/">
						http://sourceforge.net/projects/yafu/</a>) for number under
						90 digits, GGNFS and MSIEVE for others numbers as read here:
						<a href="http://gilchrist.ca/jeff/factoring/nfs_beginners_guide.html">
							http://gilchrist.ca/jeff/factoring/nfs_beginners_guide.html</a></p>
				</li>
				<li>
					<em>Did you have access to a cluster or you just used personal 
						desktops/laptops?</em>
					<p>I used my desktop pc (pentium D, dual core)</p>
				</li>
			</ul>

			<hr>
			<h5> CryptoBriscola (ranked 2nd)</h5>
			<p> Group composed by Carlo Brunetta, Andrea Vinci, Jacopo di Bonito 
				and Alessandro Melloni. </p>
			<ul>
				<li> 
					<em>Are you a student? high school or university?</em>
					<p>Tutti della magistrale di Critto <em>(NdR: all from MSc of Cryptography 
						at University of Trento)</em></p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>Misto Italia</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? 
						which algorithms did you code?</em>
					<p>
						[...] siamo andati per la via più rapida.
						Magma, C++, Python. Alcuni eran già scritti, 
						altri son stati adattati per il nostro scopo.
					</p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p>
						Algoritmi pre-fatti per fattorizzare con algoritmi tipo GNFS
					</p>
				</li>
				<li>
					<em> Did you have access to a cluster or you just used personal 
						desktops/laptops?	</em>
					<p>
						Un portatile windows 8 per le prime chiavi piccole e quelle deboli ad 
						attacchi particolari. (circa 29 chiavi)
						Un macbook pro per chiavi che sopra creavano problemi di memoria su 
						windows. (circa 10 chiavi)
						Carta e penna per un attacco pigro facendo i gcd tra i vari n e 
						così son uscite un paio di chiavi. (6 chiavi)
						Così siamo rimaste alle 3 che non abbiam potuto fare.
						In nottata abbiam fatto partire un piccolo server con qualche gpu 
						e il GNFS Python che però non ha fruttato risultati.
						[...]
					</p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>
						Abbiamo testato un po' quel che abbiam visto a lezione!
					</p>
				</li>
			</ul>
				
			<hr>
			<h5> Francesco Mantovani (ranked 5th)</h5>
			<ul>
				<li> 
					<em>Are you a student? high school or university?</em>
					<p>
						Non sono uno studente, sono un web developer ma negli ultimi mesi 
						ho lavorato in Corea come aiuto cuoco.
					</p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>
						Seoul, Auckland <em>(NdR: moved during the contest)</em>
					</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? 
						which algorithms did you code?</em>
					<p>
						Non ho scritto nemmeno una riga di codice, ho solo utilizzato python e 
						perl per tradurre alcuni risultati che erano in esadecimale in decimale.
					</p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p>
						Mi sono imbattuto in <a href="http://m0x39.blogspot.it/2012/12/0x00-
						introduction-this-post-is-going-to.html">questo post</a>  che spiega 
						per filo e per segno come aprire una chiave RSA avendo questi dati. Mi 
						sono quindi collegato a <a href="http://www.factordb.com/">
							http://www.factordb.com/</a> e ho incominciato a trovare i numeri 
							primi avendo solo i modulus. Trovati i numeri primi e stato poi 
							facile grazie a rsatool <a href="https://github.com/ius/rsatool">
							https://github.com/ius/rsatool</a> trovare "d". Non tutti i numeri 
							però erano presenti nel DB. Il giorno seguente, avendo commesso 
							alcuni errori, ho rivisto il lavoro e sono tornato a fare delle query 
							sul database; mi sono accorto che alcuni dei numeri che il giorno 
							prima non erano presenti nel db, il giorno seguente erano presenti. 
							Forse, avendo ricevuto più;richieste per quel dato numero, dall'altra 
							parte si sono messi a cercare i numeri primi di quei moduli. </p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>
						Ho imparato qualcosa di nuovo? Un sacco di cose, soprattutto come 
						funziona la vulnerabilità Heartbleed
						<a href="http://countuponsecurity.com/tag/extract-rsa-key/">
							http://countuponsecurity.com/tag/extract-rsa-key/</a>
					</p>
				</li>
			</ul>
			<hr>
			<h5> Lorenzo Cameroni (ranked 1st)</h5>
			<ul>
				<li> 
					<em>Are you a student? high school or university?</em>
					<p>
						I'm a 26 years old working student (well, honestly more working than 
						student, I'm a full time java programmer and a Math student).
					</p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>
						I work and study in Milano.
					</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? which 
						algorithms did you code?</em>
					<p>
						Working full time leave me no much time for coding some smart algorithm, 
						the only one I code is not so smart: a brute force search for a factor 
						very close to the square root of n, but it was too slow for the key 
						provided except first ones. I code this with PARI/GP.
						I didn't try to code Pollard's rho (which I think is the simpler serious 
						factoring algorithm) because i knew that PARI/GP factor function 
						<a href="http://pari.math.u-bordeaux.fr/dochtml/html.stable/Arithmetic_
						functions.html#factorint">already</a> use this algorithm (hopefully 
						better than how i could code in few hours).
					</p>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p>
						Yes, most of my work was finding the right tool for the right key, 
						guessing what kind of "error" was done when the keys were created. Here 
						the most useful I found:
					</p>
					<ul>
						<li>
							<a href="http://pari.math.u-bordeaux.fr/">PARI/GP</a> for general 
							computations and for factoring "small" numbers (or big numbers with 
							small factors) using the "factor" standard function.
						</li>
						<li>
							<a href="http://www.alpertron.com.ar/ECM.HTM">This</a> browser java 
							applet for Elliptic Curve Factorization (and for Self Initializing 
							Quadratic Sieve) (I already knew the idea behind elliptic curve 
							factoring but I didn't had enought time to study in detail the 
							Quadratic Sieve). With this applet I factored some 90 digit numbers 
							in roughly 4 hours each, although others (even larger) number were 
							factored in few seconds.
						</li>
						<li>
							A modified version of <a href="https://github.com/wihoho/
							Wiener-s-Attack">this code</a> for the Wiener attack. My modification 
							allowed me to read input data in a different format.
						</li>
					</ul>
				</li>
				<li>
					<em>Did you have access to a cluster or you just used personal 
						desktops/laptops?</em>
					<p>
						Only my laptop (and sometimes my work laptop)
					</p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>
						Of course: before this competition I never heard about attack on RSA 
						such as Wiener's one, nor I could imagine that (as I read 
						<a href="http://arstechnica.com/business/2012/02/crypto-shocker-
						four-of-every-1000-public-keys-provide-no-security/">here</a>) in real 
						world different unrelated 1024 or 2048 bit RSA keys colud share a prime 
						factor (altough this mostly happen when such keys are generated on 
						embedded device with poor pseudo-random number generators)
					</p>
				</li>
			</ul>

			<hr>
			<h5> CryptoBO (ranked 3rd)</h5>
			<p>
				Group composed by Andrea Dari and Claudio Costa.
			</p>
			<ul>
				<li> 
					<em>Are you a student? high school or university?</em>
					<p>
						We study at university
					</p>
				</li>
				<li>
					<em>Which city are you from?</em>
					<p>
						Bologna
					</p>
				</li>
				<li>
					<em>Did you code some algorithm to participate? in which language? which algorithms did you code?</em>
					<p>
						We have written various algorithms to factor the module, including 
						Fermat and Pollard rho in addition to the brute force one. They were 
						written in Java and using multi-threaded programming.
					</p>
					<font color="red"> NOTE ADDED IN 2017 <br>
						Andrea Dari has published the library created in Java on GitHub
						for the RSA awareness 2014 contest, which he then used
						to factor many of the public keys that were given.
						Link: https://github.com/cybernova/RSAbreaker
					</font>
					<br>
					<br>
				</li>
				<li>
					<em>Did you use some existing tools? which ones?</em>
					<p>
						We have used WolframAlpha for some keys, the simpler ones.
					</p>
				</li>
				<li>
					<em>Did you have access to a cluster or you just used personal desktops/laptops?</em>
					<p>
						Just our personal laptop.
					</p>
				</li>
				<li>
					<em>Did you learn something new on RSA?</em>
					<p>
						Surely we have learned that there are more or less valid algorithms to 
						try to factor even a fairly large module.
					</p>
				</li>
			</ul>
	</div>	