<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row mt-3">
			<div class="col-md-12">
				<h3>SEI STUDENTE?</h3>
				<p>Che tu sia studente alle superiori o studente in università, abbiamo dei contenuti
					apposta per te! Di seguito abbiamo diviso due sezioni, ognuna per ogni tipologia di studente;
					consulta quella che più ti interessa e scopri cosa abbiamo preparato per te!
				</p>
				<p>
					In ogni caso non dimenticare di dare un'occhiata alla nostra pagina
					<a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A">
					YouTube</a>, dove pubblichiamo video specifici riguardo la <a href="
					https://www.youtube.com/watch?v=c16aoAi-7Bo&list=PLu4yxTVzRRMU93T5hf2mKtVINipn5O69F">
					crittografia post quantum</a>, <a href="https://www.youtube.com/watch?v=
					sbgbtmM6wSY&list=PLu4yxTVzRRMVYZwb9ukJTkUyVN-6bQEsR">Bitcoin</a>, e
					<a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A/playlists">
					molto altro!</a>
				</p>
				<hr>
				<h4>SCUOLE SUPERIORI</h4>
				<p>Studi alle scuole superiori e ti incuriosisce l'ambito crittografico? 
					Pensi che la crittografia possa interessarti	ma hai conoscenze solo 
					basilari di matematica e informatica? Nessun problema, abbiamo pensato anche a te!
					La De Cifris organizza eventi e conferenze di carattere divulgativo che si prefiggono lo scopo di diffondere
					la crittografia al di fuori dell'ambiente universitario e aziendale. Potrebbe essere una buona
					occasione per conoscere questa materia affascinante!
				</p>
				<ul>
					<li>
						<p>Consulta la nostra <a routerLink="/iniziativeDivulgative">pagina dedicata</a> alle 
							iniziative divulgative e scopri quella che più fa al caso tuo!</p>
					</li>
					<li>
						<p>Consulta la nostra <a routerLink="/gareCrittografiche">pagina dedicata</a> alle <b>gare di crittografia</b>.
							Qua pubblichiamo le varie gare che proponiamo nel corso dell'anno. Non c'è bisogno di una formazione
							universitaria per prenderne parte, né tantomeno sono richieste quote di partecipazione: sono gare
							aperte a chiunque abbia voglia di cimentarsi in qualcosa di motivante e istruttivo!</p>
					</li>
				</ul>
				<hr>
				<h4>UNIVERSITÀ</h4>
				<p>
					Se sei uno studente universitario potresti essere interessato, oltre alle iniziative divulgative
					e alle gare a tema (per le quali ti rimandiamo alla sezione sopra), anche a contenuti più specifici.</p>
				<ul>
					<li>La De Cifris offre agli studenti universitari la possibilità di fare degli 
						<a [routerLink]="['/opportunita']" fragment="stageTirocini">stage qualificanti</a>
						presso le aziende che collaborano con noi.
					</li>
					<li>Le aziende che collaborano con la De Cifris forniscono anche 
						<a [routerLink]="['/opportunita']" fragment="borseAdvisoryBoard">borse di studio</a> 
						per gli studenti più meritevoli. Scopri di più nella pagina dedicata!
					</li>
					<li>
						Abbiamo in attivo svariati <a routerLink="/seminariLocali">cicli di seminari</a>, di carattere squisitamente crittografico, che 
						potrebbero interessarti.
					</li>
					<li>
						<p>Consulta la nostra <a routerLink="/gareCrittografiche">pagina dedicata</a> alle <b>gare di crittografia</b>.
							Qua pubblichiamo le varie gare che proponiamo nel corso dell'anno.</p>
					</li>
				</ul>				
			</div>
		</div>
	</div>
</ng-sidebar-container>