<div>
    <div class="list_view">
        <img src="../../../../../assets/images/koine/Vol1 - CIFRIS23 ACTA.png" style="width: 40%;padding-right:20px;" />
        <div class="doi-item">
            <p class="title"> CIFRIS23 ACTA</p>
            <p class="desc">De Cifris Press, April 2024</p>
            <p class="desc">ISBN: 979-12-81863-00-2</p>
            <p class="desc">ISSN: 3034-9796</p>
            <br>
            <a class="download" mat-button href="https://drive.google.com/file/d/1T6MYqf8NC-4vjLXUmRJxfui_8Gu4grPG">
                Download volume
            </a>
            <br>
            <a class="download" mat-button href="https://drive.google.com/file/d/1_Ty7ddP6i459S8R0PlsVou-B58uZ5PHS">
                Download cover
            </a>
        </div>
    </div>
    <hr>
    <br>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1o--ZJTZFhS0Hoy9e8LDP3pXqWzU46Igx">
            <p class="title"> Introduction to CIFRIS23 ACTA</p>
        </a>
        <p class="desc">Massimiliano Sala, Michele Ciampi, Roberto Civino, Daniele Friolo, Sihem
            Mesnager</p>
        <p class="desc">Page range: 2-5</p>
        <a href="https://doi.org/10.69091/koine/vol-1-I01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-I01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/16YexU009cf-K1qej2-a4by9chug0BVCR">
            <p class="title"> Cryptography and its Applications in the Italian Scenario</p>
        </a>
        <p class="desc">Massimo Giulietti</p>
        <p class="desc">Page range: 17-18</p>
        <a href="https://doi.org/10.69091/koine/vol-1-I02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-I02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1Izh5vbkkG3QxBizrZ9DXnsTSBsx-wsMX">
            <p class="title">La visione di De Cifris: partnership con le aziende
                leader</p>
        </a>
        <p class="desc">Antonino Alì</p>
        <p class="desc">Page range: 19-21</p>
        <a href="https://doi.org/10.69091/koine/vol-1-I03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-I03</p>
        </a>
    </div>
    <h3> SCIENTIFIC SESSION (MAIN PROGRAM)</h3>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1J30Ks-mYBpDc445-BMUxOifzX85bKml2">
            <p class="title">Introduction to the Scientific Session</p>
        </a>
        <p class="desc">Michele Ciampi, Sihem Mesnager</p>
        <p class="desc">Page range: 30-30</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1QrNHQcOR-a-zD4434k7RkPN0dzf3W4C4">
            <p class="title">Keynote:
                MPC in the head for isomorphisms and group
                action</p>
        </a>
        <p class="desc">Antoine Joux</p>
        <p class="desc">Page range: 32-33</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1BQ59Pc9iM__xvGQ5kdl4YLpezUXGzVKz">
            <p class="title">Efficiency of SIDH-based signatures (yes, SIDH)</p>
        </a>
        <p class="desc">Wissam Ghantous, Federico Pintore and Mattia Veroni</p>
        <p class="desc">Page range: 34-35</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M03</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1QYRp1jYRM9WcvoPiPoPGqqpviUdLEezc">
            <p class="title">The group structure of elliptic curves over Z/NZ</p>
        </a>
        <p class="desc">Massimiliano Sala and Daniele Taufer</p>
        <p class="desc">Page range: 36-38</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1AUcZoMqWM7QnZjqxrZeR55ZcAw-Tgt7G">
            <p class="title">FPGA And Software Acceleration of Multi-Scalar
                Multiplication: CycloneMSM</p>
        </a>
        <p class="desc">Kaveh Aasaraai, Emanuele Cesena, Rahul Maganti, Nicolas Stalder, and Javier
            Varela</p>
        <p class="desc">Page range: 40-40</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1GZwPFoidaVQnXAIP1FgwOHYIzHMO-PGX">
            <p class="title">On Linear Codes with Random Multiplier Vectors
                and the Maximum Trace Dimension Property</p>
        </a>
        <p class="desc">Márton Erdélyi, Pál Hegedüs, Sándor Z. Kiss, and Gábor P. Nagy</p>
        <p class="desc">Page range: 41-42</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M06</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1tf_pJzWQY3AE8qEWTyWL-7u_37SehQNv">
            <p class="title">On a generalization of the Deligne-Lustzig curve of
                Suzuki type and application to AG codes</p>
        </a>
        <p class="desc">Marco Timpanella</p>
        <p class="desc">Page range: 43-44</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M07">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M07</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1_I1XPgjM7LVYSZ27235iFBh4SrHKbJgU">
            <p class="title">On the Black-Box Impossibility of
                Multi-Designated Verifiers Signature Schemes from
                Ring Signature Schemes</p>
        </a>
        <p class="desc">Kyosuke Yamashita and Keisuke Hara</p>
        <p class="desc">Page range: 45-47</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M08">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M08</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1qflgDB1Qzcyd1ApjFvEmJ2YpgCcLvoXg">
            <p class="title">Keynote: Threshold Implementations: Securing
                Implementations of Symmetric-Key Algorithms</p>
        </a>
        <p class="desc">Svetla Nikova</p>
        <p class="desc">Page range: 49-51</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M09">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M09</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1GD1H1uKqaOwesFgfFnFmmVkjwGXH390-">
            <p class="title">Differential experiments using parallel alternative
                operations</p>
        </a>
        <p class="desc">Marco Calderini, Roberto Civino, and Riccardo Invernizzi</p>
        <p class="desc">Page range: 52-54</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M10">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M10</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1W5uo2pnPkBms9jxJVY00c96eaS8DrcEd">
            <p class="title">Automatic Boomerang Attacks Search on Rijndael</p>
        </a>
        <p class="desc">Marine Minier, Loïc Rouquette, and Christine Solnon</p>
        <p class="desc">Page range: 55-56</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M11">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M11</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1TcmxgSaKX2ADooELGYvt0jjxJdDS7YdI">
            <p class="title">Searchable Encryption with randomized ciphertext
                and randomized keyword search</p>
        </a>
        <p class="desc">Marco Calderini, Riccardo Longo, Massimiliano Sala, and Irene Villa</p>
        <p class="desc">Page range: 58-60</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M12">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M12</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1ATuY33FjpV1tU8T-T643HHbHQ5jIdmaj">
            <p class="title">Cryptanalysis of a privacy-preserving
                authentication scheme</p>
        </a>
        <p class="desc">Sigurd Eskeland</p>
        <p class="desc">Page range: 61-63</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M13">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M13</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1xiIVv1wL7UCKireGD78b9cCi1f6cyRbP">
            <p class="title">mRLWE-CP-ABE: a revocable CP-ABE for
                post-quantum cryptography</p>
        </a>
        <p class="desc">Marco Cianfriglia, Elia Onofri and Marco Pedicini</p>
        <p class="desc">Page range: 64-66</p>
        <a href="https://doi.org/10.69091/koine/vol-1-M14">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-M14</p>
        </a>
    </div>
    <h3> WORKSHOPS </h3>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1X24oJaQXkovWpPcxL9CwVxyEA-noA9LD">
            <p class="title">Introduction to CBDCs Workshop</p>
        </a>
        <p class="desc">Daniel Broby</p>
        <p class="desc">Page range: 70-72</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1ATHlm6KYArWD_Nri8qz3roE3V_RcWyNS">
            <p class="title">Crypto assets' value and investor protection</p>
        </a>
        <p class="desc">Gianfranco Trovatore</p>
        <p class="desc">Page range: 73-74</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/12bp_mWqytwqQTGHMQK2E0itZZ_4tX-Oj">
            <p class="title">What consensus mechanism will be used for Central
                Bank Digital Currencies (CBDCs)?</p>
        </a>
        <p class="desc">Vincenzo Vespri and Filippo Zatti</p>
        <p class="desc">Page range: 75-77</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W03</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1f2scikiXsLQvWJYsUuQgz09gG2KW7kG_">
            <p class="title">CBDCs: A new generation of digital cash</p>
        </a>
        <p class="desc">Guneet Kaur and Andrea Bracciali</p>
        <p class="desc">Page range: 78-81</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1uydQmpGVin30AFcRaj6lOaiefGOTR3ws">
            <p class="title">Introduction to PQ Workshop</p>
        </a>
        <p class="desc">Marco Baldi, Giulio Codogni, Elisa Gorla
            , Roberto La Scala, Alessio Meneghetti, Emanuela Orsini
            , Gerardo Pelosi, Edoardo Persichetti, and Federico Pintore</p>
        <p class="desc">Page range: 83-84</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1tok_hJl6exSHE6TQdoy3lDMcF7Qg_nEk">
            <p class="title">SQIsign
                The new herald of isogeny based crypto</p>
        </a>
        <p class="desc">Luca De Feo</p>
        <p class="desc">Page range: 85-87</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W06</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1aYVRY-hHcRoNicYiGCBJ9fmWb9RPZJLp">
            <p class="title">No one should learn from these errors: surveying
                fault attack resistance of post quantum
                cryptosystems</p>
        </a>
        <p class="desc">Alessandro Barenghi</p>
        <p class="desc">Page range: 88-90</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W07">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W07</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1KlJJflGrOJeTzoexCccJlZfCnBOTssN8">
            <p class="title">MCE and MEDS:
                From Group Actions to Signatures</p>
        </a>
        <p class="desc">Krijn Reijnders</p>
        <p class="desc">Page range: 91-93</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W08">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W08</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1jIiEf0EFdupkGinYq0gK4AJalwJfUPBu">
            <p class="title">Signatures from Five-Pass Zero-Knowledge
                Protocols and the Curious Case of CROSS</p>
        </a>
        <p class="desc">Paolo Santini</p>
        <p class="desc">Page range: 94-96</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W09">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W09</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1n_Rw0XSL3An8fs81MHwg0XrcmRNcjlqz">
            <p class="title">Introduction to TAC Workshop</p>
        </a>
        <p class="desc">Silvio Ranise and Alessandro Tomasi</p>
        <p class="desc">Page range: 98-99</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W10">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W10</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1IN_0jJ1M_lJE9KUkhq3ZF5Y407A_Pihp">
            <p class="title">Royal Rumbles in Cryptography:
                the NIST PQC Competition</p>
        </a>
        <p class="desc">Marco Baldi</p>
        <p class="desc">Page range: 100-101</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W11">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W11</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1SUGGprYFjceAd6KWpaAsFX9LRYC9O2fc">
            <p class="title">The Zencode Whitepaper</p>
        </a>
        <p class="desc">Denis Roio</p>
        <p class="desc">Page range: 102-104</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W12">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W12</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1O3IXUL5n8C8YeOlI5-AiFry4-uHDui-t">
            <p class="title">Multiparty Class Group Encryption and
                Applications to E-Voting</p>
        </a>
        <p class="desc">Michele Battagliola, Giuseppe
            D’Alconzo, Andrea Gangemi, and
            Chiara Spadafora</p>
        <p class="desc">Page range: 105-106</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W13">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W13</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1OTtRRkWZWAxeyvq_UAsHtr6E6aRLgoM1">
            <p class="title">Vote App: Verifiable and Coercion-Resistant
                I-Voting</p>
        </a>
        <p class="desc">Riccardo Longo, Chiara Spadafora, and Francesco Antonio Marino</p>
        <p class="desc">Page range: 107-109</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W14">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W14</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1fYb3jM2z-NRRI2AdCunYBBEwGt63_fL9">
            <p class="title">OpenABE Bindings for Kotlin</p>
        </a>
        <p class="desc">Stefano Berlato, Roberto Carbone, and Silvio Ranise</p>
        <p class="desc">Page range: 110-112</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W15">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W15</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1whigj6mIEiHn0GTwW4mBB7HKBgl3UCDa">
            <p class="title">Cryptographic Enforcement of Attribute-based
                Access Control Policies</p>
        </a>
        <p class="desc">Stefano Berlato, Alessandro Colombo, Roberto Carbone, and Silvio Ranise</p>
        <p class="desc">Page range: 113-115</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W16">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W16</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1PVoMyFpZSQYezDMG6weSl-oWnxysDDkU">
            <p class="title">Privacy Preserving Machine Learning with TFHE</p>
        </a>
        <p class="desc">Andrei Stoian</p>
        <p class="desc">Page range: 118-118</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W17">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W17</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1WTAEp5rHo3zjSRpTfoILEPRbBUaspazK">
            <p class="title">PPML: Machine learning on data you cannot see</p>
        </a>
        <p class="desc">Valerio Maggio</p>
        <p class="desc">Page range: 119-120</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W18">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W18</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1FxN3ilFp1q-ENiXORpUiPEIBMTnxFtgb">
            <p class="title">Introduction to Group-based Workshop</p>
        </a>
        <p class="desc">Norberto Gavioli, Carmine Monetta, and Marialaura Noce</p>
        <p class="desc">Page range: 122-123</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W19">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W19</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1IBJMEQyxqFh6brn3IzoEYSkZ9JSNCKl9">
            <p class="title">The Impact of the Semidirect Discrete Logarithm
                Problem (SDLP) in Post-quantum Cryptography PQC</p>
        </a>
        <p class="desc">Delaram Kahrobaei</p>
        <p class="desc">Page range: 124-126</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W20">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W20</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1Jk8YG1lBEiVfuemnkjsNlqDWlhwLLfNd">
            <p class="title">Some results on the groups generated by round
                functions</p>
        </a>
        <p class="desc">Riccardo Aragona</p>
        <p class="desc">Page range: 127-129</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W21">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W21</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/13FL-VFIyEmOx30MzRRdiApxbMZUgYFHT">
            <p class="title">A method to cryptanalyze (Simultaneous)
                Conjugacy Search Problem in certain Metabelian
                Platform Groups</p>
        </a>
        <p class="desc">Martina Vigorito</p>
        <p class="desc">Page range: 130-132</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W22">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W22</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1GRcIxIugIMOmEdIBRCAqwvcMQR6MoFuo">
            <p class="title">Linearization of hard problems via right-angled
                Artin groups</p>
        </a>
        <p class="desc">Ramón Flores, Delaram Kahrobaei, and Thomas Koberda</p>
        <p class="desc">Page range: 133-134</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W23">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W23</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1KbkMzHSKsh5INMcjnesz9RmQWcceg0hr">
            <p class="title">A “smart” application of homomorphic encryption</p>
        </a>
        <p class="desc">Antonio Tortora</p>
        <p class="desc">Page range: 135-136</p>
        <a href="https://doi.org/10.69091/koine/vol-1-W24">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-1-W24</p>
        </a>
    </div>
</div>
<hr>