<div class="row mt-3 mr-1 ml-1">
	<table class="date-table">
		<thead>
			<tr>
				<th>
					day
				</th>
				<th>
					event
				</th>
			</tr>
		</thead>
		<tbody>
			<tr class="dead-row">
				<td class="date">Feb 26th<br>2024</td>
				<td>conference announced</td>
			</tr>
			<tr class="dead-row">
				<td class="date">May 7th<br>2024</td>
				<td class="item">paper submission deadline</td>
			</tr>
			<tr class="dead-row">
				<td class="date">May 31st<br>2024</td>
				<td class="item">workshop proposal deadline</td>
			</tr>
			<tr class="active-row">
				<td class="date">Jul 2nd<br>2024</td>
				<td class="item">preliminary paper acceptance notification</td>
			</tr>
			<tr>
				<td class="date">Jul 9th<br>2024</td>
				<td class="item">final paper acceptance notification</td>
			</tr>
			<tr>
				<td class="date"><b>TBA</b></td>
				<td class="item">registration opening</td>
			</tr>
			<tr>
				<td class="date"><b>TBA</b></td>
				<td class="item">registration deadline</td>
			</tr>
			<tr>
				<td class="date">Sep 25th<br>2024</td>
				<td class="item">conference starts</td>
			</tr>
		</tbody>

	</table>


	<div class="col-md-12">
		<p>
			CIFRIS24 is an international event, supported and organized by De Cifris, aimed at bringing together
			researchers in the field of cryptography, practitioners, developers, and users to foster cooperation and
			exchange techniques, tools, experiences, and ideas.
		</p>
		<p>
			The first morning is reserved to institutional and industrial stakeholders operating in the field of
			cryptography and cyber security. The first afternoon and the whole second day constitute the Scientific
			Session of the event, where scientific talks take place. The third day hosts eight related workshops.
		</p>
		<p>
			Scientific talks consist of a selection of:
		</p>
		<ul>
			<li> Invited talks and </li>
			<li> Contributed talks selected from the submitted papers by the Chairs and the Programme Committee. </li>
		</ul>
		<!-------------------------------------------------------------------->
		<h4> INVITED SPEAKERS </h4>
		<ul>
			<li>
				<b>Claude Carlet</b> (Paris VIII - France)
			</li>
			<li>
				<b>Gregor Leander</b> (Ruhr-University Bochum - Germany)
			</li>
			<li>
				<b>Simona Samardjiska</b> (Radboud University - The Netherlands)
			</li>
			<li>
				<b>Daniele Venturi</b> (University of Roma La Sapienza - Italy)
			</li>
		</ul>
		<!-------------------------------------------------------------------->
		<h4> ORGANIZATION </h4>
		<h5> Institution </h5>
		<p>
			The “De Componendis Cifris Associazione di Promozione Sociale” (De Cifris) is a non-profit scientific
			organization whose purpose is to spread cryptography in all its aspects, from theoretical foundations,
			applications to historical evolution and impact on society, and to facilitate the aggregation of scholars
			and researchers, so that from their collaboration project ideas and initiatives of scientific interest can
			rise.
		</p>

		<h5> Organizing Committee </h5>
		<ul>
			<li>
				Giulia Cavicchioni (University of Trento - Italy)
			</li>
			<li>
				Massimiliano Sala (University of Trento - Italy)
			</li>
			<li>
				Marco Pedicini (University of Roma Tre - Italy)
			</li>
		</ul>
		<h5> Chairs of the Scientific Session </h5>
		<ul>
			<li>
				Luca De Feo (IBM Research Zurich - Switzerland)
			</li>
			<li>
				Barbara Masucci (University of Salerno - Italy)
			</li>
		</ul>
		<!-------------------------------------------------------------------->
		<h4>LOCATION</h4>
		<p>
			The conference is held at <a href="https://www.bancaditalia.it/homepage/index.html">Bank of Italy</a>'s
			conference theater "Salone Margherita", <a href="https://maps.app.goo.gl/mWmid3QMRtsCVyBMA">Via Due Macelli
				75 – 00187 Roma (Italy)</a>. <br>
			For more info, please check our other web pages or contact <a
				href="mailto:cifris24@decifris.it">cifris24@decifris.it</a>.
		</p>
	</div>
</div>