div.iniziativecontainer {
    display: flex;
    /* Aggiunto display: flex */
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

mat-card {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 250px;
    height: 60px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 4px;
    margin-bottom: 5px;
    background-color: var(--cifris_scarlet);
    color: white;
    padding: 0;
}

mat-card:hover {
    background-color: var(--cifris_purple);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;
    font-weight: bold;
    border: solid 0px transparent!important;
}

a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

mat-card.inactive-txtbtn {
    background-color: var(--cifris_gray);
    cursor: default
}

mat-card.content{
    padding:0; 
    margin:0;
}

.smaller {
    display: block;
    font-size: 12px!important;
    line-height: 1.2!important;
    margin-top: 0!important;

}
.scientific{
    background-color: var(--cifris_darkgreen);
    border: solid 4px var(--cifris_green)
}
.institutional{
    background-color: var(--cifris_scarlet);
}