<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/cifris23">
					Home
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/cifris23-call-for-papers">
					Call for papers
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/cifris23-call-for-workshops">
                    Call for workshops
                </button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/cifris23-program-committee">
					Program Committee
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/cifris23-registration">
					Registration
				</button>
			</li> 
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12" align="center">
				<h3>REGISTRATION</h3>
			</div>
		</div>
        <div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12">
              <p> To be announced </p>
            </div>
		</div>

    </div>
</ng-sidebar-container>
