<h1> PROGRAM </h1>

Here you find a provisional agenda of CIFRIS25
  <h2 style="margin-top: 2.5rem; color: #2c3e50;">September 11th, 2025 - First Day</h2>

  <div style="margin-bottom: 1.2rem;"><strong>09:00 - 09:30</strong> &nbsp; Registration and badge</div>
  <div style="margin-bottom: 1.2rem;"><strong>09:30 - 09:45</strong> &nbsp; Welcome speech and introductions</div>
  <div style="margin-bottom: 1.2rem;"><strong>09:45 - 10:30</strong> &nbsp; Institutional round table</div>
  <div style="margin-bottom: 1.2rem;"><strong>10:00 - 10:15</strong> &nbsp; De Cifris</div>
  <div style="margin-bottom: 1.2rem;"><strong>10:15 - 10:45</strong> &nbsp; Partners</div>
  <div style="margin-bottom: 1.2rem;"><strong>10:45 - 11:00</strong> &nbsp; Coffee break</div>
  <div style="margin-bottom: 1.2rem;"><strong>11:00 - 12:00</strong> &nbsp; <strong>Invited Speaker: Ludovic
      Perret</strong></div>
  <div style="margin-bottom: 1.2rem;"><strong>12:00 - 13:00</strong> &nbsp; Scientific talks</div>
  <div style="margin-bottom: 1.2rem;"><strong>13:00 - 14:00</strong> &nbsp; Lunch break</div>
  <div style="margin-bottom: 1.2rem;"><strong>14:00 - 15:20</strong> &nbsp; Scientific talks</div>
  <div style="margin-bottom: 1.2rem;"><strong>15:20 - 15:40</strong> &nbsp; Coffee break</div>
  <div style="margin-bottom: 1.2rem;"><strong>15:40 - 17:00</strong> &nbsp; Scientific talks</div>

  <h2 style="margin-top: 2.5rem; color: #2c3e50;">September 12th, 2025 - Second Day</h2>

  <div style="margin-bottom: 1.2rem;"><strong>10:00 - 11:00</strong> &nbsp; Workshops:<a href="/cifris25/workshops">TAC, Number Theory & Cryptography, Symmetric Cryptography & Coding Theory</a></div>
  <div style="margin-bottom: 1.2rem;"><strong>11:00 - 11:30</strong> &nbsp; Coffee break</div>
  <div style="margin-bottom: 1.2rem;"><strong>11:30 - 13:00</strong> &nbsp; Workshops:<a href="/cifris25/workshops">TAC, Number Theory & Cryptography, Symmetric Cryptography & Coding Theory</a></div>
  <div style="margin-bottom: 1.2rem;"><strong>13:00 - 14:00</strong> &nbsp; Lunch break</div>
  <div style="margin-bottom: 1.2rem;"><strong>14:00 - 15:30</strong> &nbsp; Workshop: <a href="/cifris25/ReAdPQC25">ReAdPQC25</a> </div>
  <div style="margin-bottom: 1.2rem;"><strong>15:30 - 16:00</strong> &nbsp; Coffee break</div>
  <div style="margin-bottom: 1.2rem;"><strong>16:00 - 17:00</strong> &nbsp; Workshop: <a href="/cifris25/ReAdPQC25">ReAdPQC25</a></div>

  <p style="margin-top: 2rem;">
    <a href="/cifris25/registration" target="_blank">Click here to register</a>
  </p>

