<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3> SUBMISSION </h3>
	</div>
</div>
<ul style="list-style-type: none">
	<li> Submission deadline: <b>22nd April, 2024</b> </li>
	<li> Preliminary acceptance notification: 2nd July, 2024 </li>
	<li> Final acceptance notification: 9th July, 2024 </li>
</ul>
<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12">
		<p> 
			Conference contributions can be submitted via EasyChair
			using the following link <a href="https://easychair.org/conferences/?conf=cifris24">https://easychair.org/conferences/?conf=cifris24</a>.
		</p>
	</div>
</div>