<div>
	<ng-sidebar-container>
		<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799"> 
			<ul class="noIndent" align="left">
				<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
				<li style="display:none">
					<button autofocus="autofocus"></button>
				</li>
				<li>
					<button class="btn btn-outline-info" routerLink="/associarsi">
						Come associarsi
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" routerLink="/posizioniRicerca">
						Posizioni Accademiche
					</button>
				</li>
				<!-- <li>
					<button class="btn btn-outline-info" routerLink="/stageTirocini">
						Stage e Tirocini
					</button>
				</li> -->
				<li>
					<button class="btn btn-outline-info" routerLink="/advisoryBoard">
						Advisory Board
					</button>
				</li>
			</ul>
			<!-- <button class="btn btn-outline-info" (click)="toggleSidebar()" style="position: absolute; bottom: 75px; left: 30;">
				Nascondi
			</button> -->
		 </ng-sidebar>
		<div ng-sidebar-content class="container bottomExtra">
			<div class="row mt-3">
				<div class="col-md-12 mt-3">
					<h4>STAGE E TIROCINI</h4>
					<p>
						Un modo per raggiungere gli obiettivi della De Cifris è stimolare 
						una collaborazione tra studenti e aziende/enti tramite stage e tirocini. 
						Nel concreto, si intende aiutare:
					</p>
					<ul>
						<li> Gli studenti a trovare enti/aziende che li possano ospitare. </li>
						<li> Le aziende/enti a trovare candidati validi.</li>
					</ul>
					<p>
						Il Coordinatore di questa attività è il prof. Massimo Giulietti (UNIPG).
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5>COME CANDIDARSI</h5>
					<p>Ogni studente iscritto alla De Cifris può candidarsi direttamente attraverso la pagina 
						<a href="https://www.linkedin.com/in/de-componendis-cifris-iniziativa-nazionale-8274501a5/">
						LinkedIn De Cifris</a>, oppure scrivendo a <a href="mailto:segreteria@decifris.it">
						segreteria@decifris.it</a> e in CC al prof. Giulietti <a href="massimo.giulietti@unipg.it">
						massimo.giulietti@unipg.it</a>. </p>
					<p>
						Le aziende o gli enti interessati a stagisti/tirocinanti/collaboratori in crittografia sono pregati di
						contattare la segreteria dell’associazione. Il loro avviso sarà pubblicato sulla
						pagina LinkedIn dedicata.
					</p>
				</div>
			</div>
		</div>
	</ng-sidebar-container>
</div>