<div class="toptext">
    <div class="list_view">
        <img src="../../../../../assets/images/koine/Vol4 - De Cifris Protocols.png" style="width: 40%;padding-right:20px;" />
        <div class="doi-item">
            <p class="title">ADVANCED CRYPTOGRAPHIC PROTOCOLS</p>
            <p class="desc">De Cifris Press, October 2024</p>
            <p class="desc">ISBN: 979-12-81863-03-3</p>
            <p class="desc">ISSN: 3034-9796</p>
            <br>
            <i>coming soon</i>
            <br>
            <br>
            <a class="download" mat-button routerLink="/koine/vol4">
                Open webpage
            </a>
            <!--
            <a class="download" mat-button href="">
                Download volume
            </a>
            <br>
            <a class="download" mat-button href="">
                Download cover
            </a>
            -->
        </div>
    </div>
</div>
<div>
    <div class="doi-item">
        <a href="">
            <p class="title">Introduction to Advanced Cryptographic Protocols</p>
        </a>
        <p class="desc">Elizabeth A. Quaglia, Daniele Venturi</p>
        <p class="desc">Page range: 2-6</p>
        <a href="https://doi.org/10.69091/koine/vol-4-I01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-I01</p>
        </a>
    </div>
    <h3>PRIMITIVES</h3>
    <div class="doi-item">
        <a href="">
            <p class="title">Secret Sharing for Arithmetic Properties</p>
        </a>
        <p class="desc">Ignacio Cascudo</p>
        <p class="desc">Page range: 8-27</p>
        <a href="https://doi.org/10.69091/koine/vol-4-P01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-P01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Vector Commitment and Verifiable Outsourced Computation</p>
        </a>
        <p class="desc">Dario Fiore</p>
        <p class="desc">Page range: 28-44</p>
        <a href="https://doi.org/10.69091/koine/vol-4-P02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-P02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">SNARKs</p>
        </a>
        <p class="desc">Markhuf Kohlweiss and Anca Nitulescu</p>
        <p class="desc">Page range: 45-71</p>
        <a href="https://doi.org/10.69091/koine/vol-4-P03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-P03</p>
        </a>
    </div>
    <h3>PROTOCOLS</h3>
    <div class="doi-item">
        <a href="">
            <p class="title">An Introduction to Key Establishment</p>
        </a>
        <p class="desc">Bertram Poettering</p>
        <p class="desc">Page range: 73-99</p>
        <a href="https://doi.org/10.69091/koine/vol-4-P04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-P04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Blockchains and Cryptography</p>
        </a>
        <p class="desc">Alessandra Scafuro</p>
        <p class="desc">Page range: 100-130</p>
        <a href="https://doi.org/10.69091/koine/vol-4-P05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-P05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">An Introduction to Electronic Voting</p>
        </a>
        <p class="desc">Oliver Pereira</p>
        <p class="desc">Page range: 131-156</p>
        <a href="https://doi.org/10.69091/koine/vol-4-P06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-4-P06</p>
        </a>
    </div>
</div>
<hr>