
<style>
  .speaker-title {
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    color: #2c3e46;
    margin: 0.3rem 0 0.8rem 0;
  }
    .talk-title {
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    color: #f39c12;
    margin: 0.3rem 0 0.8rem 0;
  }
  .session-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 1.2rem 0 0.6rem 0;
 
  }
  .session-subtitle {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.25rem;
  }
  section {
  scroll-margin-top: 80px; /* spazio per l’header */
}
.time-slot {
  font-size: 1.0rem;           /* più grande */
  color: #2c3e50;              /* colore elegante */
  font-weight: 700;            /* grassetto */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.05em;      /* spaziatura lettere */
  white-space: nowrap;         /* non va a capo */

  
  }
</style>
<h1> PROGRAM </h1>

 <p class="speaker-title" align="center">
  <a href="/assets/images/events/2026/cifris26/cifris26.pdf?v=final-20261002" download="cifris26.pdf">Download the full program</a>
 </p>
 
<div class="text">
  <h2 style="margin-top: 2.5rem; color: #2c3e50; font-size: 1.5rem;">
    <b>October 5th, 2026 <br> Rettorato, Roma Tre University, Via Ostiense 133B, Rome · Aula Magna (Tower A, 2nd Floor)</b>
</h2>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">08:30 - 09:00</p> <h3 class="session-title">Registration and badge </h3></div>
  <p class="speaker-title">The opening session is introduced by Germana Zuffanti (Divisione Comunicazione e Rapporti Istituzionali, ACN) and will be conducted in Italian.</p>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">09:00 - 09:15</p> <h3 class="session-title">Welcome speech</h3> <i>(in italian)</i>
    <ul>
      <li><p class="speaker-title">Prof. Massimiliano Fiorucci, Rettore, Università RomaTre</p></li>
      <li><p class="speaker-title">Amm. Luigi Schinelli, Head of Cryptographic Service, ACN</p></li>
      <li><p class="speaker-title">Prof. Massimiliano Sala, Presidente, De Cifris</p></li>
</ul>
  </div>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">09:15 - 09:30</p><h3 class="session-title">Le attività di De Cifris</h3><i>(in Italian)</i>
    <p class="speaker-title">Marco Pedicini (Direttore Scientifico De Cifris)</p>
  </div>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">09:30 - 09:45</p><h3 class="session-title">Keynote</h3><i>(in Italian)</i>
    <p class="speaker-title">Santo Mirabelli (Polizia Postale)</p>
    <h3 class="session-title">Crittografia: la sfida dell’accesso legittimo ai dati nell’era delle comunicazioni cifrate</h3>
  </div>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">09:45 - 10:15</p> <h3 class="session-title"><b>De Cifris Partners</b></h3><i>(in italian)</i>
    <ul>
      <li><p class="speaker-title">09:45 - 09:50 · Andrea Gelpi - coordinator of De Cifris Partners</p></li>
      <li><p class="speaker-title">09:50 - 09:55 · Francesco Barbaro (BANCOMAT S.p.A.)</p></li>
      <li><p class="speaker-title">09:55 - 10:00 · Federico Lombardi (Conio S.r.l.)</p></li>
      <li><p class="speaker-title">10:00 - 10:05 · Mirko Frighetto (DataKrypto S.r.l.)</p></li>
      <li><p class="speaker-title">10:05 - 10:10 · Massimo Caccia (Random Power S.r.l.)</p></li>
      <li><p class="speaker-title">10:10 - 10:15 · Tiziana Liberati (E4 Computer Engineering S.p.A.)</p></li>
    </ul>
  </div>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">10:15 - 11:00</p> <h3 class="session-title">ACN Panel<span class="session-subtitle">Costruire la filiera crittografica nazionale, dalla ricerca all'industria</span></h3><i>(in italian)</i>
    <ul>
      <li><p class="speaker-title">Moderatore: Roberto CIVINO, Divisione Algoritmi e Applicazioni Crittografiche, ACN</p></li>
      <li><p class="speaker-title">Marco BALDI, Professore, UNIVPM</p></li>
      <li><p class="speaker-title">Francesca GALLI, Segreteria Tecnica, MUR</p></li>
      <li><p class="speaker-title">Marco MANGIULLI, Capo Ricerca e Sviluppo, ARUBA S.p.A.</p></li>
    </ul>
  </div>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">11:00 - 11:30</p>  <p class="speaker-title">Coffee break</p></div>
  <div style="margin-bottom: 1.2rem;">
    <hr>
    <p class="time-slot">11:30 - 13:00</p>
    <h3 class="session-title"><b>I° Scientific Session</b></h3>
    <p class="speaker-title">Session I chair: Roberto La Scala (U. Bari)</p>
    <hr>
    <p class="time-slot">11:30 - 12:00</p>
    <p class="speaker-title">Marco MACCHETTI (Qualcomm Wireless GmbH)</p>
    <h3 class="session-title"><b>The challenges of securing PQC on embedded systems</b></h3>
    
    <p class="time-slot">12:00 - 12:30</p>
    <p class="speaker-title">Christopher BATTARBEE (U. Edinburgh)</p>
    <h3 class="session-title"><b>The rise and fall of semidirect product cryptography in finite groups</b></h3>

    <p class="time-slot">12:30 - 13:00</p>
    <p class="speaker-title">Elena ANDREEVA (TU Wien)</p>
    <h3 class="session-title"><b>Expanding primitives, expanding possibilities in symmetric cryptography</b></h3>

  </div>
  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">13:00 - 14:00</p> <p class="speaker-title">Lunch break</p></div>
  <hr>


  <div style="margin-bottom: 1.2rem;">
    <hr>
    <p class="time-slot">14:00 - 15:30</p> 
    <h3 class="session-title"><b>II° Scientific Session</b></h3>
    <p class="speaker-title">Session II chair: Alessandro Neri (U. Federico II, Napoli)</p>
    <hr>
    <p class="time-slot">14:00 - 14:30</p>
    <p class="speaker-title">Violetta WEGER (TUM)</p>
    <h3 class="session-title"><b>Where does code-based cryptography stand, and what will the future bring?</b></h3>
    
    <p class="time-slot">14:30 - 15:00</p>
    <p class="speaker-title">Léo PERRIN (Inria)</p>
    <h3 class="session-title"><b>The Cambrian Explosion of Symmetric Techniques for Advanced Protocols</b></h3>

    <p class="time-slot">15:00 - 15:30</p>
    <p class="speaker-title">Paola de Perthuis (CWI)</p>
    <h3 class="session-title"><b>Recent advances in module-lattice reduction models</b></h3>
  </div>

  <hr>
  <div style="margin-bottom: 1.2rem;"><p class="time-slot">15:30 - 15:45</p>  <p class="speaker-title">Coffee break</p></div>
  <hr>
  
  <div style="margin-bottom: 1.2rem;">
    <p class="time-slot">15:45 - 19:00</p>
    <h3 class="session-title"><b><a href="/cifris26/workshops" style="color: inherit; text-decoration: none;">Parallel Workshops</a></b></h3>
    <hr>
    <p class="time-slot">15:45 - 17:15</p>
    <p class="speaker-title">First session (TAC starts at 16:15)</p>
    <hr>
    <p class="time-slot">17:15 - 17:30</p>
    <p class="speaker-title">Shared coffee break</p>
    <hr>
    <p class="time-slot">17:30 - 19:00</p>
    <p class="speaker-title">Second session (NT starts at 17:30; TAC until 18:30; NT until 18:55; OPEN until 18:45)</p>
  </div>
  <hr>

</div>
