<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12">
		<p> 
				  CIFRIS23 is an international event, supported and organized by De Cifris,
				  aimed at bringing together researchers in the field of cryptography, practitioners,
				  developers, and users to foster cooperation and exchange techniques, tools, experiences,
				  and ideas. 
			 </p>
			 <p>
				  The first morning is reserved to institutional and industrial stakeholders operating
				  in the field of cryptography and cyber security.
				  The first afternoon and the second morning constitute the scientific session of the
				  event, where scientific talks will take place.
				  The second afternoon will host five related workshops 
				  (as explained in the Call for Workshops).
			 </p>
			 <p>
				  Scientific talks will consist of a selection of:
			 </p>
			 <ul>
				  <li>
						invited talks and
				  </li>    
				  <li>
						contributed talks selected from the submitted 
						papers by the Chairs and the Programme Committee.
				  </li>
			 </ul>
			 <h5> INVITED SPEAKERS </h5>
			 <ul>
				  <li>
						Lilya Budaghyan (University of Bergen - Norway)
				  </li>
				  <li>
						Antoine Joux (Sorbonne Université - France)
				  </li>
				  <li>
						Giovanni Schmid (ICAR-CNR Napoli - Italy)
				  </li>
			 </ul>
			 <h5> ORGANIZER </h5>
			 <p>
				  The “De Componendis Cifris Associazione di Promozione Sociale” (De Cifris) 
				  is a non-profit scientific organization whose purpose is to spread cryptography 
				  in all its aspects, from theoretical foundations, applications to historical evolution 
				  and impact on society, and to facilitate the aggregation of scholars and researchers, 
				  so that from their collaboration project ideas and initiatives of scientific interest 
				  can rise.
			 </p>
			 <h5> ORGANIZING COMMITTEE</h5>
			 <p>
				  CIFRIS23 is organized by:
			 </p>
			 <ul>
				  <li>
						Roberto Civino (University of L’Aquila - Italy)
				  </li>
				  <li>
						Daniele Friolo ("Sapienza" University of Rome - Italy)
				  </li>
				  <li>
						Massimiliano Sala (University of Trento -Italy)
				  </li>
			 </ul>
			 <p>
				  For more info, please contact <a href="mailto:cifris23@decifris.it"> cifris23@decifris.it</a>.
			 </p>
	</div>
</div>