<h2 style="text-align: center;">NTC24 - Number Theory and Cryptography 2024</h2>

<h3>Organizers</h3>
<p>
    <b></b>
    <em> 
        Federico Accossato (PoliTo)
        <br>
        Gessica Alecci (PoliTo)
        <br>
        Danilo Bazzanella (PoliTo)
        <br>
        Laura Capuano (RomaTre)
        <br>
        Giuseppe D’Alconzo (PoliTo)
        <br>
        Simone Dutto (ACN)
        <br>
        Nadir Murru (UniTN)
        <br>
        Giordano Santilli (ACN)
    </em>
</p>
<h3>Description</h3>
<p>
    The workshop aims at exploring the connections between number theory and cryptography with a focus on the most
    challenging topics involved in modern cryptography (from classical public-key algorithms to post-quantum
    cryptography). Particular emphasis will be given to the applications of number theory for developing new
    cryptosystems and methods of cryptanalysis.
</p>
<h3>Program</h3>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room B, 10:00 - 11:20</i>
</p>
<p>
    <b> Invited speaker: </b>
    TBA.
</p>