<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button 
					class="btn btn-outline-info"
					(click)="goTo('home')"
					routerLink="/decifriskoine"
				>
					Home
				</button>
			</li>
			<li>
				<button
					class="btn btn-outline-info"
					(click)="goTo('sezioneScelta')"
					routerLink="articles-and-volumes"
				>
					Articles & Volumes
				</button>
			</li>
			<li>
				<button 
					class="btn btn-outline-info"
					(click)="goTo('sezioneScelta')"
					routerLink="editorial-board"
				>
					Editorial Board
				</button>
			</li>
		</ul>
	</ng-sidebar>

	<div ng-sidebar-content class="container bottomExtra">
		<br id="home">
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12" align="center">
				<h3> DE CIFRIS KOINE </h3>
				<p> Qualche sottotitolo </p>
			</div>
		</div>
		<hr id="sezioneScelta"><!--------------------------------------------->
		<div class="row">
			<div class="col-md-12">
				<router-outlet></router-outlet>
			</div>
		</div>
		<hr><!---------------------------------------------------------------->
		<div class="row">
			<div class="col-md-12" align="center">
				<!--link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
				<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
				<div class="btn-group-justified">
					<button 
						class="btn btn-outline-info"
						(click)="goTo('home')"
						routerLink="./decifriskoine"
					>
						<i class="material-symbols-outlined">home</i> <br> Home 
					</button>
					<button 
						class="btn btn-outline-info"
						(click)="goTo('sezioneScelta')"
						routerLink="./articles-and-volumes">
						<i class="material-symbols-outlined">book_2</i> <br> Articles & Volumes 
					</button>
					<button 
						class="btn btn-outline-info"
						(click)="goTo('sezioneScelta')"
						routerLink="./editorial-board"
					>
						<i class="material-symbols-outlined">groups</i> <br> Editorial Board 
					</button>
				</div>
            </div>
        </div>
    </div>
</ng-sidebar-container>