<p>
  Published by De Cifris Press, {{ theVolume.published }}
</p>
<h1 class="" style="text-align: left !important;">{{ theArticle.title }}</h1>
<p class="">
  @for (author of theArticle.authors; track author) {
    @if ($index !== 0) {
      <span>, </span>
    }
    <span>{{ author.name }}</span>
  }
</p>
<ul id="preamble">
  <li>
    From the journal <a href="/koine" title="Koine">De Cifris Koine</a>.
    In
    <a [title]="theVolume.title"
        href="/koine/{{theVolume.id}}">
      {{ theVolume.title }}</a>.
     </li>
  <li><a class="text-muted" title="doi" href="https://doi.org/{{ theArticle.doi }}">https://doi.org/{{ theArticle.doi }}</a></li>
</ul>
<p id="">
  <a class="btn btn-info" title="pdf" href="{{ theArticle.pdfLink }}">Download article (PDF), pp. {{ theArticle.pageRange }}</a>
  <details>
    <summary>Cite this with BibTeX</summary>
    <code><pre>&#64;misc&lbrace;cryptoeprint:2024/1299,
  author = &lbrace;Ben Fisch and Arthur Lazzaretti and Zeyu Liu and Lei Yang&rbrace;,
  title = &lbrace;Permissionless Verifiable Information Dispersal (Data Availability for Bitcoin Rollups)&rbrace;,
  howpublished = &lbrace;Cryptology &lbrace;ePrint&rbrace; Archive, Paper 2024/1299&rbrace;,
  year = &lbrace;2024&rbrace;,
  url = &lbrace;https://eprint.iacr.org/2024/1299&rbrace;
&rbrace;</pre></code>
  </details>
</p>
<hr />
<p style="white-space: pre-wrap;">{{ theArticle.abstract }}</p>
