<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row">
			<div class="col-md-12 mt-3 mr-1 ml-1">
				<h3>INSEGNI A SCUOLA?</h3>
				<p>La De Cifris offre dei contenuti specifici pensati per chi insegna alle scuole superiori.
					A tal proposito le nostre iniziative ricoprono una vasta gamma di ambiti: consulta l'elenco
					seguente e scegli il ramo che più ti interessa.
				</p>
				<ul>
					<li>
						La De Cifris organizza una serie di iniziative divulgative volte a promuovere la conoscenza
						della crittografia anche in ambiti che esulano dalla ricerca. Consulta la <a routerLink="/iniziativeDivulgative">
						nostra pagina</a> dedicata	e scopri di più a riguardo!
					</li>
					<li>
						La De Cifris si occupa, fra le varie cose, della creazione e gestione di riviste scientifiche 
						di standing internazionale. Scopri di più sul <a routerLink="/attivita">nostro sito</a>.
					</li>
					<li>
						Tra le attività della De Cifris troviamo l'istituzione di seminari a tema crittografico. 
						In particolare abbiamo attivato numerosi cicli, alcuni dei quali a carattere tematico.
						Visita la <a routerLink="/seminariLocali">nostra pagina</a> dedicata ai seminari e trova quelli che più ti interessano!
					</li>
				</ul>
			</div>
		</div>
	</div>
</ng-sidebar-container>