<div id="2018">
	<h2>EDIZIONE 2018</h2>
	<div id="istruzioni">
		<h5>Istruzioni</h5>
		<ul>
			<li>Le Cryptowars2018 si svolgeranno nella settimana 15--21 Ottobre 2018.</li>
			<li>Inizio iscrizione dei team: 1 Ottobre 2018.</li>
			<li>Fine iscrizione dei team: 14 Ottobre 2018.</li>
			<li>Inizio gara: 15 Ottobre 2018 ore 14:00 (Milano).</li>
			<li>Fine gara: 21 Ottobre 2018  ore 14:00 (Milano).</li>
			<li>Premiazione a un evento De Cifris nel 2019 .</li>
			<li> Sono ammessi alla gara team composti da un massimo di 5 studenti.
				Con "studenti" intendiamo iscritti a: laurea, laurea triennale, 
				laurea magistrale, dottorato di ricerca.</li>
			<li> Il team partecipante deve essere identificato con un unico indirizzo e-mail.
				Per iscriversi bisogna inviare una email a cryptowars2018@gmail.com avente 
				come oggetto la parola ISCRIZIONE.
				Nel messaggio di posta elettronica dovranno comparire il nome dei partecipanti, 
				il nome del team e l'indirizzo e-mail di riferimento.</li>
			<li> Dal 15 al 21 Ottobre, i partecipanti alle CRYPTOWARS potranno inviare al 
				più TRE soluzioni al medesimo quesito. Verrà tenuta in considerazione solo 
				l'ultima e-mail ricevuta. </li>
			<li> Le soluzioni devono essere inviate all’indirizzo cryptowars2018@gmail.com 
				nel formato specificato nel file della challenge. Solitamente in formato .TXT </li>
			<li> <a href="../../../../assets/attivita/cryptowars/Cryptowars2018Mat.zip">
				Materiale per <i>Math side</i></a></li>
			<li><a href="../../../../assets/attivita/cryptowars/Cryptowars2018Inf.zip">
				Materiale per <i>Computer Science side</i></a></li>
		</ul>
	</div>
	<div id="news">
		<h5>News</h5>
		<ul>
			<li>[22/10/2018] I risultati delle cryptowars 2018 sono stati pubblicati 
				<a target="_blank" rel="noopener noreferrer" href="http://www.club.di.
				unimi.it/rank_2018.html">qui</a>.</li>
			<li>[21/10/2018] Alle ore 14 abbiamo chiuso la challenge.</li>
			<li>[15/10/2018] Alle ore 14 abbiamo dato inizio all'evento. 
				Le sfide sono state pubblicate. Buon divertimento!</li>
			<li>[15/10/2018] I team iscritti alla competizione sono 17: 
				ACOP18, Codec, cryptogang, CryptoKillers, CryptoTeamUNITN, 
				CryptoTL, CrypTrento, Deep lilla, GangOf4, La compagnia 
				dell'anello, PAP-APP-Heroes, Pings with Things, Povo, 
				pwnthem0le, Syntax Error, Teste Matte, x0R. </li>
			<li>[01/10/2018] Aperte le iscrizioni alla competizione CRYPTOWARS 2018. </li>
		</ul>
	</div>
</div>