<h2>EDIZIONE 2019</h2>
	<div id="istruzioni">
		<h5>Istruzioni</h5>
		<ul>
			<li>Le Cryptowars2019 si svolgeranno nella settimana 21--27 Ottobre 2019.</li>
			<li>Inizio iscrizione dei team: 1 Ottobre 2019.</li>
			<li>Fine iscrizione dei team: 20 Ottobre 2019.</li>
			<li>Inizio gara: 21 Ottobre 2019 ore 14:00 (Milano).</li>
			<li>Fine gara: 27 Ottobre 2019  ore 23:59 (Milano).</li>
			<li>Sono ammessi alla gara team composti da un massimo di 5 studenti.
				Con "studenti" intendiamo iscritti a: laurea, laurea triennale, 
				laurea magistrale, dottorato di ricerca.</li>
			<li>Il team partecipante deve essere identificato con un unico indirizzo e-mail.
				Per iscriversi bisogna inviare una email a cryptowars19@gmail.com 
				avente come oggetto la parola ISCRIZIONE.
				Nel messaggio di posta elettronica dovranno comparire il nome 
				dei partecipanti, il nome del team e 
				l'indirizzo e-mail di riferimento.</li>
			<li>Dal 21 al 27 Ottobre, i partecipanti alle CRYPTOWARS potranno inviare 
				al più TRE soluzioni al medesimo quesito. 
				Verrà tenuta in considerazione solo l'ultima e-mail ricevuta. </li>
			<li> Le soluzioni devono essere inviate all’indirizzo cryptowars19@gmail.com 
				nel formato specificato nel file 
				della challenge. Solitamente in formato .TXT. </li>
			<li> <a href="../../../../assets/attivita/cryptowars/Cryptowars2019.zip">Sfide 2019</a>.</li>
		</ul>
	</div>
	<div id="FAQ">
		<h5>FAQ</h5>
			<ul>
				<li>Devo personalmente implementare del codice per risolvere i quesiti? <br>
					Non è richiesto di inviare il codice usato, quindi una via semplice è quella di 
					cercare del codice già implementato. Resta il fatto che, siccome la gara ha soprattutto 
					lo scopo di portare alla comprensione profonda di problemi crittografici, si consiglia 
					di lavorare in maniera autonoma al proprio codice e alla sua ottimizzazione.<br>
				</li>
				<li>Devo pensare e implementare nuovi attacchi?<br>
					Non necessariamente. Esistono molti attacchi noti in letteratura, quindi cercane uno che 
					ti sembra semplice da capire, implementalo e mandalo in esecuzione!</li>
			</ul>
	</div>
	<div id="news">
		<h5>News</h5>
		<ul>
			<li>[29/10/2019] I risultati delle cryptowars 2019 sono stati 
				pubblicati <a target="_blank" rel="noopener noreferrer" 
				href="http://www.club.di.unimi.it/rank_2019.html">qui</a>.</li>
			<li>[27/10/2019] Ore 23:59, abbiamo chiuso la competizione.</li>
			<li>[21/10/2019] Ore 14, abbiamo dato il via alla competizione.</li>
			<li>[21/10/2019] I team iscritti alla competizione sono 13 + 1. 
				Un team ha partecipato fuori competizione.</li>
			<li>[01/10/2019] Aperte le iscrizioni alla competizione CRYPTOWARS 2019. </li>
		</ul>
	</div>