<ul>
	<li> 
		Il congresso di crittografia  <a [routerLink]="['/cifris24']"> CIFRIS24</a> si terrà a Roma dal 25 al 27 Settembre 2024.
	</li>
	<li>
		La seconda edizione del corso <a [routerLink]="['/trends24']"> De Cifris Trends</a> si terrà da Settembre a Novembre 2024. 
		Questa edizione è intitolata <i> Trends in Cryptographic Protocols </i> e consisterà di 10 lezioni di 30 minuti, tenute su Zoom.
	</li>
	<li>
		Stiamo organizzando il nuovo corso su blockchain e smart contract. Scopri di più a questo <a [routerLink]="['/blockchain-smart-contract']">link</a>.
	</li>
	<li>
		Stiamo organizzando una seconda fruizione dell'edizione 2022 del 
		<a [routerLink]="['/trends22bis']">corso</a> "Post Quantum and Cloud Cryptography".
	</li>
</ul>