<ul>
	<li> 
		Il congresso di crittografia  <a [routerLink]="['/cifris23']"> CIFRIS23</a> si terrà a Roma il 14 e 15 Dicembre 2023.
	</li>
	<li>
		La seconda edizione del corso <a [routerLink]="['/trends23']"> De Cifris Trends </a> si terrà in Ottobre 2023. 
		Questa edizione è intitolata <i> Trends in Cryptographic Protocols </i> e consisterà di 10 lezioni di 30 minuti, tenute su Zoom.
	</li>
	<li>
		Stiamo organizzando il nuovo corso su blockchain e smart contract. Scopri di più a questo <a [routerLink]="['/blockchain-smart-contract']">link</a>.
	</li>
	<li>
		Stiamo organizzando una seconda fruizione dell'edizione 2022 del 
		<a [routerLink]="['/trends22bis']">corso</a> "Post Quantum and Cloud Cryptography".
	</li>
</ul>