<h1>Timeline of our great leaders</h1>
<ul>
    <li>
        <b>Giovanni "Creator"</b>
        <br>
        <i>(Feb. 2021 - Oct. 2023)</i>
        <br>
        The Founder of the Website, Forger of Components and alliances. <br>
        Deified after his disappearance.
    </li>
    <li>
        <b>Daniele "Expugnator"</b>
        <br>
        <i>(Oct. 2023 - Apr. 2024)</i>
        <br>
        Expanded the power of the Website and its tax system.<br>Third TypeScript war: conquered and submitted TypeScript.
    </li>
    <li>
        <b>Leonardo "Restorator"</b>
        <br>
        <i>(Apr. 2024 - )</i>
        <br>
        Restoratio Imperii: reformed the Website to new glory.
    </li>

</ul>
