<div class="iniziativecontainer">
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">CifrisCloud</mat-card-content>
    </mat-card>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">CifrisGroups</mat-card-content>
    </mat-card>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">Coding Theory and Discrete Mathematics</mat-card-content>
    </mat-card>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">Cryptography, protocols and security in digital identity</mat-card-content>
    </mat-card>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">Joint workshop: Banca d'Italia and De Cifris</mat-card-content>
    </mat-card>
    <a href="/cifris24/ntc24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>NTC24</b>
                <br>
                <i style="font-size: small;">
                    Number Theory for Cryptography 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/symcrypt24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>SymCrypt24</b>
                <br>
                <i style="font-size: small;">
                    Symmetric Cryptography and Boolean Functions
                    2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">Topics in Applied Cryptography</mat-card-content>
    </mat-card>
</div>