<h2> Workshops </h2>
<div class="iniziativecontainer">
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">CifrisCloud</mat-card-content>
    </mat-card>
    <a href="/cifris24/codemath24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>CODEMATH24</b>
                <br>
                <i style="font-size: small;">
                    Coding Theory and Discrete Matheamatics 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">Cryptography, protocols and security in digital identity</mat-card-content>
    </mat-card>
    <a href="/cifris24/fcr24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>FCR24</b>
                <br>
                <i style="font-size: small;">
                    Financial Cryptography in Rome 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/qcifris24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>QCifris24</b>
                <br>
                <i style="font-size: small;">
                    Quantum Cifris 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/ntc24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>NTC24</b>
                <br>
                <i style="font-size: small;">
                    Number Theory for Cryptography 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/rapqc24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>RAPQC24</b>
                <br>
                <i style="font-size: small;">
                    Recent Advances in Post-Quantum Cryptography 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/symcrypt24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>SymCrypt24</b>
                <br>
                <i style="font-size: small;">
                    Symmetric Cryptography and Boolean Functions
                    2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/tac24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>TAC24</b>
                <br>
                <i style="font-size: small;">
                    Topics in Applied Cryptography 2024
                </i>
            </mat-card-content>
        </mat-card>
    </a>
</div>