<div class="mt-3">
	<p> Le attività della De Cifris comprendono l'organizzazione di eventi 
		pubblici qualificanti. I nostri eventi pubblici racchiudono sia 
		<a routerLink="/sessioni">sessioni territoriali</a>, 
		sia convegni di diversi gruppi tematici (
		<a routerLink="/cifrisChain" (click)="scegliAttivita('cifrisChain')">Cifris Chain</a>, 
		<a routerLink="/PQCifris" (click)="scegliAttivita('PQCifris')">PQCifris</a>, 
		<a routerLink="/cifrisCloud" (click)="scegliAttivita('cifrisCloud')">Cifris Cloud</a>, 
		<a routerLink="/mathCifris" (click)="scegliAttivita('mathCifris')">Math Cifris</a>).
	</p>
</div>