.iniziative-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px;
    padding-bottom: 5px;
    width: 100%;
}

.schedule-item {
    margin: 10px;
}

a.txtbtn {
    background: var(--cifris_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

a.txtbtn:hover {
    background-color: var(--cifris_orange);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.schedule-date h2 {
    font-size: 33px;
    font-weight: 700;
    display: inline;
    color: white !important;
}

.schedule-date h4 {
    font-size: 14px;
    font-weight: 300;
    display: inline;
    color: white !important;
}

.schedule-period h6 {
    font-size: 16px;
    font-weight: 400;
    display: inline;
    color: white !important;
}

.schedule-period{
    margin-top:0px;
    margin-bottom: 5px;
}