<div class="iniziative-container">
    <div class="schedule-item">
        <a mat-button href="/cifris24/program#25morning" class="txtbtn">
            <div class="schedule-date">
                <h4>Sept.</h4>
                <h2> 25</h2>
                <h4>th</h4>
            </div>
            <div class="schedule-period">
                <h6>10:00</h6>
            </div>
        </a>
    </div>
    <div class="schedule-item">
        <a mat-button href="/cifris24/program#25afternoon" class="txtbtn">
            <div class="schedule-date">
                <h4>Sept.</h4>
                <h2> 25</h2>
                <h4>th</h4>
            </div>
            <div class="schedule-period">
                <h6>14:00</h6>
            </div>
        </a>
    </div>
    <div class="schedule-item">
        <a mat-button href="/cifris24/program#26morning" class="txtbtn">
            <div class="schedule-date">
                <h4>Sept.</h4>
                <h2> 26</h2>
                <h4>th</h4>
            </div>
            <div class="schedule-period">
                <h6>10:00</h6>
            </div>
        </a>
    </div>
    <div class="schedule-item">
        <a mat-button href="/cifris24/program#26afternoon" class="txtbtn">
            <div class="schedule-date">
                <h4>Sept.</h4>
                <h2> 26</h2>
                <h4>th</h4>
            </div>
            <div class="schedule-period">
                <h6>14:00</h6>
            </div>
        </a>
    </div>
    <div class="schedule-item">
        <a mat-button href="/cifris24/program#27morning" class="txtbtn">
            <div class="schedule-date">
                <h4>Sept.</h4>
                <h2> 27</h2>
                <h4>th</h4>
            </div>
            <div class="schedule-period">
                <h6>10:00</h6>
            </div>
        </a>
    </div>
    <div class="schedule-item">
        <a mat-button href="/cifris24/program#27afternoon" class="txtbtn">
            <div class="schedule-date">
                <h4>Sept.</h4>
                <h2> 27</h2>
                <h4>th</h4>
            </div>
            <div class="schedule-period">
                <h6>14:00</h6>
            </div>
        </a>
    </div>
</div>