.iniziative-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px;
    padding-bottom: 5px;
    width: 100%;
}

.schedule-item {
    margin: 5px;
}

a.txtbtn {
    background: var(--cifris_blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: background-color 0.1s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border-radius: 8px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

a.txtbtn:hover {
    background-color: var(--cifris_orange);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.06);
    transition: transform 0.1s ease-in-out;
}

i {
    font-size: 10;
    font-weight: 300;
    scale: 0.3;
}
b {
    font-size: 33px;
    font-weight: 700;
}

div {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    line-height: 1.2;
}

.day {
    padding-left: 5px;
}

.month {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 2px;
    /* Spazio tra il mese e il giorno */
}

.time {
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    /* Spazio tra il giorno e il tempo */
}