<div class="iniziative-container">
    <div class="workshop-item">
        <h3> 27th - Main Hall </h3>
        <a mat-button href="/cifris24/program#fcir24-i" class="txtbtn-workshop">
            FCiR24 I
        </a>
        <a mat-button href="/cifris24/program#fcir24-ii" class="txtbtn-workshop">
            FCiR24 II
        </a>
        <a mat-button href="/cifris24/program#rapqc24" class="txtbtn-workshop">
            RAPQC24
        </a>
    </div>
    <div class="workshop-item">
        <h3> 27th - Room A </h3>
        <a mat-button href="/cifris24/program#tac24-i" class="txtbtn-workshop">
            TAC24 I
        </a>
        <a mat-button href="/cifris24/program#tac24-i" class="txtbtn-workshop">
            TAC24 II
        </a>
        <p class="txtbtn-workshop-empty">
        </p>
    </div>
    <div class="workshop-item">
        <h3> 27th - Room B </h3>
        <a mat-button href="/cifris24/program#ntc24" class="txtbtn-workshop">
            NTC24
        </a>
        <a mat-button href="/cifris24/program#cpsid24" class="txtbtn-workshop">
            CPSID24
        </a>
        <p class="txtbtn-workshop-empty">
        </p>
    </div>
    <div class="workshop-item">
        <h3> 27th - Room C </h3>
        <a mat-button href="/cifris24/program#symcrypt24" class="txtbtn-workshop">
            SymCrypt24
        </a>
        <a mat-button href="/cifris24/program#codemath24" class="txtbtn-workshop">
            CodeMath24
        </a>
        <p class="txtbtn-workshop-empty">
        </p>
    </div>
    <div class="workshop-item">
        <h3> 27th - Room D </h3>
        <a mat-button href="/cifris24/program#qcifris24" class="txtbtn-workshop">
            QCifris24
        </a>
        <a mat-button href="/cifris24/program#cifriscloud24" class="txtbtn-workshop">
            CifrisCloud24
        </a>
        <p class="txtbtn-workshop-empty">
        </p>
    </div>
</div>