.iniziative-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: top;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2px;
    padding-bottom: 10px;
}
a.txtbtn-workshop {
    border: none;
    background: var(--cifris_blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    color: white!important;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-left:20px;
    margin-right: 20px;
}

a.txtbtn-workshop:hover {
    background-color: var(--cifris_orange);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

h3 {
    margin:0;
    padding:0;
}

.workshop-item{
    padding-bottom: 10px;
    width: 140px;
    text-align: center;
}
a.txtbtn-workshop-inactive {
    border: none;
    background: var(--cifris_gray);
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: white!important;
    text-decoration: none;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-left:20px;
    margin-right: 20px;
}
a.txtbtn-workshop-empty {
    border: 1px solid var(--cifris_azure_transparent);
    background: none;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: black!important;
    text-decoration: none;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    margin-left:20px;
    margin-right: 20px;
}
a.txtbtn-workshop-empty:hover {
    background: none;
}