<div class="col-md-12" fxLayout="row" fxLayoutAlign="center" align="center">
	<img class="mainlogo" src="../../assets/images/logos/logo.jpg" alt="Logo De Cifris">
</div>

<h2>CHI SIAMO?</h2>
<p>
	L'associazione di promozione sociale <b>De Componendis Cifris</b>, in
	forma abbreviata <i>De Cifris</i>, si propone di animare la comunità
	crittografica italiana, sia nelle sue componenti accademiche,
	che nelle sue ramificazioni nel mondo del lavoro e dell’impresa.
</p>
<p>
	Tra gli obiettivi, si prefigge di:
</p>
<ol>
	<li>
		Incentivare in Italia lo studio e la ricerca nell'ambito
		della crittografia a livello accademico e applicativo,
		con particolare attenzione alle aree della
		Matematica, dell'Informatica e dell'Ingegneria.
	</li>
	<li>
		Sostenere la realizzazione di qualificati progetti di ricerca che
		richiedano il coinvolgimento e la collaborazione di numerosi
		studiosi appartenenti a discipline anche molto diverse.
	</li>
	<li>
		Divulgare l'uso responsabile della crittografia, favorendo il
		formarsi di una cultura propria e autonoma.
	</li>
	<li>
		Contribuire al rafforzamento della cooperazione internazionale
		in questo settore, in ambito scientifico e
		del suo impiego, anche con principi di solidarietà.
	</li>
</ol>
<p>
	La De Cifris auspica che l'Italia possa sviluppare cifrari robusti e
	flessibili, adatti all'era moderna, e che emergano talenti dedicati alle
	scienze crittografiche. L'associazione intende coinvolgere enti del
	mondo accademico, così come centri di ricerca, aziende, studenti
	universitari, liberi professionisti, e più in generale tutti coloro che
	condividono questa visione.
</p>
<mat-divider></mat-divider>
<h2>INIZIATIVE</h2>
<p>
	Fra le varie iniziative proposte si evidenziano
	<a routerLink="/seminariLocali">
		numerosi seminari</a>, vari
	<a href="https://www.decifris.it/trends">
		corsi</a> per ogni tipo di pubblico,
	<a href="https://www.decifris.it/eventi">
		eventi</a> e molto altro!
	<br>
	I nostri contenuti sono diffusi anche tramite le pagine
	<a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A" target="_blank">YouTube</a> e
	<a href="https://www.linkedin.com/in/de-componendis-cifris-iniziativa-nazionale-8274501a5/"
		target="_blank">LinkedIn</a> dell'associazione.
</p>
<div class="iniziativecontainer">
	<!-- pulsante SEMINARI -->
	<a href="/seminariLocali">
		<button class="imagebtn">
			<div id="imagebtn_container">
				<img src="../../assets/images/icons/seminar.svg" />
				<p class="imagebtn-txt">seminari</p>
			</div>
		</button>
	</a>
	<!-- pulsante CORSI -->
	<a href="https://www.decifris.it/trends">
		<button material-button class="imagebtn">
			<div id="imagebtn_container">
				<img src="../../assets/images/icons/course.svg" />
				<p class="imagebtn-txt">corsi</p>
			</div>
		</button>
	</a>
	<!-- pulsante EVENTI -->
	<a href="https://www.decifris.it/eventi">
		<button material-button class="imagebtn">
			<div id="imagebtn_container">
				<img src="../../assets/images/icons/event.svg" />
				<p class="imagebtn-txt">eventi</p>
			</div>
		</button>
	</a>
	<!-- pulsante PUBLISHING -->
	<a href='/koine/home' routerLinkActive="active">
		<button material-button class="imagebtn">
			<div id="imagebtn_container">
				<img src="../../assets/images/icons/publishing.svg" />
				<p class="imagebtn-txt">publishing</p>
			</div>
		</button>
	</a>
	<!-- pulsante LINKEDIN -->
	<a href="https://www.linkedin.com/in/
		de-componendis-cifris-iniziativa-nazionale-8274501a5/">
		<button material-button class="imagebtn">
			<div id="imagebtn_container">
				<img src="../../assets/images/icons/linkedin_2.svg" />
				<p class="imagebtn-txt">LinkedIn</p>
			</div>
		</button>
	</a>
	<!-- pulsante YOUTUBE -->
	<a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A">
		<button material-button class="imagebtn">
			<div id="imagebtn_container">
				<img src="../../assets/images/icons/youtube.svg" />
				<p class="imagebtn-txt">YouTube</p>
			</div>
		</button>
	</a>
</div>
<mat-divider></mat-divider>
<app-home-welcome></app-home-welcome>
<h2>EVENTI IN ARRIVO</h2>
<!-- <app-eventi-futuri id="eventi"></app-eventi-futuri> -->
<mat-divider></mat-divider>
<!-- <app-news id="news"></app-news> -->