a {
	cursor: pointer;
}




/* Sidebar buttons */
button {
	background: none;
	border: none;
	outline: none;
	color: var(--cifris_blue);
	width: 200px;
	text-align: left;
}

img.mainlogo {
	width: 40%;
	border-radius: 50%;
}