<div class="container pb-3 mb-3">
	<div class="row my-3 py-3">
		<div class="col-md-12">
			<h5>A chi è rivolta la competizione</h5>
			<p>
				La competizione è aperta a chiunque: da studenti a professionisti, di qualsiasi età.
			</p>
			<h5>Quando e dove si svolge la competizione</h5>
			<p>
				La competizione è puramente virtuale. Le data di inizio è fissata per Lunedì 29 Marzo 2021 alle ore 14:00, 
				mentre la deadline per le consegne è fissata per Mercoledì 30 Giugno 2021 alle ore 23:59.</p>
			<h5>Come e quando iscriversi</h5>
			<p>
				È possibile iscriversi semplicemente mandando una mail all'indirizzo di posta 
				<a href="mailto:bitcoinraiders@decifris.it">bitcoinraiders@decifris.it</a>, specificando rispettivamente 
				i membri del team, il nome del team, e una mail di riferimento.
				Le registrazioni per prendere parte alla gara sono aperte fino all'11 Giugno alle ore 23:59.</p>
			<h5>Regole</h5>
			<p>
				L'obiettivo della gara è riuscire a ricostruire un approssimazione della coppia di chiavi (pubblica e 
				privata)	associata all'indirizzo Bitcoin <i>1CounterpartyXXXXXXXXXXXXXXXUWLpVr</i>. Tale indirizzo 
				risulta a tutti gli effetti un pozzo nella rete Bitcoin, e pertanto 
				(non avendo nessuna transazione in uscita) anche la sua chiave pubblica risulta ancora sconosciuta.
				Il sistema di valutazione è progressivo e valuta tanto meglio una soluzione quanto questa,
				una volta derivato il corrispettivo indirizzo bitcoin, lo rende simile a quello sopra menzionato.
				Le soluzioni vanno inviate per mail all'indirizzo 
				<a href="mailto:bitcoinraiders@decifris.it">bitcoinraiders@decifris.it</a>.
				Non ci sono limiti di consegna: potete inviare quante soluzioni volete.</p>
			<h5>Giuria e assegnazione punteggio</h5>
			<p>
				Il punteggio è attribuito confrontando l'indirizzo derivato dalla coppia di chiavi che consegnate,
				e l'indirizzo <i>1CounterpartyXXXXXXXXXXXXXXXUWLpVr</i>. In particolare
				il confronto è fatto carattere per carattere, e verrà assegnato 1 punto per ogni corrispondenza 
				fra i due indirizzi.	
				Verranno prese in considerazine unicamente le risposte che presentano almeno 7 corrispondenze con
				l'indirizzo di cui sopra.
				Segue da sè che i punti vanno da 7 a 34. 
				In caso di parità di punteggio sarà premiata la squadra che consegna prima.
				La giuria è composta dai membri del laboratorio di crittografia industriale del dipartimento
				di Matematica di Trento (CRYPTOLAB), la quale riceverà e valuterà le consegne di ogni
				singolo gruppo partecipante alla gara, calcolando in modo automatico il punteggio associato.</p>
			<h5>Avanzamento e avviso dei vincitori</h5>
			<p>
				La giuria si riserva la possibilità di aggiornare i partecipanti sull'andamento della gara
				tramite la rispettiva mail depositata a nome della squadra. I vincitori saranno proclamati
				la settimana successiva al termine della gara, dopo un ri-controllo delle soluzioni inviate da
				ogni gruppo partecipante.</p>
			<h5>Che cosa si vince</h5>
			<p>
				La <i>gloria</i>, se riesci a ricostruire buona parte della chiave, e poco più di 2130 bitcoin 
				se ricostruisci l'intera chiave! Con la valuta attuale sono più di 100 milioni di euro! 
				Inoltre abbiamo verificato che tutte le transazioni presenti 
				nella blockchain verso questo indirizzo sono del tipo P2PKH, e pertanto sarebbero effettivamente 
				spendibili.
			</p>
		</div>
	</div>
</div>