<div class="px-2">
	<br>
	<h4 align="center">BLOCKCHAIN E SMART CONTRACT:</h4>
	<h5 align="center">teoria, programmazione e applicazioni</h5>
	<br>
	<h5>INFORMAZIONI GENERALI</h5>
	
	<h6>Organizzatori</h6>
	<p>Massimiliano Sala, Andrea Gangemi e Christopher Spennato.</p>

	<h6>Lingua</h6>
	<p>Italiano</p>

	<h6>Costi</h6>
	<p>Il corso è gratuito.</p>

	<h6>Modalità di iscrizione</h6>
	<p>L’esame può essere sostenuto esclusivamente da soci De Cifris. Le indicazioni per
		diventare socio sono disponibili alla seguente <a href="https://www.decifris.it/associarsi">pagina</a>. L’iscrizione al corso potrà essere effettuata dal <b>4 settembre al 2 ottobre 2023</b>, inviando una mail all’indirizzo <a href="mailto:y2y@decifris.it">y2y@decifris.it</a>.</p>
	
		<h6>Struttura del corso</h6>
		<p>
			Il corso è diviso in 5 parti, ognuna composta da due lezioni online di due ore ciascuna. Le lezioni si svolgeranno ogni giovedì dalle 16 alle 18 dal 12 ottobre al 7 dicembre, mentre l'ultima lezione si svolgerà lunedì 11 dicembre, sempre dalle 16 alle 18.
		</p>

		<h6>PROGRAMMA DEL CORSO</h6>
		<ul>
			<li>12/10 e 19/10: Introduzione alla blockchain</li>
			<li>26/10 e 2/11 La blockchain di Bitcoin e i wallet
			<li>9/11 e 16/11 Introduzione alla blockchain Ethereum, oracoli e applicazioni</li>
			<li>23/11 e 30/11 Utilizzo dei wallet e programmazione con Solidity</li>
			<li>7/12 e 11/12 Applicazioni della blockchain</li>
		</ul>
	
		<h6>Esame e certificato</h6>
		<p>
			Alla fine del corso è possibile sostenere un esame orale online dopo il quale viene rilasciato un attestato di partecipazione al corso.
		</p>

		<h6>Contatti</h6>
		<p>Per qualsiasi domanda inviare una mail a <a href="mailto:y2y@decifris.it">y2y@decifris.it</a>.</p>

		<br>
</div>