

/* Popup container */
.popup {
	position: relative;
	cursor: pointer;
	color: #0066CC;
	width: 100%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 100%;
    transform: translateY(-50%);
	
	width: 700%;
	padding: 10px;
	margin: 5px;
	
	background-color: #555;
	border-radius: 6px;
	color: #fff;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}