<style>
    section {
  scroll-margin-top: 100px; /* spazio per l’header */
}
  </style>

<h1>Workshops</h1>
<p>
  Workshops will take place on the afternoon of October 5th, 2026. There is a shared coffee break from 17:15 to 17:30. </p>
  
<h3 class="session-title"><b>Permanent Workshops</b></h3>
  <ul>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#TAC">Topics in Applied Cryptography</a></p></li>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#NTC">Number Theory & Cryptography</a></p></li>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#RAP">Recent Advances in Post-Quantum Cryptography</a></p></li>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#SCC">Symmetric and Code-Based Cryptography</a></p></li>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#OW">Open Workshop</a></p></li>
  </ul>
   <hr>

<section id="TAC"></section>
<h2>TOPICS IN APPLIED CRYPTOGRAPHY (TAC)</h2>
<b>Chair:</b> Riccardo Longo, Fondazione Bruno Kessler <br>
<b>Room:</b> Hall C (Tower C, hall) <br>
<b>Time:</b> 16:15 - 18:30 <br>
<b>Organizing Committee:</b>
<ul>
  <li>Veronica Cristiano, Telsy</li>
  <li>Marco Pedicini, Roma Tre University</li>
  <li>Silvio Ranise, Fondazione Bruno Kessler and University of Trento</li>
  <li>Alessandro Tomasi, Fondazione Bruno Kessler</li>
  <li>Stefano Berlato, Fondazione Bruno Kessler</li>
  <li>Chiara Spadafora, Swiss Post</li>
</ul>
<b>Local chair:</b> Silvia Onofri, Scuola Normale Superiore <br>
<b>Program:</b>
<ul>
  <li>16:15 - 16:45 · Andrea Gangemi (ShunyaXifra) — On delegation of verifiable presentations from mdoc and BBS credentials</li>
  <li>16:45 - 17:15 · Simone Dutto (ACN) — The cost of quantum resistance: comparing classical and post-quantum cryptography</li>
  <li>17:30 - 18:00 · Alessandro Barenghi (PoliMi) — Tough cookies in the PQC migration: where current standards will have a hard time chewing</li>
  <li>18:00 - 18:30 · Alessandra Dolmeta (PoliTo) — Beyond the algorithm: Hardware/Software Design for post-quantum cryptography</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Applications of cryptography, including performance evaluations, attacks and vulnerabilities, hardware and IoT</li>
  <li>Privacy enhancing cryptography</li>
  <li>Homomorphic encryption</li>
  <li>Secure multi-party computation</li>
  <li>Quantum key distrbution and quantum-safe cryptography</li>
</ul>
<br> <br>
For further information see the <a href="https://aleph.fbk.eu/events/TAC2026">TAC2026 webpage</a>.
<br>
<br>
<hr>

<section id="NTC"></section>
<h2>NUMBER THEORY AND CRYPTOGRAPHY</h2>
<b>Room:</b> Aula 5, DAMS, Via Ostiense 139 (raised ground floor) <br>
<b>Time:</b> 17:30 - 18:55 <br>
<b>Organizing Committee:</b>
<ul>
  <li>Andrea Gangemi, ShunyaXifra</li>
  <li>Pietro Mercuri, U. Trento</li>
</ul>
<b>Program:</b>
<ul>
  <li>17:30 - 18:10 · Daan van Gent (U. Leiden) — Attacks on module lattices using (Galois) symmetries</li>
  <li>18:10 - 18:25 · Alessandro Cobbe (UniBw München) — The Rabin cryptosystem over number fields</li>
  <li>18:25 - 18:40 · Nadir Murru (U. Trento) — Norms and Embeddings in Fully Homomorphic Encryption</li>
  <li>18:40 - 18:55 · Francesco Sica (FAU) — Improvements to multi-scalar multiplication for zero-knowledge arguments</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Elliptic Curves</li>
  <li>Factorization Methods</li>
  <li>Isogenies</li>
  <li>Primality tests</li>
  <li>Pseudorandom number generators</li>
</ul>
<b>Invited speaker:</b> Daan van Gent (Leiden University)
<br>
<b>Speakers: </b> Nadir Murru (U. Trento), Alessandro Cobbe (UniBw München), Francesco Sica (FAU)
<br>
<br>
<hr>
<section id="RAP"></section>
<h2>ReAdPQC26 - Recent Advances in Post-Quantum Cryptography 2026</h2>
<b>Room:</b> Aula Magna (Tower A, 2nd Floor) <br>
<b>Time:</b> 15:45 - 19:00 <br>
<b>Organizing Committee:</b>
  <ul>
    <li>Marco Baldi, Marche Polytechnic University </li>
    <li>Alessio Caminata, University of Genoa</li>
    <li>Annamaria Iezzi, Université Grenoble Alpes</li>
    <li>Alessio Meneghetti, University of Bari, Italy</li>
    <li>Edoardo Persichetti, Florida Atlantic University</li>
    <li>Federico Pintore, University of Trento, Italy</li>
  </ul>
  <b>Program:</b>
  <ul>
    <li>15:45 - 16:30 · Ilaria Zappatore (U. Limoges) — Decoding Gabidulin codes and their generalisations with application to constant-time RQC</li>
    <li>16:30 - 17:15 · Guido Lido (U. Roma Tor Vergata) — A generalisation of SQISign</li>
    <li>17:30 - 18:15 · Laura Mattiuz (UNIVPM) — On the hardness of finding permutation automorphisms of linear codes</li>
    <li>18:15 - 19:00 · Edoardo Signorini (European Commission JRC) — Efficient straight-line extractable NIZKPs for cryptographic group actions</li>
  </ul>
  <b>Topics:</b>
  <ul>
    <li>Multivariate cryptography</li>
    <li>Code-based cryptography</li>
    <li>Hash-based cryptography</li>
    <li>Lattice-based cryptography</li>
    <li>Isogeny-based cryptography</li>
  </ul>
  

  <!-- For further information see our <a href="/cifris25/ReAdPQC25">webpage</a> -->

  <br><br><hr>
<section id="SCC"></section>
<h2> SYMMETRIC AND CODE-BASED CRYPTOGRAPHY </h2>
<b>Room:</b> Aula 2 (Building D, Piazza Telematica, 1st floor) <br>
<b>Time:</b> 15:45 - 19:00 <br>
<b>Organizing Committee:</b>
<ul>
  <li>Marco Calderini, Università di Trento</li>
  <li>Roberto La Scala, Università di Bari </li>
  <li>Ferdinando Zullo, Università della Campania</li>
  
</ul>
<b>Program:</b>
<ul>
  <li>15:45 - 16:30 · André Schrottenloher (Inria Rennes) — Recent advances in quantum algorithms for cryptanalysis</li>
  <li>16:30 - 17:15 · Valentino Smaldore (U. Padova) — Three-weight rank-metric codes and regular fat linear sets</li>
  <li>17:30 - 18:15 · Emanuele Bellini (TII) — Automated cryptanalysis in symmetric cryptography: CLAASP features and tool comparison</li>
  <li>18:15 - 19:00 · Roberto Civino (ACN) — Circle-linear cryptanalysis: Bibrace characters and weak-key linear distinguishers for CRAFT</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Boolean Functions</li>
  <li>Symmetric cryptography</li>
  <li>Coding Theory</li>
  <li>Discrete Mathematics</li>
</ul>

<hr>

<br>

<section id="OW"></section>
<h2>OPEN WORKSHOP</h2>
<b>Room:</b> Aula 3bis, DAMS, Via Ostiense 139 (raised ground floor) <br>
<b>Time:</b> 15:45 - 18:45 <br>
<b>Chair:</b> Massimo Caccia (Random Power) <br>
<b>Program:</b>
<ul>
  <li>15:45 - 16:05 · Silvia Onofri (Scuola Normale Superiore, Pisa) — Quantum Private Queries in Entanglement Routing Protocols</li>
  <li>16:05 - 16:25 · Gabriele Radici (U. Trento) — Binary quadratic systems and their relation to complexity theory</li>
  <li>16:25 - 16:45 · Leonardo Errati (PoliTo) — Canonical liftings: beyond signature compression</li>
  <li>16:45 - 17:00 · Ester Diago et al. (U. Trento) — A blockchain-based quiz game</li>
  <li>17:15 - 17:30 · Coffee break</li>
  <li>17:30 - 17:50 · Tiziana Liberati (E4 Computer Engineering) — GPU acceleration of Learning With Errors KEMs using OpenACC for post-quantum cryptography</li>
  <li>17:50 - 18:10 · Aurora Pistocchio et al. (U. Trento) — Quantum risks in public blockchains: exposure, readiness, and migration strategies</li>
  <li>18:10 - 18:30 · Lorenzo Viganò (U. Trento) — Sparkle+ and its security claims</li>
  <li>18:30 - 18:45 · Edoardo Barbieri et al. (U. Trento) — Scalable and verifiable off-chain gaming tournaments on the XRP Ledger via Zero-knowledge proofs</li>
</ul>
<b>Topics:</b>
<p>Anything related to cryptography, including:</p>
<ul>
  <li>History of cryptography</li>
  <li>Applications to space</li>
  <li>Applications to IoT</li>
  <li>Differential privacy</li>
  <li>AI on attack and on defence</li>
  <li>Side channel attacks</li>
  <li>Cryptoagility and post-quantum migration</li>
</ul>
<hr>
