<style>
    section {
  scroll-margin-top: 100px; /* spazio per l’header */
}
  </style>

<h1>Workshops</h1>
<p>
  Workshops will take place on the afternoon of October 5th, 2026. </p>
  
<h3 class="session-title"><b>Permanent Workshops</b></h3>
  <ul>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#TAC">Topics in Applied Cryptography</a></p>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#NTC">Number Theory & Cryptography</a></p>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#RAP">Recent Advances in Post-Quantum Cryptography</a></p>
    <li> <p class="speaker-title"><a href="/cifris26/workshops/#SCC">Symmetric Cryptography & Coding Theory</a></p>
    <li> <p class="speaker-title">Open Workshop</p>
  </ul>
   <hr>

<section id="TAC"></section>
<h2>TOPICS IN APPLIED CRYPTOGRAPHY (TAC)</h2>
<b>Chair:</b> Riccardo Longo, Fondazione Bruno Kessler <br>
<b>Organizing Committee:</b>
<ul>
  <li>Chiara Spadafora, SwissPost</li>
  <li>Silvia Onofri, SNS</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Applications of cryptography, including performance evaluations, attacks and vulnerabilities, hardware and IoT</li>
  <li>Privacy enhancing cryptography</li>
  <li>Homomorphic encryption</li>
  <li>Secure multi-party computation</li>
  <li>Quantum key distrbution and quantum-safe cryptography</li>
</ul>
<br> <br>
<!-- For further information see our <a href="https://aleph.fbk.eu/events/TAC2025/">webpage</a> --> 
<br>
<br>
<hr>

<section id="NTC"></section>
<h2>NUMBER THEORY AND CRYPTOGRAPHY</h2>
<b>Organizing Committee:</b>
<ul>
  <li>Andrea Gangemi, ShunyaXifra</li>
  <li>Pietro Mercuri, Univ. of Palermo</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Elliptic Curves</li>
  <li>Factorization Methods</li>
  <li>Isogenies</li>
  <li>Primality tests</li>
  <li>Pseudorandom number generators</li>
</ul>
<b>Speakers: </b> Nadir Murru (UNITN), Alessandro Cobbe (Rohde & Schwarz), Francesco Sica (Florida Atlantic University)
<br>
<br>
<hr>
<section id="RAP"></section>
<h2>ReAdPQC26 - Recent Advances in Post-Quantum Cryptography 2026</h2>
<b>Organizing Committee:</b>
  <ul>
    <li>Marco Baldi, Marche Polytechnic University </li>
    <li>Alessio Caminata, University of Genoa</li>
    <li>Annamaria Iezzi, Université Grenoble Alpes</li>
    <li>Alessio Meneghetti, University of Bari, Italy</li>
    <li>Edoardo Persichetti, Florida Atlantic University</li>
    <li>Federico Pintore, University of Trento, Italy</li>
  </ul>
  <b>Topics:</b>
  <ul>
    <li>Multivariate cryptography</li>
    <li>Code-based cryptography</li>
    <li>Hash-based cryptography</li>
    <li>Lattice-based cryptography</li>
    <li>Isogeny-based cryptography</li>
  </ul>
  

  <!-- For further information see our <a href="/cifris25/ReAdPQC25">webpage</a> -->

  <br><br><hr>
<section id="SCC"></section>
<h2> SYMMETRIC CRYPTOGRAPHY AND CODING THEORY </h2>
<b>Organizing Committee:</b>
<ul>
  <li>Marco Calderini, Università di Trento</li>
  <li>Roberto La Scala, Università di Bari </li>
  <li>Ferdinando Zullo, Università della Campania</li>
  
</ul>
<b>Topics:</b>
<ul>
  <li>Boolean Functions</li>
  <li>Symmetric cryptography</li>
  <li>Coding Theory</li>
  <li>Discrete Mathematics</li>
</ul>

<hr>

<br>

<section id="OW"></section>
<h2>OPEN WORKSHOP</h2>
<b>Organizing Committee:</b>
<ul>
  <li>Massimo Caccia (Univ. of Insubria)</li>
</ul>
<hr>


