<h1 style="text-align: center;">FCR24 - Financial Cryptography in Rome 2024</h1>
<p>
    Joint workshop: Banca d'Italia and De Componendis Cifris.
</p>
<h2>Organizers</h2>
<p>
    <b></b>
    <em> 
        Michela Iezzi (Banca d'Italia, Italy)
        <br>
        Massimiliano Sala (De Componendis Cifris, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    TBA
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Main hall, 10:00 - 13:00</i>
</p>
<p>
    <b>Invited speakers:</b> 
    <br>
    Marie Beth van Egmond, <i>Netherlands Organisation for Applied Scientific Research (Nethernalds)</i>
    <br>
    Carsten Maple, <i>Graz University of Technology	(Austria)</i> 
    <br>
    Christian Rechberger, <i>University of Warwick (UK)</i> 
</p>