<h2 style="text-align: center;">FCR24 - Financial Cryptography in Rome 2024</h2>
<p>
    Joint workshop: Banca d'Italia and De Componendis Cifris.
</p>
<h3>Organizers</h3>
<p>
    <b></b>
    <em> 
        Michela Iezzi (Banca d'Italia, Italy)
        <br>
        Massimiliano Sala (De Componendis Cifris, Italy)
    </em>
</p>
<h3>Description</h3>
<p>
    TBA
</p>
<h3>Program</h3>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Main hall, 10:00 - 11:20 and 11:40 - 13:00</i>
</p>
<p>
    <b> Invited speaker: </b>
    TBA.
</p>