<h2>2019 EDITION</h2>
	<div id="istruzioni">
		<h3>Instructions</h3>
		<ul>
			<li>Cryptowars2019 takes place in 21--27 October 2019.</li>
			<li>Team registration starts: 1 October 2019.</li>
			<li>Registration deadline: 20 October 2019.</li>
			<li>Competition: 21 October 2019, 14:00 (Milan).</li>
			<li>End of the competition: 27 October 2019, 23:59 (Milan).</li>
			<li>Teams of a maximum of 5 students are admitted to the competition. With "students"
				we mean students enrolled in: undergraduate, three-year degree, master's 
				degree and PhD.</li>
			<li>The participating team must be identified with a single email address. For
				subscribe you must send an email to cryptowarsdecifris2020@gmail.com, having as
				subject the word REGISTRATION. There must appear in the e-mail message
				the name of the participants, the University of origin of the individuals, the name of the team
				and the reference e-mail address.</li>
			<li>From 21 to 27 October, CRYPTOWARS participants can send as many as THREE
				solutions to the same question. Only the last e-mail received is considered. </li>
			<li> The solutions must be sent to cryptowars19@gmail.com in the format specified in the file
				of the challenge. Usually in .TXT format.
			</li>
			<li> <a href="../../../../assets/attivita/cryptowars/Cryptowars2019.zip">2019 Challenge</a>.</li>
		</ul>
	</div>
	<div id="FAQ">
		<h3>FAQ</h3>
			<ul>
				<li>Do I have to personally implement some code to solve the questions? <br>
					It is not required to send the used code, so an easy way is to
					look for some code already implemented. The fact remains that, as the race has above all
					meant to lead to deep understanding of cryptographic problems, it is advised
					to work independently on their own code and its optimization. <br>
				</li>
				<li>Do I need to think about and implement new attacks?<br>
					Not necessarily. There are many known attacks in the literature, so look for one that
					it seems easy to understand, implement it and get it running!
				</li>
			</ul>
	</div>
	<div id="news">
		<h3>News</h3>
		<ul>
			<li>[29/10/2019] The results of the cryptowars have been published
				<a target="_blank" rel="noopener noreferrer" 
				href="http://www.club.di.unimi.it/rank_2019.html">here</a>.</li>
			<li>[27/10/2019] 23:59, we closed the competition.</li>
			<li>[21/10/2019] 14:00, we started the competition.</li>
			<li>[21/10/2019] The teams registered for the competition are 13 + 1.
				A team participated out of competition.</li>
			<li>[01/10/2019] Registration for the CRYPTOWARS 2019 competition is open. </li>
		</ul>
	</div>