<h2>THE VENUE</h2>
<h3>Main conference and workshops</h3>
<p> Our main venue for both the main conference and workshops is Banca D'Italia's reception hall <a
        href="https://collezionedarte.bancaditalia.it/-/centro-donato-menichella-ingresso-salone-di-rappresentanza">Centro
        Donato Menichella</a> (Largo Guido Carli 1, 00044 Frascati RM).</p>
<p>
    <img src="../../../../../../assets/images/events/2024/cifris24/auditorium_cifris24.jpeg"
        style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
    <img src=".../../../../../../assets/images/events/2024/cifris24/foyer_cifris24.jpeg"
        style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
</p>
<h3>Social dinner</h3>
The location is currently TBA.
<hr>
<h3 align="center">HOW TO ARRIVE</h3>
<p> We provide a free shuttle service to and from the venue during the event (Sept. 25th, 26th, 27th). <br> <br>
    Shuttles will depart/arrive near the train station "Roma Termini" (Via Cavour 15, in front of <i>Hotel
        Mediterraneo</i>). Both this location
    and
    timeslots are subject to change, precise details will be provided at a later date. <br> The trip will last
    between 30 and 60 minutes, depending on traffic conditions.
</p>
<h4> From Rome to the Venue </h4>
<table>
    <tr>
        <th>Shuttle: </th>
        <th>I</th>
        <th>II</th>
        <th>III</th>
        <th>IV</th>
    </tr>
    <tr>
        <td class="special">departure: Via Cavour 15 (Roma Termini)</td>
        <td class="highlight">8:30</td>
        <td class="highlight">9:00</td>
        <td class="highlight">12:30</td>
        <td class="highlight">12:30</td>
    </tr>
</table>
<h4> From the Venue to Rome</h4>
<table>
    <tr>
        <th>Shuttle: </th>
        <th>I</th>
        <th>II</th>
        <th>III</th>
        <th>IV</th>
    </tr>
    <tr>
        <td class="special">departure: Centro Menichella</td>
        <td class="highlight">14:00</td>
        <td class="highlight">14:30</td>
        <td class="highlight">17:00</td>
        <td class="highlight">17:00</td>
    </tr>
</table>