<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->
	<ul class="noIndent" align="left">
		<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
		<li style="display:none">
			<button autofocus="autofocus"></button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('eventi')">
				Eventi
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('recenti')">
				Seminari Recenti
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('prossimi')">
				Prossimi Seminari
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('passati')">
				Seminari Passati
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('video')">
				Video
			</button>
		</li>
	</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra"> 
		<br>
		<div class="mt-3">
			<div class="row">
				<div class="col-md-12">
					<h3>DE CIFRIS ERUDITORUM</h3>
					<p> Tra le attività della De Cifris troviamo l'iniziativa De Cifris Eruditorum, 
						che si prefigge di organizzare seminari su temi di ampia portata e 
						cultura generale, come ad esempio l’interazione della crittografia con 
						la Società, gli aspetti Legali e Giuridici, e così via. Eruditorum si 
						occupa di politica, diritto e impatto culturale della crittografia.
					</p>
					<h5>Comitato organizzatore</h5>
					<ul>
						<li> Andrea Monti, Università degli Studi Gabriele D’Annunzio di Chieti;</li>
						<li> Antonino Alì, Università di Trento;</li>
						<li> Massimiliano Sala, Università di Trento;</li>
					</ul> 
					Per aderire all'iniziativa contattare <a href="mailto:eruditorum@decifris.
					it">eruditorum@decifris.it</a>.
					I coordinatori dell'iniziativa sono : Antonino Alì 
					(<a href="mailto:antonino.ali@unitn.it">antonino.ali@unitn.it</a>) e Andrea 
					Monti (<a href="amonti@unich.it">amonti@unich.it</a>).
				</div>
			</div>
			<hr id="eventi">
			<div class="row">
				<div class="col-md-12">
					<h4>EVENTI</h4>
					<p>Gli eventi proposti verranno mostrati in questa sezione.</p>
				</div>
			</div>

			<hr id="recenti">
			<div class="row">
				<div class="col-md-12">
					<h4>SEMINARI RECENTI</h4>
					<p>I seminari proposti verranno mostrati in questa sezione.</p>
					<!-- <ul>
						<li>
							<b style="color: blue;">8 Aprile 2021</b>
							<ul>
								<li>
									<b>Emmanuela Orsini, </b> -- COSIC, KU Leuven <br>
									<i>"Post-quantum secure oblivious transfer"</i>.<br>
									<a href="../../../assets/attivita/gruppi/PQCifris/OrsiniSlide.pdf">Slide</a>
									<br>
								</li>
							</ul>
						</li>
					</ul> -->
				</div>
			</div>

			<hr id="prossimi">
			<h4>PROSSIMI SEMINARI</h4>
			<p>I seminari proposti verranno mostrati in questa sezione.</p>
			<ul>
				<!-- <li> 
					<b>Gennaio 2022</b>
					<ul>
						<li>
							Antonino Alì (Università di Trento), 
							Andrea Monti (Università degli Studi Gabriele D'Annunzio di Chieti) <br>
							<i>"Chi ha paura della crittografia"</i><br>
							<br>
						</li>
					</ul>
				</li> -->
				<li>
					<b> 25 Gennaio 2022</b>
					<ul>
						<li>
							<b>Antonino Alì</b> -- Università di Trento,
							<b>Andrea Monti</b> -- Università di Chieti-Pescara <br>
							<i>"Chi ha paura della crittografia?"</i><br>
							<a href="../../../../assets/attivita/seminariLocali/deCifris
								Eruditorum/Monti.Ali.docx.pdf">Locandina</a> -- 
							<a href="../../../assets/attivita/seminariLocali/deCifris
								Eruditorum/AntoninoSlide.key.pdf">Slide</a>
						</li>
					</ul>
				</li>
			</ul>
			<hr id="passati">
			<h4>SEMINARI PASSATI</h4>
			<p>I seminari proposti verranno mostrati in questa sezione.</p>

			<hr id="video">
			<div class="row">
				<div class="col-md-12">
					<h4>VIDEO</h4>
					<p>Disponibili a breve!</p>
					<!-- <p>I video di crittografia Post-Quantum disponibili sul nostro <a href="https://www.youtube.com/watch?v
						=c16aoAi-7Bo&list=PLu4yxTVzRRMU93T5hf2mKtVINipn5O69F">canale YouTube.</a></p> -->
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>