<div class="iniziativecontainer">
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">
            <p class="smaller">
                CifrisCloud
            </p>
        </mat-card-content>
    </mat-card>
    <a href="/cifris24/codemath24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>CODEMATH24</b>
                <br>
                <i class="smaller">
                    Coding Theory and Discrete Matheamatics
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <mat-card mat-button class="inactive-txtbtn">
        <mat-card-content class="txtbtn-txt">
            <p class="smaller">
                Cryptography, protocols and digital identity
            </p>
        </mat-card-content>
    </mat-card>
    <a href="/cifris24/fcr24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>FCR24</b>
                <br>
                <i class="smaller">
                    Financial Cryptography <br> in Rome
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/qcifris24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>QCifris24</b>
                <br>
                <i class="smaller">
                    Quantum Cifris
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/ntc24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>NTC24</b>
                <br>
                <i class="smaller">
                    Number Theory <br> for Cryptography
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/rapqc24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>RAPQC24</b>
                <br>
                <i class="smaller">
                    Recent Advances in Post Quantum Cryptography
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/symcrypt24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>SymCrypt24</b>
                <br>
                <i class="smaller">
                    Symmetric Cryptography, Boolean Functions
                </i>
            </mat-card-content>
        </mat-card>
    </a>
    <a href="/cifris24/tac24">
        <mat-card mat-button class="txtbtn">
            <mat-card-content class="txtbtn-txt">
                <b>TAC24</b>
                <br>
                <i class="smaller">
                    Topics in Applied Cryptography
                </i>
            </mat-card-content>
        </mat-card>
    </a>
</div>