<div class="cards">
	<!-- Congresso CIFRIS24 -->
	<mat-card class="card" [routerLink]="'/ixh24'">
		<img mat-card-image src="../../../../assets/images/events/2024/ixh24/sanpaolo.jpg" alt="Hackathon IXH24">
		<div class="container">
			<h1 class="mat-headline">Hackathon IXH24</h1>
		</div>
	</mat-card>

	<!-- Trends 2024 -->
	<mat-card class="card" [routerLink]="['/attivita/trends24']">
		<img mat-card-image src="../../../../assets/images/events/2024/trends24/trends24_paris.jpg" alt="Trends 2024">
		<div class="container">
			<h1 class="mat-headline">Trends 2024</h1>
		</div>
	</mat-card>
</div>
<br>
<p>
	<b>IXH24</b> è il nostro primo hackathon nazionale, nell'eterna Roma. Dal 21 al 23
	Novembre 2024.
	<br>
	<b>Trends24: <i>The French Magisterium</i></b> invece è la terza edizione del corso <a
		[routerLink]="'/attivita/corsi'">De Cifris Trends</a>, da Settembre a Novembre
	2024.
</p>
<div>
	<app-eventi-patrocinati></app-eventi-patrocinati>
</div>