<div class="cards">
	<!-- Congresso CIFRIS24 -->
	<mat-card class="card" [routerLink]="'/cifris24'">
		<img mat-card-image src="../../../../assets/images/events/2024/cifris24/roma.webp" alt="Congresso CIFRIS24">
		<div class="container">
			<h1 class="mat-headline">Congresso CIFRIS24</h1>
		</div>
	</mat-card>

	<!-- Trends 2024 -->
	<mat-card class="card" [routerLink]="['/attivita/trends24']">
		<img mat-card-image src="../../../../assets/images/events/2024/trends24/trends24_paris.jpg" alt="Trends 2024">
		<div class="container">
			<h1 class="mat-headline">Corso Trends 2024</h1>
		</div>
	</mat-card>
</div>
<br>
<p>
	<b>CIFRIS24</b> è il nostro secondo congresso annuale di crittografia, stavolta nell'eterna Roma. Dal 25 al 27 Settembre 2024.
	<br>
	<b>Trends24: <i>The French Magisterium</i></b> invece è la terza edizione del corso <a [routerLink]="'/attivita/corsi'">De Cifris Trends</a>, da Settembre a Novembre
	2024:
  </p>
<div>
	<app-eventi-patrocinati></app-eventi-patrocinati>
</div>