<h1>Open Access Statement</h1>

<div class="text">
    <p class="icon-text">
        <span class="material-icons">diamond</span>
        <strong>We are proudly 100% <a href="https://en.wikipedia.org/wiki/Diamond_open_access">Diamond Open
                Access</a></strong>
    </p>

    <p>Our commitment to <strong>Diamond Open Access</strong> ensures that <em>no fees</em> are charged for both authors
        and readers. This model promotes a more inclusive and equitable access to knowledge by removing financial
        barriers to publishing and reading academic work.</p>

    <p><strong>Diamond Open Access</strong> means:</p>

    <ul>
        <li><strong>No publication fees:</strong> Authors can publish their work without paying any processing fees.
        </li>
        <li><strong>Free access for all:</strong> Readers can access all content without any cost, ensuring widespread
            dissemination of knowledge.</li>
    </ul>

    <p>This reflects our mission to encourage open and global access to scientific research, ensuring that
        knowledge can be shared and utilized by all.</p>
</div>
<hr>