ng-sidebar-container{
	position: fixed;
	right: 0;
	top: 55px;
	height: 100%;
}
button{
	background:none;
	border:none;
	outline:none;
	color:rgb(48, 117, 128);
}

::ng-deep .ng-sidebar{
	background-color: aliceblue;
	width: 300px !important;
	padding: 2em 1em;
}​

@media screen and (max-width: 799px) {
	#right-sidebar {
		 display: none !important;
	}
}

.bottomExtra{
	margin-bottom: 3em;
	padding-bottom: 3em;
}

.noIndent {
	list-style: none;
	padding-left: 0;
}

.noIndent ul li {
	margin: 10px 0;
}

img.card-img-right{
	float: right;
	width: 50%;
	max-width: 270px!important;
	max-height: 150px;
	object-fit:contain;
	margin-left: 30px;

}
@media screen and (max-width: 599px) {
	img.card-img-right{
		min-width: 100%!important;
		max-width: 100%!important;
		margin-bottom: 30px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	div.img-container{
		width: 100%!important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	div.notizia{
		width: 100%!important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}











div.notizia{
	margin:0;
	padding:0;
}
h5.title{
	margin:0;
	padding:0;
	color: var(--cifris_orange)!important;
	font-weight:700;
}
p.subtitle{
	color: gray;
	margin:0;
	padding:0;
	font-size: normal;
	font-style: italic;
}
p.date{
	color: gray;
	margin:0;
	padding:0;
	font-size: small;
}
p.content{
	margin:0;
	padding:0;
}
.links-container {
	display: flex;
	flex-wrap: wrap; /* Per avvolgere i link se ce ne sono troppi per una sola linea */
	gap: 10px; /* Spazio tra i link */
  }
  
  .links {
	/* Eventuali stili aggiuntivi per i singoli link */
  }
  
  .links a {
	text-decoration: none;
	color: var(--cifris_blue);
	padding: 5px 10px;
	border-radius: 4px;
	transition: background-color 0.3s, color 0.3s;
  }
  
  .links a:hover {
	background-color: #f0f0f0;
	color: #333;
  }