<h3>NOTIZIE</h3>
<p>
	Qui potete trovare uno storico delle notizie più importanti per l'associazione. Ricordiamo che il canale
	preferenziale di informazione è
	<a href="https://it.linkedin.com/in/de-cifris-associazione-nazionale-8274501a5"> il profilo ufficiale
		LinkedIn</a>.
</p>
<hr>
<div *ngFor="let notizia of notizie" class="notizie-container">
	<div class="notizia">
		<div *ngIf="notizia.immagine" class="img-container">
			<img [src]="notizia.immagine" alt="Immagine di {{ notizia.titolo }}" class="card-img-right">
		</div>
		<h5 class="title">{{ notizia.titolo }}</h5>
		<p class="subtitle">{{ notizia.sottotitolo }}</p>
		<p class="date">{{ notizia.dataPubblicazione }}</p>
		<p class="content">{{ notizia.contenuto }}</p>
	</div>
	<div *ngIf="notizia.links && notizia.links.length > 0" class="links-container">
		<div *ngIf="notizia.links && notizia.links.length > 0" class="links-container">
			<div *ngFor="let link of notizia.links" class="links">
				<a *ngIf="link.url" [href]="link.url" target="_blank">{{ link.nome }}</a>
				<a *ngIf="link.routerLink" [routerLink]="link.routerLink">{{ link.nome }}</a>
			</div>
		</div>
	</div>
	<hr>
</div>