<h5>
    eventi patrocinati:
</h5>



<a class="event" href="https://wcc2024.sites.dmi.unipg.it/">
    <div class="date-place">
        <b>Perugia</b>
        <br>
        dal 17 giugno al 21 giugno
    </div>
    <div class="name">
        The Thirteenth International Workshop on
        Coding and Cryptography
    </div>
</a>

<a class="event" href="https://sites.google.com/view/combinatorics2024/">
    <div class="date-place">
        <b>Bari</b>
        <br>
        dal 3 giugno al 7 giugno
    </div>
    <div class="name">
        Combinatorics 2024
    </div>
</a>

<!--
<a class="event" href="https://crypto.polito.it/cryptography_days">
    <div class="date-place">
        <b>Torino</b>
        <br>
        dal 16 maggio al 17 maggio
    </div>
    <div class="name">
        CrypTography Days 2024
    </div>
</a>
-->