@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.header-container {
  text-align: center;
  padding: 0;
  margin: 20px;
}

.title {
  color: var(--cifris_scarlet)!important;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  animation: fadeIn 1s ease forwards;
}

.subtitle {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  transition: transform 0.3s ease;
  animation: fadeIn 1s ease forwards;
}

hr {
  margin-bottom: 30px !important;
}

/* Imposta il box-shadow attorno alla tabella per creare un effetto di elevazione */
table.orari {
  width: 100%!important;
  margin-bottom: 40px;
  border-collapse: separate;
  border-spacing: 5px;
  box-shadow: none;
  background-color: transparent;
}

/* Intestazioni della tabella */
table.orari th {
  background-color: var(--cifris_blue);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px 15px;
  text-align: left;
  font-weight: 600;
  z-index: 1;
}

/* Celle della tabella */
table.orari td {
  margin: 20px;
  padding: 20px;
  vertical-align: top;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Righe alternate (stripe effect) */
table.orari tr:nth-child(even) td {
  background-color: #f9f9f9; 
}

/* Celle specifiche (es. orari) con sfondo personalizzato */
td.schedule {
  width: 100px !important;
  background-color: var(--cifris_blue) !important;
  text-align: center;
  padding: 15px 10px;
  font-weight: bold;
  color: white; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/** 
  I disclaimer sono, ad esempio, commenti da inserire sotto il titolo di un talk per 
  dire che sarà solo in italiano.
  **/
.disclaimer {
  font-size: smaller;
  line-height: 1 !important;
  color: var(--cifris_scarlet);
  font-weight: 450;
}

div.disclaimer-box {
  margin: -10px 0 0 10px;
  padding: 0;
  padding-top: -10px;
}

/** 
  Questo è idealmente un elemento da inserire nell'header di ogni tabella per specificare 
  la location di quella parte di conferenza - che forse è diversa dalle altre.
  **/
.location {
  font-size: smaller;
  font-style: normal !important;
  line-height: 1 !important;
  font-weight: 450;
}

/* Contenitore verticale per i loghi */
.image-container-vertical {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-bottom: 40px;
}

/* Stile per i riquadri che contengono i loghi */
.image-wrapper-vertical {
  width: 120px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Stile per le immagini all'interno dei riquadri */
.image-wrapper-vertical img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Effetto di zoom al passaggio del mouse */
.image-wrapper-vertical:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Effetto di rotazione leggera */
.image-wrapper-vertical:hover img {
  transform: rotate(2deg);
}

.track-wrapper {
  position: relative;
  display: block;
  width: 250px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.track-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  z-index: 10;
}

.track-wrapper:hover img {
  transform: scale(1.1);
}

.track-overlay {
  position: absolute;
  width: 170px;
  height: 30px;
  left: 0;
  right: 0;
  margin: auto;
  bottom:0;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: var(--cifris_blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  opacity: 1;
  transition: transform 0.3s;
  z-index: 11;
}

.track-wrapper:hover .track-overlay {
  transform: scale(1.2);
}

.image-container-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

/* Wrapper per le immagini per gestire dimensioni e effetti */
.image-wrapper {
  height: 200px;
  width: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Effetto hover (quando l'utente passa il mouse sopra l'immagine) */
.image-wrapper:hover img {
  transform: scale(1.2);
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--cifris_purple) !important;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--cifris_purple) !important;
  letter-spacing: 1px;
}

/* Stile dell'elenco ordinato (numerato) */
ol {
  counter-reset: section;
  padding-left: 0;
  list-style: none;
  margin-top: 20px;
}

/* Stile per gli elementi numerati principali */
ol > li {
  counter-increment: section; /* Incrementa il contatore */
  position: relative;
  margin-bottom: 20px;
  padding-left: 50px;
  font-weight: bold;
  color: var(--cifris_orange);
}

/* Stile per i numeri cerchiati */
ol > li::before {
  content: counter(section); /* Inserisce il contatore */
  background-color: var(--cifris_orange);
  color: white;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 3px;
  font-weight: bold;
}

/* Sottoliste (ul all'interno dei li) */
ol li ul {
  padding-left: 0;
  margin-top: 15px;
}

ol li p {
  color: black;
  font-weight: normal;
}

ol li b.rule-name{
  font-size: 1.4em;
}

ol li ul li {
  font-weight: normal;
  color: black;
  margin-bottom: 2px;
  padding-right: 20px;
  list-style:square;
}

/* Stile per le voci all'interno della sottolista */
ol li ul li::before {
  margin-right: 10px;
  color: var(--cifris_purple);
}

/* Contenitore del paragrafo */
.intro-container {
  background-color: var(--cifris_azure_transparent);
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 30px auto;
}

/* Evidenziazione di parole chiave */
.highlight {
  font-weight: bold;
  color: var(--cifris_blue);
}

/* Evidenziazione speciale per le date */
.highlight-date {
  color: var(--cifris_scarlet);
  font-weight: 600;
}

/* Evidenziazione speciale per il premio */
.highlight-prize {
  color: var(--cifris_blue);
  font-weight: 600;
}

/* Icona per data */
.fa-calendar-alt {
  margin-right: 5px;
  margin-left: 5px;
}

/* Contenitore dei pulsanti */
.toc-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Stile generale dei pulsanti */
.toc-buttons a {
  padding: 10px 20px;
  width: 120px;
  background-color: var(--cifris_blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Effetto hover sui pulsanti */
.toc-buttons a:hover {
  background-color: var(--cifris_orange);
  transform: translateY(-2px);
}

.text {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.registration-info h3,
.teams-list h3 {
  font-size: 1.5em;
  color: #1a73e8;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.registration-info p {
  font-size: 1em;
  line-height: 1.6;
}


.register-link {
  color: var(--cifris_scarlet);
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s;
}

.register-link:hover {
  color: var(--cifris_orange);
}

.teams-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.teams-list li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  border-left: 4px solid var(--cifris_orange);
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.teams-list li:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.university-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

.team-leader {
  display: block;
  margin-top: 4px;
  font-size: 0.9em;
  color: #555;
  font-style: italic;
}