<div class="header-container">
    <h1 class="title">
        IXH24 - Italian XRPL Hackathon 2024
    </h1>
    <p class="subtitle">
        <b> Rome, Nov. 22nd, 23rd </b>
    </p>
</div>

<div class="toptext">
    <p class="intro-text">
        <span class="highlight">IXH24</span> is a national hackathon with a focus on cryptography and blockchain. This
        two-day event
        will feature a mix of insightful seminars, engaging discussions, and significant hands-on experience.
        It is jointly organized by <span class="highlight">XRPL Commons</span>, a leading blockchain community,
        <span class="highlight">De Componendis Cifris</span>, the Italian association of cryptography, and <span
            class="highlight">Roma Tre University</span>.
        <br>
        The hackathon will bring together teams of students from Italian universities, with students from across
        Europe also welcome to join and participate.
        <br><br>
        Set in the eternal city of <span class="highlight">Rome</span>, the event will take place from
        <span class="highlight highlight-date"><i class="fa fa-calendar-alt"></i> November 22nd to 23rd, 2024</span>,
        with a total prize pool of <span class="highlight highlight-prize">€10,000</span>.
        <span class="highlight highlight-date"><i class="fa-solid fa-ticket"></i><a class="register-link"
                [routerLink]="['/ixh24']" fragment="teams"> Register now!</a></span>
    </p>
    <div class="image-container-horizontal" style="margin-bottom: 0;">
        <a [routerLink]="['/ixh24']" fragment="tracks" class="track-wrapper">
            <div class="track-overlay">
                Cryptography Track
            </div>
            <img src="../../../../assets/images/events/2024/ixh24/CYPTO_track.jpg" alt="Cryptography">
        </a>
        <a [routerLink]="['/ixh24']" fragment="tracks" class="track-wrapper">
            <div class="track-overlay">
                XRPL Track
            </div>
            <img src="../../../../assets/images/events/2024/ixh24/XRPL_track.png" alt="XRPL">
        </a>
    </div>
</div>
<div class="table-of-contents">
    <div class="toc-buttons">
        <a mat-button [routerLink]="['/ixh24']" fragment="schedule">Schedule</a>
        <a mat-button [routerLink]="['/ixh24']" fragment="rules">Details</a>
        <a mat-button [routerLink]="['/ixh24']" fragment="tracks">Tracks</a>
        <a mat-button [routerLink]="['/ixh24']" fragment="teams">Teams</a>
    </div>
</div>
<div class="image-container-horizontal">
    <div class="image-wrapper">
        <img src="../../../../assets/images/events/2024/ixh24/sanpaolo.jpg">
    </div>
    <div class="image-wrapper">
        <img src="../../../../assets/images/events/2024/ixh24/rettorato.jpg">
    </div>
</div>
<div class="image-container-horizontal">
    <a href="https://www.decifris.it" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/icons/decifris.svg" alt="Decifris logo">
    </a>
    <a href="https://www.xrpl-commons.org/" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/logos/xrplcommons.webp" alt="XRPL Commons logo">
    </a>
    <a href="https://www.uniroma3.it/" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/logos/roma3_blue.png" alt="Roma Tre logo">
    </a>
    <a href="https://ripple.com/impact/ubri/" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/logos/rippleimpact.png" alt="Ripple Impact logo">
    </a>
</div>


<hr id="schedule">
<h2>Schedule</h2>

<table class="orari" cellspacing="2" cellpadding="2">
    <tr bgcolor="lightblue">
        <th class="schedule" colspan="2">
            <font size="+1"><b>November 22nd </b></font>
            <br>
            <b class="location">Location: Rectorate, Roma Tre University - via Ostiense 133 (Roma)</b>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            8:00<br>9:00
        </td>
        <td>
            <i>
                <b>Arrival</b> and registration<br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            9:00<br>9:30
        </td>
        <td>
            <i>
                <b>Welcome reception</b> and coffee<br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            9:30<br>10:00
        </td>
        <td>
            <i>
                <b>Welcome speeches</b>
                <ul>
                    <li>Roma Tre University</li>
                    <li>De Componendis Cifris</li>
                    <li>XRPL Commons</li>
                </ul><br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            10:00<br>12:00
        </td>
        <td>
            <i>
                <b>XRPL workshop</b><br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            12:00<br>13:00
        </td>
        <td>
            <i>
                <b>Lunch break</b>, hackathon instructions and final team registration<br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            13:00
        </td>
        <td>
            <i>
                <b>Hackathon starts</b><br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
</table>

<table class="orari" cellspacing="2" cellpadding="2">
    <tr bgcolor="lightblue">
        <th class="schedule" colspan="2">
            <font size="+1"><b>November 23rd </b></font>
            <br>
            <b class="location">Location: Rectorate, Roma Tre University - via Ostiense 133 (Roma)</b>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            9:00<br>9:30
        </td>
        <td>
            <i>
                <b>Breakfast</b> and coffee<br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            11:00
        </td>
        <td>
            <i>
                <b>FInal project submission</b> (code & pitch)<br>
                <i>Rectorate, tower C</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            11:00<br>13:00
        </td>
        <td>
            <i>
                <b>Project pitches</b><br>
                <i>Rectorate, tower A</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            13:00<br>14:30
        </td>
        <td>
            <i>
                <b>Lunch break</b> and jury deliberation<br>
                <i>Rectorate, tower A</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            14:30
        </td>
        <td>
            <i>
                <b>Award ceremony</b>, joint with the separate Secondary School hackathon<br>
                <i>Rectorate, tower A</i>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>XRPL Commons meet-up</b><br>
                <i>Location TBA</i>
            </i>
        </td>
    </tr>
</table>

<hr id="rules">
<h2>Hackathon details</h2>
<div class="text">
    <ol>
        <li>
            <b class="rule-name">Coding and projects</b>
            <ul>
                <li><b>Coding starts</b> at 13:00 on November 22rd and <b>submissions close</b> at 11:30 on November
                    23rd
                    (UTC+2).</li>
                <li><b>New work only:</b> coding, development, and design should be done during the hackathon. Any work
                    that
                    was completed prior to the hackathon must be mentioned in your submission. Non-team-created software
                    or
                    intellectual property can be utilised if you have a licence
                    (e.g. software
                    libraries or design assets), but they must be mentioned in your submission.</li>
                <li><b>Project pitches</b> will be of three minutes, followed by two minutes for questions. You can
                    include
                    a
                    PowerPoint/PDF presentation. A live demo is also accepted (and encouraged).</li>
                <li><b>Code versioning:</b> all submitted code must be in a version-controlled repository (e.g., GitHub)
                    and
                    made
                    accessible to judges at the time of submission.</li>

            </ul>
        </li>
        <li>
            <b class="rule-name">Team composition</b>
            <ul>
                <li>Teams can consist of <b>3 to 7 participants</b>. Participants may only be part of <b>one</b> team.
                </li>
                <li>
                    <b>Italian universities</b> will have an affiliated team. <br>
                    Their team leaders must register to the hackathon no later than November 11th.<br>
                    Their team members must register to the hackathon no later than November
                    15th.
                </li>
                <li>Other teams (e.g. international teams) can register with a team leader, following the
                    deadlines above. </li>
                <li>Participants without a team will be assigned one during registration on November 22nd.</li>
            </ul>
        </li>
        <li>
            <b class="rule-name">Tracks and projects</b> <br>
            <p>
                The hackathon consists of two tracks, which correspond to two different challenges. Each team
                will select its own track during the event and submit only one project. <br>
                Details on the challenges will be given during the event.
            </p>
            <ul>
                <li><b>Track 1: Cryptography for blockchain</b>
                    <br>
                    Projects under this track must demonstrate a clear application of cryptographic techniques to
                    solve the
                    challenge. The challenge can include, but is not limited to, encryption algorithms, zero-knowledge
                    proofs,
                    digital signatures, or other privacy-enhancing technologies.
                </li>
                <li><b>Track 2: XRPL applications</b>
                    <br>
                    Projects under this track must involve the XRP Ledger in some way, whether
                    through integrations, apps, decentralised finance,
                    or smart contracts. Creativity and innovation in utilising the XRP ledger to solve the challenge are
                    highly encouraged.
                </li>
            </ul>
        </li>
        <li>
            <b class="rule-name">Judging criteria</b>
            <ul>
                <li><b>Innovation</b>: How original is the idea? Does it bring new insights or solutions?
                </li>
                <li><b>Execution</b>: How well was it developed? Does it demonstrate technical complexity or impressive
                    engineering?</li>
                <li><b>Impact</b>: How impactful is the project? Does it add value to a particular community, scenario
                    or
                    industry?</li>
                <li><b>Pitch</b>: Is the project clearly communicated? Is the demo (if present) well-prepared and
                    convincing?</li>
            </ul>
        </li>
        <li>
            <b class="rule-name">Prizes and awards</b>
            <br>
            <p>
                Prizes will be awarded to the top 3 projects in each track:
            </p>
            <ul>
                <li>1st winner: € 2500 (two thousands and five hundreds)</li>
                <li>2nd winner: € 1500 (one thousand and five hundreds)</li>
                <li>3rd winner: € 500 (five hundreds)</li>
            </ul>
        </li>
        <li>
            <b class="rule-name">Disqualification and misconduct</b> <br>
            <p>Participants will be disqualified if they:</p>
            <ul>
                <li>Fail to comply with intellectual property or copyright rules.</li>
                <li>Submit projects containing offensive, discriminatory, or harmful content.</li>
                <li>Exhibit any form of cheating, including tampering with other teams' projects.</li>
            </ul>
        </li>
        <li>
            <b class="rule-name">Miscellanea</b>
            <ul>
                <li><b>Funding for eligible participants:</b> if you are an Italian student and <a
                        href="/associazione/associarsi">a
                        member</a>, you may be eligible
                    for a refund of your travel & accommodation expenses. Young membership only costs 5 euros.
                    If you might be eligible, please contact us at <a
                        href="mailto:hack@decifris.it">hack&#64;decifris.it</a> as soon as possible for confirmation (no
                    later than November 15th). Refunds include: overnight stay (21st to 22nd, 22nd to 23rd), travel
                    expenses.
                </li>
                <li><b>Student status:</b> you are considered as a <i>student</i> if you were one on January 1st, 2022.
                </li>
                <li><b>Code of conduct:</b> All participants are expected to ensure a respectful environment.</li>
                <li><b>Support and Mentorship:</b> Mentors will be available to assist with technical or project-related
                    queries.</li>
                <li><b>FAQs:</b> we will provide a list of FAQs, along with channels to ask any additional
                    questions during the event.</li>
            </ul>
        </li>
    </ol>
</div>

<hr id="tracks">

<h2>Tracks</h2>
<div class="text">
    Details on the challenges of the two tracks will be given at the start of the event.
    <br>
    More information in the <a [routerLink]="['/ixh24']" fragment="rules">hackathon details</a>
</div>

<hr id="teams">


<h2>Teams</h2>
<section class="teams-section">
    <div class="text">
        <div class="registration-info">
            <h3>Registration</h3>
            <p>Tickets for <span class="highlight">IXH24</span> are limited,
                <span class="highlight highlight-date"><i class="fa-solid fa-ticket"></i> register now
                    <a href="https://www.eventbrite.fr/e/ixh24-italian-xrpl-hackathon-2024-tickets-1042856701467"
                        class="register-link">via Eventbrite</a>.
                </span>
                <br>
                If you are an Italian university wishing to participate with your own team, or if you are an aspiring
                team leader for an Italian university, write us at <a
                    href="mailto:hack@decifris.it">hack&#64;decifris.it</a>. International teams are not required to
                contact us via email.
            </p>
        </div>

        <div class="teams-list">
            <h3>Confirmed Teams</h3>
            <ul>
                <li>
                    <i class="fa fa-graduation-cap"></i>
                    <b class="university-name"> Università di Perugia</b>
                    <span class="team-leader">Team leader: <i>Giacomo Brandi</i></span>
                </li>
                <li>
                    <i class="fa fa-graduation-cap"></i>
                    <b class="university-name"> Università di Bari</b>
                    <span class="team-leader">Team leader: <i>Luca Nestore</i></span>
                </li>
                <li>
                    <i class="fa fa-graduation-cap"></i>
                    <b class="university-name"> Università di Milano</b>
                    <span class="team-leader">Team leader: <i>Simone Pelizzola</i></span>
                </li>
                <li>
                    <i class="fa fa-graduation-cap"></i>
                    <b class="university-name"> Università di Trento</b>
                    <span class="team-leader">Team leader: <i>Marco Marchesin</i></span>
                </li>
                <li>
                    <i class="fa fa-graduation-cap"></i>
                    <b class="university-name"> Università di Napoli Federico II</b>
                    <span class="team-leader">Team leader: <i>Francesco Lucibello</i></span>
                </li>
            </ul>
        </div>
    </div>
</section>