<div class="header-container">
    <h1 class="title">
        IXH24 - Italian XRPL Hackathon 2024
    </h1>
    <p class="subtitle">
        An event organised by De Cifris and XRPL Commons
        <br>
        <b> Rome, November 21st, 22nd, 23rd </b>
    </p>
</div>

<div class="intro-container">
    <p class="intro-text">
        <span class="highlight">IXH24</span> is a national hackathon with a focus on cryptography and blockchain. This
        three-day event
        will feature a mix of insightful seminars, engaging discussions, and significant hands-on experience.
        It is jointly organized by <span class="highlight">XRPL Commons</span>, a leading blockchain community, and
        <span class="highlight">De Componendis Cifris</span>, the Italian association of cryptography, and <span class="highlight">Roma Tre University</span>.
        <br><br>
        The hackathon will bring together teams of students from Italian universities, with students from across
        Europe also welcome to join and participate.
        <br><br>
        Set in the eternal city of <span class="highlight">Rome</span>, the event will take place from
        <span class="highlight highlight-date"><i class="fa fa-calendar-alt"></i> November 21st to 23rd, 2024</span>,
        with a total prize pool of <span class="highlight highlight-prize">€10,000</span>.
    </p>
    <div class="table-of-contents">
        <div class="toc-buttons">
            <a mat-button [routerLink]="['/ixh24']" fragment="schedule">Schedule</a>
            <a mat-button [routerLink]="['/ixh24']" fragment="rules">Rules</a>
            <a mat-button [routerLink]="['/ixh24']" fragment="organisers">Organisers</a>
            <a mat-button [routerLink]="['/ixh24']" fragment="teams">Teams</a>
        </div>
    </div>
</div>
<div class="image-container-horizontal">
    <div class="image-wrapper">
        <img src="../../../../assets/images/events/2024/ixh24/sanpaolo.jpg">
    </div>
    <div class="image-wrapper">
        <img src="../../../../assets/images/events/2024/ixh24/rettorato.jpg">
    </div>
</div>



<hr id="schedule">
<h2>Schedule</h2>

<table class="orari" cellspacing="2" cellpadding="2">
    <tr bgcolor="lightblue">
        <th class="schedule" colspan="2">
            <font size="+1"><b>November 21st </b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>XRPL Commons meetup</b>
            </i>
        </td>
    </tr>
</table>

<table class="orari" cellspacing="2" cellpadding="2">
    <tr bgcolor="lightblue">
        <th class="schedule" colspan="2">
            <font size="+1"><b>November 22nd </b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            8:00<br>9:00
        </td>
        <td>
            <i>
                <b>Arrival and registration</b>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            9:00<br>9:30
        </td>
        <td>
            <i>
                <b>Welcome reception</b>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            9:30<br>10:00
        </td>
        <td>
            <i>
                <b>Welcome speeches</b>
                <ul>
                    <li>Roma Tre University</li>
                    <li>De Componendis Cifris</li>
                    <li>XRPL Commons</li>
                </ul>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            10:00<br>12:00
        </td>
        <td>
            <i>
                <b>XRPL workshop</b>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            12:00<br>13:00
        </td>
        <td>
            <i>
                <b>Lunch break</b>, hackathon instructions and final team registration
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            13:00
        </td>
        <td>
            <i>
                <b>Hackathon starts</b>
            </i>
        </td>
    </tr>
</table>

<table class="orari" cellspacing="2" cellpadding="2">
    <tr bgcolor="lightblue">
        <th class="schedule" colspan="2">
            <font size="+1"><b>November 23rd </b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            9:00<br>9:30
        </td>
        <td>
            <i>
                <b>Breakfast</b>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            11:00<br>11:30
        </td>
        <td>
            <i>
                <b>Project submission</b> and <b>pitch preparation</b>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            11:30<br>13:00
        </td>
        <td>
            <i>
                <b>Project pitches</b>
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            13:00<br>14:30
        </td>
        <td>
            <i>
                <b>Lunch break</b> and jury deliberation
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            14:30
        </td>
        <td>
            <i>
                <b>Award ceremony</b>, joint with the separate Secondary School hackathon
            </i>
        </td>
    </tr>
</table>

<hr id="rules">
<h2>Hackathon rules</h2>
<ol>
    <li>
        <b>Coding your projects</b>
        <ul>
            <li><b>Coding starts</b> at 13:00 on November 22rd and <b>submissions close</b> at 11:30 on November 23rd
                (UTC+2).</li>
            <li><b>New work only:</b> coding, development, and design should be done during the hackathon. Any work that
                was completed prior to the hackathon must be mentioned in your submission. Non-team-created software or
                intellectual property can be utilised if you have a licence
                (e.g. software
                libraries or design assets), but they must be mentioned in your submission.</li>
            <li><b>Project pitches</b> will be of three minutes, followed by two minutes for questions. You can include
                a
                PowerPoint/PDF presentation. A live demo is also accepted (and encouraged).</li>
            <li><b>Code versioning:</b> all submitted code must be in a version-controlled repository (e.g., GitHub) and
                made
                accessible to judges at the time of submission.</li>

        </ul>
    </li>
    <li>
        <b>Team composition</b>
        <ul>
            <li>Teams can consist of <b>3 to 7 participants</b>. Participants may only be part of <b>one</b> team during
                the hackathon.
            </li>
            <li>Team leaders must be registered for the hackathon no later than November 11th.</li>
            <li>Team members may select their team in advance or during registration on November 22nd.</li>
        </ul>
    </li>
    <li>
        <b>Tracks and themes</b> <br>
        <p>
            We will propose two tracks, which correspond to two different challenges. Each team
            will select its own track.
        </p>
        <ul>
            <li><b>Track 1: Cryptography for blockchain</b>
                <br>
                Projects under this track must demonstrate a clear application of cryptographic techniques to
                solve the
                challenge. This can include, but is not limited to, encryption algorithms, zero-knowledge proofs,
                digital signatures, or
                other privacy-enhancing technologies.
            </li>
            <li><b>Track 2: XRPL applications</b>
                <br>
                Projects must involve the XRP Ledger in some way, whether
                through integrations, apps, decentralised finance,
                or smart contracts. Creativity and innovation in utilising XRPL to solve the challenge will be highly
                encouraged.
            </li>
        </ul>
    </li>
    <li>
        <b>Judging criteria</b>
        <ul>
            <li><b>Innovation</b>: How original is the idea? Does it bring new insights or solutions?
            </li>
            <li><b>Execution</b>: How well was it developed? Does it demonstrate technical complexity or impressive
                engineering?</li>
            <li><b>Impact</b>: How impactful is the project? Does it add value to a particular community, scenario or
                industry?</li>
            <li><b>Pitch</b>: Is the project clearly communicated? Is the demo (if present) well-prepared and
                convincing?</li>
        </ul>
    </li>
    <li>
        <b>Prizes and awards</b>
        <br>
        <p>
            Prizes will be awarded to the top 3 projects in each track:
        </p>
        <ul>
            <li>1st winner: € 2500 (two thousands and five hundreds)</li>
            <li>2nd winner: € 1500 (one thousand and five hundreds)</li>
            <li>3rd winner: € 500 (five hundreds)</li>
        </ul>
    </li>
    <li>
        <b>Disqualification and misconduct</b> <br>
        <p>Participants will be disqualified if they:</p>
        <ul>
            <li>Fail to comply with intellectual property or copyright rules.</li>
            <li>Submit projects containing offensive, discriminatory, or harmful content.</li>
            <li>Exhibit any form of cheating, including tampering with other teams' projects.</li>
        </ul>
    </li>
    <li>
        <b>Miscellaneous</b>
        <ul>
            <li><b>Funding for participants:</b> if you are an Italian student and <a href="/associazione/associarsi">a
                    member</a>, you are eligible
                for a refund of your travel & accommodation expenses. Young membership only costs 5 euros.
                If you are eligible, contact us at <a href="mailto:hack@decifris.it">hack&#64;decifris.it</a>.
            </li>
            <li><b>Code of conduct:</b> All participants are expected to ensure a respectful environment.</li>
            <li><b>Support and Mentorship:</b> Mentors will be available to assist with technical or project-related
                queries.</li>
            <li><b>FAQs:</b> we will provide a list of FAQs, along with channels to ask any additional
                questions during the event.</li>
        </ul>
    </li>
</ol>
<hr id="organisers">


<h2>Organisers</h2>

<div class="image-container-horizontal">
    <a href="https://www.decifris.it" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/icons/decifris.svg" alt="Decifris logo">
    </a>
    <a href="https://www.uniroma3.it/" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/logos/roma3_blue.png" alt="Roma Tre logo">
    </a>
    <a href="https://www.xrpl-commons.org/" target="_blank" class="image-wrapper-vertical">
        <img src="../../../../assets/images/logos/xrplcommons.png" alt="XRPL Commons logo">
    </a>
</div>

<hr id="teams">


<h2>Confirmed teams</h2>
<p>TBA.</p>
<hr>