<h1 style="text-align: center;">CifrisCloud - Cryptography for the Cloud 2024</h1>
<h2>Organizers</h2>
<p>
    <em>
        Michela Iezzi (Bank of Italy, Italy)
        <br>
        Matteo Nardelli (Bank of Italy, Italy)
        <br>
        Marco Pedicini (Roma Tre University, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    The widespread use of wearable devices, IoT, smartphones, and sensors is driving the need to decentralize cloud
    computing to the network's edges. This new computing environment involves various devices exchanging data at
    unprecedented speeds, creating a pressing need for cryptographic data protection against interception and tampering.
    Key topics in cloud cryptography include data privacy and secure data sharing, as well as advanced cryptographic
    techniques such as homomorphic encryption, attribute-based encryption, functional encryption and federated learning.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room D, 11:40 - 13:00</i>
</p>
<p>
    Keynote speaker:
    <b>Martina Palmucci</b>, NTT Data (Italy)
</p>
<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
    <tr bgcolor="lightblue" id="raipqc24">
        <th class="schedule" colspan="2">
            <font size="+1"><b>September 27th (morning) - Workshop Session</b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            11:40<br>12:20
        </td>
        <td>
            <i>
                <b>Martina Palmucci</b>, NTT Data (Italy)
                <br>
                ANTI-fraud: ABE Solutions
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            12:20<br>12:40
        </td>
        <td>
            <i>
                <b>Roberto La Scala</b>, University of Bari (Italy)
                <br>
                An introduction to Functional Encryption with multivariate algebra
            </i>
            <details>
                <summary>
                    Abstract
                </summary>
                In this talk, we introduce fundamental concepts behind the paradigm
                of Functional Encryption. Alongside Homomorphic Encryption, this protocol
                represents a primary tool for preserving data confidentiality during
                cloud-based processing. When the decrypted functions of the data are linear,
                this is referred to as Inner Product Functional Encryption. Finally,
                we present an IPFE protocol based on multivariate cryptography, specifically
                employing the Unbalanced Oil and Vinegar (UOV) digital signature scheme.
            </details>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            12:40<br>13:00
        </td>
        <td>
            TBA
        </td>
    </tr>
</table>