<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->

	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<h3 align="center">ATTIVITÀ EDITORIALI</h3>
		<br>
		Fra le varie iniziative editoriali suggeriamo
		<ul>
			<li>
				la nostra collana <a [routerLink]="['/koine']">De Cifris Koine</a>, pubblicata da De Cifris Press
			</li>
			<li>
				la collana <a target="_blank"
					href="https://www.aracneeditrice.eu/it/collana/crittografia-book-series.html">Crittografia</a>
				in collaborazione con Aracne
			</li>
			<li>
				la collana <a target="_blank"
					href="https://www.aracneeditrice.eu/it/collana/collectio-ciphrarum-proceedings-of-cryptographic-conferences-and-workshops.html">Collectio
					Ciphrarum</a>
				in collaborazione con Aracne
			</li>
		</ul>
	</div>
</ng-sidebar-container>