<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->

	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<h3 align="center">ATTIVITÀ EDITORIALI</h3>
		<br>
		<h5>COLLANE E RIVISTE</h5>
		<ul>
			<li>
				la nostra collana <a [routerLink]="['/koine']">De Cifris Koine</a>, pubblicata da De Cifris Press
			</li>
			<li>
				la collana <a target="_blank"
					href="https://www.aracneeditrice.eu/it/collana/crittografia-book-series.html">Crittografia</a>
				in collaborazione con Aracne
			</li>
			<li>
				la collana <a target="_blank"
					href="https://www.aracneeditrice.eu/it/collana/collectio-ciphrarum-proceedings-of-cryptographic-conferences-and-workshops.html">Collectio
					Ciphrarum</a>
				in collaborazione con Aracne
			</li>
		</ul>






		<h5>LIBRI IN PREPARAZIONE</h5>
		<div class="bookcontainer">
			<a [routerLink]="['/centotesi2014-2023']">
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/empty.jpg" />
						<p class="title">Cento tesi di crittografia e codici in Italia, dal 2014 al 2023</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
			<a>
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/empty.jpg" />
						<p class="title">De Cifris Seminars</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
			<a>
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/empty.jpg" />
						<p class="title">Advanced Cryptographic Protocols</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
			<a>
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/empty.jpg" />
						<p class="title">Eruditorum Acta</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
		</div>






		<h5>LIBRI IN EVIDENZA</h5>
		<div class="bookcontainer">
			<a href="https://www.aracne-editrice.it/index.php/pubblicazione.html?item=9788825510737">
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/elia_intro_classic_crypto.jpg" />
						<p class="title">An introduction to Classic Cryptography</p>
						<p class="author">Michele ELIA</p>
					</div>
				</button>
			</a>
			<a [routerLink]="['/koine/articles-and-volumes']">
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/aavv_cifris23acta.png"/>
						<p class="title">CIFRIS23 Acta</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
			<a [routerLink]="['/centotesi2008-2017']">
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/aavv_100tesi.jpg" />
						<p class="title">Cento tesi di crittografia e codici in Italia, dal 2008 al 2017</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
			<a
				href="https://www.aracneeditrice.eu/it/pubblicazioni/de-cifris-cryptanalysis-roberto-la-scala-marco-pedicini-andrea-visconti-stefano-barbero-marco-cianfriglia-marco-pedicini-michele-elia-roberto-la-scala-nadir-murru-giordano-sa-9791259948656.html">
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/aavv_cryptanalysis.jpg" />
						<p class="title">De Cifris Cryptanalysis</p>
						<p class="author">AA VV</p>
					</div>
				</button>
			</a>
			<a
				href="https://www.aracneeditrice.eu/it/pubblicazioni/la-crittografia-della-repubblica-di-venezia-paolo-bonavoglia-9791221807202.html">
				<button class="book">
					<div id="book_container">
						<img src="../../../assets/attivita/editoria/aavv_100tesi.jpg" />
						<p class="title">La crittografia della Repubblica di Venezia</p>
						<p class="author">Paolo BONAVOGLIA</p>
					</div>
				</button>
			</a>
		</div>
	</div>
</ng-sidebar-container>