<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('iniziative')">
					Iniziative
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('recenti')">
					Seminari recenti
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('prossimi')">
					Prossimi seminari
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('passati')">
					Seminari passati
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('affini')">
					Seminari affini
				</button>
			</li>
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra"> 
		<br>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-12">
					<h3>MATH CIFRIS</h3>
					<p>
						Il nuovo gruppo tematico MathCifris dell'iniziativa nazionale De Componendis 
						Cifris, raccoglie tutte le persone interessate agli aspetti matematici della crittografia. 
						<!-- MathCifris si propone come un sottogruppo dell'UMI, pertanto i relativi seminari potranno essere 
						proposti sia dalla De Cifris sia dall'UMI. In questo caso saranno pubblicizzati anche sul sito UMI. -->
						MathCifris si propone come un sottogruppo della DeCifris, che coopererà con il sottogruppo dell'UMI
						di crittografia e codici, con seminari congiunti. In questo caso saranno pubblicizzati anche sul sito UMI.
						A tal proposito è online la <a href="https://sites.google.com/view/crittografiaecodici/home">nuova pagina</a>
						del gruppo di crittografia e codici UMI.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr id="iniziative">
					<h4>INIZIATIVE</h4>
					<p>Il gruppo tematico MathCifris ha lo scopo di organizzare: </p>
					<ul>
						<!-- <li>Un <a href="https://sites.google.com/view/crittografiaecodici/convegno-annuale">convegno 
							nazionale (annuale) di crittografia</a> e dei suoi aspetti matematici 
							con collaborazioni esterne di esperti provenienti, non solo dal mondo accademico, 
							ma anche da quello aziendale. La conferenza mira a fornire un'opportunità ai ricercatori che 
							lavorano sulla crittografia e sulla teoria dei codici di mostrare i loro risultati 
							ed interessi di ricerca. 
						</li> -->
						<li> Iniziative con le scuole, quali seminari e laboratori che permettano l'avvicinamento 
							dei giovani a queste tematiche e la loro comprensione. Per collaborare con noi ed aiutarci 
							a migliorare la nostra proposta: facci sapere la tua opinione, le tue idee o se nel 
							tuo istituto sono stati già proposti seminari/laboratori di questo tipo, scrivendo 
							un'email a matematica@decifris.it. </li>
						<li> Seminari online per illustrare risultati di ricerche ed approfondimenti di aspetti 
							matematici della crittografia. </li>
						<li> Progetti dedicati allo sviluppo e all'applicazione della matematica da svolgere in aziende.</li> 
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>MathCifris ha iniziato una collaborazione con il gruppo UMI - Crittografia e Codici. 
					In questi mesi il gruppo sta  realizzando  un censimento delle attività riguardanti la crittografia 
					e la teoria dei codici rivolte alle scuole superiori. La scadenza è prevista per l'8 maggio 2021.
					Maggiori informazioni al <a href="../../../assets/attivita/gruppi/mathCifris/censimento.pdf">documento allegato</a>.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr id="recenti">
					<h4>SEMINARI RECENTI</h4>
					<p>I seminari proposti verranno mostrati in questa sezione.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>
							<b style="color: blue;">7 Luglio 2021 - 16:00</b>
							<ul>
								<li>
									<b>Roberto La Scala</b> -- Università degli Studi di Bari Aldo Moro. <br>
									<i>"Cifrari ed Equazioni alle Differenze"</i><br>
									<a href="../../../assets/attivita/gruppi/mathCifris/LaScalaSlide.pdf">Locandina</a>
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>9 Giugno 2021 - 16:00</b>
							<ul>
								<li>
									<b>Alberto Ravagnani</b> -- Eindhoven University of Technology. <br>
									<i>"Il Codice Tipico su un Grande Alfabeto"</i><br>
									<a href="../../../assets/attivita/gruppi/mathCifris/Ravagnani.pdf">Locandina</a>
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>5 Maggio 2021 - 15:00</b>
							<ul>
								<li>
									<b>Luca de Feo</b> -- Université de Versailles – Saint-Quentin e IBM Zurich <br>
									<i>"La corrispondenza di Deuring effettiva – la chiave per la prossima
										generazione di crittografia basata sulle isogenie?"</i> <br>
									<a href="../../../assets/attivita/gruppi/mathCifris/DeFeo.pdf">Locandina</a> -- 
									<a href="../../../assets/attivita/gruppi/mathCifris/DeFeoSlide.pdf">Slide</a>
								</li>
							</ul>
						</li>
						<li>
							<b>8 Aprile 2021</b>
							<ul>
								<li>
									<b>Emmanuela Orsini</b> -- COSIC, KU Leuven, Belgium <br>
									<i>"Post-quantum secure oblivious transfer"</i><br>
									<a href="../../../assets/attivita/gruppi/mathCifris/Orsini.pdf">Locandina</a> --
									<a href="../../../assets/attivita/gruppi/mathCifris/PQOT.pdf">Slide</a> -- 
									<a href="https://www.youtube.com/watch?v=A54aJqzFRYM">Link al video</a>
									<br>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr id="prossimi">
					<h4>PROSSIMI SEMINARI</h4>
					<ul>
						<li>
							9 Giugno
							<ul>
								<li>
									<b>Alberto Ravagnani</b> -- Eindhoven University of Technology <br>
								</li>
							</ul>
						</li>
						<li>
							Luglio
							<ul>
								<li>
									<b>Roberto La Scala</b> -- Università di Bari <br>
								</li>
							</ul>
						</li>
						<li>
							Settembre
							<ul>
								<li>
									<b>Ilaria Zappatore</b> -- INRIA Paris <br>
								</li>
							</ul>
						</li>
						<li>
							6 Ottobre
							<ul>
								<li>
									<b>Alessandro Neri</b> -- Max Planck Institute for Mathematics in the Sciences, Lipsia <br>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr id="passati">
					<h4>SEMINARI PASSATI</h4>
					<ul>
						<li>
							<b>10 Dicembre 2020</b>
							<ul>
								<li>
									<b>Francesco Sica</b> -- Nazarbayev University, Kazakhstan <br>
									<i>"Fattorizzazione con indizi"</i>.<br>
									<a href="../../../assets/attivita/gruppi/mathCifris/Locandina-Sica.pdf">Locandina</a> -
									<a href="../../../assets/attivita/gruppi/mathCifris/Slide_Sica.pdf">Slide</a> - 
									<a href="https://youtu.be/S3ZpmcjRDKk">Video</a>
									<br>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr id="affini">
					<h4>SEMINARI AFFINI</h4>
					<p>I membri di MathCifris segnalano, oltre a quanto proposto sopra, 
						altri seminari, organizzati da altre realtà della DeCifris, di carattere
						affine a quello di questa pagina. </p>
					<ul>
						<li>
							<b>19 Aprile 2021</b> (<a [routerLink]="['/deCifrisAugustaeTaurinorum']">DeCifris Augustae Taurinorum</a>)
							<ul>
								<li>
									<b>Roberto La Scala</b> <br>
									<i>"Cifrari ed equazioni alle differenze"</i>.<br>
									<a href="../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/LaScala.pdf">Locandina</a>
									<!-- <a href="">Slide</a> -  -->
									<!-- <a href="">Link al video</a> -->
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>26 Marzo 2021</b> (<a [routerLink]="['/deCifrisAugustaeTaurinorum']">DeCifris Augustae Taurinorum</a>)
							<ul>
								<li>
									<b>Francesco Stocco</b> <br>
									<i>"A theoretical approach to Shor’s Algorithm and Quantum Bits"</i>.<br>
									<a href="../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/Stocco.pdf">Locandina</a>
									<!-- <a href="">Slide</a> - 
									<a href="">Link al video</a> -->
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>5 Febbraio 2021</b> (<a [routerLink]="['/deCifrisAugustaeTaurinorum']">DeCifris Augustae Taurinorum</a>)
							<ul>
								<li>
									<b>Carlo Sanna</b> <br>
									<i>"Introduction to Multivariate Cryptography"</i>.<br>
									<a href="../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/locandina_Sanna.pdf">Locandina</a> -- 
									<a href="../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/Sanna_Intro_MVC.pdf">Slide</a> -- 
									<a href="https://youtu.be/v5su7blRrHk">Video</a>
									<br>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
					<h4>VIDEO</h4>
					<p>I video di crittografia relativi a questo argomento sono disponibili sul nostro <a href="https://www.youtube.com/
						watch?v=S3ZpmcjRDKk&list=PLu4yxTVzRRMWZ_ALuKt8bC5Iopu_PXaw3">canale YouTube.</a></p>
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>