button {
  background: none;
  border: none;
  outline: none;
  color: rgb(48, 117, 128);
}

.bottomExtra {
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.noIndent {
  list-style: none;
  padding-left: 0;
}

.noIndent ul li {
  margin: 10px 0;
}

.math {
  font-style: oblique;
  font-size: larger;
  white-space: nowrap;
}
