<h3>Public key category</h3>
<h6>Rules</h6>
<p>
	This race only includes an attack phase.<br>
	On November 14, each team is given the same public keys of asymmetric 
	cryptosystems:
</p>
<ul>
	<li> At least 10 public key for <a href="http://it.wikipedia.org/wiki/RSA">RSA</a> 
		di cui:
		<ul>
			<li>At least 7 of these of ascending length from 100 to 500 bits (which can 
				be broken with factorization algorithms)</li>
			<li>At least 3 of these with 1000 bits (wich are in turn weak keys)</li>
		</ul>
	</li>
	<li> at least 3 public keys of a cipher on <a href="http://en.wikipedia.org/wiki/
		Elliptic_curve_cryptography">celliptic curves</a></li>
	<li> at least 1 public key of a cipher on <a href="http://en.wikipedia.org/wiki/
		Hyperelliptic_curve_cryptography">hyperelliptic curves</a></li>
	<li> at least 1 public key for <a href="http://en.wikipedia.org/wiki/
		Hidden_Field_Equations">HFE</a></li>
	<li> at least 1 public key for <a href="http://en.wikipedia.org/wiki/NTRUEncrypt">
		lattices</a></li>
</ul><br>
<p>
	Each team must try to find the private key of the cryptosystems starting from 
	the public ones using all the means, mathematical and IT (legitimate!) At their 
	disposal. <br> Attention, CryptoWars are not a Hacking Contest, but a 
	Cryptography contest.<br> This race ends on March 12, 2011.
</p>
<h6>Score</h6>
<p>
	Whenever a key is broken, this team earns points (depending on the length of 
	the key and the cryptosystem) and this key is removed from the list of those 
	that can be attacked. 
</p>
