<h2>2020 EDITION</h2>
	<div id="istruzioni">
		<h3>Instructions</h3>
		<ul>
			<li>Cryptowars2020 takes place in October 2020, from 25 to 31.</li>
			<li>Team registration starts: 19 October 2020.</li>
			<li>Registration deadline: 24 October 2020.</li>
			<li>Competition: 25 October 2020, 14:00 (Milan).</li>
			<li>End of the competition: 31 October 2020, 23:59 (Milan).</li>
			<li>Teams of a maximum of 5 students are admitted to the competition. With "students"
				we mean students enrolled in: undergraduate, three-year degree, master's 
				degree and recent graduates (in 2020).</li>
			<li>The participating team must be identified with a single email address. For
				subscribe you must send an email to cryptowarsdecifris2020@gmail.com, having as
				subject the word REGISTRATION. There must appear in the e-mail message
				the name of the participants, the University of origin of the individuals, the name of the team
				and the reference e-mail address.
			</li>
			<li>From 25 to 31 October, CRYPTOWARS participants can send as many as THREE
				solutions to the same question. Only the last e-mail received will be considered.</li>
			<li>Solutions must be sent to the same address used for enrollment
				in the format specified in the challenge file. Usually in .TXT format.
			</li>
			<li>Each question is associated with 1 point. The various teams acquire points in a manner
				incremental by solving the challenges and submitting the correct answers. If at the end of the
				race more teams have obtained the same score, checking the last date and time
				solution delivered via email, the winner is the one who completed the challenges in
				less time.
			</li>
			<li>The sponsors of the cryptographic race, through De Cifris, make available
				a prize of 10k Euros that are awarded as follows: 6k Euros to the team that will be classified
				in first place, 3k Euros to the second classified and finally 1k Euros to the third.
			</li>
			<li><a href="../../../../assets/attivita/cryptowars/Cryptowars2020.zip">Cryptowars 2020</a>.</li>
		</ul>
	</div>
	<div id="FAQ">
		<h3>FAQ</h3>
			<ul>
				<li>Do I have to personally implement some code to solve the questions? <br>
					It is not required to send the used code, so an easy way is to
					look for some code already implemented. The fact remains that, as the race has above all
					meant to lead to deep understanding of cryptographic problems, it is advised
					to work independently on their own code and its optimization. <br>
				</li>
				<li>Do I need to think about and implement new attacks?<br>
					Not necessarily. There are many known attacks in the literature, so look for one that
					it seems easy to understand, implement it and get it running!
				</li>
			</ul>
	</div>
	<div id="news">
		<h3>News</h3>
		<ul>
		<li>[02/10/2020] Cryptowars 2020 announcement. Have fun!! </li>
		<li>[25/10/2020] The teams entered in the competition are 17 and come from: Padua, 
			Perugia, Turin, Milan, Cagliari, Trento, Ancona, Bologna, Venice, Rome and Pisa.	</li>
		<li>[25/10/2020] Today, at 2 pm, we will start the competition.</li>
		<li>[25/10/2020] Race started. Good luck! </li>
		<li>[31/10/2020] 11:59 pm, we closed the competition.</li>
		<li>[04/11/2020] Here is the final ranking of cryptowars 2020:
			<ol>
				<li>Bartimeus</li>
				<li>pwnthem0le</li>
				<li>Keep Calm and Brute Force (tied with EC Milan, Dalla parte di Eve, 
					CryptoTeamUNITN)</li>
				<li>Etruscan Crypto Cadets</li>
				<li>Flying Pwnycorn, Critto Tanto</li>
				<li>adhfje3*q</li>
				<li>CeSeNA_Ulisse</li>
				<li>I trentastici 4</li>
			</ol>
		</ul>
		<p>
			Congratulations to all participants!
		</p>
	</div>
	<div id="premiazioni">
		<h3>Awards</h3>
		<p>
			The awarding of the third classified took place on May 20, 2021, during the presentation
			of the seminar <i>"Strumenti per fare crittoanalisi nei grafi di isogenie supersingolari"</i>.
			The awarding of the second and first classified will take place during the <a href="
			https://sites.google.com/view/crittografiaecodici/convegno-annuale">annual conference</a>, 
			on 22 September 2021.
		</p>
	</div>