<head>
	<!-- Meta per Google -->
	<meta name="description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">

	<!-- Meta per Facebook -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="DeCifris.it: CIFRIS24">
	<meta name="twitter:description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta name="twitter:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta name="twitter:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Instagram -->
	<meta property="og:type" content="instapp:photo">
	<meta property="og:site_name" content="DeCifris.it: CIFRIS24">
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<!-- Meta per LinkedIn -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per WhatsApp -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Telegram -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description"
		content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
</head>



<table class="date-table">
	<thead>
		<tr>
			<th>
				day
			</th>
			<th>
				event
			</th>
		</tr>
	</thead>
	<tbody>
		<tr class="dead-row">
			<td class="date">Feb 26th<br>2024</td>
			<td>conference announced</td>
		</tr>
		<tr class="dead-row">
			<td class="date">May 7th<br>2024</td>
			<td class="item">paper submission deadline</td>
		</tr>
		<tr class="dead-row">
			<td class="date">May 31st<br>2024</td>
			<td class="item">workshop proposal deadline</td>
		</tr>
		<tr class="dead-row">
			<td class="date">Jul 2nd<br>2024</td>
			<td class="item">preliminary paper acceptance notification</td>
		</tr>
		<tr class="dead-row">
			<td class="date">Jul 9th<br>2024</td>
			<td class="item">final paper acceptance notification</td>
		</tr>
		<tr class="dead-row">
			<td class="date"><b>Jul 10th<br>2024</b></td>
			<td class="item">registration opens</td>
		</tr>
		<tr class="active-row">
			<td class="date"><b>Sep 9th<br>2024</b></td>
			<td class="item">registration deadline</td>
		</tr>
		<tr>
			<td class="date">Sep 25th<br>2024</td>
			<td class="item">Congress starts</td>
		</tr>
	</tbody>

</table>


<p>
	CIFRIS24 is an international event, supported and organized by De Cifris, aimed at bringing together
	researchers in the field of cryptography, practitioners, developers, and users to foster cooperation and
	exchange techniques, tools, experiences, and ideas.
</p>
<p>
	The first morning is reserved to institutional and industrial stakeholders operating in the field of
	cryptography and cyber security. The first afternoon and the whole second day constitute the Scientific
	Session of the event, where scientific talks take place. The third day hosts eight related workshops.
</p>
<p>
	Scientific talks consist of a selection of:
</p>
<ul>
	<li> Invited talks and </li>
	<li> Contributed talks selected from the submitted papers by the Chairs and the Programme Committee. </li>
</ul>
<!-------------------------------------------------------------------->
<h2> Workshops </h2>
<app-workshops></app-workshops>
<h2> Invited speakers </h2>
<ul>
	<li>
		<b>Claude Carlet</b> (Paris VIII - France)
	</li>
	<li>
		<b>Gregor Leander</b> (Ruhr-University Bochum - Germany)
	</li>
	<li>
		<b>Simona Samardjiska</b> (Radboud University - Netherlands)
	</li>
	<li>
		<b>Daniele Venturi</b> (University of Roma La Sapienza - Italy)
	</li>
</ul>
<!-------------------------------------------------------------------->
<hr>
<h2> ORGANIZATION </h2>
<h3> Institution </h3>
<p>
	The “De Componendis Cifris Associazione di Promozione Sociale” (<a href="./">De Cifris</a>) is a non-profit
	scientific
	organization whose purpose is to spread cryptography in all its aspects, from theoretical foundations,
	applications to historical evolution and impact on society, and to facilitate the aggregation of scholars
	and researchers, so that from their collaboration project ideas and initiatives of scientific interest can
	rise.
</p>

<h3> Organizing Committee </h3>
<ul>
	<li>
		Giulia Cavicchioni (University of Trento - Italy)
	</li>
	<li>
		Massimiliano Sala (University of Trento - Italy)
	</li>
	<li>
		Marco Pedicini (University of Roma Tre - Italy)
	</li>
</ul>
<h3> Chairs of the Scientific Session </h3>
<ul>
	<li>
		Luca De Feo (IBM Research Zurich - Switzerland)
	</li>
	<li>
		Barbara Masucci (University of Salerno - Italy)
	</li>
</ul>