<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('home')" routerLink="/cifris23">
					Home
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('sezioneScelta')" routerLink="call-for-papers">
					Call for papers
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('sezioneScelta')" routerLink="call-for-workshops">
                    Call for workshops
                </button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('sezioneScelta')" routerLink="program-committee">
					Program Committee
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('sezioneScelta')" routerLink="registration">
					Registration
				</button>
			</li>
            <li>
				<button class="btn btn-outline-info" (click)="goTo('sezioneScelta')" routerLink="submission">
					Submission
				</button>
			</li>  
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br id="home">
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12" align="center">
				<h3>CIFRIS23</h3>
				<p> An event organized by De Cifris</p>
                <p>
                    <!-- CONSOB headquarters, via Giovanni Battista Martini 3 - --> Rome
                <br> 
                <b>14-15 December 2023</b>
                </p>
			</div>
		</div>        
		<hr id="sezioneScelta">
        <div class="row">
            <div class="col-md-12">
		        <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</ng-sidebar-container>