<h2>
    Eventi patrocinati recenti:
</h2>
<a class="event" href="https://wcc2024.sites.dmi.unipg.it/">
    <div class="date-place">
        <b>Perugia</b>
        <br>
        dal 17 giugno <br>al 21 giugno
    </div>
    <div class="name">
        The Thirteenth International Workshop on
        Coding and Cryptography
        <br>
        <p style="color: black;font-weight: normal;">
            Sessione De Cifris, 21 giugno, 10.30-11.30: <br>
            Massimo Giulietti (UNIPG), <i>The Italian Cryptographic Association De Componendis Cifris</i><br>
            Barbara Masucci (UNISA), <i>Hierarchical Key Assignment Schemes with Key Rotation</i><br>
            Federico Pintore (UNITN), <i>A hybrid multistep method for polynomial-system solving</i>
        </p>
    </div>
</a>

<a class="event" href="https://sites.google.com/view/combinatorics2024/">
    <div class="date-place">
        <b>Bari</b>
        <br>
        dal 3 giugno <br>al 7 giugno
    </div>
    <div class="name">
        Combinatorics 2024
    </div>
</a>