h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.event {
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 5px;
    width: 99%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s all ease-in;
    text-decoration: none!important;

}
  
.event:hover {
    background: var(--cifris_azure);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0.1s;
    }
.date-place {
    align-self: left;
    font-weight: 500;
    font-size: 14px;
    width: 20%;
    color: #6f6f76;
    text-decoration: none!important;
}

.name {
    overflow: auto;
    align-self: right;
    width: 80%;
    color: var(--cifris_orange);
    font-weight: 700;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none!important;
}


.a, .div, .p {
    text-decoration: none!important;
}

a:hover {
    text-decoration: none!important;
}