<h2>2011 EDITION</h2>
	<ul>
		<li>CryptoWars2011 are an initiative of the Laboratory of Industrial Mathematics 
			and Cryptography (Univ. Di Trento) with an informative purpose.</li>
		<li>Individual enthusiasts or teams collide in the period October 2011 - 
			February 2012 creating codes and breaking the codes of others!
			Teams of college students are especially welcome.</li>
		<li>There are three categories, of increasing difficulty.</li>
	</ul>
	<p>
		The initiative is presented during special meetings, called CryptoWarsCamp, 
		which are important for organizing teams!
	</p>
	<div id="descrizioGara">
		<h3>Competition description</h3>
		<p>In order to spread and arouse interest in Cryptography, we organize 
			CryptoWars2011, which is a nationwide cryptography competition.</p>
		<div id="tempistiche">
			<h6>The timing</h6>
			<ul>
				<li>
					12 September 2011: start of registrations of competitors,
					formal presentation of the tender during the Workshop
					<a href="http://www.science.unitn.it/~sala/BunnyTN/index2011_sept.html"> 
					BunnyTN. </a></li>
				<li>
					20 October 2011: registration deadline.</li>
				<li>
					November 14, 2011: start of the competition.</li>
				<li>
					10 March 2012: end of the competition.</li>
				<li>
					12 March 2012: awarding of the winners during the Workshop 
					<a href="http://www.science.unitn.it/~sala/BunnyTN/index2012_march.html"> 
					BunnyTN. </a></li>
			</ul>
		</div>
		<div id="categorie">
			<h6>Categories</h6>
			<p>The competition is divided into three categories. Competitors, who can be teams 
				or individuals, can participate in one or more of the three categories.
			</p>
			<ul>
				<li> Classic category. <br>
					This is based on classical algorithms (in the sense of pre-Shannon), that 
					is polyalphabetic, which in theory can be broken even with paper and pencil 
					and good intuition. Each competitor must choose a system and encrypt a text 
					provided by us, after which he must break the figures of the others!
					This category is also open to high school students (<a href="../../../../
					../assets/attivita/cryptowars/2011/loc.pdf">poster</a>).
				</li>
				<li> Public key category.<br>
					We propose a series of public keys to be broken, of increasing 
					difficulty and therefore with different scores.	Mostly RSA, but also a few 
					other systems. As a key is broken, points are awarded and the key is 
					withdrawn.
				</li>
				<li> Symmetric key category. <br>
					We propose a symmetric system to attack. This category is very 
					technical. There can be a lot of attack scenarios here, so we don't
					give a specific target, but we reward what seems like the 
					most significant attack. We are more than happy to reward a couple of 
					them too!
				</li>
			</ul>
		</div>
		<div id="premiazione">
			<h6>Award ceremony</h6>
			<ul>
				<li>The winners is awarded during a Workshop that we have in March 
					2012.</li>
				<li>Each winning team, one per category (unless there is a tie), receive 
					5 licensed copies of the PrivateWave company software for making encrypted 
					phone calls. </li>
				<li>Each winning team also receive 3 iTwin keys to allow two computers to
					communicate securely.</li>
				<li>On March 12, 2012 at the BunnyTN Workshop a person representing the 
					winning team is awarded (one for each category). The prize consists of
					accommodation and food during the Workshop, plus of course the immortal 
					glory (the Workshop and the award ceremony is streamed).</li>
			</ul>
		</div>
	</div>	

	<div id="teamGara">
		<h3>The competing teams</h3>
		<h6>Classic category:</h6>
		<ul>
			<li> Milano, <font color="blue">Crackers</font>, <font color="red"><i>Martino 
				Borello</i></font>, martino.borello@gmail.com </li>
			<li> Milano, <font color="blue">MAC-MilanoAttaccaChiunque</font>, 
				<font color="red"><i>Chiara Schiavo</i></font>, chiara.schiavo@unimi.it</li>
			<li> Milano, <font color="blue">MilanoForFun</font>, <font color="red"><i>
				Andrea Posadino</i></font>, andreaposadino@gmail.com</li>
			<li> Milano, <font color="blue">The Wild Bunch</font>, <font color="red">
				<i>Gabriele Spini</i></font>, gabriele.spini@gmail.com</li>
			<li> Napoli, <font color="blue">Code-breaker</font>, <font color="red">
				<i>Andrea Di Palma</i></font>, andream.dipalma@libero.it</li>
			<li> Perugia, <font color="blue">Crypto-Grifo</font>, <font color="red">
				<i> Marco Baioletti</i> </font>, baioletti@dipmat.unipg.it</li>
			<li> Pisa, <font color="blue">CryptoCocchi</font>, <font color="red">
				<i>Daniele</i></font>, tas@paranoici.org </li>
			<li> Roma, <font color="blue">aRM3d</font>, <font color="red">
				<i>Bernardo Palazzi</i></font>, bernardo@bernardo.it</li>
			<li> Roma, <font color="blue">Gesmer</font>, <font color="red">
				<i> Giulio Aliberti</i></font>, giulio.alib@gmail.com</li>
			<li> Torino, <font color="blue">A. Mathison T.</font>, <font color="red">
				<i>Federico</i></font>, fedehousej@hotmail.it</li>
			<li> Torino, <font color="blue">Shuana</font>, <font color="red">
				<i>Giulia</i></font>, giux.jei.giu@live.it</li>
			<li> Torino, <font color="blue">Cryptonite</font>, <font color="red">
				<i>Stefania Vanzetti</i> </font>, stefaniavanzetti@gmail.com </li>
			<li> Torino, <font color="blue">upsjop11</font>,<font color="red">
				<i>Matteo Ghigo</i></font>, matteoghigo@gmail.com </li>
			<li> Trento, <font color="blue">Crackers Salati (Informatica) 
				</font>, <font color="red"><i>Federico Scrinzi</i> </font>, 
				fox91 AT anche DOT no</li>
			<li> Udine, <font color="blue">Wir BITte?</font>, <font color="red">
				<i>Lorenzo Antoniazzi</i></font>, antoniazzi.lorenzo@spes.uniud.it </li>
		</ul>
	<font color="green">Total number of subscribers to the classic 
		category at the moment: more than 150.</font>
	<br>
	<br>

	<h6><i>Public key category:</i></h6>
	<ul>
		<li> Milano, <font color="blue">Crackers</font>, <font color="red">
			<i>Martino Borello</i></font>, martino.borello@gmail.com </li>
		<li> Milano, <font color="blue">MAC-MilanoAttaccaChiunque</font>, 
			<font color="red"><i>Chiara Schiavo</i></font>, chiara.schiavo@unimi.it</li>
		<li> Milano, <font color="blue">The Wild Bunch</font>, <font color="red">
			<i>Gabriele Spini</i></font>, gabriele.spini@gmail.com</li>
		<li> Perugia, <font color="blue">Crypto-Grifo</font>, <font color="red">
			<i> Marco Baioletti</i> </font>, baioletti@dipmat.unipg.it</li>
		<li> Pisa, <font color="blue">CryptoCocchi</font>, <font color="red">
			<i>Daniele</i></font>, tas@paranoici.org </li>
		<li> Roma, <font color="blue">aRM3d</font>, <font color="red">
			<i> Bernardo Palazzi</i></font>, bernardo@bernardo.it</li>
		<li> Roma, <font color="blue">Enimmista</font>, <font color="red">
			<i>Marco Valenti</i></font>, valentimar@gmail.com</li>
		<li> Roma, <font color="blue">Gab84RM</font>, <font color="red">
			<i>Gabriele Pulvano</i></font>, gabrieleplv@libero.it</li>
		<li> Torino, <font color="blue">Cryptonite</font>, <font color="red">
			<i>Stefania Vanzetti</i> </font>, stefaniavanzetti@gmail.com </li>
	<li> Udine, <font color="blue">Wir BITte?</font>, <font color="red">
		<i>Lorenzo Antoniazzi</i></font>, antoniazzi.lorenzo@spes.uniud.it </li>
	</ul>

	<h6><i>Symmetric key category:</i></h6>
	<ul>
		<li> Milano, <font color="blue">Crackers</font>, <font color="red">
			<i>Martino Borello</i></font>, martino.borello@gmail.com </li>
		<li> Milano, <font color="blue">MAC-MilanoAttaccaChiunque</font>,
			<font color="red"><i>Chiara Schiavo</i></font>, chiara.schiavo@unimi.it</li>
		<li> Milano, <font color="blue">The Wild Bunch</font>, <font color="red">
			<i>Gabriele Spini</i></font>, gabriele.spini@gmail.com</li>
		<li> Perugia, <font color="blue">Crypto-Grifo</font>, <font color="red">
			<i> Marco Baioletti</i> </font>, baioletti@dipmat.unipg.it</li>
		<li> Pisa, <font color="blue">CryptoCocchi</font>, <font color="red">
			<i>Daniele</i></font>, tas@paranoici.org </li>
		<li> Pisa, <font color="blue">m19700530</font>, <font color="red">
			<i>Marco Pellegrini</i></font>, m19700530@hotmail.com</li>
		<li> Roma, <font color="blue">aRM3d</font>, <font color="red">
			<i> Bernardo Palazzi</i></font>, bernardo@bernardo.it</li>
		<li> Roma, <font color="blue">Enimmista</font>, <font color="red">
			<i>Marco Valenti</i></font>, valentimar@gmail.com</li>
		<li> Roma, <font color="blue">Gesmer</font>, <font color="red">
			<i> Giulio Aliberti</i></font>, giulio.alib@gmail.com</li>
		<li> Udine, <font color="blue">Wir BITte?</font>, <font color="red">
			<i>Lorenzo Antoniazzi</i></font>, antoniazzi.lorenzo@spes.uniud.it </li>
	</ul>
	<br>
<br>
	</div>
	<div id="classifica">
		<h3>Ranking</h3>
		<h6><font color="blue">Classic category</font></h6>
		<table border="1" cellpadding="4" cellspacing="0" width="90%" align="center">
			<tbody>
				<tr>
					<td>TEAM</td>
					<td>COMPETITION 1</td>
					<td>CHALLENGES</td>
					<td>TOTAL</td>
				</tr>
				<tr>
					<td>&nbsp;<font color="red"><b>aRM3d</b></font>&nbsp;</td>
					<td>30&nbsp;</td>
					<td>2+5+7+9+<font color="green">15</font></td>
					<td>53+<font color="green">15</font>=<font color="red"><b>68</b></font></td>
				</tr>
				<tr>
					<td>&nbsp;<font color="orange"><b>Cryptonite</b></font></td>
					<td>50&nbsp;</td>
					<td>3+5</td>
					<td>58+<font color="blue">5</font>=<font color="orange"><b>63</b></font></td>
				</tr>
				<tr>
					<td>&nbsp;<font color="purple"><b>Wir BITte?</b></font></td>
					<td>50&nbsp;</td>
					<td>3+5</td>
					<td><font color="purple"><b>58</b></font></td>
				</tr>
				<tr>
					<td>&nbsp;CrackerSalati</td>
					<td>30&nbsp;</td>
					<td>3+5</td>
					<td>38</td>
				</tr>
				<tr>
					<td>&nbsp;The Wild Bunch</td>
					<td>30&nbsp;</td>
					<td>3+5</td>
					<td>38</td>
				</tr>
				<tr>
					<td>&nbsp;upsjop11</td>
					<td>30&nbsp;</td>
					<td>0</td>
					<td>30</td>
				</tr>
				<tr>
					<td>&nbsp;Milano For Fun</td>
					<td>10&nbsp;</td>
					<td>3+5+7</td>
					<td>25</td>
				</tr>
				<tr>
					<td>&nbsp;Gesmer</td>
					<td>20&nbsp;</td>
					<td>3</td>
					<td>23</td>
				</tr>
				<tr>
					<td>&nbsp;MAC</td>
					<td>10&nbsp;</td>
					<td>3+5</td>
					<td>18</td>
				</tr>
				<tr>
					<td>&nbsp;Crypto-Grifo</td>
					<td>10&nbsp;</td>
					<td>3</td>
					<td>13</td>
				</tr>
				<tr>
					<td>&nbsp;CryptoCocchi</td>
					<td>10&nbsp;</td>
					<td>0</td>
					<td>10</td>
				</tr>
				<tr>
					<td>&nbsp;Crackers</td>
					<td>0&nbsp;</td>
					<td>3</td>
					<td>3</td>
				</tr>
				<tr>
					<td>&nbsp;Shuana</td>
					<td>0&nbsp;</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>&nbsp;A.Mathison T.</td>
					<td>0&nbsp;</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<td>&nbsp;Code-Breakers</td>
					<td>0&nbsp;</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h6><font color="blue">Public category</font></h6>
		<table border="1" cellpadding="4" cellspacing="0" width="90%" align="center">
			<tbody>
				<tr>
					<td><b>TEAM</b></td>
					<td>&nbsp;<b>RSA</b></td>
					<td>&nbsp;<b>ECC</b></td>
				<td><b>TOTAL</b></td>
				</tr>
				<tr>
					<td><font color="red"><b>Cryptonite</b></font></td>
					<td>&nbsp;10+8*20+4*50+50</td>
					<td>&nbsp;150+3*50</td>
					<td>&nbsp;<font color="red"><b>720</b></font></td>
				</tr>
				<tr>
					<td>Wir BITte?</td>
					<td>&nbsp;50</td>
					<td>0</td>
					<td>50&nbsp;</td>
				</tr>
				<tr>
					<td>Crypto-Grifo</td>
					<td>&nbsp;10</td>
					<td>&nbsp;0</td>
					<td>&nbsp;10</td>
				</tr>
				<tr>
					<td>Crackers</td>
					<td>&nbsp;10</td>
					<td>&nbsp;0</td>
					<td>&nbsp;10</td>
				</tr>
				<tr>
					<td>MAC</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>&nbsp;TWB</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>CryptoCocchi</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
				<td>aRM3d</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>Enimmista</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>Gab84RM</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
					<td>&nbsp;0</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h6><font color="blue">Symmetric category</font></h6>
		<table border="1" cellpadding="4" cellspacing="0" width="90%" align="center">
			<tbody>
				<tr>
				<td><b>TEAM</b></td>
					<td><b>TOTAL</b></td>
				</tr>
				<tr>
					<td><font color="red"><b>Wir BITte?</b></font></td>
					<td><font color="red"><b>100</b></font></td>
				</tr>
				<tr>
					<td>Gesmer</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>Crackers</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>MAC</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>TWB</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>Crypto-Grifo</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>CryptoCocchi</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>aRM3d</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>Enimmista</td>
					<td>&nbsp;0</td>
				</tr>
				<tr>
					<td>m19700530</td>
					<td>&nbsp;0</td>
				</tr>
			</tbody>
		</table>

		<br>
		<p>For further information and questions write to mathnow.unitn@gmail.com</p>
	
	</div>
	<div id="Sponsor">
		<h3>Sponsor</h3>
		<ul>
			<li>Our Wars are possible only thanks to the presence of enlightened sponsors, 
				whom we warmly thank.</li>
			<li>We have decided on a maximum number of 6 sponsors, for the moment we have 
				the following:
				<ul>
					<li><font color=blue> Alpha Orionis Srl, Milano</font>, company active in 
						security in the <i>Finance</i> field,</li>
					<li><a href="http://confidace.it/"><font color=blue> Ceremit Srl, Thiene
						</font></a>, specialized in <i>Consulting Engineering</i>,</li>
					<li><a href="http://www.seeweb.it/"><font color=blue> SeeWeb</font></a>, 
						the biggest <i>cloud provider</i>, entirely Italian,</li>
					<li><a href="http://www.privatewave.com/home.html"><font color=blue> 
						PrivateWave</font></a>, innovative solutions in <i>anti-interception 
						telephon	</i>,</li>
					<li><a href="http://www.itwin.it/"><font color=blue> iTwin</font></a>, 
						token for <i>encrypted access</i> to your remote computer.</li>
				</ul>
			</li>
		</ul>
		
	</div>
	<div id="Forum">
		<h3>Forum</h3>
		For the occasion, a <a href="https://cryptowars2011.forumfree.it/">forum</a> has
		been opened.
	</div>
	<div id="categoriaClassica">
		<hr>
		<app-classic></app-classic>
		<hr>
		<app-public></app-public>
		<hr>
		<app-symmetric></app-symmetric>
		<hr>
	</div>
	<div id="cryptoCamp">
		<p>CryptoCamp already done:</p>
		<ul>
			<li> <font color=green> 13 September 2011, h 14.00  </font>
					<font color=red> Udine, Multimedia room of DIMI</font>, <br>
					local organizer <i>Emanuele Pucciarelli </i> ep@acm.org
			</li>
			<li> <font color=green> 14 September 2011, 10.30 </font>
					<font color=red> Milano, DICo, via Golgi 19, Room G07</font>, <br>
					local organizer <i>Mattia Monga </i> mattia.monga@unimi.it
			</li>
			<li> <font color=green> 14 September 2011, 14.30 </font>
					<font color=red>Crema (Cremona), Room 2nord, Dept. of Information 
					Technologies (DTI)</font>, <br> local organizer <i>Mattia Monga</i> 
					mattia.monga@unimi.it
			</li>
			<li> <font color=green> 15 September 2011, 09.00</font>
					<font color=red> Torino, Room 4, Palazzo Campana, Dept. of 
					Mathematics</font>, <br> local organizer <i>Margherita Roggero</i> 
					margherita.roggero@unito.it 
			</li>
			<li> <font color=green> 15 September 2011, 15.00</font>
					<font color=red> Genova, Room 710 DISI</font>, <br>
					local organizer <i>Teo Mora</i> theomora@disi.unige.it
			</li>
			<li> <font color=green> 16 September 2011, h 10.00</font>,
					<font color=red> Pisa, lecture hall, Dept. of Mathematics</font>, <br>
					local organizer <i>Sergio Steffè </i> steffe@dm.unipi.it
			</li>
			<li> <font color=green> 19 September 2011, h 11.00 </font>
				<font color=red> Perugia, Room A3, Dept. of Mathematics</font>, <br>
				local organizer
				<i>Tommaso Gagliardoni </i> tommaso@gagliardoni.net
			</li>
			<li> <font color=green> 26 September 2011, h 08.00  </font>
				<font color=red> Pergine,  High School Marie Curie</font> <br>
				local organizer <i>Angela Aldrighetti </i>
			</li>
			<li> <font color=green> 29 September 2011, h 10.30  </font>
					<font color=red> Crema,  Dept. of Information Technologies (DTI)</font><br>
					local organizer <i>Stelvio Cimato  </i>stelvio.cimato@unimi.it
			</li>
			<li> <font color=green> 29 September  2011, h 14.30</font>
				<font color=red> Milano, Room Dottorato (I piano), Dept. of Mathematics, 
					via Saldini 50 </font><br> local organizer <i>Giovanni Naldi</i>
					giovanni.naldi@unimi.it 
			</li>
			<li> <font color=green> 5 Ottobre 2011, h 10.00</font>
				<font color=red> Napoli, Isola C Business Center, Faculty of Science and 
					Technology of the University of Parthenope, </font><br>
					local organizer <i>Giovanni Schmid  </i> giovanni.schmid@cnr.it 
			</li>
			<li> <font color=green> 6 Ottobre 2011, h 10.30</font>
				<font color=red> Milano, Room V10, Venezian Street 21, Dept. of Informatics
				</font><br> local organizer <i>Andrea Visconti  </i> andrea.visconti@unimi.it
			</li>
		</ul>
	</div>