img{
    margin-right:3px;
}
a.issuebtn {
	text-decoration: none;
	text-align: left;
	background: var(--cifris_azure_transparent);
	padding: 8px 16px;
	margin: 0px 10px 2px 10px;
	width: 200px;
	border-radius: 4px;
	border:transparent;
	transition: background-color 0.3s, color 0.3s;
}

a.issuebtn:hover {
	background-color: var(--cifris_orange);
	color: white;
}