<div class="container">
	<div class="sidenav">
		<nav class="sidebar" id="sidebar">
			<ul>
				<li>
					<button mat-button [routerLink]="['/']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>home</mat-icon>
						<span class="sidebar-text">HOME</span>
					</button>
				</li>
				<h5> DE CIFRIS APS</h5>
				<li>
					<button mat-button [routerLink]="['/associazione']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>groups</mat-icon>
						<span class="sidebar-text">Associazione</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/associazione/statuto']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>description</mat-icon>
						<span class="sidebar-text">Statuto</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/associazione/regolamento']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>gavel</mat-icon>
						<span class="sidebar-text">Regolamenti</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/associazione/organi-direttivi']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>corporate_fare</mat-icon>
						<span class="sidebar-text">Organizzazione</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/associazione/associarsi']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>person_add</mat-icon>
						<span class="sidebar-text">Associarsi</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/associazione/advisory-board']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>assured_workload</mat-icon>
						<span class="sidebar-text">Advisory Board</span>
					</button>
				</li>
				<h5> SERVIZI </h5>
				<li>
					<button mat-button [routerLink]="['/associazione/posizioni-ricerca']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>work</mat-icon>
						<span class="sidebar-text">Poizioni</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/associazione/stage-tirocini']" routerLinkActive="active"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>badge</mat-icon>
						<span class="sidebar-text">Stage & Tirocini</span>
					</button>
				</li>
			</ul>
		</nav>
	</div>
	<div class="content">
			<h1>Associazione di Promozione Sociale <i>De Componendis Cifris</i></h1>
		<router-outlet></router-outlet>
	</div>
</div>