<!-- <mat-drawer-container class="example-container">
	<mat-drawer mode="side" opened>Drawer content</mat-drawer>
	<mat-drawer-content>Main content</mat-drawer-content>
 </mat-drawer-container> -->

 <div>
	<ng-sidebar-container>
		<ng-sidebar [opened]="opened" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
			<ul class="noIndent" align="left">
				<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
				<li style="display:none">
					<button autofocus="autofocus"></button>
				</li>
				<li>
					<button class="btn btn-outline-info" (click)="goTo('stageTirocini')">
						Stage e Tirocini
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" (click)="goTo('posiziosiAccademiche')">
						Posizioni Accademiche
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" (click)="goTo('advisoryBoard')">
						Advisory Board
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" (click)="goTo('borseAdvisoryBoard')">
						Borse Advisory Board
					</button>
				</li>
			</ul>
			<!-- <button class="btn btn-outline-info" (click)="toggleSidebar()" style="position: absolute; bottom: 75px; left: 30;">
				Nascondi
			</button> -->
		 </ng-sidebar>
		<div ng-sidebar-content class="container bottomExtra">
			
		</div>
	</ng-sidebar-container>
</div>
