<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROCEEDINGS</h3>
	</div>
</div>
<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12">
		<p>
			Each talk presented at De Cifris workshops will be published according to a choice made by the paper authors as follows:
		</p>
		<ol>
			<li>
				(either) <br>
				A two-page mini-abstract will appear in the main Proceedings book, which will be the first issue of a new book series <b>De Cifris Koine</b>. The paper will also appear in other forms freely: since the mini-abstract is only two-page long, its publication in <b>Koine</b> will not affect the publication of the full paper in other venues.
			</li>

			<li>
				(or) <br>
				A two-page mini-abstract will appear in the main Proceedings book, which will be the first issue of a new book series <b>De Cifris Koine</b>. The paper will also appear in the first issue of (another) new book series <b>Collectanea Ciphrarum</b>. Papers appearing in <b>Collectanea</b> need to have been refereed, either by the workshop PC or by <b>Collectanea</b>’s board, and will have a typical length between 10 and 20 pages. Usually, a paper appearing in <b>Collectanea</b> will not be published in other venues (unless, possibly, with significant additional material).
			</li>
		</ol>
		<p>
			Remarks:
		</p>
		<ol type="A">
			<li>
				In any case, a two-page abstract <b>must</b> appear in <b>Koine</b>. Authors of accepted workshop talks are expected to send it to <a href="mailto:editorial@decifris.it">editorial@decifris.it</a> not later than the 4-th of December.
			</li>

			<li>
				Both <b>Koine</b> and <b>Collectanea</b> are Open Access publications, with <b>no fees</b> for authors. They are published by <b style="color:red;">De Cifris Press</b>, our own publishing house.
			</li>

			<li>
				<b>Koine</b> is a book series that will not be indexed by search engines, such as Scopus. Its books have only the goal of showing the activities of the Italian community.
			</li>

			<li>
				<b>Collectanea</b> instead will be submitted to the main research databases. <b>Collectanea</b> will have its own ISSN and it might be functionally compared to LNCS.
			</li>
		</ol>
	</div>
</div>