<div>
	<ng-sidebar-container>
		<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799"> 
			<ul class="noIndent" align="left">
				<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
				<li style="display:none">
					<button autofocus="autofocus"></button>
				</li>
                	<button class="btn btn-outline-info" routerLink="/associarsi">
						Come Associarsi
					</button>
                <li>
					<button class="btn btn-outline-info" routerLink="/posizioniRicerca">
						Posizioni Accademiche
					</button>
                </li>
				<li>
					<button class="btn btn-outline-info" routerLink="/stageTirocini">
						Stage e Tirocini
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" routerLink="/advisoryBoard">
						Advisory Board
					</button>
				</li>
			</ul>
			<!-- <button class="btn btn-outline-info" (click)="toggleSidebar()" style="position: absolute; bottom: 75px; left: 30;">
				Nascondi
			</button> -->
		 </ng-sidebar>
		<div ng-sidebar-content class="container bottomExtra">
			<div class="row mt-3">
				<div class="col-md-12 mt-3">
					<h4>COME ASSOCIARSI - BENEMERITI</h4>
					<p> 
                        La scelta dei benemeriti viene gestita con procedure interne all'Associazione.
                    <br>
                        Si diventa Soci benemeriti solo dietro invito, pervenuto tramite email dal Presidente.                        
					</p>
                    <p>
                        Per accettare l'invito ad associarsi, l'interessato dovrà, 
                        entro 30 giorni dalla ricezione dell'invito:
                    </p>
					<ul>
						<li>
							Compilare l'invito ricevuto
                        </li>
						<li>
							Leggere e sottoscrivere <a href="../../../assets/associazione/Informativa_privacy.pdf">l'Informativa sul trattamento dei dati personali</a>.
						</li>
						<li>
							Effettuare il pagamento della quota associativa di Euro 550,00.
						</li>
						<li>
							Inviare i seguenti documenti all'indirizzo
                            email <a href="mailto:soci@decifris.it">soci@decifris.it</a>:
                            <ul>
                                <li>
                                    L'invito controfirmato,
                                </li>
                                <li>
                                    L'informativa sul trattamento dei dati sottoscritta,
                                </li>
                                <li>
                                    La ricevuta del pagamento,
                                </li>
                                <li>
                                    Una copia di un documento d'identità (carta d'identità o passaporto).
                                </li>
                            </ul>
						</li>
					</ul>
					<hr>
					<h5>MODALITA' DI PAGAMENTO:</h5>
					<p>
						Pagamento tramite bonifico su conto corrente intestato a:
                    <br>
						Associazione De Componendis Cifris
					<br>
						IBAN: IT 61 Q 08304 01810 000010412063
					<br>
						BIC/SWIFT: CCRTIT2T76A
					<br>
						Cassa di Trento Credito Cooperativo Italiano
					<br>
						Causale: “Quota socio/a benemerito/a Nome Cognome”.
					</p>
				</div>
			</div>
		</div>
	</ng-sidebar-container>
</div>