<p>associarsi works!</p>
<div>
	<ng-sidebar-container>
		<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799"> 
			<ul class="noIndent" align="left">
				<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
				<li style="display:none">
					<button autofocus="autofocus"></button>
				</li>
					<button class="btn btn-outline-info" routerLink="/posizioniRicerca">
						Posizioni Accademiche
					</button>
				<li>
					<button class="btn btn-outline-info" routerLink="/stageTirocini">
						Stage e Tirocini
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" routerLink="/advisoryBoard">
						Advisory Board
					</button>
				</li>
			</ul>
			<!-- <button class="btn btn-outline-info" (click)="toggleSidebar()" style="position: absolute; bottom: 75px; left: 30;">
				Nascondi
			</button> -->
		 </ng-sidebar>
		<div ng-sidebar-content class="container bottomExtra">
			<div class="row mt-3">
				<div class="col-md-12 mt-3">
					<h4>COME ASSOCIARSI</h4>
					<p>In questa pagina viene spiegata la procedura di associazione per le persone fisiche. </p>
				</div>
			</div>
		</div>
	</ng-sidebar-container>
</div>