<div>
	<ng-sidebar-container>
		<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799"> 
			<ul class="noIndent" align="left">
				<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
				<li style="display:none">
					<button autofocus="autofocus"></button>
				</li>
					<button class="btn btn-outline-info" routerLink="/posizioniRicerca">
						Posizioni Accademiche
					</button>
				<li>
					<button class="btn btn-outline-info" routerLink="/stageTirocini">
						Stage e Tirocini
					</button>
				</li>
				<li>
					<button class="btn btn-outline-info" routerLink="/advisoryBoard">
						Advisory Board
					</button>
				</li>
			</ul>
			<!-- <button class="btn btn-outline-info" (click)="toggleSidebar()" style="position: absolute; bottom: 75px; left: 30;">
				Nascondi
			</button> -->
		 </ng-sidebar>
		<div ng-sidebar-content class="container bottomExtra">
			<div class="row mt-3">
				<div class="col-md-12 mt-3">
					<h4>COME ASSOCIARSI</h4>
					<p><strong> English version below </strong></p>
					<p> Possono fare richiesta di associazione a De Cifris tutte le persone fisiche
					    che ne condividano le finalità, presentando domanda al consiglio direttivo 
						secondo le seguenti modalità:
					</p>
					<ul>
						<li>
							Compilare la <a href="../../../assets/associazione/Modulo_domanda_ammissione_associati.pdf">Domanda di ammissione</a>.
						</li>
						<li>
							Leggere e sottoscrivere <a href="../../../assets/associazione/Informativa_privacy.pdf">l'Informativa sul trattamento dei dati personali</a>.
						</li>
						<li>
							Effettuare il pagamento della quota associativa definita come segue:
							<ul>
								<li>
									Socio/a ordinario/a: Euro 20,00.
								</li>
								<li>
									Socio/a giovane (età inferiore a 30 anni): Euro 5,00.
								</li>
							</ul>
						</li>
						<li>
							Inviare i moduli compilati, la ricevuta del pagamento
							e una copia del documento di identità (carta d'identità o passaporto)
							all'indirizzo email <a href="mailto:soci@decifris.it">soci@decifris.it</a>. 
						</li>
					</ul>
					<hr>
					<h5>PERCHE' ASSOCIARSI</h5>
					<p>
						Ci sono numerosi vantaggi nell'associarsi:
					</p>
					<ul>
						<li>
							Sia per i giovani, ad esempio per trovare trovare stage, 
							tirocini e offerte di lavoro, come riassunto
							<a href="../../../assets/opportunità/vantaggi_associarsi_DC_giovani.pdf">qui</a>.
						</li>
						<li>
							Sia per gli interessati, ad esempio per avere sconti sulle nostre iniziative formative 
							e per partecipare assieme a progetti,
							come riassunto <a href="../../../assets/opportunità/vantaggi_associarsi_DC.pdf">qui</a>.
						</li>
					</ul>
					<hr>
					<h5>MODALITA' DI PAGAMENTO:</h5>
					<p>
						Pagamento tramite bonifico su conto corrente intestato a:
					<br>
						Associazione De Componendis Cifris
					<br>
						IBAN: IT 61 Q 08304 01810 000010412063
					<br>
						BIC/SWIFT: CCRTIT2T76A
					<br>
						Cassa di Trento Credito Cooperativo Italiano
					<br>
						Causale: 
					</p>
					<ul>
						<li>
							Associato/a ordinario/a: “Quota socio/a ordinario/a Nome Cognome”
						</li>
						<li>
							Associato/a giovane: “Quota socio/a giovane Nome Cognome”

						</li>
					</ul>
					<hr>
					<p>
						La domanda di ammissione verrà vagliata dal consiglio direttivo che dovrà esprimersi a tale
						riguardo entro centoventi giorni dalla ricezione della domanda.
					</p>
					<p>
						Per quanto riguarda i soci benemeriti, la procedura è indicata
						a <a routerLink="/associarsi-benemeriti">questa pagina</a>.
					</p>
					<hr>
					<hr>
					<h4>HOW TO BECOME A MEMBER</h4>
					<p>
						This is the registration procedure to become a member of the association:
					</p>
					<ul>
						<li>
							Fill in the <a href="../../../assets/associazione/Membership_application_form.pdf">Membership application form</a>.
						</li>
						<li>
							Read and sign the <a href="../../../assets/associazione/Privacy_notice_for_members.pdf">Privacy and data treatment notice for members</a>.
						</li>
						<li>
							Make the membership fees payment, as follows: 
							<ul>
								<li>
									Regular member: Euro 20,00.
								</li>
								<li>
									Young member (under 30 years of age): Euro 5,00.
								</li>
							</ul>
						</li>
						<li>
							Email the address <a href="mailto:soci@decifris.it">soci@decifris.it</a> attaching to the e-mail 
							the signed membership application form, the signed privacy notice, the receipt of the payment
							and a copy of a valid identity document (identity card or passport).
						</li>
					</ul>
					<p>
						The payment must be made by bank transfer to the following bank account:
					<br>
						Associazione De Componendis Cifris
					<br>
						IBAN: IT 61 Q 08304 01810 000010412063
					<br>
						BIC/SWIFT: CCRTIT2T76A
					<br>
						Cassa di Trento Credito Cooperativo Italiano
					<br>
						Bank transfer description: 
					</p>
					<ul>
						<li>
							Regular member: "Fee regular member Name Surname"
						</li>
						<li>
							Young member: "Fee young member Name Surname"
						</li>
					</ul>
					<hr>
					<p>
						We recall that currently our membership is <strong>restricted to EU citizens</strong>.
						We are trying to loosen this restriction, but at the moment it is enshrined in our
						Statute.
					</p>
				</div>
			</div>
		</div>
	</ng-sidebar-container>
</div>