<h1 style="text-align: center;">RAIPQC24 - Recent Advances in Post-Quantum Cryptography 2024</h1>
<h2>Organizers</h2>
<p>
    <b></b>
    <em>
        Giulio Codogni (Tor Vergata University, Italy)
        <br>
        Roberto La Scala (University of Bari, Italy)
        <br>
        Edoardo Persichetti (Florida Atlantic University, USA)
        <br>
        Federico Pintore (University of Trento, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    Post-quantum cryptography, that is, the study of cryptographic schemes capable of withstanding attackers equipped
    with both classical and quantum computers, is an area of research that has experienced tremendous growth in recent
    years, also due to the initiation of a standardization effort by NIST, which has led to the selection of the first
    schemes to standardise. More recently, the focus has been on post-quantum digital signature schemes, which are the
    subject of the latest NIST competition. This workshop will provide an overview of the state of the art in
    post-quantum cryptography, along with the NIST competition, and focus on cutting-edge methods for designing and
    implementing post-quantum signatures.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i>Main hall, 14:00 - 17:00</i>
</p>
<p>
    Keynote speaker: <b>Thibauld Feneuil</b>, CryptoExperts (France)
</p>
<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
    <tr bgcolor="lightblue" id="raipqc24">
        <th class="schedule" colspan="2">
            <font size="+1"><b>September 27th (afternoon) - Workshop Session</b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Thibauld Feneuil</b>, CryptoExperts (France)
            </i>
            <br>
            Post-Quantum Signatures from Secure Multiparty Computation
            <details>
                <summary>
                    Abstract
                </summary>
                The MPC-in-the-Head (MPCitH) paradigm is a versatile framework to design zero-knowledge proofs and
                post-quantum signatures, by relying on secure multi-party computation (MPC) techniques. It has recently
                been improved in a series of works which makes it a practical and tunable tool. This paradigm has been
                utilized in 9 out of the 40 candidates selected for the first round of the recent NIST call for
                additional post-quantum signatures. In this talk, I will provide a general introduction to MPCitH,
                discuss the latest MPCitH techniques, and show how they can be used to build efficient post-quantum
                signatures.
            </details>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Andrea Basso</b>, IBM Zurich (Switzerland)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Rocco Mora</b>, CISPA Helmholtz Center for Information Security (Germany)
            </i>
            <br>
            The Regular Multivariate Quadratic problem
            <details>
                <summary>
                    Abstract
                </summary>
                In this talk, we introduce a new NP-complete variant of the multivariate quadratic problem. The
                computational challenge involves finding a solution to an algebraic system that meets the "regular"
                constraint, meaning that each block of the solution vector contains only one nonzero entry. Following
                this, we adapt and compare various techniques of cryptanalysis to study the asymptotic complexity of the
                average instance.
            </details>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Ryann Cartor</b>, Clemson University (USA)
            </i>
            <br>
            MinRank Attacks in Multivariate Cryptography
            <details>
                <summary>
                    Abstract
                </summary>
                This talk focuses on the cryptanalysis of post-quantum cryptography schemes, particularly focusing on
                multivariate and rank-metric code-based cryptosystems. As quantum computing advances, these schemes have
                gained attention for their unique performance characteristics, but they are vulnerable to MinRank
                attacks, which have exposed critical security flaws. The MinRank problem, central to these attacks, has
                been effectively used to break several prominent cryptosystems. This presentation will examine two
                distinct MinRank-based attacks on the multivariate encryption scheme HFERP, offering new insights into
                cryptanalytic techniques and their implications for the future of post-quantum cryptography. The
                discussion highlights the necessity of continuous cryptanalysis and innovation in developing
                quantum-resistant cryptosystems.
            </details>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Luciano Maino</b>, University of Bristol (UK)
            </i>
            <br>
            Attack-based encryption using isogenies
            <details>
                <summary>
                    Abstract
                </summary>
                In this talk, we will describe how to turn an attack into a constructive tool. In particular, we will
                introduce FESTA, a public-key encryption mechanism derived from an attack on a specific isogeny problem.
                The practicality of FESTA relies on novel efficient algorithms to compute isogenies between abelian
                surfaces. We will give some intuition on such algorithms and finally discuss recent developments in
                isogeny-based cryptography.
            </details>
        </td>
    </tr>
</table>