<h2> ARTICLES AND VOLUMES </h2>
<p>A complete list of all available volumes of <i>De Cifris Koine</i> and their articles, with the most recent at top. De Cifris Koine covers conference proceedings (<b>Acta</b>), divulgative articles and more.</p>
<div class="collapsible">
	<button class="collapsible-btn" (click)="openCollapsible($event)" id="vol1">
		<b>Volume 4: DE CIFRIS PROTOCOLS</b>
		<span class="arrow">&#9660;</span>
	</button>
	<div class="collapsible-content">
		coming soon
	</div>
</div>
<div class="collapsible">
	<button class="collapsible-btn" (click)="openCollapsible($event)" id="vol1">
		<b>Volume 3: ACTA ERUDITORUM 2024</b>
		<span class="arrow">&#9660;</span>
	</button>
	<div class="collapsible-content">
		coming soon
	</div>
</div>
<div class="collapsible">
	<button class="collapsible-btn" (click)="openCollapsible($event)" id="vol1">
		<b>Volume 2: DE CIFRIS SEMINARS</b>
		<span class="arrow">&#9660;</span>
	</button>
	<div class="collapsible-content">
		<app-vol2></app-vol2>
	</div>
</div>
<div class="collapsible">
	<button class="collapsible-btn" (click)="openCollapsible($event)" id="vol1">
		<b>Volume 1: CIFRIS23 ACTA</b>
		<span class="arrow">&#9660;</span>
	</button>
	<div class="collapsible-content">
		<app-vol1></app-vol1>
	</div>
</div>
<div style="margin-bottom: 30px;">
</div>