<div zoomed>
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" 
		style="background-color: rgb(146, 215, 226);">
		<img class="pr-2 noFocus"
			routerLink=""
			src="../../assets/logoTrasparente.png" 
			alt="Logo De Cifris" 
			height="40px">
		<a class="navbar-brand" 
			routerLink="" 
			data-toggle="collapse" 
			data-target=".navbar-collapse.show" 
			routerLinkActive="active">
			De Componendis Cifris</a>
		<button class="navbar-toggler" 
			type="button" 
			data-toggle="collapse" string
			data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					href="#" 
					id="navbarDropdownMenuLink" 
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">Welcome</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" 
					routerLink="/accademia" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Fai ricerca?</a>
					<a class="dropdown-item" 
					routerLink="/aziende" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Lavori in azienda?</a>
					<a class="dropdown-item" 
					routerLink="/scuola" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Insegni a scuola?</a>
					<a class="dropdown-item" 
					routerLink="/studenti" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Sei studente?</a>
					<a class="dropdown-item" 
					routerLink="/curiosi" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Ti incuriosisce?</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					href="#" 
					id="navbarDropdownMenuLink" 
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">Associazione</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" 
					routerLink="/statuto" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Statuto</a>
					<a class="dropdown-item" 
					routerLink="/regolamento" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Regolamenti</a>
					<a class="dropdown-item" 
					routerLink="/organiDirettivi" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Organizzazione</a>
					<a class="dropdown-item" 
					routerLink="/dicono-di-noi" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Dicono di noi</a>
				</div>
			</li>
			<!-- <li class="nav-item" routerLinkActive="active">
				<a class="nav-link" 
				routerLink="obiettivi" 
				data-toggle="collapse" 
				data-target=".navbar-collapse.show">Obiettivi</a>
			</li> -->
			<!-- <li class="nav-item" routerLinkActive="active">
				<a class="nav-link" 
					routerLink="eventi" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Eventi</a>
			</li> -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					href="#" 
					id="navbarDropdownMenuLink" 
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">Attività</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<!-- <a class="dropdown-item" 
					value="cifrisChain" 
					routerLink="/cifrisChain"
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">CifrisChain</a>
				<a class="dropdown-item" 
					value="PQCifris" 
					routerLink="/PQCifris"
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">PQCifris</a>
				<a class="dropdown-item" 
					value="cifrisCloud" 
					routerLink="/cifrisCloud" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">CifrisCloud</a>
				<a class="dropdown-item" 
					value="mathCifris" 
					routerLink="/mathCifris" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">MathCifris</a> -->
					<a class="dropdown-item" 
					value="eventi" 
					routerLink="/eventi" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Eventi</a>
					<a class="dropdown-item" 
					value="seminari" 
					routerLink="/seminariLocali" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Seminari</a>
				</div>
			</li>
			<!-- <li class="nav-item" routerLinkActive="active">
				<a class="nav-link"
					routerLink="seminariLocali" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Seminari</a>
			</li> -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					href="#" 
					id="navbarDropdownMenuLink" 
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">Collabora con noi</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" 
					routerLink="/associarsi" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Come associarsi</a>
					<a class="dropdown-item" 
					routerLink="/posizioniRicerca" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Posizioni accademiche</a>
					<a class="dropdown-item" 
					routerLink="/advisoryBoard" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Advisory board</a>
					<a class="dropdown-item" 
					routerLink="/stageTirocini" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Stage e tirocini</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
					href="#" 
					id="navbarDropdownMenuLink" 
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false">CIFRIS23</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" 
					routerLink="/cifris23" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Home</a>
					<a class="dropdown-item" 
					routerLink="/cifris23-call-for-papers" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Call for papers</a>
					<a class="dropdown-item" 
					routerLink="/cifris23-call-for-workshops" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Call for workshops</a>
					<a class="dropdown-item" 
					routerLink="/cifris23-program-committee" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Program committee</a>
					<a class="dropdown-item" 
					routerLink="/cifris23-registration" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Registration</a>
					<a class="dropdown-item" 
					routerLink="/cifris23-submission" 
					href="#" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Submission</a>
				</div>
			</li>
			<!-- <li class="nav-item" routerLinkActive="active">
				<a class="nav-link" 
					routerLink="counterparty" 
					data-toggle="collapse" 
					data-target=".navbar-collapse.show">Bitcoin competition</a>
			</li> -->
		</ul>
		<ul class="navbar-nav ml-auto">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" 
						routerLink="mailingList"
						data-toggle="collapse" 
						data-target=".navbar-collapse.show">Mailing List</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" 
						routerLink="contatti"
						data-toggle="collapse" 
						data-target=".navbar-collapse.show">Contatti</a>
				</li>
			</ul>
		</div>
 	</nav>
	<br>
	<br>
	<br>
	<div class="container">
		<router-outlet (activate)="onActivate($event)"></router-outlet>
		<!-- Questo bottone serve per attivare la modale di login. Non è visibile, ma è necessario -->
		<button id="openModal" 
			#openModal 
			[hidden]="true" 
			data-toggle="modal" 
			data-target="#loginModal"></button>
	</div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" #loginModal id="loginModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Benvenuto nel sito della De Componendis Cifris</h5>
			<button type="button" class="close" data-dismiss="modal">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" align="center">
			<p>Abbiamo dei contenuti specifici che potrebbero interessarti</p>
			<div class="btn-group" role="group">
				<button type="button"
					data-dismiss="modal"
					class="btn btn-outline-info"
					routerLink="/studenti">Per gli studenti</button>
				<button type="button" 
					data-dismiss="modal"
					class="btn btn-outline-info"
					routerLink="/aziende">Per le aziende</button>
				<button type="button" 
					data-dismiss="modal"
					routerLink="/accademia"
					class="btn btn-outline-info mr-3">Per l'accademia</button>
			</div>
		</div>
	</div>
	</div>
</div>
 -->

