@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: none;
	}

	.navbar .nav-item:hover .dropdown-menu {
		display: block;
	}

	.navbar .nav-item .dropdown-menu {
		margin-top: 0;
	}
}


div.zoomed {
	zoom: 1.1;
	-moz-transform: scale(1.1);
	-moz-transform-origin: 0 0;
}

navbar {
	z-index: 1;
}

.navbar-brand {
	color: white !important;
	font-weight: 800;
	font-family: fantasy;
	font-style: oblique;
	padding-right: 30px;
}

.navbar-toggler {
	width: 10%;
	text-align: right;
	align-self: right;
	color: white;
	border: none;
}

.dropdown {
	color: white !important;
	font-weight: 400;
	font-style: bold;
}

.pr-2 {
	filter: brightness(0) invert(1);
	/* 
	serve generare il filtro per colorare gli SVG, vedi qui:
	https://codepen.io/sosuke/pen/Pjoqqp?__cf_chl_jschl_tk__=ecc0b72797ae71bc009d6322e3e470773936b386-1604211766-0-ASpz720gXnc6Ej0vzlgY9-KLmlPkldgcOx1wAmGTUCjLZLOxkArNxpRzZ9m8woL-NGmP9LBGVPws8UxMJZrR7O1qFH6QkKtrGVPw6StRnXiK1XTQR_nY905r0XobAG2nOmyC6Zq8mdyPDp1MyHD7JLodJUXCRViXhtmLmRVE_-JGarVJRlxs6k3DzAOQQEJewfp00DjhlD0mxr8ZKpk2yq6IPTZZQ52XYxh26FC5MxLHhs7LuAwhtolmDZyp4_IuwRg8I5m-2--MmvGE8CCqjRWrkE85zgkMXPlOqcZtppRpZhn6Uz9DZAuKheHwVBb0ySIhFYG92bvQOgiKX0TTswB1SHgOLIeqktuyUaAgxI_h /*
	ed anche qui per capire come renderlo bianco:
	https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element/53336754#53336754
	*/
	height: 30px;
	margin-right: 150px;
	margin-left: 10px;
}

.pr-2:focus {
	outline: none !important;
}

.pr-2:hover {
	cursor: pointer;
}