/* SIDEBAR */
/* Schermi piccoli */
@media all and (max-width: 991px) {
    ul {
        list-style-type: none;
        padding: 0;
    }
    .sidebar-text {
        color: var(--cifris_blue);
    }
    .image-button{
        text-align: left;
        align-items: left;
        justify-content: left;
    }
    .image-button:hover{
        font-weight: bold;
        color: var(--cifris_orange);
    }
    .sidebar {
        padding: 20px;
        padding-top: 10%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 0;
        background-color: var(--cifris_azure);
        position: fixed;
        left: -60%;
        top: 0;
        bottom: 0;
        width: 60%;
        height: fit-content;
        transition: 0.3s;
    }
    .sidebar.open {
        left: 0%;
    }

    .mat-icon {
        color: var(--cifris_blue);
        margin-right: 10px;
        /* Margine a destra dell'icona per separarla dal testo */
    }

    .sidebar-text {
        display: inline-block;
        /* Garantisce che il testo non vada a capo */
        vertical-align: middle;
        /* Allinea verticalmente il testo */
    }
    h5{ 
        padding-top: 10px;
        padding-bottom: 0;
    }
}

















/* Schermi grandi */
@media all and (min-width: 992px) {
    ul {
        list-style-type: none;
        padding: 0;
    }
    .sidebar-text {
        color: var(--cifris_blue);
    }
    .image-button{
        text-align: left;
        align-items: left;
        justify-content: left;
    }
    .image-button:hover{
        font-weight: bold;
        color: var(--cifris_orange);
    }
    .sidebar {
        padding: 20px;
        padding-top: 3%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 0;
        background-color: var(--cifris_azure);
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 20%;
    }

    .mat-icon {
        color: var(--cifris_blue);
        margin-right: 10px;
        /* Margine a destra dell'icona per separarla dal testo */
    }

    .sidebar-text {
        display: inline-block;
        /* Garantisce che il testo non vada a capo */
        vertical-align: middle;
        /* Allinea verticalmente il testo */
    }
    h5{ 
        padding-top: 10px;
        padding-bottom: 0;
    }

}

/* fine sidebar */



div.zoomed {
    height: 100%;
    zoom: 1.1;
    transform: scale(1.1);
    transform-origin: 0 0;
}
.toolbar {
    z-index: 2;
    position: absolute;
}
.sidenav {
    z-index: 1;
    position: absolute;
}
.container {
    z-index: 0;
    height: 100%;
}

.content {
    z-index: 0;
    height: 100%;
    margin-left: 20%;
    /* Larghezza della sidebar */
    padding-left: 10px;
    padding-right: 10px;
}

/* Schermi piccoli */
@media all and (max-width: 991px) {
    .content {
        margin-left: 10px;
        margin-top: 5%;
        /* Larghezza della sidebar */
        margin-bottom: 150px;
    }
}

/* Schermi grandi */
@media all and (min-width: 992px) {
    .content {
        margin-bottom: 120px;
        margin-top:20px;
    }
}
