<div zoomed>
	<div class="toolbar">
		<app-toolbar></app-toolbar>
	</div>
	<br><br><br>

	<div class="container">
		<div class="sidenav">
			<nav class="sidebar" id="sidebar">
				<ul>
					<li style="padding-top: 50px;">
						<button mat-button [routerLink]="['/']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>home</mat-icon>
							<span class="sidebar-text">HOME</span>
						</button>
					</li>
					<h5 style="margin-bottom: 5px;"> IN EVIDENZA </h5>
					<li>
						<button mat-button [routerLink]="['/']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>emoji_people</mat-icon>
							<span class="sidebar-text">Welcome</span>
						</button>
					</li>
					<li>
						<button mat-button [routerLink]="['/associazione']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>groups</mat-icon>
							<span class="sidebar-text">Associazione</span>
						</button>
					</li>
					<li>
						<button mat-button [routerLink]="['/']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>public</mat-icon>
							<span class="sidebar-text">Attività</span>
						</button>
					</li>
					<li>
						<button mat-button [routerLink]="['/']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>auto_stories</mat-icon>
							<span class="sidebar-text">De Cifris Koine</span>
						</button>
					</li>
					<li>
						<button mat-button [routerLink]="['/']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>event</mat-icon>
							<span class="sidebar-text">CIFRIS24</span>
						</button>
					</li>
					<h5 style="margin-bottom: 5px;"> INFORMAZIONI </h5>
					<li>
						<button mat-button [routerLink]="['/contatti']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>mail</mat-icon>
							<span class="sidebar-text">Contatti</span>
						</button>
					</li>
					<li>
						<button mat-button [routerLink]="['/cookie-policy']" routerLinkActive="active"
							[routerLinkActiveOptions]="{exact: true}" class="image-button">
							<mat-icon>cookie</mat-icon>
							<span class="sidebar-text">Cookies</span>
						</button>
					</li>
				</ul>
			</nav>
		</div>
		<div class="content">
			<router-outlet (activate)="onActivate($event)"></router-outlet>
			<button id="openModal" #openModal [hidden]="true" data-toggle="modal" data-target="#loginModal"
				style="outline: none;"></button>
		</div>
	</div>
</div>