<h1>De Cifris Scholarships</h1>
<!--
Original file: https://drive.google.com/drive/folders/1C9a3nME6_TR58h73gwuK9t5cnvnzacV8
-->



<div class="toptext">
  <p>Per saperne di più: <a href="https://drive.google.com/file/d/1FFZQqblL4K5Rf9k60-Cht0SHX75Gwriv" target="_blank">slides di presentazione</a> per De Cifris Scholarships.</p>
</div>

<div class="toptext">
  <h2>Università di Trento</h2>
  <p><a href="https://drive.google.com/file/d/1l6Jsu7o0KH_l2feVsDbb3EEybGKAESM6/view" target="_blank">Laurea Magistrale in Matematica</a>, curriculum Cryptography</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>crittografia <strong>post-quantum</strong></li>
    <li>crittografia omomorfa, funzionale e <strong>Cloud Encryption</strong></li>
    <li>protocolli di <strong>MPC</strong> (Multiparty computation)</li>
  </ul>
  <p>Stage in azienda di sei mesi</p>
  <p><a href="https://drive.google.com/file/d/1eEXqnZGZ-1YqDvilAvafTVmOpCwoRIER/view" target="_blank">Ulteriori dettagli e informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Genova</h2>
  <p><a href="https://drive.google.com/file/d/1b8Ke1ZC4UEcI6ctauzbRvkyfdSpxUTNP/view" target="_blank">Laurea Magistrale in Matematica</a>, curriculum generale</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>crittografia <strong>post-quantum</strong></li>
</ul>
  <p>Stage + tesi in azienda (6 mesi)</p>
  <p><a href="https://drive.google.com/file/d/13W0zFjybn9eEThgnw7G5FfAMH1ijno3O/view" target="_blank">Ulteriori dettagli e informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Perugia</h2>
  <p><a href="https://drive.google.com/file/d/1SqyE96jJf1bUPfldpZ3OuOfRPOnRVK4f/view" target="_blank">Laurea Magistrale in Matematica</a>, curriculum “Matematica per la crittografia”</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li><strong>Cloud encryption</strong> (cifratura omomorfa, funzionale, ecc.)</li>
  </ul>
  <p>Stage curriculare di almeno tre mesi</p>
  <p><a href="https://drive.google.com/file/d/1LE2NjNzE7lPBu7o33ZDn9EpC-pEoHFBS/view" target="_blank">Ulteriori dettagli e informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Napoli</h2>
  <p><a href="https://drive.google.com/file/d/10TSY9SLmj4EcBb8qlrvumFPQkHrVtdav/view" target="_blank">Laurea Magistrale in Matematica</a>, curriculum generale</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li><strong>Teoria dei Codici</strong></li>
  </ul>
  <p>Stage/tesi in azienda di almeno tre mesi</p>
<p><a href="https://drive.google.com/file/d/1qThKFkJBXTi8U2DF6rBXJb_p3u05mNQH/view" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Caserta</h2>
  <p><a href="https://drive.google.com/file/d/1u9_deKoPKt81z6i6jX98hY-qElM67ihc/view" target="_blank">Laurea Magistrale in Matematica</a>, curriculum generale</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>crittografia <strong>post-quantum</strong></li>
    <li><strong>Teoria dei Codici</strong></li>
  </ul>
  <p>Stage in azienda minimo 3 mesi</p>
<p><a href="https://drive.google.com/file/d/1YoejDJ_v-JZ-2eFcatgUlYbniyGF33FL/view" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università dell'Aquila</h2>
  <p><a href="https://drive.google.com/file/d/18j2xH2wMmREgQFIZGFvMdhiVCXGjOmkL" target="_blank">Corso di Laurea Magistrale in Matematica</a>, percorso Algebra e
Geometria
</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>design di primitive crittografiche</li>
    <li>la sicurezza ICT</li>
  </ul>
  <p>Stage in azienda minimo 3 mesi</p>
<p><a href="https://drive.google.com/file/d/1mT7pidk4YceDzLfZglEpsB7STGnnv1X_/view" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Bari</h2>
  <p><a href="https://drive.google.com/file/d/1xfyvmao-np-e0YFgrI9UatmsnyoTEtdx/view" target="_blank">Laurea Magistrale in Matematica</a>, Orientamento Generale e in Matematica Applicata</p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>crittografia e Intelligenza Artificiale</li>
    <li>crittografia e Quantum Computing</li>
  </ul>
  <p>Stage in azienda minimo 6 mesi</p>
<p><a href="https://drive.google.com/file/d/1q-Micm6eMvPUpl1k9CJXkemOuwVfNUxp/view" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Roma Tre</h2>
  <p><a href="https://www.uniroma3.it/didattica-programmata/0fa53fe2-91ff-4d30-8628-212af0f9b41c--fed81ae4-8284-4374-9b21-f9cf48045c30--db7b45197d3a5b22d13cebe9c8ce3082/" target="_blank">Corso di Laurea in Scienze Computazionali</a>, Curriculum Crittografia e Sicurezza Informatica </p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>crittografia per il cloud (ABE, homomorphic encryption)</li>
    <li>post-quantum cryptography (basata su LWE)</li>
    <li>crittoanalisi schemi di cifratura simmetrica (lightweight, IOT)</li>
  </ul>
  <p>Stage curricolare (minimo 175 ore, 3 mesi - atteso 6 mesi)</p>
<p><a href="https://drive.google.com/file/d/19ulvTYKJFivnqSF0L01mJLGkw5fu1v6l/view" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Milano</h2>
  <p><a href="https://drive.google.com/file/d/1NXT-aZ1ZfArG1XKL7EBRkKAW6NslxYtL/view?usp=drive_link" target="_blank">Corso di Laurea Magistrale in Informatica</a>, Curriculum Crittografia e Sicurezza Informatica </p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>crittografia e intelligenza artificiale</li>
    <li>crittografia simmetrica</li>
  </ul>
  <p>Stage di almeno 3 mesi</p>
<p><a href="https://drive.google.com/file/d/1FVvJnBKlnmqREsQ-6jx63nvFYOF4dT3i/view" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>

<div class="toptext">
  <h2>Università di Torino</h2>
  <p><a href="https://drive.google.com/file/d/1aN7luSGsbp_dzn99hmQWRyKHxrHUAa_-" target="_blank">Corso di Laurea Magistrale in Informatica</a>, Curriculum Crittografia e Sicurezza Informatica </p>
  <p>Tematiche su cui si può incentrare la borsa di studio:</p>
  <ul>
    <li>Applicazioni decentralizzate e blockchain</li>
    <li>tokenomics</li>
  </ul>
  <p>Stage+tesi di almeno 6 mesi</p>
<p><a href="https://drive.google.com/file/d/1WtAUxMkPvamxFDn44co0wUtTsayqR6BE" target="_blank">Ulteriori dettagli e
        informazioni</a></p>
</div>