<h1>De Cifris Scholarships</h1>

<div class="intro-context">
  <p>
    Di seguito elenchiamo i corsi di laurea e i curriculum che De Cifris ha selezionato autonomamente come interessanti per poter approfondire le proprie competenze crittografiche. 
    <strong>Ricordiamo che non sono coinvolte le università citate, né lo sono i dipartimenti e i corsi di laurea, in quanto la borsa è unicamente un rapporto di natura privata tra De Cifris e gli studenti vincitori del bando.</strong> 
    In particolare, l'eventuale l'ammissione a uno di questi percorsi universitari è dovuta unicamente al rapporto tra studenti e ateneo.
  </p>
</div>

<div class="bandi-ufficiali">
  <p>Bando di Concorso: <a href="https://drive.google.com/file/d/1Tk8rqcqksU2jBOG3z6XmMi5RrucrbDFU/view?usp=sharing" target="_blank">Laurea Magistrale in Matematica</a></p>
  <p>Bando di Concorso: <a href="https://drive.google.com/file/d/1KkB-GRPKP8jty_lH6Li2jasigE4coPb1/view?usp=sharing" target="_blank">Laurea Magistrale in Informatica</a></p>
</div>

<hr>

<ul class="lista-atenei">
  <li>
    <strong>Università di Trento</strong>: <a href="https://drive.google.com/file/d/1l6Jsu7o0KH_l2feVsDbb3EEybGKAESM6/view" target="_blank">Laurea Magistrale in Matematica</a> (curriculum Cryptography). 
    Tematiche: crittografia post-quantum; crittografia omomorfa, funzionale e Cloud Encryption; protocolli di MPC. 
  </li>

  <li>
    <strong>Università di Genova</strong>: <a href="https://drive.google.com/file/d/1b8Ke1ZC4UEcI6ctauzbRvkyfdSpxUTNP/view" target="_blank">Laurea Magistrale in Matematica</a> (curriculum generale). 
    Tematiche: crittografia post-quantum. 
  </li>

  <li>
    <strong>Università di Perugia</strong>: <a href="https://drive.google.com/file/d/1SqyE96jJf1bUPfldpZ3OuOfRPOnRVK4f/view" target="_blank">Laurea Magistrale in Matematica</a> (curriculum “Matematica per la crittografia”). 
    Tematiche: Cloud encryption (cifratura omomorfa, funzionale, ecc.). 
  </li>

  <li>
    <strong>Università di Napoli</strong>: <a href="https://drive.google.com/file/d/10TSY9SLmj4EcBb8qlrvumFPQkHrVtdav/view" target="_blank">Laurea Magistrale in Matematica</a> (curriculum generale). 
    Tematiche: Teoria dei Codici. 
  </li>

  <li>
    <strong>Università della Campania</strong>: <a href="https://drive.google.com/file/d/1u9_deKoPKt81z6i6jX98hY-qElM67ihc/view" target="_blank">Laurea Magistrale in Matematica</a> (curriculum generale). 
    Tematiche: crittografia post-quantum; Teoria dei Codici. 
  </li>

  <li>
    <strong>Università dell'Aquila</strong>: <a href="https://drive.google.com/file/d/18j2xH2wMmREgQFIZGFvMdhiVCXGjOmkL" target="_blank">Laurea Magistrale in Matematica</a> (percorso Algebra e Geometria). 
    Tematiche: design di primitive crittografiche; sicurezza ICT. 
  </li>

  <li>
    <strong>Università di Bari</strong>: <a href="https://drive.google.com/file/d/1xfyvmao-np-e0YFgrI9UatmsnyoTEtdx/view" target="_blank">Laurea Magistrale in Matematica</a> (Orientamento Generale e Applicata). 
    Tematiche: crittografia e IA; crittografia e Quantum Computing. 
  </li>

  <li>
    <strong>Università di Roma Tre</strong>: <a href="https://www.uniroma3.it/didattica-programmata/0fa53fe2-91ff-4d30-8628-212af0f9b41c--fed81ae4-8284-4374-9b21-f9cf48045c30--db7b45197d3a5b22d13cebe9c8ce3082/" target="_blank">Scienze Computazionali</a> (Curriculum Crittografia e Sicurezza). 
    Tematiche: crittografia per il cloud; post-quantum (LWE); crittoanalisi simmetrica (IoT). 
  </li>

  <li>
    <strong>Università di Milano</strong>: <a href="https://drive.google.com/file/d/1NXT-aZ1ZfArG1XKL7EBRkKAW6NslxYtL/view?usp=drive_link" target="_blank">Laurea Magistrale in Informatica</a>. 
    Tematiche: crittografia e intelligenza artificiale; crittografia simmetrica. 
  </li>

  <li>
    <strong>Università di Torino</strong>: <a href="https://drive.google.com/file/d/1aN7luSGsbp_dzn99hmQWRyKHxrHUAa_-" target="_blank">Laurea Magistrale in Informatica</a>. 
    Tematiche: Applicazioni decentralizzate e blockchain; tokenomics. 
  </li>
</ul>

<p style="margin-top: 20px;">
  Per saperne di più: <a href="https://drive.google.com/file/d/1FFZQqblL4K5Rf9k60-Cht0SHX75Gwriv" target="_blank">vecchie slides di presentazione</a> per De Cifris Scholarships.
</p>