<h3>ATTIVITÀ</h3>
<div class="iniziativecontainer">
    <mat-card mat-button routerLink="/attivita/corsi" class="txtbtn">
        <mat-card-content class="txtbtn-txt">Corsi</mat-card-content>
    </mat-card>
    <mat-card mat-button routerLink="/attivita/editoria" class="txtbtn">
        <mat-card-content class="txtbtn-txt">Editoria</mat-card-content>
    </mat-card>
    <mat-card mat-button routerLink="/attivita/insegnanti" class="txtbtn">
        <mat-card-content class="txtbtn-txt">Eventi</mat-card-content>
    </mat-card>
    <mat-card mat-button routerLink="/welcome/studenti" class="txtbtn">
        <mat-card-content class="txtbtn-txt">Seminari</mat-card-content>
    </mat-card>
    <mat-card mat-button routerLink="/welcome/curiosi" class="txtbtn">
        <mat-card-content class="txtbtn-txt">Gare crittografiche</mat-card-content>
    </mat-card>
    <mat-card mat-button routerLink="/welcome/curiosi" class="txtbtn">
        <mat-card-content class="txtbtn-txt">Iniziative divulgative</mat-card-content>
    </mat-card>
</div>

<p>Le attività della De Cifris comprendono il finanziamento di borse per la crittografia,
    la gestione di riviste scientifiche e divulgative, l'organizzazione di altre iniziative
    divulgative ed eventi pubblici qualificanti, tra cui <a href="
		https://sites.google.com/view/crittografiaecodici/convegno-annuale-2023" target="_blank">convegni annuali</a> di
    crittografia
    a livello nazionale, come quello del 2021, e numerosi cicli di seminari, e si articolano anche in gruppi tematici:
    Cifris Chain - PQCifris - CifrisCloud - Math Cifris.
<p>Tra le nostre attività segnaliamo: </p>
<ul>
    <li>
        "De Cifris Trends in Modern Cryptography", una serie di seminari online,
        coinvolge le maggiori università italiane. 20 lezioni da 25 minuti
        l'una che si svolgeranno sulla piattaforma Zoom dal 02 al 27 maggio
        2022. Scopri di più nella <a [routerLink]="['/trends']">sezione dedicata</a>.
    </li>
    <li>La stesura del libro: <a class="toggleText" (click)="mostraTesi()">
            100 tesi di Crittografia e Codici in Italia 2008-2017.</a>
    </li>
    <li>Il finanziamento di <a routerLink="/opportunita" fragment="borseAdvisoryBoard">borse</a> per la
        crittografia, da
        assegnare in maniera competitiva su base nazionale: </li>
    <ul>
        <li>borse per studenti triennali o magistrali.</li>
        <li>borse di dottorato.</li>
        <li>assegni di ricerca.</li>
        <li>premi di laurea o di tesi di dottorato.</li>
    </ul>
    <li>La creazione e gestione di <b>collane e libri</b> dedicati alla crittografia, come la collana <a
            href="http://www.aracneeditrice.it/index.php/collana.html?col=CIPH" target="_blank">Collectio Ciphrarum</a>,
        che pubblica atti di convegni e workshop in crittografia e argomenti affini, su base trimestrale, o la collana
        <a href="http://aracneeditrice.com/index.php/collana.html?col=CRY" target="_blank">Crittografia</a>, la quale
        raccoglie le opere
        scientifiche che riguardano e approfondiscono l'affascinante, enigmatico e complesso campo crittografico.
    </li>
    <li>La creazione e gestione di <b>riviste divulgative</b> (in Italiano) e altre
        <a routerLink="/iniziativeDivulgative" href="#">iniziative divulgative</a>, come
        siti web, <a routerLink="/gareCrittografiche" href="#">gare crittografiche/hackathon</a>
        ed <a routerLink="/eventi" href="#">eventi pubblici</a>.
    </li>
    <li>Il coordinamento di <b>progetti applicativi</b>, permettendo il coinvolgimento di numerose sedi e studiosi.</li>
    <li>L'organizzazione di <a href="https://sites.google.com/view/crittografiaecodici/
				convegno-annuale-2023">convegni annuali</a> di crittografia a livello
        nazionale, come quello del 2021.</li>
</ul>