<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->
	
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra"> 
		<br>
		<h3 align="center">DE CIFRIS TRENDS</h3>
		<br>
		<p>
			Corsi online internazionali con un'anima italiana.
		</p>
		<p>
			La ricca attività di ricerca svolta all’interno della comunità crittografica Italiana, sia nel campo accademico, sia nel mondo del lavoro e dell'impresa, si completa di corsi online, tenuti da esperti italiani per una platea internazionale.
		</p>
		<p>
			Questi corsi sono utili a chiunque abbia familiarità con la crittografia standard e il suo background matematico, tra cui: dottorandi, laureati , professionisti che lavorano per aziende o settore pubblico. 
			Questi corsi sono anche pensati come utile approfondimento per studenti di laurea magistrale con speciale interesse per la crittografia. 
		</p>
		<p>
			Questi corsi si tengono in due modalità:
		</p>		
		<ul>
			<li> Prima fruizione: il corso viene tenuto in diretta (le lezioni vengono man mano registrate). Alcuni assistenti sono a disposizione online per chiarimenti. 
				Il corso si conclude con un esame (che dà un certificato).
			</li>
			<li> Seconda fruizione: gli studenti accedono alle lezioni registrate (durante la prima fruizione). Alcuni assistenti sono a disposizione online per chiarimenti per tutto il periodo. 
				Il corso si conclude con un esame (che dà un certificato).</li>
		</ul>
		<hr>

		<div class="row">
			<div class="col-md-12">
				<h3>EDIZIONI</h3>
				<ul>
					<li><a [routerLink]="['/trends22']">Edizione 2022</a> (De Cifris Trends in Modern Cryptography)</li>
					<li><a [routerLink]="['/trends22bis']">Seconda fruizione dell'edizione 2022</a> (Post Quantum and Cloud Cryptography) </li> 
					<li><a [routerLink]="['/trends23']">Edizione 2023</a> (De Cifris Trends in Cryptographic Protocols)</li>
				</ul>
			</div>
		</div>
	</div>
</ng-sidebar-container>