<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('trends')" routerLink="/trends">
					De Cifris Trends
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" (click)="goTo('y2y')" routerLink="/trends">
					De Cifris Y2Y
				</button>
			</li>
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br id="trends">
		<h3 align="center">DE CIFRIS TRENDS</h3>
		<br>
		<p>
			Corsi online internazionali con un'anima italiana.
		</p>
		<p>
			La ricca attività di ricerca svolta all’interno della comunità crittografica Italiana, sia nel campo
			accademico, sia nel mondo del lavoro e dell'impresa, si completa di corsi online, rivolti ad una platea
			internazionale e tenuti principalmente da esperti italiani.
		</p>
		<p>
			Questi corsi sono utili a chiunque abbia familiarità con la crittografia standard e il suo background
			matematico, tra cui: dottorandi, laureati , professionisti che lavorano per aziende o settore pubblico.
			Questi corsi sono anche pensati come utile approfondimento per studenti di laurea magistrale con speciale
			interesse per la crittografia.
		</p>
		<p>
			Questi corsi si tengono in due modalità:
		</p>
		<ul>
			<li> Prima fruizione: il corso viene tenuto in diretta (le lezioni vengono man mano registrate). Alcuni
				assistenti sono a disposizione online per chiarimenti.
				Il corso si conclude con un esame (che dà un certificato).
			</li>
			<li> Seconda fruizione: gli studenti accedono alle lezioni registrate (durante la prima fruizione). Alcuni
				assistenti sono a disposizione online per chiarimenti per tutto il periodo.
				Il corso si conclude con un esame (che dà un certificato).</li>
		</ul>
		<br>

		<div class="row">
			<div class="col-md-12">
				<h5>EDIZIONI 2024</h5>
				<ul>
					<li><a [routerLink]="['/trends24']">The French Magisterium</a>
					</li>
				</ul>
				<h5>EDIZIONI 2023</h5>
				<ul>
					<li><a [routerLink]="['/trends23']">Trends in Cryptographic Protocols</a>
					</li>
					<li><a [routerLink]="['/trends22bis']">Post Quantum and
							Cloud Cryptography (seconda fruizione)</a></li>
				</ul>
				<h5>EDIZIONI 2022</h5>
				<ul>
					<li><a [routerLink]="['/trends22']">Post Quantum and
							Cloud Cryptography</a></li>

				</ul>
			</div>
		</div>

		<hr id="y2y">

		<div class="row">
			<div class="col-md-12">
				<h3 align="center">DE CIFRIS Y2Y</h3>
				<p>
					De Cifris Y2Y : Young to Young (da giovani a giovani). Il corso è tenuto da giovani docenti ed è
					rivolto a un pubblico di giovani (e non solo) interessati alla crittografia, neolaureati, dottorandi
					in materia, dipendenti di aziende del settore, liberi professionisti,... <br><br>
					I corsi sono di introduzione alla crittografia, con esempi e applicazioni.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3>EDIZIONI</h3>
				<ul>
					<li><a [routerLink]="['/blockchain-smart-contract']">Edizione 2023</a> (De Cifris Y2Y in Blockchain
						e Smart Contract)</li>
				</ul>
			</div>
		</div>
	</div>
</ng-sidebar-container>