<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3> EDITORIAL BOARD </h3>
	</div>
	<p>
		Descrizione
	</p>
	
</div>
<hr><!------------------------------------------------------------------------>
<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12">
		<h4> Editor-in-chief </h4>
		<p>
			Pippo...
		</p>

		<hr><!---------------------------------------------------------------->

		<h4> Managing Editor </h4>
		<p>
			Pluto...
		</p>

		<hr><!---------------------------------------------------------------->

		<h4> Editorial Board </h4>
		<ul>
			<li> Sig. Pippo </li>

			<li> Sig. Pluto </li>
		</ul>
	</div>
</div>