
<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/statuto">
					Statuto
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/regolamento">
					Regolamenti
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/dicono-di-noi">
					Dicono di noi
				</button>
			</li>
			<!--
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come associarsi
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come affiliarsi
				</button>
			</li> -->
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12">	
				<h3>ORGANIZZAZIONE</h3>
				<!--
					<h5>SOCI BENEMERITI</h5>
					<ul>
						<li> Emanuele CESENA </li>
						<li> Ilaria CHILLOTTI </li>
						<li> Michela IEZZI </li>
						<li> Edoardo PERSICHETTI </li>
						<li> Francesco SICA </li>
					</ul>
				-->

				<h4>NUOVO CONSIGLIO DIRETTIVO</h4>
				<ul>
					<li>
						Sig.ra Elisa CERMIGNANI
					</li>
					<li>
						Dott. Sandro FONTANA
					</li>
					<li>
						Prof. Giuseppe MARINO
					</li>
					<li>
						Prof. Silvio RANISE
					</li>
					<li>	
						Prof. Massimiliano SALA
					</li>
				</ul>
				<hr>
				<h5>PRESIDENTE</h5>
				<p>
					Chiar.mo Professore Massimiliano SALA.
				</p>
				<h5>VICEPRESIDENTE</h5>
				<p> 
					Chiar.mo Professore Giuseppe MARINO.
				</p>
				<h5>NUOVO COLLEGIO DEI PROBIVIRI</h5>
				<ul>
					<li>Prof. Antonino ALì</li>
					<li>Prof. Edoardo FABRIS</li>
					<li>Prof. Vincenzo VESPRI</li>
				</ul>
				<h5>COMITATO SCIENTIFICO</h5>
				<ul>
					<li>Chiar.mo Prof. Carlo BLUNDO – Direttore Scientifico</li>
					<li>Prof. Marco PEDICINI – ViceDirettore Scientifico</li>
					<li>Prof. Antonino ALì</li>
					<li>Prof. Riccardo ARAGONA</li>
					<li>Prof. Marco BALDI</li>
					<li>Dott. Matteo BOCCHI</li>
					<li>Prof. Andrea BRACCIALI</li>
					<li>Dott.ssa Claudia DE LAZZARI </li>
					<li>Ing. Andrea GELPI</li>
					<li>Avv. Andrea MONTI</li>
					<li>Dott. Guglielmo MORGARI</li>
					<li>Prof.ssa Fernanda PAMBIANCO</li>
					<li>Prof. Gerardo PELOSI</li>
					<li>Prof. Giovanni SCHMID</li>
					<li>Prof. Andrea VISCONTI</li>
				</ul>
				<hr>
				<h5>CONSIGLIO DIRETTIVO PRECEDENTE</h5>
				<ul>
					<li>
						Sig.ra Elisa CERMIGNANI
					</li>
					<li>
						Dott. Sandro FONTANA
					</li>
					<li>
						Prof. Massimo GIULIETTI
					</li>
					<li>
						Prof. Nicola LAURENTI
					</li>
					<li>	
						Prof. Massimiliano SALA
					</li>
				</ul>
				<h5>VICEPRESIDENTE PRECEDENTE</h5>
				<p>Chiar.mo Professore Massimo GIULIETTI.</p>
				<!-- <h5>DECANO DEI PROBIVIRI PRECEDENTE</h5>
				<p> 
					Chiar.mo Professore Vincenzo VESPRI.
				</p> -->
				<h5>COLLEGIO DEI PROBIVIRI PRECEDENTE</h5>
				<ul>
					● Dott.ssa Chiara BALLARI <br>
					● Prof. Edoardo FABRIS <br>
					● Chiar.mo Professore Vincenzo VESPRI <br>
				</ul>
				<h5>TESORIERE PRECEDENTE</h5>
				<p> 
					Sig.ra Elisa CERMIGNANI.
				</p>
				<hr>
				<h5>SOCI FONDATORI</h5>
				<ul>
					● Riccardo ARAGONA <br>
					● Marco BALDI <br>
					● Chiara Letizia BALLARI <br>
					● Alessandro BARENGHI <br>
					● Danilo BAZZANELLA <br>
					● Carlo BLUNDO <br>
					● Andrea BRACCIALI <br>
					● Marco CALDERINI <br>
					● Paolo CAMPEGIANI <br>
					● Luca CASATI <br>
					● Elisa CERMIGNANI <br>
					● Franco CHIARALUCE <br>
					● Roberto CIVINO <br>
					● Davide COSTA <br>
					● Alessandro DE PICCOLI <br>
					● Edoardo FABRIS <br>
					● Fabio FIORI <br>
					● Sandro FONTANA <br>
					● Tommaso GAGLIARDONI <br>
					● Norberto GAVIOLI <br>
					● Gianandrea GELPI <br>
					● Massimo GIULIETTI <br>
					● Roberto LA SCALA <br>
					● Nicola LAURENTI <br>
					● Alberto Ottavio LEPORATI <br>
					● Giuseppe MARINO <br>
					● Luca MARIOT <br>
					● Alessio MENEGHETTI <br>
					● Filippo MIGNOSI <br>
					● Guglielmo MORGARI <br>
					● Nadir MURRU <br>
					● Lorenzo NICOLODI <br>
					● Marco PEDICINI <br>
					● Gerardo PELOSI <br>
					● Federico PINTORE <br>
					● Silvio RANISE <br>
					● Mario RASO <br>
					● Denis ROIO <br>
					● Giuseppe ROSELLI <br>
					● Massimiliano SALA <br>
					● Paolo SANTINI <br>
					● Giovanni SCHMID <br>
					● Marco TIMPANELLA <br>
					● Antonio TORTORA <br>
					● Massimiliano VEGNI <br>
					● Giacomo VERTICALE <br>
					● Vincenzo Riccardo VESPRI <br>
					● Irene VILLA <br>
					● Filippo ZATTI <br>
					● Ferdinando ZULLO <br>
					● Roberto ZUNINO <br>
				</ul>
				<h5>SOCI BENEMERITI</h5>
				<ul>
					● Emanuele CESENA <br>
					● Ilaria CHILLOTTI <br>
					● Michela IEZZI <br>
					● Edoardo PERSICHETTI <br>
					● Francesco SICA <br>
				</ul>
				<hr>
			</div>
		</div>
	</div>
</ng-sidebar-container>