
<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/statuto">
					Statuto
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/regolamento">
					Regolamenti
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/dicono-di-noi">
					Dicono di noi
				</button>
			</li>
			<!--
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come associarsi
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come affiliarsi
				</button>
			</li> -->
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12">	
				<h3>ORGANIZZAZIONE</h3>
				<p>Di seguito riportiamo le cariche sociali dell'associazione De Cifris.</p>
				<h4>CONSIGLIO DIRETTIVO</h4>
				<ul>
					<li>
						Elisa CERMIGNANI
					</li>
					<li>
						Sandro FONTANA
					</li>
					<li>
						Massimo GIULIETTI
					</li>
					<li>
						Nicola LAURENTI
					</li>
					<li>	
						Massimiliano SALA
					</li>
				</ul>
				<hr>
				<h5>PRESIDENTE</h5>
				<p>
					Chiar.mo Professore Massimiliano SALA.
				</p>
				<h5>VICEPRESIDENTE</h5>
				<p> 
					Chiar.mo Professore Massimo GIULIETTI.
				</p>
				<h5>DECANO DEI PROBIVIRI</h5>
				<p> 
					Chiar.mo Professore Vincenzo VESPRI.
				</p>
				<h5>TESORIERE</h5>
				<p> 
					Sig.ra Elisa CERMIGNANI.
				</p>
			</div>
		</div>
	</div>
</ng-sidebar-container>