h4 {
	color: rgb(23, 162, 184);
}

button {
	background: none;
	border: none;
	outline: none;
	color: #007bff;
}

.center {
	text-align: left;
	margin: auto;
	/* width: 80%; */
}

a {
	cursor: pointer;
}

.toggleText {
	color: #1976D2;
}

b {
	/* Su richiesta dall'alto modifico il tag <b> in quanto nella 
	sua versione standard risulta all'occhio un po' "slavato" */
	font-weight: 500;
}

ul {
	/* Questa modifica lascia più spazio tra gli item della lista, 
	"per evitare che sembri tutto attaccato" */
	display: grid;
	gap: 5px;
}

.newscard {
	width: auto !important;
	/*override the width below*/
	width: 100%;
	padding: 30px;
	margin: 30px;
	border-radius: 20px;
	transition: 0.3s all ease-in;
	border: solid 1px #007bff;
	background-color: white;
}

.newscard:hover {
	box-shadow: 0px 4px 4px #007bff;
}