<div class="mt-3">
	<div class="row">
		<div class="col-md-12">
			<h4>NEWS</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>In questa sezione riassumiamo brevemente le attività e gli eventi più recenti
				proposti dalla De Cifris.
			</p>
			<ul>
				<li>
					<p>
						La seconda sessione per l’esame di trends si tiene il 16 Dicembre alle 
						ore 10. Il link zoom verrà comunicato in seguito.
					</p>
				</li>
				<li>
					<p>
						Sono state indette due borse di Dottorato in Matematica a Roma Tre. Scopri di più
						nella <a [routerLink]="['/opportunita']" fragment="PNRR" >sezione dedicata</a>!
					</p>
				</li>
				<li>
					<p>
						A ottobre a Trento si terrà una scuola completamente dedicata alla crittografia 
						post quantum. Scopri di più nella <a [routerLink]="['/summerSchool2022']">sezione dedicata</a>!
					</p>
				</li>
				<li>
					<p>
						De Componendis Cifris organizza un'iniziativa Nazionale di Crittografia.
						<b style="color: blue;">"De Cifris Trends in Modern Cryptography"</b>, una serie di seminari online, 
						coinvolge le maggiori università italiane. 20 lezioni da 25 minuti 
						l'una che si svolgeranno sulla piattaforma Zoom dal 
						<b style="color: blue;">2 al 27 maggio 2022</b>. Scopri di più nella <a [routerLink]="['/trends']">sezione dedicata</a>.
					</p>
				</li>
				<li>
					<p>
						È in uscita la collana Collectio Ciphrarum che pubblica atti di convegni 
						e workshop in crittografia e argomenti affini, cicli di seminari di ampia 
						durata. Ogni volume ospita tra i 10 e i 20 eventi, in formato di extended 
						abstract ciascuno in lingua inglese, nella <a href="../../assets/attivita/
						CollectioCiphrarum/CollectioCiphrarum.pdf">locandina</a> il link alle 
						prime pagine.
					</p>
				</li>
				<li>
					<p>
						Con il nuovo anno la nostra iniziativa si allarga:  nasce il team 
						De Cifris Eruditorum, con temi di ampia portata e cultura generale, 
						Eruditorum si occupa di politica, diritto e impatto culturale della 
						crittografia.Tutti i dettagli nella <a href="../../assets/attivita/
						seminariLocali/deCifrisEruditorum/presentazioneEruditorum.pdf">
						locandina</a>, vi aspettiamo a 
						gennaio per assistere al primo dei nostri seminari.
					</p>
				</li>
				<li>
					<p>
						Entro il 30 Gennaio 2022 è aperta l'adesione di 
						<a [routerLink]="['/opportunita']" fragment="advisoryBoard">
							NUOVE AZIENDE INTERESSATE</a>.
					</p>
				</li>
				<li>
					<p>
						Si sono svolte le Cryptowars dal 25 al 30 Ottobre 2021,
						PADOVA VINCE PER LA PRIMA VOLTA LE CRYPTOWARS
						Le Cryptowars 2021 hanno visto team di università italiane scontrarsi 
						nella loro abilità di rompere codici e cifrari.
						Per la prima volta sale sul podio una città veneta, la dotta Padova.
 						Vi aspettiamo numerosi l'anno prossimo per una nuova sfida.
						Scopri di più nella 
						<a [routerLink]="['/cryptowars/2021']">sezione dedicata</a> oppure 
						consulta direttamente la <a href="../../assets/attivita/cryptowars/2021/
						cryptowars2021.pdf">locandina</a>!
					</p>
				</li>
				<li>
					<p>
						Scopri nella <a [routerLink]="['/opportunita']" fragment="posiziosiAccademiche">
						sezione dedicata</a> le posizioni bandite nel settore della crittografia.
					</p>
				</li>
				<li>
					<p>
						In collaborazione con il gruppo di <i>Crittografia e Codici</i> dell'UMI 
						nei giorni 21-22 settembre abbiamo organizzato
						il <a href="https://sites.google.com/view/crittografiaecodici/convegno-annuale">convegno annuale 
						di crittografia e teoria dei codici</a>, in cui i ricercatori hanno presentato i loro risultati
						e in cui abbiamo presentato le novità dell'intera comunità crittografica.
						Consulta la <a href="../../assets/attivita/convegnoAnnuale/locandina2021.pdf">locandina</a> dedicata!
					</p>
				</li>
				<li>
					<p>
						Le aziende dell’Advisory Board hanno finanziato quattro borse di 
						studio da 10.000 euro! Il termine per la presentazione delle domande era 
						il 10/10/2021, e riguardava gli studenti neo-immatricolati nell'anno 
						accademico 2021/2022 in un corso di laurea magistrale con indirizzo in
						crittografia. Continua a seguirci per le prossime borse di studio e 
						scopri di più nella <a [routerLink]="['/opportunita']" 
						fragment="borseAdvisoryBoard">sezione dedicata</a>!
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>
