<div class="mt-3">
	<div class="row">
		<div class="col-md-12">
			<h4>NEWS</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>In questa sezione riassumiamo brevemente le attività e gli eventi più recenti
				proposti dalla De Cifris.
			</p>
			<ul>
				<li>
					<p>
						A breve iniziano le Cryptowars! Scopri di più nella 
						<a [routerLink]="['/cryptowars/2021']">sezione dedicata</a> oppure 
						consulta direttamente la <a href="../../assets/attivita/cryptowars/2021/
						cryptowars2021.pdf">locandina</a>!
					</p>
				</li>
				<li>
					<p>
						Sono uscite nuove posizioni RTDA in crittografia! Scopri di più nella 
						<a [routerLink]="['/opportunita']" fragment="posiziosiAccademiche">sezione dedicata</a>!
					</p>
				</li>
				<li>
					<p>
						In collaborazione con il gruppo di <i>Crittografia e Codici</i> dell'UMI abbiamo organizzato
						il <a href="https://sites.google.com/view/crittografiaecodici/convegno-annuale">convegno annuale 
						di crittografia e teoria dei codici</a>, in cui i ricercatori hanno presentato i loro risultati
						e in cui abbiamo presentato le novità dell'intera comunità crittografica.
						Consulta la <a href="../../assets/attivita/convegnoAnnuale/locandina2021.pdf">locandina</a> dedicata!
					</p>
				</li>
				<li>
					<p>
						Le aziende dell’Advisory Board stanno finanziando quattro borse di 
						studio da 10.000 euro! Il termine per la presentazione delle domande è 
						il 10/10/2021, e riguarda gli studenti neo-immatricolati nell'anno 
						accademico 2021/2022 in un corso di laurea magistrale con indirizzo
						crittografia. Scopri di più nella <a [routerLink]="['/opportunita']" 
						fragment="borseAdvisoryBoard">sezione dedicata</a>!
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>