<div class="mt-3">
	<div class="row">
		<div class="col-md-12">
			<h4>NEWS</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>In questa sezione riassumiamo brevemente le attività e gli eventi più recenti
				proposti dalla De Cifris.
			</p>
			<ul>
				<!-- <li>
					<p>
						In collaborazione con il gruppo di <i>Crittografia e Codici</i> dell'UMI stiamo organizzando
						il <a href="https://sites.google.com/view/crittografiaecodici/convegno-annuale">convegno annuale 
						di crittografia</a>. La conferenza mira a fornire un'opportunità ai ricercatori che 
						lavorano sulla crittografia e sulla teoria dei codici di mostrare i loro risultati 
						ed interessi di ricerca. 
					</p>
				</li> -->
				<li>
					<p>È online la <a href="https://sites.google.com/view/crittografiaecodici/home">nuova pagina</a>
						del gruppo di crittografia e codici UMI.</p>
				</li>
				<li>
					<p>In collaborazione con il gruppo UMI di Crittografia e Codici
						stiamo realizzando  un censimento delle attività riguardanti la crittografia 
						e la teoria dei codici rivolte alle scuole superiori. La scadenza è prevista per l'8 maggio 2021.
						Maggiori informazioni al <a href="../../assets/attivita/gruppi/mathCifris/censimento.pdf">documento allegato</a>.
						</p>
				</li>
				<hr>
				<li>
					<p>Osservazioni alla Risoluzione del Consiglio dell’Unione Europea "Security through 
						encryption and security despite encryption". <a href="../../assets/eventi/2020/
						CrittografiaInsicura/Crittografia-insicura.pdf">DRAFT PER DISCUSSIONE APERTA</a>.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>