<h2 style="text-align: center;">SymCrypt24 - Symmetric Cryptography and Boolean functions 2024</h2>

<h3>Organizers</h3>
<p>
    <b></b>
    <em>
        Marco Calderini (University of Trento, Italy)
        <br>
        George Petrides (University of Cyprus, Cyprus)
        <br>
        Irene Villa (University of Genoa & University of Trento, Italy)
    </em>
</p>
<h3>Description</h3>
<p>
    The workshop will be in two interrelated areas. The first one concerns different aspects of symmetric cryptography,
    such
    as the design of symmetric ciphers, attacks to these ciphers, as well as countermeasures. The second topic of
    interest
    is the theory of Boolean functions applied in cryptography scenarios, particularly in the design of symmetric
    ciphers.
    Such functions have found applications as S-boxes of block ciphers and feedback functions in stream ciphers, and the
    workshop will be focusing on their relevant cryptographic properties, their classification, and construction
    methods.
</p>
<h3>Program</h3>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room C, 11:40 - 13:00</i>
</p>
<p>
    <b> Invited speaker: </b>
    TBA.
</p>