<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/statuto">
					Statuto
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/organiDirettivi">
					Organizzazione
				</button>
			</li>
			<!--
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Comitati
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come associarsi
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come affiliarsi
				</button>
			</li> -->
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12">
				<h3>REGOLAMENTI</h3>
				<p> In questa pagina si possono trovare i link ai regolamenti dell'associazione</p>
				<ul>
					<li> 
						<a href="../../../assets/regolamenti/regolamento_affiliazione.pdf">
							Regolamento affiliazione</a>: 
						permette l'affiliazione alla De Cifris da parte di	enti, PA, aziende;
						inoltre disciplina le sponsorship e le partnership.
					</li>
					<li> 
						<a href="https://drive.google.com/file/d/16mOhRdstoWB5sT0qPSqU2ojoxhnzO-_g">
							Regolamento scientifico</a>: 
						disciplina il Comitato Scientifico, il congresso, convegni, e altre attività scientifiche.
					</li>
					<li> 
						<a href="https://drive.google.com/file/d/1Nm77OnOEYnnnS3qm62Tg3cRx4jDZpHP0/edit">
							Regolamento probiviri</a>: 
						disciplina il collegio dei probiviri, l'organo di garanzia e tutela dell'associazione.
					</li>
					<li> 
						<a href="../../../assets/regolamenti/regolamento_quote.pdf">
							Regolamento quote</a>: 
						stabilisce il procedimento di associazione, le categorie di soci e le quote associative.
					</li>
				</ul>
			</div>
		</div>
	</div>
</ng-sidebar-container>