<div>
    <div class="list_view">
        <img src="../../../../../assets/images/koine/Vol2: De Cifris Seminars.png" style="width: 40%;" />
        <a href="https://drive.google.com/file/d/1bYfTqsYJaHD9o8Axu_S8Y9Rr2-4mfQp8">
            <div class="doi-item">
                <p class="title">DE CIFRIS SEMINARS</p>
                <p class="desc">De Cifris Press, May 2024</p>
                <p class="desc">ISBN: 979-12-81863-01-9</p>
                <p class="desc">ISSN: 3034-9796</p>
            </div>
        </a>
    </div>
    <hr>
    <br>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1d8cw9hhZAai2yEohpWbVLorMtTB_s8dX">
            <p class="title"> Introduction to De Cifris Seminars</p>
        </a>
        <p class="desc">Danilo Bazzanella, Guido Codogni, Nadir Murru, Roberto Zunino</p>
        <p class="desc">Page range: 2-4</p>
        <a href="https://doi.org/10.69091/koine/vol-2-I01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-I01</p>
        </a>
    </div>
    <h3> EXTENDED ABSTRACTS: THEORY</h3>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1OYSXpS8xaQKDvEgUiy_MoJt2bUHmcS5W">
            <p class="title">Group Theoretical Approach for Symmetric Encryption</p>
        </a>
        <p class="desc">Riccardo Aragona</p>
        <p class="desc">Page range: 6-9</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1EZ_V8tHbudMxQvwv2hyR_XJ9zyOe4doW">
            <p class="title">An overview on cryptanalysis of ARX cyphers</p>
        </a>
        <p class="desc">Stefano Barbero</p>
        <p class="desc">Page range: 10-13</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/18ujObQgiPF41LcR-6mb1Etkk1EuReUVC">
            <p class="title">Efficient cryptanalysis over multivariate Ore Extensions</p>
        </a>
        <p class="desc">Michela Ceria, Theo Moriarty and Andrea Visconti</p>
        <p class="desc">Page range: 14-17</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T03</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1Q1U_J2y4aFkQLGnBp7RHa9F1OziFySGT">
            <p class="title">On adapting NTRU for Post-Quantum Public-Key Encryption</p>
        </a>
        <p class="desc">Simone Dutto, Guglielmo Morgari and Edoardo Signorini</p>
        <p class="desc">Page range: 18-21</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1XIW6eOawJsexWfcXRJozhHUFo3FyhTMp">
            <p class="title">Cryptanalysis of round-reduced AES</p>
        </a>
        <p class="desc">Lorenzo Grassi</p>
        <p class="desc">Page range: 22-26</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1uIRweSnprRBqsDNSamAVYOafbughbJvQ">
            <p class="title">Shift Invariance in Symmetric Cryptography</p>
        </a>
        <p class="desc">Luca Mariot</p>
        <p class="desc">Page range: 27-30</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T06</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/13upZLEfrolgOyUlR32WPDfMxUQoUg4xs">
            <p class="title">An investigation on integer factorization applied to public key cryptography</p>
        </a>
        <p class="desc">Giordano Santilli</p>
        <p class="desc">Page range: 31-35</p>
        <a href="https://doi.org/10.69091/koine/vol-2-T07">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T07</p>
        </a>
    </div>
    <h3> EXTENDED ABSTRACTS: APPLICATIONS</h3>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1BmfOHeJVrpsivJa5h4qDJVpVzXGI1Gx1">
            <p class="title">Non-interactive time-based proof of stake finality</p>
        </a>
        <p class="desc">Giovanni ANtino and Iris Dimmi</p>
        <p class="desc">Page range: 36-39</p>
        <a href="https://doi.org/10.69091/koine/vol-2-A01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1_d_ytpZT12quwRRRZ8OIMjUS3YwRfEzg">
            <p class="title">Privacy-preserving Information Sharing</p>
        </a>
        <p class="desc">Carlo Blundo</p>
        <p class="desc">Page range: 40-46</p>
        <a href="https://doi.org/10.69091/koine/vol-2-A02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1CVcCGEsEsnhjtxwf1iU7TxXSbJicV4kV">
            <p class="title">The links between Machine Learning and Blockchain</p>
        </a>
        <p class="desc">Andrea Gangemi</p>
        <p class="desc">Page range: 47-50</p>
        <a href="https://doi.org/10.69091/koine/vol-2-A03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A03</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1EpQgNeB8K9SQ5EcCtgXwKjDg04lGFWKg">
            <p class="title">Post-quantum cryptography and the automotive industry</p>
        </a>
        <p class="desc">Efstathia Katsigianni</p>
        <p class="desc">Page range: 51-54</p>
        <a href="https://doi.org/10.69091/koine/vol-2-A04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1k1_Xhwo_FnnWIOiiwETeSnLtR1uMlWrM">
            <p class="title">Digital Identity - modern tools and perspectives</p>
        </a>
        <p class="desc">Alessandro Tomasi</p>
        <p class="desc">Page range: 55-57</p>
        <a href="https://doi.org/10.69091/koine/vol-2-A05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1J72YTwRHATxLAw8E0iPCzTfkRgFZD4_6">
            <p class="title">KDFs: an essential (and usually transparent) component of real-world applications</p>
        </a>
        <p class="desc">Andrea Visconti</p>
        <p class="desc">Page range: 58-61</p>
        <a href="https://doi.org/10.69091/koine/vol-2-A06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A06</p>
        </a>
    </div>
    <h3> RESEARCH PAPERS</h3>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1PEvfRtBBQ9_sWHNNxWQxzc9gehrb4LHd">
            <p class="title">Isogenies Demystified</p>
        </a>
        <p class="desc">Luca De Feo</p>
        <p class="desc">Page range: 62-84</p>
        <a href="https://doi.org/10.69091/koine/vol-2-R01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-R01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="https://drive.google.com/file/d/1ACGs72p0LIq8Aybx_B4iwVT3moVEsFnd">
            <p class="title">Continued Fractions, Quadratic Fields, and Factoring: Some Computational Aspects</p>
        </a>
        <p class="desc">Michele Elia</p>
        <p class="desc">Page range: 85-94</p>
        <a href="https://doi.org/10.69091/koine/vol-2-R02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-R02</p>
        </a>
    </div>
</div>