<div>
    <p style="color:gray;font-weight: bold;width: 100%; text-align: center;">COMING SOON</p>
    <div class="list_view">
        <div class="doi-item">
            <p class="title">DE CIFRIS SEMINARS</p>
            <p class="desc">De Cifris Press, May 2024</p>
            <p class="desc">ISBN: 979-12-81863-01-9</p>
            <p class="desc">ISSN: 3034-9796</p>
        </div>
    </div>

    <hr>
    <br>
    <div class="doi-item">
        <a href="">
            <p class="title"> Introduction to De Cifris Seminars</p>
        </a>
        <p class="desc">Danilo Bazzanella, Guido Codogni, Nadir Murru, Roberto Zunino</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-I01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-I01</p>
        </a>
    </div>
    <h3> EXTENDED ABSTRACTS: THEORY</h3>
    <div class="doi-item">
        <a href="">
            <p class="title">Group Theoretical Approach for Symmetric Encryption</p>
        </a>
        <p class="desc">Riccardo Aragona</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">An overview on cryptanalysis of ARX cyphers</p>
        </a>
        <p class="desc">Stefano Barbero</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Efficient cryptanalysis over multivariate Ore Extensions</p>
        </a>
        <p class="desc">Michela Ceria, Theo Moriarty and Andrea Visconti</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T03</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">On adapting NTRU for Post-Quantum Public-Key Encryption</p>
        </a>
        <p class="desc">Simone Dutto, Guglielmo Morgari and Edoardo Signorini</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Cryptanalysis of round-reduced AES</p>
        </a>
        <p class="desc">Lorenzo Grassi</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Shift Invariance in Symmetric Cryptography</p>
        </a>
        <p class="desc">Luca Mariot</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T06</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">An investigation on integer factorization applied to public key cryptography</p>
        </a>
        <p class="desc">Giordano Santilli</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-T07">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-T07</p>
        </a>
    </div>
    <h3> EXTENDED ABSTRACTS: APPLICATIONS</h3>
    <div class="doi-item">
        <a href="">
            <p class="title">Non-interactive time-based proof of stake finality</p>
        </a>
        <p class="desc">Giovanni ANtino and Iris Dimmi</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-A01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Privacy-preserving Information Sharing</p>
        </a>
        <p class="desc">Carlo Blundo</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-A02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A02</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">The links between Machine Learning and Blockchain</p>
        </a>
        <p class="desc">Andrea Gangemi</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-A03">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A03</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Post-quantum cryptography and the automotive industry</p>
        </a>
        <p class="desc">Efstathia Katsigianni</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-A04">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A04</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Digital Identity - modern tools and perspectives</p>
        </a>
        <p class="desc">Alessandro Tomasi</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-A05">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A05</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">KDFs: an essential (and usually transparent) component of real-world applications</p>
        </a>
        <p class="desc">Andrea Visconti</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-A06">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-A06</p>
        </a>
    </div>
    <h3> RESEARCH PAPERS</h3>
    <div class="doi-item">
        <a href="">
            <p class="title">Isogenies Demystified</p>
        </a>
        <p class="desc">Luca De Feo</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-R01">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-R01</p>
        </a>
    </div>
    <div class="doi-item">
        <a href="">
            <p class="title">Continued Fractions, Quadratic Fields, and Factoring: Some Computational Aspects</p>
        </a>
        <p class="desc">Michele Elia</p>
        <p class="desc">Page range: </p>
        <a href="https://doi.org/10.69091/koine/vol-2-R02">
            <p class="desc">DOI: https://doi.org/10.69091/koine/vol-2-R02</p>
        </a>
    </div>
</div>