<h2>2018 EDITION</h2>
	<div id="istruzioni">
		<h3>Instructions</h3>
		<ul>
			<li>LCryptowars2018 will take place in 15--21 October 2018.</li>
			<li>Team registration starts: 1 October 2018.</li>
			<li>Registration deadline: 14 October 2018.</li>
			<li>Competition: 15 October 2018, 14:00 (Milan).</li>
			<li>End of the competition: 21 October 2018, 14:00 (Milan).</li>
			<li>Award ceremony at a De Cifris event in 2019.</li>
			<li>Teams of a maximum of 5 students are admitted to the competition. With "students"
				we mean students enrolled in: undergraduate, three-year degree, master's 
				degree and PhD.</li>
			<li>he participating team must be identified with a single email address. For
				subscribe you must send an email to cryptowarsdecifris2020@gmail.com, having as
				subject the word REGISTRATION. There must appear in the e-mail message
				the name of the participants, the University of origin of the individuals, the name of the team
				and the reference e-mail address.</li>
			<li> From 15 to 21 October, CRYPTOWARS participants will be able to send as many as THREE
				solutions to the same question. Only the last e-mail received will be considered. </li>
			<li> The solutions must be sent to cryptowars18@gmail.com
				in the format specified in the file	of the challenge. Usually in .TXT format.</li>
			<li> <a href="../../../../assets/attivita/cryptowars/Cryptowars2018Mat.zip">
				Material for the <i>Math side</i></a></li>
			<li><a href="../../../../assets/attivita/cryptowars/Cryptowars2018Inf.zip">
				Material for the <i>Computer Science side</i></a></li>
		</ul>
	</div>
	<div id="FAQ">
		<h3>FAQ</h3>
			<ul>
				<li>Do I have to personally implement some code to solve the questions? <br>
					It is not required to send the used code, so an easy way is to
					look for some code already implemented. The fact remains that, as the race has above all
					meant to lead to deep understanding of cryptographic problems, it is advised
					to work independently on their own code and its optimization. <br>
				</li>
				<li>Do I need to think about and implement new attacks?<br>
					Not necessarily. There are many known attacks in the literature, so look for one that
					it seems easy to understand, implement it and get it running!
				</li>
			</ul>
	</div>
	<div id="news">
		<h3>News</h3>
		<ul>
			<li>[22/10/2018] The results of the cryptowars have been published
				<a target="_blank" rel="noopener noreferrer" href="http://www.club.di.
				unimi.it/rank_2018.html">here</a>.</li>
			<li>[21/10/2018] At 14:00 we closed the competition.</li>
			<li>[15/10/2018] At 14:00 we start the competition.. 
				The challenges have been published. Have fun!</li>
			<li>[15/10/2018] The teams registered for the competition are 17:
				ACOP18, Codec, cryptogang, CryptoKillers, CryptoTeamUNITN, 
				CryptoTL, CrypTrento, Deep lilla, GangOf4, La compagnia 
				dell'anello, PAP-APP-Heroes, Pings with Things, Povo, 
				pwnthem0le, Syntax Error, Teste Matte, x0R. </li>
			<li>[01/10/2018] Registration for the CRYPTOWARS 2018 competition is open.</li>
		</ul>
	</div>