<h1>Social event</h1>
<p>
    CIFRIS24 hihgly encourages people of different cryptography-related background to come together. 
    <br>
    We will host a <b>social dinner</b>, where guests are welcome (up to one per participant, see the <a href="https://www.decifris.it/cifris24/registration#social-dinner">companion registration</a>).
</p>
<ul style="list-style: disc;">
    <li><b>Location:</b> TBA</li>
    <li><b>When?</b> September 25th, 20:30</li>
</ul>
<p>
    Registration closes on September 15th. <br>
    More information will be soon available on how to reach the location.
</p>
<a mat-button href="https://www.decifris.it/cifris24/registration#social-dinner">Register</a> 
<a mat-button href="https://www.decifris.it/cifris24/registration#payment">Register a guest</a>