<h1 style="text-align: center;">RAPQC24 - Recent Advances in Post-Quantum Cryptography 2024</h1>
<h2>Organizers</h2>
<p>
    <b></b>
    <em>
        Giulio Codogni (Tor Vergata University, Italy)
        <br>
        Roberto La Scala (University of Bari, Italy)
        <br>
        Edoardo Persichetti (Florida Atlantic University, USA)
        <br>
        Federico Pintore (University of Trento, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    Post-quantum cryptography, that is, the study of cryptographic schemes capable of withstanding attackers equipped
    with both classical and quantum computers, is an area of research that has experienced tremendous growth in recent
    years, also due to the initiation of a standardization effort by NIST, which has led to the selection of the first
    schemes to standardise. More recently, the focus has been on post-quantum digital signature schemes, which are the
    subject of the latest NIST competition. This workshop will provide an overview of the state of the art in
    post-quantum cryptography, along with the NIST competition, and focus on cutting-edge methods for designing and
    implementing post-quantum signatures.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i>Main hall, 14:00 - 17:00</i>
</p>
<p>
    <b> Invited speaker: </b>
    <i>
        <b>Thibauld Feneuil </b>, CryptoExperts (France)
    </i>
</p>
<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
    <tr bgcolor="lightblue" id="raipqc24">
        <th class="schedule" colspan="2">
            <font size="+1"><b>September 27th (afternoon) - Workshop Session</b></font>
        </th>
    </tr>
    <tr>
        <td colspan="2"><br></td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Thibauld Feneuil</b>, CryptoExperts (France)
            </i>
            <br>
            Post-Quantum Signatures from Secure Multiparty Computation
            <details>
                <summary>
                    Abstract
                </summary>
                The MPC-in-the-Head (MPCitH) paradigm is a versatile framework to design zero-knowledge proofs and
                post-quantum signatures, by relying on secure multi-party computation (MPC) techniques. It has recently
                been improved in a series of works which makes it a practical and tunable tool. This paradigm has been
                utilized in 9 out of the 40 candidates selected for the first round of the recent NIST call for
                additional post-quantum signatures. In this talk, I will provide a general introduction to MPCitH,
                discuss the latest MPCitH techniques, and show how they can be used to build efficient post-quantum
                signatures.
            </details>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr><!------------------------------>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Andrea Basso </b>, IBM Zurich (Switzerland)
            </i>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr><!------------------------------>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Rocco Mora </b>, CISPA Helmholtz Center for Information Security (Germany)
            </i>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr>
        </td>
    </tr><!------------------------------>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Ryann Cartor</b>, Clemson University (USA)
            </i>
        </td>
    </tr>
    <tr>
        <td colspan="2"><br></td>
    </tr>
</table>