<h1 style="text-align: center;">RAIPQC24 - Recent Advances in Post-Quantum Cryptography 2024</h1>
<h2>Organizers</h2>
<p>
    <b></b>
    <em>
        Giulio Codogni (Tor Vergata University, Italy)
        <br>
        Roberto La Scala (University of Bari, Italy)
        <br>
        Edoardo Persichetti (Florida Atlantic University, USA)
        <br>
        Federico Pintore (University of Trento, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    Post-quantum cryptography, that is, the study of cryptographic schemes capable of withstanding attackers equipped
    with both classical and quantum computers, is an area of research that has experienced tremendous growth in recent
    years, also due to the initiation of a standardization effort by NIST, which has led to the selection of the first
    schemes to standardise. More recently, the focus has been on post-quantum digital signature schemes, which are the
    subject of the latest NIST competition. This workshop will provide an overview of the state of the art in
    post-quantum cryptography, along with the NIST competition, and focus on cutting-edge methods for designing and
    implementing post-quantum signatures.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i>Main hall, 14:00 - 17:00</i>
</p>
<p>
    <b> Invited speaker: </b>
    TBA.
</p>