<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROGRAM</h3>

		<p>
			All events take place at <a target="_blank" href="https://www.consob.it/">CONSOB</a> headoffice, Via Giovanni Battista Martini, 3 - 00198 Rome (Italy).
		</p>
		<p style="color: red; text-align: left;">
			<b>DRAFT OF PROCEEDINGS (updated {{today}})</b> <br>
			<a href="https://drive.google.com/file/d/1T6MYqf8NC-4vjLXUmRJxfui_8Gu4grPG">https://drive.google.com/file/d/1T6MYqf8NC-4vjLXUmRJxfui_8Gu4grPG</a>
		</p>

		<table width="100%" cellspacing="2" cellpadding="2">
			<tr>
				<td></td>
			</tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<br>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<font size="+1">
						<a href="https://www.consob.it/documents/1912911/2058255/20231214-15_CIFRIS23.pdf/0651a612-66c6-a225-707d-ad5d91f40064">Locandina Istituzionale</a>
					</font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>14 December (morning) - Institutional Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule">8:30-10:00</td>
				<td><em>Registration</em><br>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">10:00-10:30</td>
				<td><em>Welcome address</em><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Speakers</em> :
					Paolo Savona (<a target="_blank" href="https://www.consob.it/">CONSOB</a>'s President) and Massimiliano Sala (De Cifris' President) 
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">10:30-11:30</td>
				<td><b>Institutional Round Table</b><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<u>Moderator</u>: Francesca Medda (CONSOB) <br>
					<u>Confirmed speakers</u>:
					<ul>
						<li>
							Paolo Aceto, Generale, Arma dei Carabinieri
						</li>

						<li>
							Pietro Bianchi, Generale, Guardia di Finanza
						</li>

						<li>
							Andrea Billet, Direttore Servizio Certificazione e Vigilanza, Agenzia per la Cybersicurezza Nazionale, Presidenza del Consiglio dei Ministri
						</li>

						<li>
							Ivano Gabrielli, Direttore Polizia Postale, Ministero degli Interni
						</li>
					</ul>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">11:30-12:00</td>
				<td><em>Coffee break</em><br>
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">12:00-12:30</td>
				<td><b>Invited Talk</b><br></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Massimo Giulietti (University of Perugia - Italy)</em><br>
					"Cryptography and its applications in the Italian scenario"
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">12:30-13:00</td>
				<td>
					<b>De Cifris Partners</b>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>	
					<em>Antonino Giovanni ALÌ</em> (De Componendis Cifris) <br>
					"La visione di De Cifris per le partnership con le aziende leader"
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>	
					<em>Raffaele BOCCARDO</em> (BVTECH) <br>
					"Le opportunità della crittografia al servizio del Paese"
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>	
					<em>Guglielmo MORGARI</em> (Research Manager di TELSY) <br>
					"Il ruolo strategico della crittografia nel conseguimento della sovranità tecnologica nazionale"
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">13:00-14:30</td>
				<td><em>Lunch</em><br>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			 
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>14 December (afternoon) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule">14:30-15:30</td>
				<td>
					<b>Mini-session 1: Keynote</b><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<p>
						<em>
							Invited Talk - Antoine Joux (CISPA - Germany), winner of the Goedel price
						</em>
					</p>
					<p
		 				class="abstract"
		 				id="abstract1"
		 			>
			 			<u>Title</u> : <em>
			 				<b>MPC in the head for isomorphisms and group action</b>
			 			</em><br>
			 			<u>Abstract</u> : In this talk, we give a tutorial about MPC-in-the-head for signature schemes and illustrate it by designing identification protocols and signature schemes from group actions. We discuss the security of the proposed identification schemes and rely on the Fiat-Shamir transformation to turn them into signatures. We also stress that an essential ingredient for the efficiency of such signature schemes is the use of Puncturable-PRFs.
		 			</p>
		 			<button 
						class="read-more"
						targetId="abstract1"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">15:30-16:30</td>
				<td><b>Mini-session 2: Number theory and cryptography</b><br></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Wissam Ghantous,
					Federico Pintore and
					Mattia Veroni</em><br>"Efficiency of SIDH-based
					signatures (yes, SIDH)"</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Massimiliano Sala and
					Daniele Taufer</em><br>"The group structure of elliptic
					curves over Z/NZ"</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">16:30-17:00</td>
				<td><em>Coffee break</em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">17:00-19:00</td>
				<td><b>Mini-session 3: Between theory and practice</b><br></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Kaveh Aasaraai,
					Emanuele Cesena, Rahul
					Maganti, Nicolas Stalder and Javier Varela</em>
					<br>"FPGA And Software
					Acceleration of Multi-Scalar
					Multiplication: CycloneMSM"</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Márton Erdélyi, Pál
					Hegedüs, Sándor Kiss
					and Gábor Nagy</em><br>"On Linear Codes with Random
					Multiplier Vectors and the
					Maximum Trace Dimension
					Property"</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Marco Timpanella</em><br>"On a generalization of the
					Deligne-Lustzig curve of Suzuki
					type and application to AG codes"</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Kyosuke Yamashita and
					Keisuke Hara</em><br>"On the Black-Box Impossibility
					of Multi-Designated Verifiers
					Signature Schemes from Ring
					Signature Schemes"</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">21:00</td>
				<td><em>Social Dinner</em></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					Location: <a href="https://www.marriott.com/en-us/hotels/rommd-le-meridien-visconti-rome">
						Le Meridien Visconti Rome
					</a>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>

			<!---------------------------------------------------------------->

			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1">
						<b>15 December (morning) - Workshop Session</b>
					</font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td colspan="2">
					<h4>Main Hall</h4>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">9:00-11:00</td>
				<td>
					<b>Workshop</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td>
		 			<p>
		 				<em>Synthetic Data,  Cyber Security and Finance</em> <br>
		 				<u>Organizer</u> : Francesca Medda
		 			</p>
		 			<p>
		 				<u>Invited speakers from</u> : <em>
		 					<b>European Commission</b>, <b>Banca D'Italia</b>, <b>CONSOB</b>, <b>University of Oxford</b>
		 				</em> <br>
		 				<u>Abstract</u> : TBA
					</p>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
		 		<td class="schedule">11:00-11:30</td>
		 		<td>
		 			<em>Coffee break</em>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">11:30-13:30</td>
				<td>
					<b>Workshop</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td style="width: 90%">
		 			<p>
		 				<em>CBDCs, Digital Currencies and Assets Tokenization: opportunities and risks</em> <br>
		 				<u>Organizers</u> : Andrea Bracciali, Davide Carboni
		 			</p>
		 			<div
		 				class="abstract"
		 				id="abstract2"
		 			>
				 		<p>
				 			<u>Invited speaker from</u> : <em>
				 				<b>CONSOB</b>
				 			</em><br>
				 			<u>Abstract</u> : CBDCs promise large-scale efficiency but also pose significant challenges, including potential centralization and control unprecedented in the financial sector. This workshop aims to foster a rich dialogue on the opportunities and risks associated with CBDCs, digital currencies, and tokenization of assets focusing on both national and international perspectives. <br>
				 			Open discussion with panelist:
				 		</p>
				 		<ul>
				 			<li>
				 				Andrea Bracciali
				 			</li>

				 			<li>
				 				Davide Carboni
				 			</li>

				 			<li>
				 				Geoff Goodell
				 			</li>
				 		</ul>
		 			</div>
		 			<button 
						class="read-more"
						targetId="abstract2"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
					<p>
			 			Information and call for papers can be found <a href="https://sites.google.com/view/cifrisinnovation23/">here</a>.
					</p>
		 		</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>

			<tr>
				<td colspan="2">
					<h4>Room A</h4>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">9:00-11:00</td>
				<td>
					<b>Workshop</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td style="width: 90%">
		 			<p>
		 				<em>Recent Advances in Post-Quantum Cryptography</em> <br>
		 				<u>Organizers</u> : Marco Baldi, Giulio Codogni, Roberto La Scala, Alessio Meneghetti, Gerardo Pelosi, Federico Pintore
		 			</p>
		 			<div
		 				class="abstract"
		 				id="abstract3"
		 			>
			 			<p>
			 				<u>Invited speaker</u> : <em>
			 					<b>Luca De Feo</b>
			 				</em> <br>
			 				<em>Abstract</em> : Post-quantum cryptography, the study of cryptosystems capable of withstanding both classical and quantum attacks, is a timely area of research, as proven by the standardization effort led by NIST. Recently the focus has been on digital signature schemes, which are the subject of the latest NIST competition. <br>
			 				This workshop will provide an overview of the state of the art in post-quantum cryptography with a focus on cutting-edge methods for designing and implementing post-quantum signature schemes.
			 			</p>	
						<ul>
							<li>
								<em>Luca De Feo</em> <br>
				 				"SQIsign, the new herald of isogeny based crypto"
							</li>

							<li>
								<em>Krijn Reijnder</em> <br>
				 				"MCE and MEDS: From Group Actions to Signatures"
							</li>

							<li>
								<em>Paolo Santini</em> <br>
				 				"Signatures from Five-Pass Zero-Knowledge Protocols and the Curious Case of CROSS"
							</li>

							<li>
								<em>Alessandro Barenghi</em> <br>
				 				"No one should learn from these errors: surveying fault attack resistance of post quantum cryptosystems"
							</li>
						</ul>
					</div>
		 			<button 
						class="read-more"
						targetId="abstract3"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
		 		<td class="schedule">11:00-11:30</td>
		 		<td>
		 			<em>Coffee break</em>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">11:30-13:30</td>
				<td>
					<b>Workshop</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td style="width: 90%">
		 			<p>
		 				<em>Topics in Applied Cryptography</em> <br>
		 				<u>Organizers</u> : Silvio Ranise, Alessandro Tomasi, D’Intino Andrea, Roio Denis
		 			</p>
		 			<div
			 				class="abstract"
			 				id="abstract4"
		 			>
				 		<p>
				 			<u>Invited speaker</u> : <em>
				 				<b>Marco Baldi</b>
				 			</em><br>
				 			<u>Abstract</u> : This workshop is dedicated to cryptography with a specific application, scenario and/or technology in mind, including performance evaluation, libraries and implementation issues, hardware and IoT, attacks and vulnerabilities, and requirements for unusual application scenarios. Topics of interest include privacy enhancing cryptography, homomorphic encryption, secure multi-party computation, quantum key distribution, and quantum-safe cryptography. [<a href="https://easychair.org/cfp/TAC2023">Call for Papers</a>]
				 		</p>
				 		<ul>
				 			<li>
				 				<em>Marco Baldi</em> <br>
				 				"Royal Rumbles in Cryptography: the NIST PQC Competition"
				 			</li>

				 			<li>
				 				<em>Stefano Berlato, Alessandro Colombo, Roberto Carbone </em> and <em>Silvio Ranise</em> <br>
				 				"Cryptographic Enforcement of Attribute-based Access Control Policies"
				 			</li>

				 			<li>
				 				<em>Stefano Berlato, Roberto Carbone</em> and <em>Silvio Ranise</em> <br>
				 				"OpenABE Bindings for Kotlin"
				 			</li>

				 			<li>
				 				<em>Chiara Spadafora, Michele Battagliola, Giuseppe D'Alconzo</em> and <em>Andrea Gangemi</em> <br>
				 				"Multiparty Class Group Encryption and Applications to E-Voting"
				 			</li>

				 			<li>
				 				<em>Chiara Spadafora, Riccardo Longo</em> and <em>Francesco Antonio Marino</em> <br>
				 				"Vote App: Verifiable and Coercion-Resistant I-Voting"
				 			</li>

				 			<li>
				 				<em>Andrea D'Intino</em> and <em>Denis Roio</em> <br>
				 				"Rapid implementation and deployment of cryptographic flows"
				 			</li>
				 		</ul>
		 			</div>
		 			<button 
						class="read-more"
						targetId="abstract4"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
		 		</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>

			<tr>
				<td colspan="2">
					<h4>Room B</h4>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">9:00-11:00</td>
				<td>
					<b>Workshop</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td style="width: 90%">
		 			<p>
		 				<em>Privacy-preserving Machine Learning Workshop</em> <br>
		 				<u>Organizers</u> : Marco Pedicini, Michela Iezzi
		 			</p>
		 			<div
						class="abstract"
		 				id="abstract5"
		 			>
			 			<p>
			 				<u>Invited speaker</u> : <em>
			 					<b>Andrei Stoian</b>
			 				</em> <br>
			 				<u>Abstract</u> : Privacy-preserving machine learning is a vital field as organizations and individuals strive to leverage machine learning while safeguarding sensitive data. The workshop addresses a growing demand for privacy enhancing techniques. It offers an up-to-date overview of the key concepts, methods, and tools. <br>
			 				With a keynote on Fully Homomorphic Encryption (FHE) by Andrei Stoian from Zama Concrete-ML and contributions from various experts focusing on topics such as Differential Privacy, Federated Learning, FHE, Secure Multi-Party Computation, and Trusted Execution Environment.
				 		</p>
				 		<ul>
				 			<li>
				 				<em>Andrei Stoian</em> <br>
				 				"Privacy-preserving Machine Learning Workshop"
				 			</li>

				 			<li>
				 				<em>Valerio Maggio</em> <br>
				 				"PPML, Machine learning on data you cannot see"
				 			</li>
				 		</ul>
		 			</div>
		 			<button 
						class="read-more"
						targetId="abstract5"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
					<p>
			 			Information and call for papers can be found <a href="http://logica.uniroma3.it/PPML">here</a>.
					</p>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
		 		<td class="schedule">11:00-11:30</td>
		 		<td>
		 			<em>Coffee break</em>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">11:30-13:30</td>
				<td>
					<b>Workshop</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td style="width: 90%">
		 			<p>
		 				<em>New trends in Group-Based Cryptography</em> <br>
		 				<u>Organizers</u> : Norberto Gavioli, Carmine Monetta, Marialaura Noce
		 			</p>
		 			<div
		 				class="abstract"
		 				id="abstract6"
		 			>
			 			<p>
			 				<u>Invited speaker</u> : <em>
			 					<b>Delaram Kahrobaei</b>
			 				</em> <br>
			 				<u>Abstract</u> : Group theory, particularly non-abelian groups, provides a wealth of challenges for cryptography, introducing a novel dimension to this field. <br>
			 				The objective of this workshop is to offer an up-to-date overview of the current state of group-based cryptography and to present recent developments. More precisely, the workshop will focus on computational group theory, suitable platform groups, and potential intersections between them.
						</p>
						<ul>
							<li>
								<em>Delaram Kahrobaei</em> <br>
				 				"A Subexponential Quantum Algorithm for the Semidirect Discrete Logarithm Problem and SPDH-Sign: towards Efficient, Post-quantum Group-based Signatures"
							</li>

							<li>
								<em>Riccardo Aragona</em> <br>
				 				"Some results on the groups generated by round functions"
							</li>

							<li>
								<em>Ramon Flores</em> <br>
				 				"Groups and cryptography"
							</li>

							<li>
								<em>Antonio Tortora</em> <br>
				 				"A “smart” application of homomorphic encryption"
							</li>

							<li>
								<em>Martina Vigorito</em> <br>
				 				"A method to cryptanalyze (Simultaneous) Conjugacy Search Problem in certain Metabelian Platform Groups"
							</li>
						</ul>
		 			</div>
		 			<button 
						class="read-more"
						targetId="abstract6"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">13:30-14:30</td>
				<td><em>Lunch</em><br>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>

			<!---------------------------------------------------------------->

			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>15 December (afternoon) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule">14:30-15:30</td>
				<td>
					<b>Mini-session 4: Keynote</b><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Invited Talk - Svetla Petkova-Nikova (Katholieke Universiteit Leuven- Belgium) - Research Manager</em><br>
					"Threshold Implementations: Securing Implementations of Symmetric-Key Algorithms" <br>
					<p
		 				class="abstract"
		 				id="abstract7"
		 			>
			 			<u>Abstract</u> : With the increase in portable devices performing cryptographic computations, physical attacks are becoming easy to execute. One of the most common physical attacks is Side-Channel Analysis (SCA), extremely dangerous due to its non-invasive nature. Threshold Implementations (TI) was proposed as the first countermeasure to provide provable security in masked hardware implementations. <br>
			 			In this lecture we will first introduce the method and give examples of HW implementations using Threshold Implementations. Then we will present the most recent developments in the theory and practice of Threshold Implementations and will demonstrate Tis providing various trade-offs and achieving efficiency and security of HW implementations.
		 			</p>
		 			<button 
						class="read-more"
						targetId="abstract7"
						(click)="readMoreHandler($event)"
					>
						Read more
					</button>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">15:30-16:30</td>
				<td><b>Mini-session 5: Boolean functions and symmetric cryptography</b><br></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Marco Calderini, Roberto Civino, Riccardo Invernizzi</em><br>
					"Differential experiments using parallel alternative operations"
				</td>
			</tr>	
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Marine Minier, Loïc Rouquette and Christine Solnon</em> <br>
					"Automatic Boomerang Attacks Search on Rijndael"
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">16:30-17:00</td>
				<td><em>Coffee break</em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">17:00-18:30</td>
				<td><b>Mini-session 6: Cloud encryption</b><br></td>
			</tr> 
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Marco Calderini, Riccardo Longo, Massimiliano Sala,	Irene Villa</em> <br>
					"Searchable Encryption with randomized ciphertext and randomized keyword search"
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Sigurd Eskeland</em> <br>
					"Cryptanalysis of a privacy-preserving authentication scheme
					based on private set intersection"
				</td>
			</tr>			 
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Marco Cianfriglia, Elia Onofri, Marco Pedicini</em> <br>
					"mR_LWE-CP-ABE: a revocable CP-ABE for Post-Quantum Cryptography"
				</td>
			</tr>			 
			<tr><td colspan="2"><br></td></tr>
		</table>
	</div>
</div>