
<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROGRAM</h3>
			All events take place at <a target="_blank" href="https://www.consob.it/">CONSOB</a> headoffice, Via Giovanni Battista Martini, 3 - 00198 Rome (Italy)<br>
			<br>
		<table width="100%" cellspacing="2" cellpadding="2">
			 <tr>
				<td></td>
			</tr>
			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>14 December (morning) - Istitutional Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule">8:30-9:30</td>
				<td><em>Registration</em><br>
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">9:30-13:30</td>
				<td><em>Istitutional Session</em><br>
					TBA
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">13:30-14:30</td>
				<td><em>Lunch</em><br>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 
			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>14 December (afternoon) - Scientific Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule">14:30-15:30</td>
				<td><b>Mini-session 1: Keynote</b><br>
					<em>Invited Talk - Antoine Joux (CISPA - Germany)</em><br></td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">15:30-16:30</td>
				<td><b>Mini-session 2</b><br></td>
			 </tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Wissam Ghantous,
					Federico Pintore and
					Mattia Veroni</em><br>"Efficiency of SIDH-based
					signatures (yes, SIDH)"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Massimiliano Sala and
					Daniele Taufer</em><br>"The group structure of elliptic
					curves over Z/NZ"</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">16:30-17:00</td>
				<td><em>Coffee Break</em></td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">17:00-19:00</td>
				<td><b>Mini-session 3</b><br></td>
			 </tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Kaveh Aasaraai,
					Emanuele Cesena, Rahul
					Maganti, Nicolas Stalder and Javier Varela</em>
					<br>"FPGA And Software
					Acceleration of Multi-Scalar
					Multiplication: CycloneMSM"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Márton Erdélyi, Pál
					Hegedüs, Sándor Kiss
					and Gábor Nagy</em><br>"On Linear Codes with Random
					Multiplier Vectors and the
					Maximum Trace Dimension
					Property"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Marco Timpanella</em><br>"On a generalization of the
					Deligne-Lustzig curve of Suzuki
					type and application to AG codes"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Kyosuke Yamashita and
					Keisuke Hara</em><br>"On the Black-Box Impossibility
					of Multi-Designated Verifiers
					Signature Schemes from Ring
					Signature Schemes"</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">21:00</td>
				<td><em>Social Dinner</em><br>Location: TBA</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>

			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>15 December (morning) - Scientific Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule">9:30-10:30</td>
				<td><b>Mini-session 1: Keynote</b><br>
					<em>Invited Talk - Lilya Budaghyan (University of Bergen - Norway)</em><br></td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">10:30-11:30</td>
				<td><b>Mini-session 2</b><br></td>
			 </tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Marco Calderini, Roberto
					Civino and Riccardo
					Invernizzi</em><br>"Differential experiments using
					parallel alternative operations"</td>
			 </tr>	
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Marine Minier, Loïc
					Rouquette and Christine
					Solnon</em><br>"Automatic Boomerang Attacks
					Search on Rijndael"</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">11:30-12:00</td>
				<td><em>Coffee Break</em></td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">12:00-13:30</td>
				<td><b>Mini-session 3</b><br></td>
			 </tr> 
			<tr>
				<td class="schedule"></td>
				<td><em>Marco Calderini,
					Riccardo Longo,
					Massimiliano Sala and
					Irene Villa</em><br>"Searchable Encryption with
					randomized ciphertext and
					randomized keyword search"</td>
				</tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Sigurd Eskeland</em><br>"Cryptanalysis of a privacy-
					preserving authentication scheme
					based on private set intersection"</td>
			 </tr>			 
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Marco Cianfriglia, Elia
					Onofri and Marco
					Pedicini</em><br>"mR_LWE-CP-ABE: a revocable
					CP-ABE for Post-Quantum
					Cryptography"</td>
			 </tr>			 
			 <tr><td colspan="2"><br></td></tr>

			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>15 December (afternoon) - Workshop Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule">TBA</td>
				<td><em>TBA</em><br>
				</td>
			 </tr>
		</table>
	</div>