<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROGRAM</h3>
			All events take place at <a target="_blank" href="https://www.consob.it/">CONSOB</a> headoffice, Via Giovanni Battista Martini, 3 - 00198 Rome (Italy)<br>
			<br>
		<table width="100%" cellspacing="2" cellpadding="2">
			 <tr>
				<td></td>
			</tr>
			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>14 December (morning) - Institutional Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule">8:30-10:00</td>
				<td><em>Registration</em><br>
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">10:00-10:30</td>
				<td><em>Greetings</em><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Speakers</em> :
					Representantives of <a target="_blank" href="https://www.consob.it/">CONSOB</a> and De Cifris 
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">10:30-11:30</td>
				<td><b>Institutional session</b><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Round Table with representatives of goverment's Departments and other Italian public-law institutions</em>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">11:30-12:00</td>
				<td><em>Coffee break</em><br>
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">12:00-12:30</td>
				<td><b>Invited Talk</b><br></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Massimo Giulietti (University of Perugia - Italy)</em><br>
					"Cryptography and its applications in the Italian scenario"
				</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">12:30-13:30</td>
				<td>
					<b>Industrial Session</b>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>	
					<em>Speakers</em>: TBA
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">13:30-14:30</td>
				<td><em>Lunch</em><br>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 
			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>14 December (afternoon) - Scientific Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule">14:30-15:30</td>
				<td>
					<b>Mini-session 1: Keynote</b><br>
				</td>
			 </tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Invited Talk - Antoine Joux (CISPA - Germany)</em><br>
				</td>
			</tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">15:30-16:30</td>
				<td><b>Mini-session 2: Number theory and cryptography</b><br></td>
			 </tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Wissam Ghantous,
					Federico Pintore and
					Mattia Veroni</em><br>"Efficiency of SIDH-based
					signatures (yes, SIDH)"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Massimiliano Sala and
					Daniele Taufer</em><br>"The group structure of elliptic
					curves over Z/NZ"</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">16:30-17:00</td>
				<td><em>Coffee Break</em></td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">17:00-19:00</td>
				<td><b>Mini-session 3: Between theory and practice</b><br></td>
			 </tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Kaveh Aasaraai,
					Emanuele Cesena, Rahul
					Maganti, Nicolas Stalder and Javier Varela</em>
					<br>"FPGA And Software
					Acceleration of Multi-Scalar
					Multiplication: CycloneMSM"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Márton Erdélyi, Pál
					Hegedüs, Sándor Kiss
					and Gábor Nagy</em><br>"On Linear Codes with Random
					Multiplier Vectors and the
					Maximum Trace Dimension
					Property"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Marco Timpanella</em><br>"On a generalization of the
					Deligne-Lustzig curve of Suzuki
					type and application to AG codes"</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			 <tr>
				<td class="schedule"></td>
				<td><em>Kyosuke Yamashita and
					Keisuke Hara</em><br>"On the Black-Box Impossibility
					of Multi-Designated Verifiers
					Signature Schemes from Ring
					Signature Schemes"</td>
			 </tr>
			 <tr><td colspan="2"><hr></td></tr>
			 <tr>
				<td class="schedule">21:00</td>
				<td><em>Social Dinner</em><br>Location: TBA</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>

			 <tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>15 December (morning) - Scientific Session</b></font>
				</td>
			 </tr>
			 <tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule">9:30-10:30</td>
				<td>
					<b>Mini-session 4: Keynote</b><br>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<em>Invited Talk - Svetle Petkova-Nikova (Katholieke Universiteit Leuven- Belgium)</em><br>
					"Threshold Implementations: Securing Implementations of Symmetric-Key Algorithm"
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">10:30-11:30</td>
				<td><b>Mini-session 5: Boolean functions and symmetric cryptography</b><br></td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Marco Calderini, Roberto
					Civino and Riccardo
					Invernizzi</em><br>"Differential experiments using
					parallel alternative operations"</td>
			</tr>	
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Marine Minier, Loïc
					Rouquette and Christine
					Solnon</em><br>"Automatic Boomerang Attacks
					Search on Rijndael"</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">11:30-12:00</td>
				<td><em>Coffee Break</em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule">12:00-13:30</td>
				<td><b>Mini-session 6: Cloud encryption</b><br></td>
			</tr> 
			<tr>
				<td class="schedule"></td>
				<td><em>Marco Calderini,
					Riccardo Longo,
					Massimiliano Sala and
					Irene Villa</em><br>"Searchable Encryption with
					randomized ciphertext and
					randomized keyword search"</td>
				</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Sigurd Eskeland</em><br>"Cryptanalysis of a privacy-preserving authentication scheme
					based on private set intersection"</td>
			</tr>			 
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td><em>Marco Cianfriglia, Elia
					Onofri and Marco
					Pedicini</em><br>"mR_LWE-CP-ABE: a revocable
					CP-ABE for Post-Quantum
					Cryptography"</td>
			</tr>			 
			<tr><td colspan="2"><br></td></tr>

			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
				  <font size="+1"><b>15 December (14:30-18:30) - Workshop Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<b style="color:rgb(23, 162, 184);">
						Recent Advances in Post-Quantum Cryptography
					</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td>
		 			<p>
		 				<em>Chairs</em> : Marco Baldi (Marche Polytechnic University), Giulio Codogni (Tor Vergata University of Rome),  Roberto La Scala (University of Bari), Alessio Meneghetti (University of Trento), Gerardo Pelosi (Polytechnic University of Milan), Federico Pintore (University of Trento) <br>
		 				<em>Abstract</em> : Post-quantum cryptography, that is, the study of cryptographic schemes capable of withstanding attackers equipped with both classical and quantum computers, is an area of research that has experienced tremendous growth in recent years, also due to the initiation of a standardization effort by NIST. Since last June, the focus has been on post-quantum digital signature schemes, which are the subject of the latest NIST competition. <br>
						This workshop will provide an overview of the state of the art in post-quantum cryptography, along with the NIST competition, and focus on cutting-edge methods for designing and implementing post-quantum.
					</p>
				</td>
			</tr>
			<tr>
				<td class="schedule"></td>
				<td>
					<b style="color:rgb(23, 162, 184);">
						Privacy-preserving Machine Learning Workshop (PPML)
					</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td>
		 			<p>
			 			<em>Chairs</em> : Marco Pedicini (Roma Tre), Ilaria Chillotti (Zama), Michela Iezzi (Bank of Italy)<br>
			 			<em>Abstract</em> : Privacy-preserving machine learning is an increasingly vital field as organizations and individuals strive to leverage machine learning while safeguarding sensitive data. This workshop addresses the growing demand for privacy enhancing techniques. It offers an up-to-date overview of the key concepts, methods, and tools. Participants will be introduced to essential cryptographic techniques. <br>
			 			The workshop's structure consists of a keynote on Fully Homomorphic Encryption (FHE) by Andrei Stoian, a Data Scientist at Zama's Concrete-ML group. Additionally, it features contributions from various experts, including PhD students, early-stage researchers, and industry professionals, focusing on topics such as:
			 		</p>
		 			<ul>
		 				<li>
		 					Differential Privacy;
		 				</li>

		 				<li>
		 					Federated Learning;
		 				</li>

		 				<li>
		 					Fully Homomorphic Encryption;
		 				</li>

		 				<li>
		 					Secure Multi-Party Computation;
		 				</li>

		 				<li>
		 					Trusted Execution Environment.
		 				</li>
		 			</ul>
		 			<p>
			 			The keynote delves into the practical aspects of FHE, discussing both advancements and challenges. Furthermore, the workshop invites contributions related to these topics, providing a platform for discussing real-world applications, enabling young researchers to showcase their work, and receive valuable insights and suggestions.
			 		</p>
		 		</td>
			</tr>

			<tr>
				<td class="schedule"></td>
				<td>
					<b style="color:rgb(23, 162, 184);">
						Topics in Applied Cryptography (TAC)
					</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td>
			 		<p>
			 			<em>Chairs</em> : Silvio Ranise (FBK), Alessandro Tomasi (FBK)<br>
			 			<em>Abstract</em> : This workshop is dedicated to cryptography with a specific application, scenario and/or technology in mind, including but not limited to performance evaluation, implementation issues, and requirements for unusual application scenarios. Purely theoretical results are out of scope. Applications, protocols, and scenarios in scope include but are not limited to:
			 		</p>
		 			<ul>
		 				<li>
							Privacy Enhancing Cryptography, e.g., selective disclosure signatures, accumulators, anonymous credentials, zero-knowledge proofs; 					
		 				</li>

		 				<li>
							Partially or fully homomorphic encryption for the cloud;
		 				</li>

		 				<li>
							Secret sharing and multi-party threshold schemes for decentralisation of trust;
		 				</li>

		 				<li>
							Cryptography in protocols e.g., TLS, SSH, Double Ratchet, 3DH, OAuth, including contributions, security assessments, or implementations;
		 				</li>

		 				<li>
							Software libraries implementing cryptography, APIs, and related issues;
		 				</li>

		 				<li>
							Hardware providing cryptographic services, and related issues, e.g. 
							<ul>
								<li> IoT; </li>

								<li> SmartNICs; </li>

								<li> Security controllers; </li>

								<li> Cryptographic processors; </li>

								<li> PUF; </li>

								<li> Re-used, related, or weak keys and certificates; </li>

								<li> Poor RNG; </li>
							</ul>
		 				</li>

		 				<li>
							Attacks and vulnerabilities: side-channel, fault injection, oracles, key recovery;
		 				</li>

		 				<li>
							Quantum Key Distribution;
		 				</li>

		 				<li>
							Cryptography in blockchain infrastructure and decentralized applications.
		 				</li>
		 			</ul>
		 		</td>
			</tr>

			<tr>
				<td class="schedule"></td>
				<td>
					<b style="color:rgb(23, 162, 184);">
						CifrisInnovation2023: CDBCs and other Digital Currencies: opportunities and risks
					</b>
				</td>
			</tr>
			<tr>
		 		<td class="schedule"></td>
		 		<td style="width: 90%">
		 			<p>
			 			<em>Chairs</em> : Andrea Bracciali (University of Stirling), Davide Carboni (LUISS University)<br>
			 			<em>Abstract</em> : A significant transformation in the financial sector is the introduction of Central Bank Digital Currencies (CBDCs), which all the main central banks (ECB, BoE, BdI, …) are actively researching. While CBDCs offer potential efficiency benefits and innovation, they also raise concerns about unprecedented centralization, control and citizen's privacy. <br>
			 			The workshop aims to stimulate discussions on CBDCs' opportunities and challenges from both domestic and international viewpoints. It comprises an open discussion with panellist experts, possibly leading to a policy briefing/position paper, and a series of speed talks on recent advances, to be collected in a post-workshop peer-reviewed journal publication. <br>
		 				Topics for speed talks include (non-exclusively):
		 			</p>
	 				<ul>
						<li> the technological design of CBDCs, </li>

						<li> privacy aspects, </li>
						
						<li> regulatory guidelines, </li>
						
						<li> the future of money ownership in the context of CDBCs, and </li>
						
						<li> international perspectives on CBDC adoption. </li>
					</ul>
					<p>
						Please see (TBA) for full details.
					</p>
		 		</td>
			</tr>
		</table>
	</div>