<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->
	
	</ng-sidebar>
    <div ng-sidebar-content class="container bottomExtra"> 
    <h3 align="center">Post Quantum and Cloud Cryptography</h3>
    <p>
        Il corso è riservato ai soci di “De Componendis Cifris APS”, per i quali è completamente gratuito (vedi a <a [routerLink]="['/associarsi']">questo link</a> come associarsi).
    </p>
    <p>
         Si tratta della seconda fruizione, pertanto gli studenti che si iscrivono entro il 18 settembre 2023 possono seguire le lezioni registrate che si trovano nella sezione <a [routerLink]="['/trends22']">Edizione 2022</a>.
        Ci aspettiamo che gli studenti completino la visione dei video entro il 17 novembre.
    </p>
    <p>
        Nel periodo dal primo ottobre al 17 novembre, gli studenti potranno fare domande e avere assistenza sul corso, scrivendo al Dott. Marzio Mula (<a href="mailto:marziomula@gmail.com">marziomula@gmail.com</a>).
    </p>
    <p>
        Infine, gli studenti che volessero ottenere un certificato di partecipazione al corso, dovranno sostenere l'esame (online) il 27 novembre 2023.
    </p>
    </div>  

</ng-sidebar-container>