<h3>Symmetric key category</h3>
<h6>Rules</h6>
<p>
	The symmetric cryptosystem that will be considered is BunnyTN. The algorithm 
	specifications will be made available on the website from November 14th.
	The goal of each team is to find the most effective and fastest possible attack on 
	BunnyTN. All types of attacks and scenarios are welcome. Some examples of attacks 
	that can be found in the literature are the following:
</p>
<ul>
	<li> Key-recovery attacks: attacks that try to reconstruct the secret key of the 
		algorithm (the simplest example is to do an exhaustive search of all possible keys).
	</li>
	<li> Distinguishing attacks: attacks that try to distinguish encrypted information 
		from random messages.
	</li>
</ul>
<p>
	Depending on the type of information the attacker has, different scenarios 
	can be defined:
</p>
<ul>
	<li> Related-key attacks: the attacker can observe the behavior of the cryptosystem 
		with different secret keys not known but closely linked by mathematical relations 
		(for example the first 80 bits of the keys are always the same)</li>
	<li> Chosen-plaintext attacks: the attacker has the possibility to choose clear 
		messages and to know the corresponding ciphertext.</li>
	<li> Known-plaintext/ciphertext attacks: the attacker has random pairs of 
		plaintext/ciphertext at his disposal (but which he cannot choose).</li>
	<li> Chosen-ciphertext attacks: the attacker has the possibility to choose encrypted 
		messages and to know the corresponding plaintext.</li>
	</ul>
<h6>Score</h6>
<p>
	The best attacks or attack attempts on the cryptosystem will be rewarded.
	With the same attack strategy, the one who managed to break the greatest 
	number of rounds of the algorithm will be rewarded.
</p>
<br>
<h6>Materials</h6>
<ul>
	<li><a href="../../../../../../assets/attivita/cryptowars/2011/BunnyTN_Cipher.rar">SPECIFICATIONS OF BunnyTN (rar)</a></li>
	<li><a href="../../../../../../assets/attivita/cryptowars/2011/BunnyTN_Cipher.tar.gz">SPECIFICATIONS OF BunnyTN (tar.gz,zip)</a></li>
</ul>