<div class="container">
	<div class="sidenav">
		<nav class="sidebar" id="sidebar">
			<ul>
				<li>
					<button mat-button [routerLink]="['/']" routerLinkActive="active" (click)="toggleSidebar()"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>home</mat-icon>
						<span class="sidebar-text">HOME</span>
					</button>
				</li>
				<h5>CIFRIS 25 - ROME</h5>
				<li>
					<button mat-button [routerLink]="['/cifris25']" routerLinkActive="active" (click)="toggleSidebar()"
						[routerLinkActiveOptions]="{exact: true}" class="sidebar-image-button">
						<mat-icon>stadium</mat-icon>
						<span class="sidebar-text">CIFRIS25</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/cifris25/registration']" routerLinkActive="active"
						(click)="toggleSidebar()" [routerLinkActiveOptions]="{exact: true}"
						class="sidebar-image-button">
						<mat-icon>event_seat</mat-icon>
						<span class="sidebar-text">Registration</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/cifris25/program']" routerLinkActive="active"
						(click)="toggleSidebar()" [routerLinkActiveOptions]="{exact: true}"
						class="sidebar-image-button">
						<mat-icon>date_range</mat-icon>
						<span class="sidebar-text">Program</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/cifris25/workshops']" routerLinkActive="active"
						(click)="toggleSidebar()" [routerLinkActiveOptions]="{exact: true}"
						class="sidebar-image-button">
						<mat-icon>architecture</mat-icon>
						<span class="sidebar-text">Workshops</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/cifris25/venue']" routerLinkActive="active"
						(click)="toggleSidebar()" [routerLinkActiveOptions]="{exact: true}"
						class="sidebar-image-button">
						<mat-icon>location_on</mat-icon>
						<span class="sidebar-text">Venue & shuttles</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/cifris25/dinner']" routerLinkActive="active"
						(click)="toggleSidebar()" [routerLinkActiveOptions]="{exact: true}"
						class="sidebar-image-button">
						<mat-icon>restaurant</mat-icon>
						<span class="sidebar-text">Social event</span>
					</button>
				</li>
				<li>
					<button mat-button [routerLink]="['/cifris25/proceedings']" routerLinkActive="active"
						(click)="toggleSidebar()" [routerLinkActiveOptions]="{exact: true}"
						class="sidebar-image-button">
						<mat-icon>menu_book</mat-icon>
						<span class="sidebar-text">Proceedings</span>
					</button>
				</li>
			</ul>
		</nav>
	</div>
	<div class="content" (click)="toggleSidebar(true)">

		<div style="text-align: center;padding:0; margin-bottom: 10px;">
			<p style="color:var(--cifris_blue);font-size: larger; font-weight: bold;margin:0; display: inline;">
				CIFRIS25
				-
				<i style="font-weight: normal;">an event by De Cifris</i>
			</p>
			<p style="margin:0;font-size:smaller">
				Venue: University of Roma Tre, <i>Dipartimento di Matematica e Fisica</i>, Largo S. Leonardo Murialdo, 1  Roma
				<br>
				Social dinner: September 11th, <i>Nome Ristorante</i>, Via , Roma
				<br>
				<b> September 11th and 12th 2025 </b>
			</p>
			<hr style="width: 60%;margin-left: 20%;color:var(--cifris_blue)">
		</div>
		<router-outlet></router-outlet>
	</div>
	<ul class="bottomnav-menu">
		<li>
			<button mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<mat-icon style="color:var(--cifris_azure_transparent)">home</mat-icon>
				<span style="color:var(--cifris_azure_transparent);">HOME</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon style="color:var(--cifris_azure_transparent)">stadium</mat-icon>
				<span style="color:var(--cifris_azure_transparent)">CIFRIS25</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25/registration']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon>event_seat</mat-icon>
				<span>Registration</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25/program']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon>date_range</mat-icon>
				<span>Program</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25/workshops']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon>architecture</mat-icon>
				<span>Workshops</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25/venue']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon>location_on</mat-icon>
				<span>Venue & shuttles</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25/dinner']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon>restaurant</mat-icon>
				<span>Social event</span>
			</button>
		</li>
		<li>
			<button mat-button [routerLink]="['/cifris25/proceedings']" routerLinkActive="active"
				[routerLinkActiveOptions]="{exact: true}">
				<mat-icon>menu_book</mat-icon>
				<span>Proceedings</span>
			</button>
		</li>
	</ul>
</div>
