<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	<!-- Ai posteri: in caso voleste inserire nuovo contenuto nella sidebar, questo è il posto -->
	<ul class="noIndent" align="left">
		<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
		<li style="display:none">
			<button autofocus="autofocus"></button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('eventi')">
				Eventi
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('recenti')">
				Seminari Recenti
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('prossimi')">
				Prossimi Seminari
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('passati')">
				Seminari Passati
			</button>
		</li>
		<li>
			<button class="btn btn-outline-info" (click)="goTo('video')">
				Video
			</button>
		</li>
	</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra"> 
		<br>
		<div class="mt-3">
			<div class="row">
				<div class="col-md-12">
					<h3>PQ-CIFRIS</h3>
					<p> Tra le attività della De Cifris troviamo l'iniziativa PQCifris, che raccoglie 
						i membri della De Cifris interessati alla cosìdetta Crittografia Post-Quantum o 
						Crittografia Quantum-Safe. Si tratta di cifrari che sono progettati in modo da 
						poter resistere anche a un attacco crittoanalitico eseguito da un computer quantistico. </p>
					<p> L'obiettivo è creare una sinergia tra le diverse competenze presenti nell'iniziativa per 
						contribuire sia agli aspetti di divulgazione e formazione, sia agli aspetti di ricerca e 
						trasferimento tecnologico.  </p>
					<h5>Comitato organizzatore</h5>
					<ul>
						<li>Cecilia Boschini, Technion;</li>
						<li>Marco Baldi, Università Politecnica delle Marche.</li>
					</ul>
					<p> Per aderire all'iniziativa contattare <a href="mailto:pqcifris@decifris.it">
						pqcifris@decifris.it</a>. <br>
						Il coordinatore dell'iniziativa è Marco Baldi <a href="mailto:m.baldi@univpm.it">
						m.baldi@univpm.it</a>. </p>
				</div>
			</div>
			<hr id="eventi">
			<div class="row">
				<div class="col-md-12">
					<h4>EVENTI</h4>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li>
							Primo evento tenuto presso la prestigiosa sede della CONSOB: 9 maggio 2019. 					
						</li>
						<li>
							Sessione dell'iniziativa De Componendis Cifris dentro ITASEC18: 8 febbraio 2018. 
						</li>
					</ul>
				</div>
			</div>

			<hr id="recenti">
			<div class="row">
				<div class="col-md-12">
					<h4>SEMINARI RECENTI</h4>
					<p>I seminari proposti verranno mostrati in questa sezione.</p>
					<ul>
						<li>
							<b>7 Dicembre 2021</b>
							<ul>
								<li>
									<b>Cecilia Boschini</b> -- Technion‌<br>
									<i>"How to do Efficient Signature Verification without Leakage"</i><br>
									<a href=".././../../assets/attivita/gruppi/PQCifris/12.2021_Boschini.pdf">Locandina</a> -- 
									<a href=".././../../assets/attivita/gruppi/PQCifris/Boschini.pdf">Slide</a>
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>2 Novembre 2021</b>
							<ul>
								<li>
									<b>Paolo Santini</b> -- Università‌ ‌Politecnica‌ ‌delle‌ ‌Marche<br>
									<i>" Recent advances in code-based encryption and digital signatures"</i><br>
									<a href="../../../assets/attivita/gruppi/PQCifris/11.2021_Santini.pdf">Locandina</a> -- 
									<a href="../../../assets/attivita/gruppi/PQCifris/11.2021-SantiniSlide.pdf">Slide</a> -- 
									<a href="https://www.youtube.com/watch?v=KBTKdT4IP84&t=6s">Video</a>
									<br>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<hr id="prossimi">
			<h4>PROSSIMI SEMINARI</h4>
			<ul>
				<li>
					<b> 1 Febbraio 2022</b>
					<ul>
						<li>
							<b>Edoardo Persichetti</b> -- Florida Atlantic University (US)  <br>
							<i>"Code-based Signatures: New Approaches and Research Directions"</i> <br>
							<a href="../../../assets/attivita/gruppi/PQCifris/Persichetti
							Locandina.pdf">Locandina</a> -- 
							<a href="../../../assets/attivita/gruppi/PQCifris/Persichetti
							Slide.pdf">Slide</a>
						</li>
					</ul>
				</li>
			</ul>
			<hr id="passati">
			<h4>SEMINARI PASSATI</h4>
			<ul>
				<li>
					Seminario online tenuto da Andrea Basso: Saber: a Post-Quantum Lattice-Based Protocol - 24 agosto 2020 
					( <a href="https://youtu.be/s2PJrtgUZLU">Video</a> ). 
				</li>
			</ul>

			<div class="row">
				<div class="col-md-12">
					<hr id="affini">
					<h4>SEMINARI AFFINI</h4>
					<ul>
						<li>
							<b>14 Dicembre 2020</b> (<a [routerLink]="['/deCifrisScholaLatina']">De Cifris Schola Latina</a>)
							<ul>
								<li>
									<b>Edoardo Persichetti</b> -- Florida Atlantic University <br>
									<i>Code-based Cryptography and Post-Quantum Standardization</i><br>
									<a href="../../../../assets/attivita/seminariLocali/deCifrisScholaLatina/14.12.2020-Persichetti.pdf"> Locandina</a> --
									<a href="../../../../assets/attivita/seminariLocali/deCifrisScholaLatina/slide_Persichetti.pdf"> Slide</a> -- 
									<a href="https://www.youtube.com/watch?v=UNwxzwBzl2w">Video</a>
								</li>      
							</ul>
						</li>
						<li>
							<b>5 Maggio 2021 </b> (<a [routerLink]="['/mathCifris']">Math Cifris</a>)
							<ul>
								<li>
									<b>Luca de Feo</b> -- Université de Versailles – Saint-Quentin e IBM Zurich <br>
									<i>"La corrispondenza di Deuring effettiva – la chiave per la prossima
										generazione di crittografia basata sulle isogenie?"</i> <br>
									<a href="../../../assets/attivita/gruppi/mathCifris/DeFeo.pdf">Locandina</a> -- 
									<a href="../../../assets/attivita/gruppi/mathCifris/DeFeoSlide.pdf">Slide</a> -- 
									<a href="https://www.youtube.com/watch?v=Ktp1VVuuM9U">Video</a>
								</li>
							</ul>
						</li>
						<li>
							<b>20 Maggio 2021</b> (<a [routerLink]="['/deCifrisAthesis']">De Cifris Athesis</a>)
							<ul>
								<li>
									<b>Annamaria Iezzi</b> -- Université de la Polynésie Française. <br>
									<i>"Strumenti per fare crittoanalisi nei grafi di isogenie supersingolari"</i><br>
									<a href="../../../assets/attivita/seminariLocali/deCifrisAthesis/Iezzi.pdf">Locandina</a> --
									<a href="../../../assets/attivita/seminariLocali/deCifrisAthesis/IezziIsogeny.pdf">Slide</a> -- 
									<a href="https://youtu.be/b9YU-UNgVSs">Video</a>
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>8 Aprile 2021</b> (<a [routerLink]="['/mathCifris']">Math Cifris</a>)
							<ul>
								<li>
									<b>Emmanuela Orsini, </b> -- COSIC, KU Leuven <br>
									<i>"Post-quantum secure oblivious transfer"</i>.<br>
									<a href="../../../assets/attivita/gruppi/mathCifris/Orsini.pdf">Locandina</a> -- 
									<a href="../../../assets/attivita/gruppi/PQCifris/OrsiniSlide.pdf">Slide</a> -- 
									<a href="https://youtu.be/A54aJqzFRYM">Video</a>
									<br>
								</li>
							</ul>
						</li>
						<li>
							<b>5 Febbraio 2021</b> (<a [routerLink]="['/deCifrisAugustaeTaurinorum']">
								De Cifris Augustae Taurinorum</a>)
							<ul>
								<li>
									<b>Carlo Sanna</b> -- Politecnico di Torino <br>
									<i>Introduction to Multivariate Cryptography</i><br>
									<a href="../../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/locandina_Sanna.pdf">Locandina</a> -- 
									<a href="../../../../assets/attivita/seminariLocali/deCifrisAugustaeTaurinorum/Sanna_Intro_MVC.pdf">Slide</a> -- 
									<a href="https://youtu.be/v5su7blRrHk">Video</a>
									<br>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<hr id="video">
			<div class="row">
				<div class="col-md-12">
					<h4>VIDEO</h4>
					<p>I video di crittografia Post-Quantum disponibili sul nostro <a href="https://www.youtube.com/watch?v
						=c16aoAi-7Bo&list=PLu4yxTVzRRMU93T5hf2mKtVINipn5O69F">canale YouTube.</a></p>
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>