
<div style="display: flex;" class="my-3 py-3">
	<hr style="width: 15%; margin-right: 8px; margin-left: 0;height: 3px; flex-shrink: 3;">
	<h2 style="flex-shrink: 3; font-weight: bolder;
	color: #212121;">COUNTERPARTY</h2>
	<hr style="margin-left: 8px; height: 3px; flex-shrink: 3; flex-grow:4">
</div>

<div class="container pb-3 mb-3">
	<div class="row">
		<div class="col-xl-7" style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
			<p>
				Counterparty è un'azienda che ha iniziato a fare progetti basati su bitcoin, e fra le varie cose hanno
				dato il via alla cosiddetta 'proof of burn', per cui un utente, per dimostrare l'interesse per l'azienda,
				era chiamato a bruciare bitcoin. Per farlo era sufficiente inviare denaro all'indirizzo creato ad-hoc con
				il nome <i>1CounterpartyXXXXXXXXXXXXXXXUWLpVr</i>.
				Questo indirizzo è stato creato in modo non-convenzionale: invece dell'iter standard 
				(chiave privata, chiave pubblica, address), in questo caso è stato generato direttamente un indirizzo valido,
				motivo per cui la chiave pubblica e privata sono sconosciute non solo a noi, ma anche a chi ha
				creato l'indirizzo.
			</p>
		</div>
		<div class="col-xl-2"></div>
		<div class="col-xl-3 py-3" align="center">
			<img class="image" src="../../assets/counterparty.png" alt="counterparty">
		</div>
	</div>
</div>

