<h1>Workshops</h1>
<p>
    Workshops will take place on 12th September. There are four main Workshops:
</p>
<h2>TOPICS IN APPLIED CRYPTOGRAPHY (TAC)</h2>
<b>Organizing Committee:</b>
<ul>
  <li>Marco Pedicini, Roma Tre University</li>
  <li>Veronica Cristiano, Telsy </li>
  <li>Alessandro Tomasi, Fondazione Bruno Kessler </li>
  <li>Chiara Spadafora, University of Trento</li>
  <li>Silvio Ranise, University of Trento</li>
  <li>Stefano Berlato, Fondazione Bruno Kessler</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Privacy enhancing cryptography</li>
  <li>Homomorphic encryption</li>
  <li>Secure multi-party computation</li>
  <li>Quantum key distrbution and quantum-safe cryptography</li>
</ul>
<b>Confirmed speakers: </b> Peter Rønne, Université du Luxembourg
<br> <br>
<b>Call for submissions: </b> if you have a proposal for a talk or demo, please send an extended abstract of maximum 2 pages to <a href="mailto:tac@fbk.eu">tac<span>&#64;</span>fbk.eu</a>. There is no fixed deadline, as this call expects a rolling evaluation of submissions.
<br> <br>
For further information see our <a href="https://aleph.fbk.eu/events/TAC2025/">webpage</a>
<br>
<br>
<h2>NUMBER THEORY AND CRYPTOGRAPHY</h2>
<b>Organizing Committee:</b>
<ul>
  <li>Gessica Alecci, Politecnico di Torino</li>
  <li>Stefano Barbero, Università di Trento </li>
  <li>Simone Dutto, Agenzia per la Cybersicurezza Nazionale </li>
  <li>Nadir Murru, Università di Trento</li>
  <li>Giuliano Romeo, Charles University (Prague) </li>
  <li>Giulia Salvatori, Politecnico di Torino</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Elliptic Curves</li>
  <li>Factorization Methods</li>
  <li>Isogenies</li>
  <li>Primality tests</li>
  <li>Pseudorandom number generators</li>
</ul>
<b>Confirmed speakers: </b> Pietro Mercuri, (Università di Trento), Andrea Sanguineti (Università di Genova), Alessandro Zaccagnini (Università di Parma)
<br>
<br>

<h2>POST-QUANTUM</h2>

<h1>TBA</h1>
<h2> SYMMETRIC CRYPTOGRAPHY AND CODING THEORY </h2>
<h1>TBA</h1>
