<h1>Workshops</h1>
<p>
    Workshops will take place on 12th September. There are four main Workshops:
</p>
<h2>TOPICS IN APPLIED CRYPTOGRAPHY (TAC)</h2>
<b>Chair:</b> Riccardo Longo, Fondazione Bruno Kessler <br>
<b>Organizing Committee:</b>
<ul>
  <li>Stefano Berlato, Fondazione Bruno Kessler</li>
  <li>Veronica Cristiano, Telsy </li>
  <li>Marco Pedicini, Roma Tre University</li>
  <li>Silvio Ranise, University of Trento</li>
  <li>Chiara Spadafora, University of Trento</li>
  <li>Alessandro Tomasi, Fondazione Bruno Kessler </li>
</ul>
<b>Topics:</b>
<ul>
  <li>Applications of cryptography, including performance evaluations, attacks and vulnerabilities, hardware and IoT</li>
  <li>Privacy enhancing cryptography</li>
  <li>Homomorphic encryption</li>
  <li>Secure multi-party computation</li>
  <li>Quantum key distrbution and quantum-safe cryptography</li>
</ul>
<b>Confirmed speakers: </b> Peter Rønne, Université du Luxembourg
<br> <br>
<b>Call for submissions:</b> for all the information see our <a href="https://aleph.fbk.eu/events/TAC2025/">webpage</a> 
<br>
<br>
<h2>NUMBER THEORY AND CRYPTOGRAPHY</h2>
<b>Organizing Committee:</b>
<ul>
  <li>Gessica Alecci, Politecnico di Torino</li>
  <li>Stefano Barbero, Università di Trento </li>
  <li>Simone Dutto, Agenzia per la Cybersicurezza Nazionale </li>
  <li>Nadir Murru, Università di Trento</li>
  <li>Giuliano Romeo, Charles University (Prague) </li>
  <li>Giulia Salvatori, Politecnico di Torino</li>
</ul>
<b>Topics:</b>
<ul>
  <li>Elliptic Curves</li>
  <li>Factorization Methods</li>
  <li>Isogenies</li>
  <li>Primality tests</li>
  <li>Pseudorandom number generators</li>
</ul>
<b>Confirmed speakers: </b> Pietro Mercuri, (Università di Trento), Andrea Sanguineti (Università di Genova), Alessandro Zaccagnini (Università di Parma)
<br>
<br>

<h2>ReAdPQC25 - Recent Advances in Post-Quantum Cryptography 2025</h2>
<b>Organizing Committee:</b>
  <ul>
    <li>Marco Baldi (Marche Polytechnic University, Italy)</li>
    <li>Alessio Caminata (University of Genoa, Italy)</li>
    <li>Annamaria Iezzi (Université Grenoble Alpes, France)</li>
    <li>Alessio Meneghetti (University of Bari, Italy)</li>
    <li>Edoardo Persichetti (Florida Atlantic University, USA)</li>
    <li>Federico Pintore (University of Trento, Italy)</li>
  </ul>
  <b>Topics:</b>
  <ul>
    <li>Multivariate cryptography</li>
    <li>Code-based cryptography</li>
    <li>Hash-based cryptography</li>
    <li>Lattice-based cryptography</li>
    <li>Isogeny-based cryptography</li>
  </ul>
<b>Call for submissions:</b> for all the information see our <a href="https://www.decifris.it/cifris25/ReAdPQC25">webpage</a>.  
<h2> SYMMETRIC CRYPTOGRAPHY AND CODING THEORY </h2>
<h1>TBA</h1>
