<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3> REGISTRATION </h3>
	</div>
</div>
<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12">
		<p>
			The fees of CIFRIS24 <b>excluding</b> workshops (i.e., 25 and 26 September, but not 27) and <b>excluding</b> social dinner are
		</p>
		<ol>
			<li>
				260.00 euros, regular fee;
			</li>
			
			<li>
				240.00 euros, fee for members of Unione Matematica Italiana, IEEE Computer Society, IEEE Information Theory Society;
			</li>
			
			<li>
				180.00 euros, young fee (less than 30 year old on 1 January 2025);
			</li>
			
			<li>
				130.00 euros, fee for members of De Cifris (“ordinario”, ”benemerito”, “fondatore”, "giovane").
			</li>
		</ol>
		<p>
			The fee covers:
		</p>
		<ul>
			<li>
				Free entrance to the main conference room;
			</li>
			
			<li>
				Coffee breaks and lunches (25 and 26 September).
			</li>
		</ul>
		<!-------------------------------------------------------------------->
		<p>
			The fees of CIFRIS24 <b>only</b> workshops (i.e., only 27 September) and <b>excluding</b> social dinner are
		</p>
		<ol>
			<li>
				140.00 euros, regular fee;
			</li>
			
			<li>
				120.00 euros, fee for members of Unione Matematica Italiana, IEEE Computer Society, IEEE Information Theory Society;
			</li>
			
			<li>
				95.00 euros, young fee (less than 30 year old on 1 January 2025);
			</li>
			
			<li>
				60.00 euros, fee for members of De Cifris (“ordinario”, ”benemerito”, “fondatore”, "giovane")
			</li>
		</ol>
		<p>
			The fee covers:
		</p>
		<ul>
			<li>
				Free entrance to the workshops' rooms;
			</li>
			
			<li>
				Lunch at the main conference room (27 September).
			</li>
		</ul>
		<!-------------------------------------------------------------------->
		<p>
			The joint fee of CIFRIS24, main event <b>and</b> workshops (25, 26 and 27 September)
		</p>
		<ol>
			<li>
				340.00 euros, regular fee;
			</li>
			
			<li>
				300.00 euros, fee for members of Unione Matematica Italiana, IEEE Computer Society, IEEE Information Theory Society;
			</li>
			
			<li>
				220.00 euros, young fee (less than 30 year old on 1 January 2025);
			</li>
			
			<li>
				160.00 euros, fee for members of De Cifris (“ordinario”, ”benemerito”, “fondatore”, "giovane")
			</li>
		</ol>
		<p>
			The joint fee covers:
		</p>
		<ul>
			<li>
				Free entrance to the main conference room;
			</li>

			<li>
				Free entrance to the workshops' rooms;
			</li>
			
			<li>
				All coffee breaks and all lunches (25, 26 and 27 September).
			</li>
		</ul>
		<!-------------------------------------------------------------------->
		<p>
			Social dinner fee: 50 euros (25 September).
		</p>
		<!-------------------------------------------------------------------->
		<p>
			PS: membership of De Cifris costs 20 euros "regular" and 5 euros "young", but it is reserved to EU citizens.
		</p>
		<p style="color: red;">
			To register, please send an email to <a href="mailto:cifris24@decifris.it">cifris24@decifris.it</a>. <br>
			In the email please specify whether you pay yourself or your company/institution pays for you (in that case, please send us its fiscal data). <br>
		</p>
		<p style="color: red;">
			<b>Registration Deadline September 2nd 2024.</b>
		</p>
	</div>
</div>

<hr><!------------------------------------------------------------------------>

<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12">
		<h4> PAYMENT </h4>
	</div>
	<form 
		id="payForm"
		class="form"
		method="post"
		(ngSubmit)="checkAndPay()"
	>
		<label> CIFRIS24 participation </label>
		<div>			
			<input 
				type="radio"
				id="all"
				name="participation"
				checked="checked"
				(click)=setFee()
			>
			<label for="all"> Main event <b>and</b> workshops (25, 26 and 27 September) </label><br>

			<input 
				type="radio"
				id="main_event"
				name="participation"
				(click)=setFee()
			>
			<label for="main_event"> Main event (25 and 26 September) </label><br>

			<input 
				type="radio"
				id="workshops"
				name="participation"
				(click)=setFee()
			>
			<label for="workshops"> Workshops (27 September) </label>
		</div>

		<label> Fee type </label>
		<div>
			<input 
				type="radio"
				id="regular"
				name="fee"
				checked="checked"
				(click)=setFee()
			>
			<label for="regular"> Regular </label><br>

			<input 
				type="radio"
				id="scientific_memebers"
				name="fee"
				(click)=setFee()
			>
			<label for="scientific_memebers">
				Members of Unione Matematica Italiana, IEEE Computer Society, IEEE Information Theory Society
			</label><br>
			
			<input 
				type="radio"
				id="young"
				name="fee"
				(click)=setFee()
			>
			<label for="young"> Young </label><br>

			<input 
				type="radio"
				id="member"
				name="fee"
				(click)=setFee()
			>
			<label for="member">
				Member of De Cifris (“ordinario”, ”benemerito”, “fondatore”, "giovane")
			</label> <br>

			<input 
				type="radio"
				id="companion"
				name="fee"
				(click)=setFee()
			>
			<label for="companion">
				Companion
			</label>
		</div>

		<label> Others </label>
		<div>
			<input 
				type="checkbox"
				id="dinner" 
				name="dinner"
				(click)=checkDinner($event)
				checked="checked"
			>
			<label for="dinner">
				Dinner
			</label>
		</div>

		<!-- Hidden input -->
		<input type="hidden" id="alias" name="alias" value={{ALIAS}}>
		<input type="hidden" id="importo" name="importo">
		<input type="hidden" id="divisa" name="divisa" value={{DIVISA}}>
		<input type="hidden" id="codTrans" name="codTrans">
		<input type="hidden" id="url" name="url">
		<input type="hidden" id="url_back" name="url_back">
		<input type="hidden" id="mac" name="mac">
		<input type="hidden" id="mail" name="mail">
		<input type="hidden" id="languageId" name="languageId" value="ENG">
		<input type="hidden" id="descrizione" name="descrizione">
		<input 
			type="hidden"
			id="Note1"
			name="Note1"
			value="Enrollment for CIFRIS24."
		>
		<input type="hidden" id="nome" name="nome">
		<input type="hidden" id="cognome" name="cognome">

		<hr><!---------------------------------------------------------------->

		<p style="font-weight: bold;">
			Total: € {{fee/100}}.00
		</p>

		<!-- Submit input -->
		<input type="submit" value="Pay Now">

		<p class="footnote">
			De Componendis Cifris kindly requests your consent for the processing of your personal data provided in the payment form. Your data will be sent by Nexi to us after your payment. The Association declares that this information is essential for event planning, communication purposes, and addressing any special requests. Your personal data will be securely deleted upon the conclusion of the event, unless you have a longer collaboration with De Componendis Cifris, such as being one of our members.
		</p>
	</form>
</div>