<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
		<ul class="noIndent" align="left">
			<!-- Utilizziamo questo trick per evitare di rendere visibile l'autofocus al lettore. -->
			<li style="display:none">
				<button autofocus="autofocus"></button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/regolamento">
					Regolamenti
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/organiDirettivi">
					Organizzazione
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/statuto">
					Statuto
				</button>
			</li>
            <!--
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come associarsi
				</button>
			</li>
			<li>
				<button class="btn btn-outline-info" routerLink="/aziende">
					Come affiliarsi
				</button>
			</li> -->
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="row mt-3 mr-1 ml-1">
			<div class="col-md-12">
				<h3>DICONO DI NOI</h3>
				<hr>
				<p> 
					<b>20/02/2023, l'Espresso,“Crittografia blockchain e cyber security. Una intervista al Prof.
					Massimiliano Sala”</b>
				</p>
				<p>
					Nell’intervista per il giornale “l’Espresso” il professor Massimiliano Sala (Presidente di De Cifris)
					risponde ad alcune domande sulla crittografia blockchain e cyber security. Si parte parlando delle
					origini della Crittografia e della sua evoluzione fino ai giorni nostri, in cui gioca un ruolo imprescindibile
					nella difesa per attacchi cyber. L’intervista si concentra poi sulle applicazioni della crittografia: a partire
					dalle crittovalute, crypto asset e NFT, alla cifratura dei messaggi e alla crittografia finanziaria. Infine si
					discute dell’importanza di una comunità crittografica italiana unita, per cui nasce De Cifris, e della
					mancanza di un Centro Nazionale di Crittografia, per avere delle linee guida che la comunità
					crittografica possa seguire.
				</p>
				<hr>
				<p><b>
					10/02/2023, Difesaonline, "Quantum Threat: nuova minaccia alla Sicurezza Nazionale"
				</b></p>
				<p>
					In questa intervista di Difesaonline il prof. Massimo Giulietti e il prof. Giovanni Schmid, rispettivamente
					vicepresidente e socio fondatore di De Cifris, trattano il tema della sicurezza nazionale del nostro
					paese nel contesto internazionale in relazione alla minaccia quantistica. Viene spiegato l’approccio
					della crittografia post-quantum e le sue varie applicazioni: dalla sicurezza informatica alla cifratura
					omomorfa, cioè l’analisi di dati cifrati permettendo di fare statistiche senza rinunciare alla privacy dei
					dati. Si analizza come altri stati, in particolare Stati Uniti e Francia, affrontino la minaccia e l‘importanza
					di avviare in Italia un Centro Nazionale di Crittografia, per creare algoritmi nazionali e per incentivare la
					ricerca.
				</p>
				<hr>
				<p><b>
					08/02/2023, Formiche, “Perché serve un Centro nazionale di crittografia? Risponde il prof. Sala”				</b></p>
				<p>
					In questo articolo di “formiche.net” il professor Massimiliano Sala, Presidente di De Cifris, commenta
					l’importanza di costituire un Centro Nazionale di Crittografia in Italia per la protezione cibernetica e la
					sicurezza informatica, visti anche i recenti sviluppi, tra cui quanto accaduto il 1° dicembre scorso: la
					diplomazia francese ha inviato il suo primo cablogramma “post-quantistico”. Il punto di partenza è
					stata la nascita di De Cifris, il passo successivo è la creazione di un Centro per ideare algoritmi
					nazionali, permettendo così all’Italia di proteggersi autonomamente e avviare una transizione post-
					quantistica.
				</p>
				<hr>
				<p><b>
					13/01/2023, Difesaonline, “Quantum Threat: sfida ai sistemi crittografici moderni”
				</b></p>
				<p>
					L'articolo riporta un'intervista fatta al professor Massimo Giulietti, vicepresidente di De Cifris, riguardo
					un articolo pubblicato da alcuni ricercatori cinesi, in cui affermano sia possibile infrangere anche le
					chiavi più sicure degli algoritmi crittografici classici usando un computer quantistico. Il
					professore espone perché l'articolo non presenti una minaccia potenziale, ma non imminente, e poi
					specifica come altri paesi, come Stati Uniti e Francia, si siano già messi all'opera per contrastare la
					Quantum Threat, ideando nuovi algoritmi post-quantum. Conclude che sia necessario in Italia
					acquisire maggiore consapevolezza della gravità della minaccia quantistica e soprattutto della
					rilevanza strategica della crittografia a livello militare e finanziario.
				</p>
				<hr>
				<p><b>
					21/12/2022, Il Sole 24 ore, “Crittografia, manca il Centro nazionale.
					L’allarme della comunità scientifica”
				</b></p>
				<p>
					Nonostante nel 2017 la Presidenza del Consiglio dei Ministri abbia adottato il “Piano nazionale per la
					protezione cibernetica e la sicurezza informatica”, ad oggi in Italia non è stato costituito un “Centro
					Nazionale di Crittografia”. In questo articolo del “Sole 24 Ore”, il professor Massimiliano Sala,
					presidente di De Cifris, spiega l’importanza di questo Centro, in particolare dinnanzi alla minaccia
					rappresentata dai computer quantistici che mettono in pericolo la crittografia moderna. Un passo

					rilevante in questa direzione è stato effettuato con la fondazione di De Cifris: un'associazione che
					include crittografi, programmatori, appassionati e studenti da tutta Italia.
				</p>
	
			</div>
		</div>
	</div>
</ng-sidebar-container>