<h1 style="text-align: center;">CodeMath24 - Coding Theory and Discrete Mathematics 2024</h1>
<h2>Organizers</h2>
<p>
    <b></b>
    <em>
        Massimo Giulietti (Università degli Studi di Perugia, Italy)
        <br>
        Giuseppe Marino (Università degli studi di Napoli Federico II, Italy)
        <br>
        Olga Polverino (Università degli Studi della Campania “Luigi Vanvitelli”, Italy)
        <br>
        Ferdinando Zullo (Università degli Studi della Campania “Luigi Vanvitelli”, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    The aim of the workshop is to create a collaborative environment that promotes research and innovation in these
    fields, to facilitate networking opportunities for participants to engage with peers, industry experts, and
    researchers, and to showcase the practical applications of coding theory and discrete mathematics in areas such as
    error correction and cryptography.
    <br>
    Subjects of interest for the Workshop will be: Algebraic Foundations of Coding theory (Finite fields, Polynomial
    algebras, Algebraic Varieties and their applications in coding), Advanced Topics in Coding Theory (such as turbo
    codes and LDPC codes; network coding and its applications; quantum error correction), Cryptography and its relation
    to Coding theory and Finite Geometry, Current trends and challenges in coding theory and discrete mathematics.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room C, 10:00 - 11:20</i>
</p>
<p>
    <b>Invited speaker:</b> TBA
</p>