<h1 style="text-align: center;">FCiR25 - Financial Cryptography in Rome 2025</h1>
<br>
<p style="text-align: center;">
    <b>First international conference: Financial Cryptography in Rome.</b> <br>
    October 1st, 2025 <br>
    Via Nazionale, Rome (Italy)
</p>
<div class="toptext">
    <h2>Organisers</h2>
    <p>
        Jointly organised by <b>Bank of Italy</b> (Banca d'Italia) and <b>De Cifris Association</b> (De Cifris APS).
    </p>
</div>
<div class="toptext">
    <h2>Chairs</h2>
    <p>
        <b></b>
        <em>
            Michela Iezzi (Bank of Italy)
            <br>
            Massimiliano Sala (De Cifris Association, Italy)
        </em>
    </p>
</div>
<div class="toptext">
    <h2>Description</h2>
    <p>
        Building on <a routerLink='/cifris24/fcir24'>our first event</a>, <b>Financial Cryptography in Rome</b> (FCiR25)
        covers all aspects of securing transactions and
        digital
        value, with a specific focus on commercial and currency contexts. While we host cryptographic talks on both
        fundamental research and real-world applications, we also encourage interdisciplinary works not strictly related
        to cryptography. <br>
        For more information, contact us at
        <a href="mailto:fcir25@decifris.it">
            fcir25&#64;decifris.it
        </a>
    </p>
</div>
<div class="toptext">
    <h2>Call for papers</h2>
    <h3>Important deadlines</h3>
    <table class="timeline" style="margin: auto;">
        <tr>
            <td class="left-column">Submission deadline</td>
            <td class="right-column">April 28th, 2025</td>
        </tr>
        <tr>
            <td class="left-column">Acceptance notification</td>
            <td class="right-column">July 1st, 2025</td>
        </tr>
        <tr>
            <td class="left-column">Final papers</td>
            <td class="right-column">September 1st, 2025</td>
        </tr>
        <tr>
            <td class="left-column">Conference starts</td>
            <td class="right-column">October 1st, 2025</td>
        </tr>
    </table>
    <h3>Submission criteria</h3>
    <div>
        Conference contributions will be submitted <a href="https://easychair.org/conferences/?conf=fcir25">via
            EasyChair</a>.
        Papers must be formatted using the standard LNCS format and submitted as PDF files. Submissions
        in any other format will not be accepted.
        <br>
        <br>
    </div>
    <div>
        Submissions should not substantially overlap with work that has already been accepted for publication
        in any other peer-reviewed conference, workshop, journal, or proceedings. We consider simultaneous double
        submission
        to be a
        serious violation of research ethics and will treat it accordingly. However, it is acceptable for papers to be
        made
        available in non-peer-reviewed formats, such as technical reports or online preprint archives like ePrint.
        <br>
        <br>
    </div>
    <div>
        Authors are required, when submitting, to disclose any conflicts of interest with: program committee members,
        management of Bank of Italy, management of De Cifris when submitting their
        work.
        <br>
    </div>
    <h3>Accepted topics</h3>
    <div>
        <b>Blockchain & Distributed Systems</b>
        <ul>
            <li>Decentralized digital currencies and payment systems</li>
            <li>Decentralized finance (DeFi)</li>
            <li>Distributed consensus mechanisms</li>
            <li>Security and protocols for blockchain-based systems</li>
            <li>Smart contracts</li>
        </ul>
        <b>Compliance, Auditing & Certification</b>
        <ul>
            <li>Certification systems and audit trails for secure systems</li>
            <li>Forensics and transaction graph analysis for fraud prevention</li>
            <li>Regulatory issues of blockchain, cryptocurrencies, and digital payments</li>
        </ul>
        <b>Cryptography & Authentication</b>
        <ul>
            <li>Applied cryptography and secure communication protocols</li>
            <li>Authentication methods, identity management, and biometrics</li>
            <li>Functional encryption</li>
            <li>Homomorphic encryption</li>
            <li>Secure smartcards, tokens, and hardware-based security</li>
            <li>Transition to post-quantum and quantum-safe cryptography</li>
            <li>Zero-knowledge proofs</li>
        </ul>
        <b>Financial Systems & Economics</b>
        <ul>
            <li>Digital cash systems and electronic payment platforms</li>
            <li>Economic models and monetary aspects of cryptocurrencies</li>
            <li>Incentive mechanisms and game theory for blockchain</li>
            <li>Security in banking, financial services, and e-commerce</li>
        </ul>
        <b>Security & Privacy</b>
        <ul>
            <li>Access control and authorization systems</li>
            <li>Anonymity technologies and privacy protection</li>
            <li>Forensics, transaction analysis, and monitoring</li>
            <li>Fraud detection and social engineering</li>
            <li>Security and privacy in economics</li>
            <li>Security of mobile payments</li>
            <li>Security of online payments</li>
            <li>Security of peer-to-peer systems and decentralized networks</li>
        </ul>
        <b>Security in the Cloud</b>
        <ul>
            <li>Cloud computing, data outsourcing, and security challenges</li>
            <li>Network security and distributed system vulnerabilities</li>
            <li>Security in trusted execution environments (TEEs)</li>
        </ul>
    </div>
    <h3>Review criteria</h3>
    <div>
        <b>Regular Research Papers</b> should present original, unpublished scientific contributions to the field and
        will
        undergo a thorough
        peer review process. Submissions must adhere to the LNCS format and are
        limited to 15 pages, excluding references and appendices. Committee members are not required to review the
        appendices, so papers should be understandable without
        them.
        <br>
        <br>
    </div>
    <div>
        <b>Short Papers</b> will also undergo peer review, and will be evaluated based on their novelty
        and
        potential to inspire participant interest and future research directions. Short papers must not exceed 8 pages
        in
        the
        LNCS format, excluding references. The title of short papers must begin with "Short Paper:". Accepted short
        papers
        will
        be included in the conference proceedings.
        <br>
        <br>
    </div>
    <h3>Program committee</h3>
    <ul>
        <li> Marco Benedetti (Banca d'Italia - Italy) </li>
        <li> Andrea Bracciali (Università di Torino - Italy) </li>
        <li> Marco Calderini (University of Trento - Italy) </li>
        <li> Matteo Campanelli (Offchain Labs - USA)</li>
        <li> Claude Carlet (Univ. of Paris 8 - France and Univ. of Bergen - Norway) </li>
        <li> Murat Cenk (Ripple - Canada)</li>
        <li> Maria Christofi (BNP Paribas - France) </li>
        <li> Michele Ciampi (University of Edinburgh - Scotland) </li>
        <li> Roberto Civino (University of L’Aquila - Italy) </li>
        <li> Amit Chaudhary (University of Warwick - UK)</li>
        <li> Andrej Duella (University of Zagreb - Croatia) </li>
        <li> Anna Lisa Ferrara (University of Molise - Italy) </li>
        <li> Tako Boris Fouotsa (EPFL - Switzerland) </li>
        <li> Danilo Francati (Aarhus University - Denmark)</li>
        <li> Daniele Friolo ("Sapienza" University of Rome - Italy) </li>
        <li> Philippe Gaborit (University of Limoges - France) </li>
        <li> Geoffrey Goodel (UCL Center for Blockchain Technologies - UK) </li>
        <li> Delaram Kahrobaei (New York University - USA) </li>
        <li> Elena Kirshanova (Technology Innovation Institute - UAE)</li>
        <li> Gregor Leander (University Bochum - Germany) </li>
        <li> Nian Li (Hubei University - China) </li>
        <li> Sihem Mesnager (University of Paris VIII - France)</li>
        <li> Giacomo Micheli (University of South Florida - USA) </li>
        <li> Marco Morini (USI Lugano - Switzerland)</li>
        <li> Matteo Nardelli (Banca d'Italia - Italy) </li>
        <li> Ludovic Perret (EPITA and Sorbonne University - France) </li>
        <li> Svetla Petkova-Nikova (KU Leuven - Belgium) </li>
        <li> Alberto Ravagnani (TU Eindhoven - Netherlands) </li>
        <li> Divya Ravi (University of Amsterdam - Netherlands)</li>
        <li> Simona Samardjiska (Radboud University - The Netherlands)</li>
        <li> Santanu Sarkar (Indian Institute of Technology Madras - India) </li>
        <li> Pantelimon Stanica (Naval Postgraduate School - USA) </li>
        <li> Serge Vaudenay (EPFL - Switzerland) </li>
        <li> Polina Vinogradova (IOHK - Canada)</li>
        <li> Hendrik Waldner (Nethermind Research - UK) </li>
    </ul>
</div>
<div class="toptext">
    <h2>Contacts</h2>
    <p>
        E-mail:
        <a href="mailto:fcir25@decifris.it">
            fcir25&#64;decifris.it
        </a>
    </p>
</div>