/* generati in palette partendo da cifris_blue */
:root {
    --cifris_blue: #307580;
    --cifris_azure: #e6f4f1;
    --cifris_azure_transparent: #e6f4f190;
    --cifris_green: #54bf81;
    --cifris_darkgreen: #00501d;
    --cifris_pink: #F3E5AB;
    --cifris_orange: #ff8d3d;
    --cifris_orange_transparent: #ff8d3d70;
    --cifris_purple: #7c72a7;
    --cifris_scarlet: #832700;
    --cifris_gray: #c7d5d2;
    --cifris_darkgray: #374240;
}

/* Font, style */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: fit-content;
    background: url('assets/images/background/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* Other styles */
div.zoomed {
    height: 100%;
    width: 100%;
    zoom: 1.1;
    transform: scale(1.1);
    transform-origin: 0 0;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--cifris_blue) !important;
    margin-top: 20px !important;
    margin-bottom: 7px !important;
}

h1 {
    font-weight: 600 !important;
    font-size: x-large !important;
    color: var(--cifris_orange) !important;
    width: 100% !important;
    text-align: center !important;
}

hr {
    color: var(--cifris_blue) !important;
}

.toolbar,
.sidenav,
.container,
.content {
    z-index: 0;
    position: absolute;
}

.toolbar {
    z-index: 2;
}

.sidenav {
    z-index: 1;
}

/* SIDEBAR ELEMENTS */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.sidebar ul li {
    margin: 0;
    padding: 0;
}

.sidebar-text,
.mat-icon {
    color: var(--cifris_blue);
}

.sidebar ul h5 {
    padding: 0;
    margin: 0;
}


/* CONTAINER ELEMENTS */
/* Media query per telefoni */
@media all and (max-width: 991px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        left: 0;
        right: 0;
        height: 100%;
        margin: 0 auto;
        width: 100%;
        margin-top: 40px;
        box-sizing: border-box;
    }

    .sidebar {
        flex: 0 0 60%;
        width: 60%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-top: 100px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--cifris_azure);
        position: fixed;
        top: 0;
        bottom: 0;
        right: -60%;
        /* Nasconde la sidebar inizialmente */
        margin: 0;
        transition: right 0.2s ease;
    }

    .sidebar.open {
        right: 0;
        /* Mostra la sidebar quando è aperta */
    }

    .content {
        flex: 1;
        padding: 0;
        box-sizing: border-box;
        margin: 30px 3% 0 3%;
        width: 94%;
    }

    .sidebar-image-button {
        width: 200px;
        text-align: left !important;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        padding-left: 20px !important;
        box-sizing: border-box !important;
    }
}




/* CONTAINER ELEMENTS */
/* Media query per computer */
@media all and (min-width: 992px) {

    /* Contenitore principale come flex container */
    .container {
        display: flex;
        height: 90%;
        bottom: 0;
        justify-self: center;
        justify-content: center;
        left: 20%;
        right: 0;
        width: 80% !important;
        box-sizing: border-box;
        padding-bottom: 100px;
    }

    /* Sidebar */
    .sidebar {
        flex: 0 0 20%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: var(--cifris_azure);
        position: fixed;
        top: 10%;
        min-width: 20%;
        left: 0;
    }

    /* Content */
    .content {
        flex: 0 0 80%;
        padding: 20px;
        box-sizing: border-box;
        align-items: center;
    }

    .sidebar-image-button {
        width: 200px;
        text-align: left !important;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        padding-left: 20px !important;
        box-sizing: border-box !important;
    }

}