<div class="row mt-3 mr-1 ml-1">
    <div class="col-md-12">
        <h3 align="center">THE VENUE</h3>
        <h4>Main conference and workshops</h4>
        <p> Our main venue for both the main conference and workshops is Banca D'Italia's reception hall <a
                href="https://collezionedarte.bancaditalia.it/-/centro-donato-menichella-ingresso-salone-di-rappresentanza">Centro
                Donato Menichella</a> (Largo Guido Carli 1, 00044 Frascati RM).</p>
        <p>
            <img src="../../../../assets/attivita/convegnoAnnuale/2024 - cifris24/auditorium_cifris24.jpeg"
                style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
            <img src="../../../../assets/attivita/convegnoAnnuale/2024 - cifris24/foyer_cifris24.jpeg"
                style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
        </p>
        <h4>Social dinner</h4>
        The location is currently TBA.
        <hr>
    </div>
    <div class="col-md-12">
        <h3 align="center">HOW TO ARRIVE</h3>
        <p> We provide a free shuttle service to and from the venue during the event (Sept. 25th, 26th, 27th). <br> <br>
            Shuttles will depart/arrive in Via Cavour, near the train station "Roma Termini". Both this location
            and
            timeslots are subject to change, precise details will be provided at a later date. <br> The trip will last
            between 30 and 60 minutes, depending on traffic conditions.
        </p>
        <h5> From Rome to the Venue </h5>
        <table>
            <tr>
                <th></th>
                <th>Shuttle I</th>
                <th>Shuttle II</th>
                <th>Shuttle III</th>
                <th>Shuttle IV</th>
                <th>Shuttle V</th>
            </tr>
            <tr>
                <td class="special">departure: Roma Termini</td>
                <td class="highlight">8:30</td>
                <td class="highlight">9:00</td>
                <td class="highlight">9:00</td>
                <td class="highlight">13:00</td>
                <td class="highlight">13:00</td>
            </tr>
        </table>
        <h5> From the Venue to Rome</h5>
        <table>
            <tr>
                <th></th>
                <th>Shuttle I</th>
                <th>Shuttle II</th>
                <th>Shuttle III</th>
                <th>Shuttle IV</th>
                <th>Shuttle V</th>
            </tr>
            <tr>
                <td class="special">departure: Centro Menichella</td>
                <td class="highlight">14:00</td>
                <td class="highlight">14:00</td>
                <td class="highlight">17:00</td>
                <td class="highlight">17:00</td>
                <td class="highlight">17:00</td>
            </tr>
        </table>
    </div>
</div>