<div class="row mt-3 mr-1 ml-1">
    <div class="col-md-12">
        <h3 align="center">THE VENUE</h3>
        <p>
            All the events of CIFRIS24 take place in
            <a href="https://www.bancaditalia.it/homepage/index.html">
                Bank of Italy</a>'s conference theater "Salone Margherita", located in
            <a href="https://maps.app.goo.gl/mWmid3QMRtsCVyBMA">
                Via Due Macelli 75 – 00187 Roma (Italy)</a>. Salone Margherita was built in 1898 as a
            <i>café-chantant</i> and became one of the most famous
            theatres in Rome.
        </p>
        <p>
            <img src="../../../../assets/attivita/convegnoAnnuale/teatro2_cifris24.jpg"
                style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
        </p>
        Read more about the location on
        <ul>
            <li>
                <a href="https://it.wikipedia.org/wiki/Salone_Margherita_(Roma)">
                    Wikipedia (IT)
                </a>
            </li>
            <li>
                <a href="https://www.salonemargherita.com/location/">
                    Salone Margherita's website (IT)
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 align="center">HOW TO ARRIVE</h3>
        <div style="text-align:center">
            <img src="../../../../assets/attivita/convegnoAnnuale/arrive_cifris24.png" style="width: 90%; margin: 3%;">
        </div>
        The location (top left) can be easili reached from the train terminal Roma Termini (bottom right):
        <ul>
            <li>
                <b>Walking.</b>
                With a 20-minute walk from Roma Termini.
            </li>
            <li>
                <b>Metro.</b>
                In five minutes with <a
                    href="https://www.metropolitanadiroma.it/linee-metropolitana-di-roma/linea-a-metropolitana-di-roma.html">Metro
                    Line A</a>, from the stop <em>Roma Termini</em> to either <em>Barberini</em> or <em>Spagna</em>.
                <br>
                The line has color <b style="color:orange"> orange </b> and you will find a train every ten minutes.
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 align="center">ACCOMODATION</h3>
        TBA
    </div>
</div>