<div class="row mt-3 mr-1 ml-1">
    <div class="col-md-12">
        <h3 align="center">THE VENUE</h3>
        <h4>Main conference and workshops</h4>
        <p> Our main venue for both the main conference and workshops is Banca D'Italia's reception hall <a
                href="https://collezionedarte.bancaditalia.it/-/centro-donato-menichella-ingresso-salone-di-rappresentanza">Centro
                Donato Menichella</a> (Largo Guido Carli 1, 00044 Frascati RM).</p>
        <p>
            <img src="../../../../assets/attivita/convegnoAnnuale/2024 - cifris24/auditorium_cifris24.jpeg"
                style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
            <img src="../../../../assets/attivita/convegnoAnnuale/2024 - cifris24/foyer_cifris24.jpeg"
                style="width: 60%; margin: 20px 20% 20px 20%;border-radius: 30px;">
        </p>
        <hr>
    </div>
    <div class="col-md-12">
        <h3 align="center">HOW TO ARRIVE</h3>
        <p> We will arrange some shuttles from Rome. More information soon. </p>
    </div>
    <hr>
    <div class="col-md-12">
        <h3 align="center">ACCOMODATION</h3>
        <p> TBA </p>
    </div>
</div>