<h1 style="text-align: center;">QCifris24 - Quantum Cifris 2024</h1>
<h2>Organizers</h2>
<p>

    <em>
        <b>Chair:</b> Paolo Villoresi (University of Padova, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    Advances in quantum technologies and applications in cryptography from the perspective of Physics.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room D, 10:00 - 11:20</i>
</p>
<p>
    Invited speaker: TBA.
</p>
<!--
<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
    <tr bgcolor="lightblue">
        <th class="schedule" colspan="2">
            <font size="+1"><b>September 27th (morning) - Workshop Session</b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Paolo Villoresi</b>, University of Padova (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Stefano Pironio</b>, Université libre de Bruxelles (Belgium)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Simone Montangero</b>, University of Padova (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Christoph Marquardt</b>, FAU Erlangen-Nürnberg (Germany)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Fabio Sciarrino</b>, University of Roma La Sapienza (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Giuseppe Vallone</b>, University of Padova (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Cristian Antonelli</b>, University of L'Aquila (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Ivo De Giovanni</b>, INRM (Italy)
                <br>
                <b>Davide Calonico</b>, INRM (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Simone Capeleto</b>, ThinkQuantum (Italy)
                <br>
                <b>Alessandro Zavatta</b>, CNR-INO (Italy)
            </i>
            <br>
            TBA
        </td>
    </tr>
</table>
-->