<h1 style="text-align: center;">QCifris24 - Quantum Cifris 2024</h1>
<h2>Organizers</h2>
<p>

    <em>
        <b>Chair:</b> Paolo Villoresi (University of Padova, Italy)
        <br>
        Ivo De Giovanni (Istituto Nazionale di Ricerca Metrologica, Italy)
        <br>
        Fabio Sciarrino (University of Roma La Sapienza, Italy)
        <br>
        Cristian Antonelli (University of L’Aquila, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    TBA
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room D, 10:00 - 11:20</i>
</p>
<p>
    <b> Invited speaker: </b>
    TBA.
</p>