a {
	cursor: pointer;
}

.toggleText {
	color: #1976D2;
}

button {
	background: none;
	border: none;
	outline: none;
	color: --cifris_blue;
	width: 200px;
	text-align: left !important;
}

ng-sidebar-container {
	position: fixed;
	right: 0;
	top: 55px;
	height: 100%;
}

::ng-deep .ng-sidebar {
	background-color: aliceblue;
	width: 300px !important;
	padding: 2em 1em;
}

​ @media screen and (max-width: 799px) {
	#right-sidebar {
		display: none !important;
	}
}

.bottomExtra {
	margin-bottom: 3em;
	padding-bottom: 3em;
}

.noIndent {
	list-style: none;
	padding-left: 0;
}

.noIndent ul li {
	margin: 10px 0;
}


img.mainlogo {
	width: 40%;
}

div.iniziativecontainer {
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.imagebtn {
	color: rgb(48, 117, 128);
	width: 120px;
	height: 120px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	align-items: center;
}

.imagebtn_container {
	background: #fff;
	align-items: center;
	width: 100%;
}

#imagebtn_container img {
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	filter: invert(14%) sepia(97%) saturate(2358%) hue-rotate(18deg) brightness(99%) contrast(103%);
	/* 
	serve generare il filtro per colorare gli SVG, vedi qui:
	https://codepen.io/sosuke/pen/Pjoqqp?__cf_chl_jschl_tk__=ecc0b72797ae71bc009d6322e3e470773936b386-1604211766-0-ASpz720gXnc6Ej0vzlgY9-KLmlPkldgcOx1wAmGTUCjLZLOxkArNxpRzZ9m8woL-NGmP9LBGVPws8UxMJZrR7O1qFH6QkKtrGVPw6StRnXiK1XTQR_nY905r0XobAG2nOmyC6Zq8mdyPDp1MyHD7JLodJUXCRViXhtmLmRVE_-JGarVJRlxs6k3DzAOQQEJewfp00DjhlD0mxr8ZKpk2yq6IPTZZQ52XYxh26FC5MxLHhs7LuAwhtolmDZyp4_IuwRg8I5m-2--MmvGE8CCqjRWrkE85zgkMXPlOqcZtppRpZhn6Uz9DZAuKheHwVBb0ySIhFYG92bvQOgiKX0TTswB1SHgOLIeqktuyUaAgxI_h /*
	*/
}

#imagebtn_container p {
	vertical-align: center;
	text-align: center;
	color: var(--cifris_purple) !important;
	width: 100%;
	overflow: auto;
	font-weight: 500;
}

.imagebtn:hover {
	opacity: 0.9;
	box-shadow: 5px 5px 9px var(--cifris_purple);
}

btn.txtbtn {
	color: rgb(48, 117, 128);
	height: 180px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

p.txtbtn-txt {
	vertical-align: center;
	text-align: center;
	color: var(--cifris_blue) !important;
	width: 100%;
	overflow: auto;
	font-weight: 500;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.txtbtn:hover {
	opacity: 0.9;
	box-shadow: 5px 5px 9px var(--cifris_purple);
}

