
<div class="container">
	<div class="py-3 my-3">
		<div class="row">
			<div class="col-xl-8" 
				style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
				<h4>Sono aperte le registrazioni per partecipare alla gara!</h4>
				<p>
					Vuoi immergerti nell'atmosfera bitcoin e affrontare un problema insieme a una squadra?
					Che tu sia uno studente oppure un professionista, questa competizione è divertente per tutti. 
					Registrati oggi stesso poter prendere parte alla gara: <b>non costa nulla partecipare</b>!
					Questa è una competizione organizzata dal laboratorio di crittografia di 
					Trento, per studenti e professionisti di tutta italia. Scegli il tuo team e 
					prendi parte alla sfida! La gara si svolge da remoto, quindi <b>puoi lavorare da dove preferisci</b>!
				</p>
			</div>
			<div class="col-xl-1"></div>
			<div class="col-xl-3 py-3" align="center">
				<img class="image" src="../../assets/bitcoin-img.svg" alt="bitcoin" width="300px">
			</div>
		</div>
	</div>
</div>

<div style="display: flex;" class="my-3 py-3">
	<hr style="width: 15%; margin-right: 8px; margin-left: 0;height: 3px; flex-shrink: 3;">
	<h2 style="flex-shrink: 3; font-weight: bolder;
	color: #212121;">BITCOIN RAIDERS <br>
	<h6>I predatori del bitcoin perduto</h6></h2>
	<hr style="margin-left: 8px; height: 3px; flex-shrink: 3; flex-grow:4;" >
</div>

<div class="container my-3 py-3">
	<div class="row">
		<div class="col-md-12">
			<h4>Di cosa si tratta?</h4>
			<p>
				Esiste un indirizzo bitcoin per cui, rompendo la chiave privata, il proprietario non si potrebbe lamentare?
				All'interno della rete bitcoin esistono indirizzi che non sono associati a nessuna persona. 
				Spesso in questo casi i soldi contenuti al loro interno sono stati inviati in quanto il precedente
				proprietario voleva liberarsi di quei bitcoin. Se trovassimo la chiave privata di quei bitcoin, chi 
				potrebbe rivendicarli? Esiste un tale indirizzo, si tratta di <i>"1CounterpartyXXXXXXXXXXXXXXXUWLpVr"</i>.
			</p>
		</div>
	</div>
</div>
