<h1 style="text-align: center;">TAC24 - Topics in Applied Cryptography 2024</h1>
<p>
    Workshop of the Aleph group of Fondazione Bruno Kessler, check <a
        href="https://aleph.fbk.eu/events/TAC2024/index.html">their website</a>.
</p>
<h2>Organizers</h2>
<p>
    <em>
        <b>Chair:</b> Riccardo Longo (Fondazione Bruno Kessler, Italy)
        <br>
        Alessandro Tomasi (Fondazione Bruno Kessler, Italy)
        <br>
        Chiara Spadafora (University of Trento, Italy)
        <br>
        Silvio Ranise (University of Trento and Fondazione Bruno Kessler, Italy)
        <br>
        Stefano Berlato (Fondazione Bruno Kessler, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    Topics in Applied Cryptography 2024 (TAC2024) is a workshop dedicated to cryptography with a specific application,
    scenario and/or technology in mind, including performance evaluation, libraries and implementation issues, hardware
    and IoT, attacks and vulnerabilities, and requirements for unusual application scenarios; purely theoretical results
    are out of scope. Topics of interest include privacy enhancing cryptography, homomorphic encryption, secure
    multi-party computation, quantum key distribution, and quantum-safe cryptography.
</p>
<h2>Acknowledgenements</h2>
<p>
    The workshop is developed within the SEcurity and RIghts in the CyberSpace (SERICS) foundation framework
    (<a href="https://serics.eu/">link</a>). The Foundation’s main purpose is scientific and technological research and,
    in this
    perspective, it is established to be the implementing entity of the extended Partnership “SERICS - Security and
    Rights in CyberSpace” financed following the participation in the Public Notice “for the presentation of Proposals
    for the creation of “Partnerships extended to universities research centers, companies for the funding of basic
    research projects” - as part of the National Recovery and Resilience Plan, Mission 4 “Education and Research” -
    Component 2 “From Research to Enterprise” - Investment 1. 3, funded by the European Union - NextGenerationEU -
    Notice No. 341 of 15.3.2022.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room A, 10:00 - 11:20</i>
</p>
<p>
    <b> Invited speaker: </b>
    Filippo Valsorda, <i>full-time independent open source maintainer</i>.
</p>