<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROGRAM</h3>

		<p>
			All events take place at <a href="https://www.bancaditalia.it/homepage/index.html">Bank of Italy</a>'s conference theater "Salone Margherita", <a href="https://maps.app.goo.gl/mWmid3QMRtsCVyBMA">Via Due Macelli 75 – 00187 Roma (Italy)</a>.
		</p>

		<p>
			<b>TBA</b>
		</p>
			
		<table width="100%" cellspacing="2" cellpadding="2">
			<tr>
				<td></td>
			</tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<br>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>25 September (morning) - Institutional Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>25 September (afternoon) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>26 September (morning) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>26 September (afternoon) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>27 September (morning) - Workshop Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>27 September (afternoon) - Workshop Session</b></font>
				</td>
			</tr>
			
		</table>
	</div>
</div>


