<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROGRAM</h3>
		<p>
			All events take place at <a href="https://www.bancaditalia.it/homepage/index.html">Bank of Italy</a>'s conference theater "Salone Margherita", <a href="https://maps.app.goo.gl/mWmid3QMRtsCVyBMA">Via Due Macelli 75 – 00187 Roma (Italy)</a>.
		</p>
		<a href="/cifris24/program/#25morning">
			<button class="tablelink">
				<table>
					<tr>
						<td class="th"><h4>Sept.</h4></td>
						<td class="date"><h2>25</h2></td>
					</tr>
					<tr><td colspan="2" class="period"> <h6>8:30 - 14:00</h6></td></tr>
				</table>
			</button>
		</a>
		<a href="/cifris24/program/#25afternoon">
			<button class="tablelink">
				<table>
					<tr>
						<td class="th"><h4>Sept.</h4></td>
						<td class="date"><h2>25</h2></td>
					</tr>
					<tr><td colspan="2" class="period"> <h6>14:30 - 17:20</h6></td></tr>
				</table>
			</button>
		</a>
		<a href="/cifris24/program/#26morning">
			<button class="tablelink">
				<table>
					<tr>
						<td class="th"><h4>Sept.</h4></td>
						<td class="date"><h2>26</h2></td>
					</tr>
					<tr><td colspan="2" class="period"> <h6>9:30 - 14:00</h6></td></tr>
				</table>
			</button>
		</a>
		<a href="/cifris24/program/#26afternoon">
			<button class="tablelink">
				<table>
					<tr>
						<td class="th"><h4>Sept.</h4></td>
						<td class="date"><h2>26</h2></td>
					</tr>
					<tr><td colspan="2" class="period"> <h6>14:30 - 17:30</h6></td></tr>
				</table>
			</button>
		</a>
		<a href="/cifris24/program/#27morning">
			<button class="tablelink">
				<table>
					<tr>
						<td class="th"><h4>Sept.</h4></td>
						<td class="date"><h2>27</h2></td>
					</tr>
					<tr><td colspan="2" class="period"> <h6>TBA</h6></td></tr>
				</table>
			</button>
		</a>
		<a href="/cifris24/program/#27afternoon">
			<button class="tablelink">
				<table>
					<tr>
						<td class="th"><h4>Sept.</h4></td>
						<td class="date"><h2>27</h2></td>
					</tr>
					<tr><td colspan="2" class="period"> <h6>TBA</h6></td></tr>
				</table>
			</button>
		</a>
		
		<table class="orari" cellspacing="2" cellpadding="2" id="25morning">
			<th class="schedule" colspan="2">
				<font size="+1"><b> September 25th (morning) - Institutional Session</b></font>
			</th>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule" style="width: 100px;"> 8:30<br>10:00 </td>
				<td><em> Registration </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 10:00<br>10:30 </td>
				<td><em> Welcome address </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 10:30<br>11:30 </td>
				<td><em> Institutional Round Table </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 11:30<br>12:00 </td>
				<td><em> Coffee break </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 12:00<br>12:30 </td>
				<td><em> Invited talk </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 12:30<br>13:00 </td>
				<td><em> De Cifris Partners </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">13:00<br>14:00</td>
				<td><em> Lunch </em></td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			
		</table>


		<!--
			################################################################
			################################################################
		-->


		<table class="orari" cellspacing="2" cellpadding="2" id="25afternoon">
			<tr>
				<th class="schedule" colspan="2">
					<font size="+1"><b> September 25th (afternoon) - Scientific Session</b></font>
				</th>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td colspan="2">
				<em> Mini-session: Boolean functions </em>
				<br> 
				The focus of this mini-session is the precise design of symmetric
				cryptosystem, in order to have them provably secure.
				Boolean functions represent a key ingredient in the cryptosystem design.
				This mini-session will start with a keynote by Prof. 
				Emeritus Claude Carlet, considered by many the world expert on Boolean functions.
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<td class="schedule"> 14:30<br>15:20 </td>
			<td>
					<em><b>Invited Talk</b> - Claude Carlet (Paris VIII - France)</em>
			</td>
			
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:20<br>15:40 </td>
				<td>
					Paper 1 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:40<br>16:10 </td>
				<td><em> Coffee break </em></td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 16:10<br>17:00 </td>
				<td><em><b>Invited Talk</b></em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 17:00<br>17:20 </td>
				<td>
					Paper 2 (TBA)
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
		</table>


		<!--
			################################################################
			################################################################
		-->


		<table class="orari" cellspacing="2" cellpadding="2" id="26morning">
			<tr>
				<th class="schedule" colspan="2">
					<font size="+1"><b> September 26th (morning) - Scientific Session</b></font>
				</th>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td colspan="2">
					<em> Mini-session: Post-Quantum Cryptography </em>
					<br> 
					The focus of this mini-session are recent results on the design of ciphers 
					that may resist attacks performed with quantum computers. 
					Indeed, the quantum threat is the most feared in modern cryptography.
					This mini-session will start with a keynote by Prof. Simona Samardjiska, a 
					young brilliant expert in this controversial field.
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 9:30<br>10:20</td>
				<td>
						<em><b>Invited Talk</b> - Simona Samardjiska (Radboud University - The Netherlands)</em>
				</td>
		
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 10:20<br>10:40 </td>
				<td>
					Paper 3 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 10:40<br>11:00 </td>
				<td>
					Paper 4 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 11:00<br>11:30 </td>
				<td><em> Coffee break </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td colspan="2"> 
					<em> Mini-session: Public-key cryptography </em>
					<br> The focus of this session is to show the importance 
					of the so-called "public-key cryptography", which includes
					the most widely used cryptographic protocols used in the Internet.
					In this session we will see several different points of view and applications.
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 11:30<br>11:50 </td>
				<td>
					Paper 5 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 11:50<br>12:10 </td>
				<td>
					Paper 6 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 12:10<br>12:30 </td>
				<td>
					Paper 7 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 12:30<br>13:00 </td>
				<td>
					Paper 8 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 13:00<br>14:00 </td>
				<td><em> Lunch </em></td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
		</table>


		<!--
			################################################################
			################################################################
		-->


		<table class="orari" cellspacing="2" cellpadding="2" id="26afternoon">
			<tr>
				<th class="schedule" colspan="2">
					<font size="+1"><b>September 26th (afternoon) - Scientific Session</b></font>
				</th>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td colspan="2"> 
					<em> Mini-session: Symmetric cryptography </em>
					<br> The focus of this mini-session is on symmetric 
					cryptosystems, which will be analyzed from many different points of views.
					This mini-session will start with a keynote by Prof. Gregor Leander,
					managing editor of the journal IACR Transaction of Symmetric Cryptography.</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 14:30<br>15:20 </td>
				<td>
						<em><b>Invited Talk</b> - Gregor Leander (Ruhr-University Bochum - Germany)</em>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:20<br>15:40 </td>
				<td>
					Paper 9 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:40<br>16:00 </td>
				<td>
					Paper 10 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 16:00-16:30 </td>
				<td><em> Coffee break </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 16:30<br>17:30 </td>
				<td><em> Mini-session: Between theory and practice </em>
					<br> The focus of this session is to show the importance of 
					practical implementations of cryptography, while at the same 
					time showing the deep link between theory and practice in this 
					research field.
				</td>
			</tr>
			
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 16:30<br>16:50 </td>
				<td>
					Paper 11 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 16:50<br>17:10 </td>
				<td>
					Paper 12 (TBA)
				</td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 17:10<br>17:30 </td>
				<td>
					Paper 13 (TBA)
				</td>
				<tr><td colspan="2"><br></td></tr>
			</table>


			<!--
				################################################################
				################################################################
			-->
	
	
			<table class="orari" cellspacing="2" cellpadding="2" id="27morning">
			<tr bgcolor="lightblue">
				<th class="schedule" colspan="2">
					<font size="+1"><b>September 27th (morning) - Workshop Session</b></font>
				</th>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td colspan="2">
					TBA
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
		</table>


		<!--
			################################################################
			################################################################
		-->


		<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">			
			<tr bgcolor="lightblue">
				<th class="schedule" colspan="2">
					<font size="+1"><b>September 27th (afternoon) - Workshop Session</b></font>
				</th>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td colspan="2">
					TBA
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
		</table>
	</div>
</div>


