<div class="row mt-3 mr-1 ml-1">
	<div class="col-md-12" align="center">
		<h3>PROGRAM</h3>

		<p>
			All events take place at <a href="https://www.bancaditalia.it/homepage/index.html">Bank of Italy</a>'s conference theater "Salone Margherita", <a href="https://maps.app.goo.gl/mWmid3QMRtsCVyBMA">Via Due Macelli 75 – 00187 Roma (Italy)</a>.
		</p>

		<p>
			<b>TBA</b>
		</p>
			
		<table width="100%" cellspacing="2" cellpadding="2">
			<!--
			<tr>
				<td></td>
			</tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<br>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			-->
			
			<tr><td colspan="2"><br></td></tr>
			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>25 September (morning) - Institutional Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"> 8:30-10:00 </td>
				<td><em> Registration </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 10:00-10:30 </td>
				<td><em> Welcome address </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 10:30-11:30 </td>
				<td><em> Institutional Round Table </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 11:30-12:00 </td>
				<td><em> Coffee break </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 12:00-12:30 </td>
				<td><em> Invited talk </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 12:30-13:00 </td>
				<td><em> De Cifris Partners </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule">13:00-14:00</td>
				<td><em> Lunch </em></td>
			</tr>
			<tr><td colspan="2"><br></td></tr>


			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>25 September (afternoon) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"> 14:30-16:00 </td>
				<td><em> Mini-session: Boolean functions </em>
				<br> The focus of this mini-session is the precise design of symmetric
				cryptosystem, in order to have them provably secure.
				Boolean functions represent a key ingredient in the cryptosystem design.
				This mini-session will start with a keynote by Prof. Emeritus Claude Carlet, considered by many the world expert on Boolean functions. </td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<td class="schedule"> 14:30-15:20 </td>
			<td>
				<p>
					<em><b>Invited Talk</b> - Claude Carlet (Paris VIII - France)</em>
				</p>
			</td>
			
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:20-15:40 </td>
				Paper 1
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:40-16:10 </td>
				<td><em> Coffee break </em></td>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 16:10-17:00 </td>
				<p>
					<em><b>Invited Talk</b></em>
				</p>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 17:00-17:20 </td>
				Paper 2
			</tr>
			<!--
			<tr><td colspan="2"><hr></td></tr>
				<td class="schedule"> 16:30-16:50 </td>
				Paper 3
			<tr><td colspan="2"><hr></td></tr>
				<td class="schedule"> 16:50-17:10 </td>
				Paper 4
			<tr><td colspan="2"><hr></td></tr>
				<td class="schedule"> 17:10-17:30 </td>
				Paper 5
			<tr><td colspan="2"><hr></td></tr>
			<tr>
				<td class="schedule"> 20:30 </td>
				<td><em> Social dinner </em></td>
			</tr> 
		-->
			<tr><td colspan="2"><br></td></tr>


			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>26 September (morning) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"> 9:30-11:00 </td>
				<td><em> Mini-session: Post-Quantum Cryptography </em>
				<br> The focus of this mini-session is on recent results on the design of ciphers that may resist attacks performed with quantum computers. 
				Indeed, the quantum threat is the most feared threat in nowadays cryptography.
				This mini-session will start with a keynote by Prof. Simona Samardjiska, a young brilliant expert in this controversial field.
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 9:30-10:20</td>
				<td>
					<p>
						<em><b>Invited Talk</b> - Simona Samardjiska (Radboud University - The Netherlands)</em>
					</p>
				</td>
		
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 10:20-10:40 </td>
				Paper 3
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 10:40-11:00 </td>
				Paper 4
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 11:00-11:30 </td>
				<td><em> Coffee break </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 11:30-13:00 </td>
				<td><em> Mini-session: Public-key cryptography </em>
				<br> The focus of this session is to show the importance of the so-called "public-key cryptography", which represents the most widely used cryptographic protocols used in the Internet.
				In this session we will see several different poiny of views and applications.
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 11:30-11:50 </td>
				Paper 5
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 11:50-12:10 </td>
				Paper 6
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 12:10-12:30 </td>
				Paper 7
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 12:30-13:00 </td>
				Paper 8
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 13:00-14:00 </td>
				<td><em> Lunch </em></td>
			</tr>
			<tr><td colspan="2"><br></td></tr>


			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>26 September (afternoon) - Scientific Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			<tr>
				<td class="schedule"> 14:30-16:00 </td>
				<td><em> Mini-session: Symmetric cryptography </em>
				<br> The focus of this mini-session is on symmetric cryptosystems, which will be analyzed from many different points of views.
				This mini-session will start with a keynote by Prof. Gregor Leander,
				managing editor of the journal IACR Transaction of Symmetric Cryptography.</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 14:30-15:20 </td>
				<td>
					<p>
						<em><b>Invited Talk</b> - Gregor Leander (Ruhr-University Bochum - Germany)</em>
					</p>
				</td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:20-15:40 </td>
				Paper 9
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 15:40-16:00 </td>
				Paper 10
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 16:00-16:30 </td>
				<td><em> Coffee break </em></td>
			</tr>
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
			<tr>
				<td class="schedule"> 16:30-17:30 </td>
				<td><em> Mini-session: Between theory and practice </em>
					<br> The focus of this session is to show the importance of practical implementations of cryptography, while at the same time showing the deep link between theory and practice in this research field.
				</td>
			</tr>
			
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 16:30-16:50 </td>
				Paper 11
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 16:50-17:10 </td>
				Paper 12
			<tr><td colspan="2"><hr></td></tr><!------------------------------>
				<td class="schedule"> 17:10-17:30 </td>
				Paper 13

			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>27 September (morning) - Workshop Session</b></font>
				</td>
			</tr>
			<tr><td colspan="2"><br></td></tr>
			

			<tr bgcolor="lightblue">
				<td class="schedule" colspan="2">
					<font size="+1"><b>27 September (afternoon) - Workshop Session</b></font>
				</td>
			</tr>
		</table>
	</div>
</div>


