<ng-sidebar-container>
	<ng-sidebar opened="true" position="left" id="right-sidebar" mode="push" [autoCollapseWidth]="799">
	</ng-sidebar>
	<div ng-sidebar-content class="container bottomExtra">
		<br>
		<div class="my-3">
			<div class="row">
				<div class="col-md-12" align="center">
					<h3> CONTATTI </h3>
					<h6>Amministrazione</h6>
					<p>Presidente: <a href="mailto:presidente@decifris.it">presidente@decifris.it</a>.</p>
					<p>Segreteria: <a href="mailto:segreteria@decifris.it"> segreteria@decifris.it</a>. </p> 
					<p>Gestione soci: <a href="mailto:soci@decifris.it">soci@decifris.it</a>.</p>
					<h6>Corsi e formazione</h6>
					<p>Corsi <i>De Cifris Trends</i>: <a href="mailto:trends@decifris.it">trends@decifris.it</a>. </p> 
					<p>Corsi <i>De Cifris Young2Young</i>: <a href="mailto:y2y@decifris.it">y2y@decifris.it</a>. </p> 
					<p>Formazione: <a href="mailto:formazione@decifris.it">formazione@decifris.it</a>. </p> 
					<h6>Sito web</h6>
					<p>Gestione sito web: <a href="mailto:webmaster@decifris.it">wembaster@decifris.it</a>.</p>
					<a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A" 
						title="La nostra pagina YouTube"
						target="_blank">
						<i class="fab fa-youtube fa-2x mr-3"></i></a>
					<a href="https://www.linkedin.com/in/de-componendis-cifris-iniziativa-nazionale-8274501a5/" 
						title="La nostra pagina LinkedIn"
						target="_blank">
						<i class="fab fa-linkedin-square fa-2x ml-3"></i></a>
					<p>
						De Componendis Cifris APS - Via Zuretti, 34 - 20125 Milano (MI) 
						<br>
						CF: 97937880157 - P.IVA: 12816760966
					</p>
				</div>
			</div>
		</div>
	</div>
</ng-sidebar-container>



<!-- <a href="https://www.youtube.com/channel/UCTgLUneI3agkv_FcW0RlI0A"></a> -->