ng-sidebar-container {
    position: fixed;
    right: 0;
    top: 55px;
    height: 100%;
}

button {
    background: none;
    border: none;
    outline: none;
    color: rgb(48, 117, 128);
}

::ng-deep .ng-sidebar {
    background-color: aliceblue;
    width: 300px !important;
    padding: 2em 1em;
}

h4,
h3 {
    color: rgb(23, 162, 184);
}

h5 {
    color: rgb(101, 170, 101);
}

.bottomExtra {
    margin-bottom: 3em;
    padding-bottom: 3em;
}

.noIndent {
    list-style: none;
    padding-left: 0;
}

.noIndent ul li {
    margin: 10px 0;
}

/**
 * CSS for expanding volumes.
 */
.collapsible {
    border-bottom: 1px solid #ccc;
    margin: 10px;
}

.collapsible-btn {
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.arrow {
    float: right;
}

.collapsible-content {
    display: none;
    padding: 10px;
    margin-top: 1em;
}

.collapsible-content.show {
    display: block;
}

div.doi-item {
    padding: 0;
    margin-top: 3px;
    margin: 0;
}

div.doi-item p.title {
    font-size: 14px !important;
    font-weight: 800;
    margin: 0;
    margin-top: 13px;
    padding: 0;
    color: var(--cifris_blue)
}

div.doi-item p.desc {
    font-size: 14px !important;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: gray
}

div.list_view {
    display: flex;
    align-items: center;
    padding: 10px
}

.list_view img {}

.list_view a {
    padding: 10px !important;
    margin-left: 10px !important;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h6 {
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 700;
}