<head>
	<!-- Meta per Google -->
	<meta name="description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">

	<!-- Meta per Facebook -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="DeCifris.it: CIFRIS24">
	<meta name="twitter:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta name="twitter:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta name="twitter:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Instagram -->
	<meta property="og:type" content="instapp:photo">
	<meta property="og:site_name" content="DeCifris.it: CIFRIS24">
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<!-- Meta per LinkedIn -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per WhatsApp -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Telegram -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
</head>



<app-program-buttons></app-program-buttons>
<app-workshop-buttons24></app-workshop-buttons24>

<h1>PROGRAM</h1>
<table class="orari" cellspacing="2" cellpadding="2" id="25morning">
	<th class="schedule" colspan="2">
		<font size="+1"><b> September 25th (morning) - Institutional Session</b></font>
		<br>
		<i>All talks in the institutional session are held in Italian</i>
	</th>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<tr>
		<td class="schedule" style="width: 100px;"> 10:00<br>10:30 </td>
		<td><em> Registration </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:30<br>11:30 </td>
		<td><em> Welcome address and institutional round table </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:30<br>12:00 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 12:00<br>12:30 </td>
		<td>
			<em><b>Invited Talk</b> - Barbara Masucci (University of Salerno - Italy)</em>
			<br>
			La De Cifris e la crittografia italiana
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 12:30<br>13:00 </td>
		<td>
			<b> De Cifris Partners </b>
			<br>
			Chiara Ballari, <i><a href="https://www.athilab.eu/">Athilab</a></i>
			<br>
			Massimo Caccia, <i><a href="https://www.randompower.eu/">Random Power</a></i>
			<br>
			Simone Capeleto, <i><a href="https://www.thinkquantum.com/">ThinkQuantum</a></i>
			<br>
			TBA
			<br>
			TBA
			<br>
			TBA
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>

</table>


<!--
			################################################################
			################################################################
		-->


<table class="orari" cellspacing="2" cellpadding="2" id="25afternoon">
	<tr>
		<th class="schedule" colspan="2">
			<font size="+1"><b> September 25th (afternoon) - Scientific Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<!-- MINI SESSION: BOOLEAN FUNCTIONS -->
	<td class="schedule"> 14:00<br>15:20 </td>
	<td>
		<em><b style="color:var(--cifris_blue)"> Mini-session: Boolean functions </b></em>
		<br>
		The focus of this mini-session is the precise design of symmetric
		cryptosystems, in order to have them provably secure.
		Boolean functions represent a key ingredient in the cryptosystem design.
		This mini-session will start with a keynote by Prof.
		Emeritus Claude Carlet, considered by many the world expert on Boolean functions.
		<br>
		<br>
		<em><b>Invited Talk</b> - Claude Carlet (University of Paris VIII - France)</em>
		<br>
		Quadratic-like balanced functions and permutations
		<details>
			<summary>
				Abstract
			</summary>
			<i>
				The so-called (n,m)-functions have very nice properties when quadratic, which for instance ease the
				study of their
				almost perfect nonlinearity. But quadratic functions are weak against some other attacks. It is then
				important to study strict superclasses sharing some of these properties. In particular, when the
				block ciphers have a structure of substitution-permutation network (SPN), the substitution boxes must be
				permutations (m=n). <br>
				It is then essential to study superclasses of quadratic functions within the class of balanced
				functions. We shall introduce and study such a superclass, that of "quadratic-like balanced functions"
				("permutations" when m=n).
			</i>
		</details>
		<br>
		<em>Augustine Musukwa</em>
		<br>
		On second-order derivatives of Boolean functions and cubic APN permutations in even dimension
		<br>
		<br>
	</td>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<td class="schedule"> 15:20<br>15:40 </td>
	<td><em> Coffee break </em></td>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<!-- MINI SESSION: PROTOCOLS -->
	<td class="schedule"> 15:40<br>17:00 </td>
	<td>
		<em><b style="color:var(--cifris_blue)"> Mini-session: Protocols and Zero-Knowledge </b></em>
		<br>
		This mini-session focusses on the analysis and design of cryptographic protocols.
		Zero-knowledge proofs are a fundamental tool in the design of many of them, and have a wide range of
		applications.
		This mini-session will start with a keynote by
		Daniele Venturi, Full Professor at La Sapienza, Rome.
		<br>
		<br>
		<em><b>Invited Talk</b> - Daniele Venturi (University of Roma La Sapienza - Italy)</em>
		<br>
		20 Years of Leakage-Resilient Cryptography
		<details>
			<summary>
				Abstract
			</summary>
			<i>
				Cryptographic schemes are usually analyzed under the assumption that the underlying secrets
				are
				fully hidden from the adversary. Unfortunately, history has taught us that many (otherwise provably
				secure)
				cryptosystems can be spectacularly broken by exploiting physical phenomena (the so-called side-channel
				attacks) resulting in partial information leakage about the underlying secret keys.
				<br>
				Leakage-resilient cryptography aims at closing the above gap by designing cryptosystems with provable
				guarantees even in the presence of attackers running different forms of side-channel attacks. This talk
				surveys the most important techniques behind leakage-resilient cryptography, since its introduction in
				the
				seminal works by Ishai, Sahai and Wagner (CRYPTO 2003) and Micali and Reyzin (TCC 2004).
			</i>
		</details>
		<br>
		<em>Delaram Kahrobaei, Ludovic Perret and Martina Vigorito</em>
		<br>
		Security Analysis of ZKPoK based on MQ problem in the Multi-Instance Setting
		<br>
		<br>
	</td>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>


<!--
			################################################################
			################################################################
		-->


<table class="orari" cellspacing="2" cellpadding="2" id="26morning">
	<tr>
		<th class="schedule" colspan="2">
			<font size="+1"><b> September 26th (morning) - Scientific Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<!-- MINI SESSION: PQ -->
	<td class="schedule"> 10:00<br>11:40 </td>
	<td>
		<em><b style="color:var(--cifris_blue)"> Mini-session: Post-Quantum Cryptography </b></em>
		<br>
		The focus of this mini-session are recent results on the design of ciphers
		that may resist attacks performed with quantum computers.
		Indeed, the quantum threat is the most feared in modern cryptography.
		This mini-session will start with a keynote by Prof. Simona Samardjiska, a
		young brilliant expert in this controversial field.
		<br>
		<br>
		<em><b>Invited Talk</b> - Simona Samardjiska (Radboud University - Netherlands)</em>
		<br>
		Algorithms for solving the matrix code equivalence problem
		<br>
		<details>
			<summary>
				Abstract
			</summary>
			<i>
				In the past few years, there has been an increased interest in hard equivalence problems,
				especially with NIST's announcement of a fourth round for new designs of digital signatures.
				On a high level, such a problem can be defined as follows: Given two algebraic objects,
				find - if any - an equivalence that maps one object into the other.
				Several instantiations have been considered for cryptographic purposes, for example -
				Isomorphism of polynomials (Pattarin '96), Code equivalence (Biasse et al. '20),
				Matrix Code equivalence (Chou et al. '22), Alternating trilinear form equivalence
				(Tang et al.'22), Lattice isomorphism (Ducas & van Woerden '22). All of these problems
				are believed to be hard even for quantum adversaries. Conveniently, they can generically
				be used to build a Sigma protocol and further a post-quantum secure signature using the
				Fiat-Shamir transform.
				<br>
				In this talk I will make a broad overview of algorithms for solving the matrix code equivalence
				problem and how they can be applied to related problems. In particular, I will focus on
				algebraic and graph-based algorithms which are currently the state-of-the-art for solving the
				problem. I will further argue that clever combination of the two technics often leads to the best,
				and sometimes surprising results.
			</i>
		</details>
		<br>
		<em>Antonio Di Scala and Carlo Sanna</em>
		<br>
		Smaller public-keys for MinRank-based schemes
		<br>
		<br>
		<em>Delaram Kahrobaei, Carmine Monetta, Ludovic Perret, Maria Tota and Martina Vigorito</em>
		<br>
		Cryptanalysis of protocols using (Simultaneous) Conjugacy-Search Problem in certain Metabelian
		Platform Groups
		<br>
		<br>
	</td>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>12:00 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<!-- MINI SESSION: PUBLIC KEY -->
	<td class="schedule"> 12:00<br>13:00 </td>
	<td>
		<em><b style="color:var(--cifris_blue)"> Mini-session: Public-key cryptography </b></em>
		<br> In this session we discuss security and performance of (classical) public-key cryptography,
		which includes the most widely adopted cryptographic protocols in the Internet.
		<br>
		<br>
		<em>Giordano Santilli and Daniele Taufer</em>
		<br>
		First-degree prime ideals of composite extensions
		<br>
		<br>
		<em>Marco Macchetti and Nils Amiet</em>
		<br>
		A Novel Related Nonce Attack for ECDSA
		<br>
		<br>
		<em>Dmitrii Koshelev</em>
		<br>
		Application of Mordell--Weil lattices with large kissing numbers to acceleration of multiscalar
		multiplication on elliptic curves
		<br>
		<br>
	</td>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 13:00<br>14:00 </td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>


<!--
			################################################################
			################################################################
		-->


<table class="orari" cellspacing="2" cellpadding="2" id="26afternoon">
	<tr>
		<th class="schedule" colspan="2">
			<font size="+1"><b>September 26th (afternoon) - Scientific Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<!-- MINI SESSION: THEORY -->
	<td class="schedule"> 14:00<br>15:40 </td>
	<td>
		<em><b style="color:var(--cifris_blue)"> Mini-session: Theoretical cryptography </b></em>
		<br> The security of cryptosystems heavily depends on their mathematical foundations. In this
		mini-session we start with a keynote by Prof. Gregor Leander,
		managing editor of the journal IACR Transaction of Symmetric Cryptography,
		and then we present two advanced schemes that provide security even
		when computations are performed in a hostile environment.
		<br>
		<br>
		<em><b>Invited Talk</b> - Gregor Leander (Ruhr-University Bochum - Germany)</em>
		<br>
		Low Latency Designs: Primitives and Beyond
		<details>
			<summary>
				Abstract
			</summary>
			In this talk I will explain the different cryptographic primitives that have been developed in the area of
			symmetric cryptography that allow encryption with a very small latency. Applications are in particular
			memory encryption or cache-randomization.
		</details>
		<br>
		<em>Maria Ferrara, Paolo Santonastaso, Antonio Tortora and Ferdinando Zullo</em>
		<br>
		Polynomial functional encryption schemes
		<br>
		<br>
		<em>Massimo Giulietti, Paolo Martinelli and Marco Timpanella</em>
		<br>
		Modern Techniques in Somewhat Homomorphic Encryption Schemes
		<br>
		<br>
	</td>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 15:40<br>16:00 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<!-- MINI SESSION: PRACTICE -->
	<td class="schedule"> 16:00<br>17:00 </td>
	<td>
		<em><b style="color:var(--cifris_blue)"> Mini-session: Applied Cryptography </b></em>
		<br> The focus of this session is to show the importance of
		practical implementations of cryptography, while at the same
		time showing the deep link between theory and practice in this
		research field.
		<br>
		<br>
		<em>Annalisa Cimatti, Francesco De Sclavis, Giuseppe Galano, Sara Giammusso, Michela Iezzi, Antonio
			Muci,
			Matteo Nardelli and Marco Pedicini</em>
		<br>
		Dynamic-FROST: Schnorr Threshold Signatures with a Flexible Committee
		<br>
		<br>
		<em>Noel Elias</em>
		<br>
		Lova: A Novel Framework for Verifying Mathematical Proofs with Incrementally Verifiable
		Computation
		<br>
		<br>
		<em>Barbara Fadi, Nadir Murru and Claudio Schifanella</em>
		<br>
		BTLE: Atomic Swaps with Time-Lock Puzzles
		<br>
		<br>
	</td>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>


<!--
				################################################################
				################################################################
			-->


<table class="orari" cellspacing="2" cellpadding="2" id="27morning">
	<tr bgcolor="lightblue">
		<th class="schedule" colspan="2">
			<font size="+1"><b>September 27th (morning) - Workshop Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<tr id="fcr24-i">
		<td colspan="2">
			<h2>MAIN HALL</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP DCC E BDI        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> FCR - Financial Cryptography in Rome 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Joint workshop of Banca d'Italia and De Cifris on novel financial applications of cryptography.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speakers:</b>
				<br>
				Marie Beth van Egmond, <i>Netherlands Organisation for Applied Scientific Research (Nethernalds)</i>
				<br>
				Carsten Maple, <i>Graz University of Technology (Austria)</i>
				<br>
				Christian Rechberger, <i>University of Warwick (UK)</i>
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Michela Iezzi (Banca d'Italia) and Massimiliano Sala (De Cifris).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> TBA.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/fcr24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr id="fcr24-ii">
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP DCC E BDI        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> FCR - Financial Cryptography in Rome 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Joint workshop of Banca d'Italia and De Cifris on novel financial applications of cryptography.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Michela Iezzi (Banca d'Italia) and Massimiliano Sala (De Cifris).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> TBA.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/fcr24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td colspan="2" id="tac24">
			<h2>ROOM A</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP TAC        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> TAC - Topics in Applied Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Specific applications, scenarios and technologies: performance, hardware, IoT, attacks, vulnerabilities,
				unusual applications, etc.
			</p>
			<p *ngIf="!showMore">
				Filippo Valsorda, <i>full-time independent open source maintainer</i>.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<em>
					<b>Chair:</b> Riccardo Longo (Fondazione Bruno Kessler, Italy)
					<br>
					Alessandro Tomasi (Fondazione Bruno Kessler, Italy)
					<br>
					Chiara Spadafora (University of Trento, Italy)
					<br>
					Silvio Ranise (University of Trento and Fondazione Bruno Kessler, Italy)
					<br>
					Stefano Berlato (Fondazione Bruno Kessler, Italy)
				</em>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> Topics in Applied Cryptography 2024 (TAC2024) is a workshop dedicated to cryptography
				with a specific application,
				scenario and/or technology in mind, including performance evaluation, libraries and implementation
				issues, hardware
				and IoT, attacks and vulnerabilities, and requirements for unusual application scenarios; purely
				theoretical results
				are out of scope. Topics of interest include privacy enhancing cryptography, homomorphic encryption,
				secure
				multi-party computation, quantum key distribution, and quantum-safe cryptography.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/tac24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
			<a mat-button href="https://aleph.fbk.eu/events/TAC2024/index.html" class="btn-showmore"
				style="margin-left: 10px;">
				Website
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<td><em><b style="color:var(--cifris_blue)"> Cryptography, protocols and security in digital identity
				</b></em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="ntc24">
		<td colspan="2">
			<h2>ROOM B</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP NUMBER THEORY   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> NTC - Number Theory for Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Exploring the connections between number theory and cryptography, with a focus on the most
				challenging topics.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> TBA.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Federico Accossato (PoliTo), Gessica Alecci (PoliTo), Danilo Bazzanella (PoliTo), Laura Capuano
					(RomaTre), Giuseppe D’Alconzo (PoliTo), Simone Dutto (ACN), Nadir Murru (UniTN), Giordano Santilli
					(ACN).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The workshop aims at exploring the connections between number theory and
				cryptography with a focus on the most challenging topics involved in modern cryptography (from classical
				public-key algorithms to post-quantum cryptography). Particular emphasis will be given to the
				applications of number theory for developing new cryptosystems and methods of cryptanalysis.
			</p>
			<ul *ngIf="showMore">
				<li>
					<i><b>Federico Pintore</b>, University of Trento (Italy)</i>
					<br>
					Hessians of elliptic curves: isogenies and graphs
				</li>
				<li>
					<i><b>Marzio Mula</b>, Universität des Bundeswehr München (Germany)</i>
					<br>
					Proving knowledge of an isogeny using modular polynomials
				</li>
				<li>
					<i><b>Stefano Barbero</b>, Politecnico di Torino (Italy)</i>
					<br>
					Lattices and Cryptography, an Overview
				</li>
				<li>
					<i><b>Guglielmo Morgari</b>, Telsy SPA (Italy)</i>
					<br>
					P-values distribution in NIST 800-22 statistical tests
				</li>
			</ul>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/ntc24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<td><em><b style="color:var(--cifris_blue)"> CifrisGroups </b></em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td colspan="2" id="codemath24">
			<h2>ROOM C</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP DISCRETE MATH   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> CodeMath - Coding Theory and Discrete Mathematics 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Networking and discussion event on: Algebraic Foundations and Advanced Topics of Coding theory,
				relations with Cryptography and Finite Geometry, trends, challenges.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> TBA.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Massimo Giulietti (Università di Perugia),
					Giuseppe Marino (Università di Napoli Federico II),
					Olga Polverino (Università della Campania “Luigi Vanvitelli”),
					Ferdinando Zullo (Università della Campania “Luigi Vanvitelli”)
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The aim of the workshop is to create a collaborative environment that promotes research
				and innovation in these fields, to facilitate networking opportunities for participants to engage with
				peers, industry experts, and researchers, and to showcase the practical applications of coding theory
				and discrete mathematics in areas such as error correction and cryptography.
				Subjects of interest for the Workshop will be: Algebraic Foundations of Coding theory (Finite fields,
				Polynomial algebras, Algebraic Varieties and their applications in coding), Advanced Topics in Coding
				Theory (such as turbo codes and LDPC codes; network coding and its applications; quantum error
				correction), Cryptography and its relation to Coding theory and Finite Geometry, Current trends and
				challenges in coding theory and discrete mathematics.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/codemath24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="symcrypt24">
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP SYMMETRIC       -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> SymCrypt - Symmetric Cryptography and Boolean Functions
					2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Topics in symmetric cryptography with a focus on properties, classification, and construction of Boolean
				Functions.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> TBA.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Marco Calderini (University of Trento - Italy),
					George Petrides (University of Cyprus - Cyprus),
					Irene Villa (University of Genoa & University of Trento – Italy).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The workshop will be in two interrelated areas. The first one concerns different
				aspects of symmetric cryptography, such as the design of symmetric ciphers, attacks to these ciphers, as
				well as countermeasures. The second topic of interest is the theory of Boolean functions applied in
				cryptography scenarios, particularly in the design of symmetric ciphers. Such functions have found
				applications as S-boxes of block ciphers and feedback functions in stream ciphers, and the workshop will
				be focusing on their relevant cryptographic properties, their classification, and construction methods.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/symcrypt24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="qcifris24">
		<td colspan="2">
			<h2>ROOM D</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP FISICI   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> QCifris - Quantum Cifris 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Advances in quantum technologies and research from the perspective of Physics.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> TBA.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Paolo Villoresi (Università di Padova).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> TBA.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/qcifris24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<td><em><b style="color:var(--cifris_blue)"> CifrisCloud </b></em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>


<!--
						################################################################
						################################################################
					-->


<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
	<tr bgcolor="lightblue" id="raipqc24">
		<th class="schedule" colspan="2">
			<font size="+1"><b>September 27th (afternoon) - Workshop Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<tr>
		<td class="schedule"> 14:00<br>17:00 </td>
		<!------------------------------>
		<!-- WORKSHOP PQ   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> RAIPQC - Recent Advances in Post-Quantum Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				An overview of the state of the art in PQ cryptography, the NIST competition, and cutting-edge methods
				for design and implementation of post-quantum signatures.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> TBA.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Giulio Codogni (Tor Vergata University of Rome), Roberto La Scala (University of Bari), Edoardo
					Persichetti (Florida Atlantic University), Federico Pintore (University of Trento).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> Post-quantum cryptography, that is, the study of cryptographic schemes capable of
				withstanding attackers equipped with both classical and quantum computers, is an area of research that
				has experienced tremendous growth in recent years, also due to the initiation of a standardization
				effort by NIST, which has led to the selection of the first schemes to standardise. More recently, the
				focus has been on post-quantum digital signature schemes, which are the subject of the latest NIST
				competition. This workshop will provide an overview of the state of the art in post-quantum
				cryptography, along with the NIST competition, and focus on cutting-edge methods for designing and
				implementing post-quantum signatures.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/raipqc24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>