<head>
	<!-- Meta per Google -->
	<meta name="description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">

	<!-- Meta per Facebook -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="DeCifris.it: CIFRIS24">
	<meta name="twitter:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta name="twitter:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta name="twitter:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Instagram -->
	<meta property="og:type" content="instapp:photo">
	<meta property="og:site_name" content="DeCifris.it: CIFRIS24">
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<!-- Meta per LinkedIn -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per WhatsApp -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Telegram -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
</head>



<app-program-buttons></app-program-buttons>
<app-workshop-buttons24></app-workshop-buttons24>



<app-orari-institutional-session24></app-orari-institutional-session24>
<app-orari-scientific-session24></app-orari-scientific-session24>

<!--
				################################################################
				################################################################
			-->

<app-orari-workshops24></app-orari-workshops24>