<head>
	<!-- Meta per Google -->
	<meta name="description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">

	<!-- Meta per Facebook -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="DeCifris.it: CIFRIS24">
	<meta name="twitter:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta name="twitter:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta name="twitter:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Instagram -->
	<meta property="og:type" content="instapp:photo">
	<meta property="og:site_name" content="DeCifris.it: CIFRIS24">
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<!-- Meta per LinkedIn -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
	<meta property="og:type" content="website">

	<!-- Meta per WhatsApp -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">

	<!-- Meta per Telegram -->
	<meta property="og:title" content="DeCifris.it: CIFRIS24">
	<meta property="og:description" content="CIFRIS24 - Our second national Congress, in the eternal city of Rome.">
	<meta property="og:image" content="https://www.decifris.it/assets/images/logos/logo.jpg">
	<meta property="og:url" content="https://www.decifris.it/cifris24">
</head>



<app-program-buttons></app-program-buttons>
<app-workshop-buttons24></app-workshop-buttons24>



<app-orari-institutional-session24></app-orari-institutional-session24>
<app-orari-scientific-session24></app-orari-scientific-session24>

<!--
				################################################################
				################################################################
			-->


<table class="orari" cellspacing="2" cellpadding="2" id="27morning">
	<tr bgcolor="lightblue">
		<th class="schedule" colspan="2">
			<font size="+1"><b>September 27th (morning) - Workshop Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<tr id="fcr24-i">
		<td colspan="2">
			<h2>MAIN HALL</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP DCC E BDI        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> FCR - Financial Cryptography in Rome 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Joint workshop of Banca d'Italia and De Cifris on novel financial applications of cryptography.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speakers:</b>
				<br>
				Marie Beth van Egmond, <i>Netherlands Organisation for Applied Scientific Research (Nethernalds)</i>
				<br>
				Carsten Maple, <i>University of Warwick (UK)</i>
				<br>
				Christian Rechberger, <i>Graz University of Technology (Austria)</i>
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Michela Iezzi (Banca d'Italia) and Massimiliano Sala (De Cifris).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> TBA.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/fcr24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr id="fcr24-ii">
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP DCC E BDI        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> FCR - Financial Cryptography in Rome 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Joint workshop of Banca d'Italia and De Cifris on novel financial applications of cryptography.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Michela Iezzi (Banca d'Italia) and Massimiliano Sala (De Cifris).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> TBA.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/fcr24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td colspan="2" id="tac24-i">
			<h2>ROOM A</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP TAC        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> TAC - Topics in Applied Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Specific applications, scenarios and technologies: performance, hardware, IoT, attacks, vulnerabilities,
				unusual applications, etc.
			</p>
			<p *ngIf="!showMore">
				<b> Invited speaker: </b>
				Filippo Valsorda, <i>full-time independent open source maintainer</i>.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<em>
					<b>Chair:</b> Riccardo Longo (Fondazione Bruno Kessler, Italy)
					<br>
					Alessandro Tomasi (Fondazione Bruno Kessler, Italy)
					<br>
					Chiara Spadafora (University of Trento, Italy)
					<br>
					Silvio Ranise (University of Trento and Fondazione Bruno Kessler, Italy)
					<br>
					Stefano Berlato (Fondazione Bruno Kessler, Italy)
				</em>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> Topics in Applied Cryptography 2024 (TAC2024) is a workshop dedicated to cryptography
				with a specific application,
				scenario and/or technology in mind, including performance evaluation, libraries and implementation
				issues, hardware
				and IoT, attacks and vulnerabilities, and requirements for unusual application scenarios; purely
				theoretical results
				are out of scope. Topics of interest include privacy enhancing cryptography, homomorphic encryption,
				secure
				multi-party computation, quantum key distribution, and quantum-safe cryptography.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/tac24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
			<a mat-button href="https://aleph.fbk.eu/events/TAC2024/index.html" class="btn-showmore"
				style="margin-left: 10px;">
				Website
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="tac24-ii">
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP TAC        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> TAC - Topics in Applied Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Specific applications, scenarios and technologies: performance, hardware, IoT, attacks, vulnerabilities,
				unusual applications, etc.
			</p>
			<p *ngIf="!showMore">
				<b> Invited speaker: </b>
				Filippo Valsorda, <i>full-time independent open source maintainer</i>.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<em>
					<b>Chair:</b> Riccardo Longo (Fondazione Bruno Kessler, Italy)
					<br>
					Alessandro Tomasi (Fondazione Bruno Kessler, Italy)
					<br>
					Chiara Spadafora (University of Trento, Italy)
					<br>
					Silvio Ranise (University of Trento and Fondazione Bruno Kessler, Italy)
					<br>
					Stefano Berlato (Fondazione Bruno Kessler, Italy)
				</em>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> Topics in Applied Cryptography 2024 (TAC2024) is a workshop dedicated to cryptography
				with a specific application,
				scenario and/or technology in mind, including performance evaluation, libraries and implementation
				issues, hardware
				and IoT, attacks and vulnerabilities, and requirements for unusual application scenarios; purely
				theoretical results
				are out of scope. Topics of interest include privacy enhancing cryptography, homomorphic encryption,
				secure
				multi-party computation, quantum key distribution, and quantum-safe cryptography.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/tac24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
			<a mat-button href="https://aleph.fbk.eu/events/TAC2024/index.html" class="btn-showmore"
				style="margin-left: 10px;">
				Website
			</a>
		</td>
	</tr>

	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="ntc24">
		<td colspan="2">
			<h2>ROOM B</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP NUMBER THEORY   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> NTC - Number Theory for Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Exploring the connections between number theory and cryptography, with a focus on the most
				challenging topics.
			</p>
			<p *ngIf="!showMore">
				<b> Invited speaker: </b> Federico Pintore,
				<i>
					Università di Trento (Italy)
				</i>
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Federico Accossato (PoliTo), Gessica Alecci (PoliTo), Danilo Bazzanella (PoliTo), Laura Capuano
					(RomaTre), Giuseppe D’Alconzo (PoliTo), Simone Dutto (ACN), Nadir Murru (UniTN), Giordano Santilli
					(ACN).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The workshop aims at exploring the connections between number theory and
				cryptography with a focus on the most challenging topics involved in modern cryptography (from classical
				public-key algorithms to post-quantum cryptography). Particular emphasis will be given to the
				applications of number theory for developing new cryptosystems and methods of cryptanalysis.
			</p>
			<ul *ngIf="showMore">
				<li>
					<i><b>Federico Pintore</b>, University of Trento (Italy)</i>
					<br>
					Hessians of elliptic curves: isogenies and graphs
				</li>
				<li>
					<i><b>Marzio Mula</b>, Universität des Bundeswehr München (Germany)</i>
					<br>
					Proving knowledge of an isogeny using modular polynomials
				</li>
				<li>
					<i><b>Stefano Barbero</b>, Politecnico di Torino (Italy)</i>
					<br>
					Lattices and Cryptography, an Overview
				</li>
				<li>
					<i><b>Guglielmo Morgari</b>, Telsy SPA (Italy)</i>
					<br>
					A Note on the P-values Distribution in NIST SP 800-22 Rev. 1a Statistical Tests
				</li>
			</ul>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/ntc24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="cpsid24">
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP IDENTITY        -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> CPSID - Cryptography, Protocols and Security in Digital Identity
					2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				We will explore the two main standards, EUDI-ARF and W3C-DID/W3C-VC, their cryptography, protocols,
				threat models and mitigations, but also emerging cryptographic schemes.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Andrea D'Intino (Dyne Foundation), Denis "Jaromil" Roio (Dyne Foundation)
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The seminar dives into the two main current identity standards, EUDI-ARF and
				W3C-DID/W3C-VC and describe their cryptography, protocols, threat models and mitigations,
				highlighting pros and cons of each element. The seminar also offers a view about new and emerging
				cryptographic schemes in the identity space.
			</p>
			<ul *ngIf="showMore">
				<li>
					<i><b>Andrea D'Intino</b>, Dyne Foundation (Netherlands)</i>
					<br>
					Overview of the current digital identity standards
				</li>
				<li>
					<i><b>Giuseppe De Marco</b>, Dipartimento per la Trasformazione Digitale (Italy)</i>
					<br>
					<i><b>Francesco Marino</b>, Poligrafico e Zecca dello Stato (Italy)</i>
					Current status of the implementation of the Italian Wallet and Trust Framework Infrastructure
				</li>
				<li>
					<i><b>Simone Onofri</b>, W3.org (USA)</i>
					<br>
					<i><b>Denis Roio</b>, Dyne Foundation (Netherlands)</i>
					<br>
					Challenges and upcoming standards
				</li>
			</ul>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/cpsid24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td colspan="2" id="codemath24">
			<h2>ROOM C</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP DISCRETE MATH   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> CodeMath - Coding Theory and Discrete Mathematics 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Networking and discussion event on: Algebraic Foundations and Advanced Topics of Coding theory,
				relations with Cryptography and Finite Geometry, trends, challenges.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> Gilles Zémor,
				<i>Institut de Mathématiques de Bordeaux (France)</i>
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Massimo Giulietti (Università di Perugia),
					Giuseppe Marino (Università di Napoli Federico II),
					Olga Polverino (Università della Campania “Luigi Vanvitelli”),
					Ferdinando Zullo (Università della Campania “Luigi Vanvitelli”)
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The aim of the workshop is to create a collaborative environment that promotes research
				and innovation in these fields, to facilitate networking opportunities for participants to engage with
				peers, industry experts, and researchers, and to showcase the practical applications of coding theory
				and discrete mathematics in areas such as error correction and cryptography.
				Subjects of interest for the Workshop will be: Algebraic Foundations of Coding theory (Finite fields,
				Polynomial algebras, Algebraic Varieties and their applications in coding), Advanced Topics in Coding
				Theory (such as turbo codes and LDPC codes; network coding and its applications; quantum error
				correction), Cryptography and its relation to Coding theory and Finite Geometry, Current trends and
				challenges in coding theory and discrete mathematics.
			</p>
			<ul *ngIf="showMore">
				<li>
					<i><b>Gilles Zémor</b>, Institut de Mathématiques de Bordeaux (France)</i>
					<br>
					TBA
				</li>
				<li>
					<i><b>Daniele Bartoli</b>, Università degli Studi di Perugia (Italy)</i>
					<br>
					TBA
				</li>
				<li>
					<i><b>Luca Giuzzi,</b>, Università degli Studi di Brescia (Italy)</i>
					<br>
					TBA
				</li>
				<li>
					<i><b>Violetta Weger</b>, Technical University of Munich (Germany)</i>
					<br>
					TBA
				</li>
			</ul>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/codemath24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="symcrypt24">
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<!------------------------------>
		<!-- WORKSHOP SYMMETRIC       -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> SymCrypt - Symmetric Cryptography and Boolean Functions
					2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Topics in symmetric cryptography with a focus on properties, classification, and construction of Boolean
				Functions.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b>
				Sihem Mesnager, <i>University of Paris VIII (France)</i>
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Marco Calderini (University of Trento - Italy),
					George Petrides (University of Cyprus - Cyprus),
					Irene Villa (University of Genoa & University of Trento – Italy).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> The workshop will be in two interrelated areas. The first one concerns different
				aspects of symmetric cryptography, such as the design of symmetric ciphers, attacks to these ciphers, as
				well as countermeasures. The second topic of interest is the theory of Boolean functions applied in
				cryptography scenarios, particularly in the design of symmetric ciphers. Such functions have found
				applications as S-boxes of block ciphers and feedback functions in stream ciphers, and the workshop will
				be focusing on their relevant cryptographic properties, their classification, and construction methods.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/symcrypt24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr id="qcifris24">
		<td colspan="2">
			<h2>ROOM D</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 10:00<br>11:20 </td>
		<!------------------------------>
		<!-- WORKSHOP FISICI   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> QCifris - Quantum Cifris 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				Advances in quantum technologies and research from the perspective of Physics.
			</p>
			<p *ngIf="!showMore">
				<b>Invited speaker:</b> TBA.
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Paolo Villoresi (Università di Padova).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> TBA.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/qcifris24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:20<br>11:40 </td>
		<td><em> Coffee break </em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule"> 11:40<br>13:00 </td>
		<td><em><b style="color:var(--cifris_blue)"> CifrisCloud </b></em></td>
	</tr>
	<tr>
		<td colspan="2">
			<hr>
		</td>
	</tr><!------------------------------>
	<tr>
		<td class="schedule">13:00<br>14:00</td>
		<td><em> Lunch </em></td>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>


<!--
						################################################################
						################################################################
					-->


<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
	<tr bgcolor="lightblue" id="rapqc24">
		<th class="schedule" colspan="2">
			<font size="+1"><b>September 27th (afternoon) - Workshop Session</b></font>
		</th>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
	<tr>
		<td class="schedule"> 14:00<br>17:00 </td>
		<!------------------------------>
		<!-- WORKSHOP PQ   -->
		<!------------------------------>
		<td>
			<em><b style="color:var(--cifris_blue)"> RAPQC - Recent Advances in Post-Quantum Cryptography 2024</b></em>
			<!-- VERSIONE NORMALE -->
			<p *ngIf="!showMore">
				An overview of the state of the art in PQ cryptography, the NIST competition, and cutting-edge methods
				for design and implementation of post-quantum signatures.
			</p>
			<p *ngIf="!showMore">
				<b> Invited speaker: </b>
				Thibauld Feneuil,
				<i>
					CryptoExperts (France)
				</i>
			</p>
			<!-- VERSIONE ESTESA -->
			<p *ngIf="showMore">
				<b>Organizers:</b>
				<i>
					Giulio Codogni (Tor Vergata University of Rome), Roberto La Scala (University of Bari), Edoardo
					Persichetti (Florida Atlantic University), Federico Pintore (University of Trento).
				</i>
			</p>
			<p *ngIf="showMore">
				<b>Abstract:</b> Post-quantum cryptography, that is, the study of cryptographic schemes capable of
				withstanding attackers equipped with both classical and quantum computers, is an area of research that
				has experienced tremendous growth in recent years, also due to the initiation of a standardization
				effort by NIST, which has led to the selection of the first schemes to standardise. More recently, the
				focus has been on post-quantum digital signature schemes, which are the subject of the latest NIST
				competition. This workshop will provide an overview of the state of the art in post-quantum
				cryptography, along with the NIST competition, and focus on cutting-edge methods for designing and
				implementing post-quantum signatures.
			</p>
			<p *ngIf="showMore">
				<b>Program:</b> TBA.
			</p>
			<button mat-button (click)="toggleShowMore()" class="btn-showmore">
				{{ showMore ? 'Show Less' : 'Show More' }}
			</button>
			<a mat-button href="/cifris24/rapqc24" class="btn-showmore" style="margin-left: 10px;">
				Webpage
			</a>
		</td>
	</tr>
	<tr>
		<td colspan="2"><br></td>
	</tr>
</table>