<h1 style="text-align: center;">SymCrypt24 - Symmetric Cryptography and Boolean functions 2024</h1>

<h2>Organizers</h2>
<p>
    <b></b>
    <em>
        Marco Calderini (University of Trento, Italy)
        <br>
        George Petrides (University of Cyprus, Cyprus)
        <br>
        Irene Villa (University of Genoa & University of Trento, Italy)
    </em>
</p>
<h2>Description</h2>
<p>
    The workshop will be in two interrelated areas. The first one concerns different aspects of symmetric cryptography,
    such
    as the design of symmetric ciphers, attacks to these ciphers, as well as countermeasures. The second topic of
    interest
    is the theory of Boolean functions applied in cryptography scenarios, particularly in the design of symmetric
    ciphers.
    Such functions have found applications as S-boxes of block ciphers and feedback functions in stream ciphers, and the
    workshop will be focusing on their relevant cryptographic properties, their classification, and construction
    methods.
</p>
<h2>Program</h2>
<p>
    <i> September 27th, workshop session</i>
    <br>
    <i> Room C, 10:00 - 11:20</i>
</p>
<p>
    Invited speaker: <b>Sihem Mesnager </b>, University of Paris VIII (France)
</p>
<table class="orari" cellspacing="2" cellpadding="2" id="27afternoon">
    <tr bgcolor="lightblue" id="raipqc24">
        <th class="schedule" colspan="2">
            <font size="+1"><b>September 27th (morning) - Workshop Session</b></font>
        </th>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Sihem Mesnager</b>, University of Paris VIII (France)
            </i>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Roberto La Scala</b>, University of Bari (Italy)
            </i>
            <br>
            Stream ciphers encoded by difference equations over finite fields and their cryptanalysis
            <details>
                <summary>
                    Abstract
                </summary>
                Many stream ciphers of practical interest, such as Trivium and Bluetooth's E0, can
                be modeled as systems of explicit ordinary difference equations with coefficients and
                solutions in a finite field. <br>
                These systems govern the evolution of the internal registers
                of these so-called "difference ciphers" over discrete time. By leveraging the formalism
                of difference equations, it is possible to define critical properties of stream ciphers,
                such as invertibility and periodicity, which are essential for assessing their security.
                This modeling, coupled with the corresponding cryptanalysis, actively supports the
                development of new ciphers.
            </details>
        </td>
    </tr>
    <tr>
        <td class="schedule">
            TBA
        </td>
        <td>
            <i>
                <b>Luca Mariot</b>, University of Twente (Netherlands)
            </i>
            <br>
            TBA
        </td>
    </tr>
</table>